<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Localização</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail>
              <img src="{{localOrder.banner.thumbnail}}" />
              <ion-avatar class="mini-avatar">
                <img src="{{localOrder.clientThumbnailUrl}}" />
              </ion-avatar>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="localOrder.address != null">
              <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
              <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
              <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
            </div>
            <div *ngIf="localOrder.address == null">
              <h2>{{ localOrder.banner.address.street}}, {{ localOrder.banner.address.numero }}</h2>
              <p>{{ localOrder.banner.address.complemento }}, {{ localOrder.banner.address.bairro }}</p>
              <p>({{ localOrder.banner.address.cep }}), {{ localOrder.banner.address.city }} - {{ localOrder.banner.address.state }}</p>
            </div>
          </ion-col> 
        </ion-row>
      </div>
      <div *ngIf="localOrder.request != null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;" src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
              <div *ngIf="localOrder.address != null">
                <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
                <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
                <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
              </div>
              <div *ngIf="localOrder.address == null">
                <h2>{{ localOrder.request.address.street}}, {{ localOrder.request.address.numero }}</h2>
                <p>{{ localOrder.request.address.complemento }}, {{ localOrder.request.address.bairro }}</p>
                <p>({{ localOrder.request.address.cep }}), {{ localOrder.request.address.city }} - {{ localOrder.request.address.state }}</p>
              </div>
          </ion-col>  
        </ion-row>
      </div>
      <ion-row justify-content-center *ngIf="localOrder.address != null">
        <ion-col col-auto>
          <button ion-button color="secondary" (click)="openMap(localOrder.address)">
            Abrir no mapa
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
    
  <ion-list>

    <ion-card>
      <ion-item>
        <ion-icon  name="warning" item-start></ion-icon>
        <ion-label style="white-space: normal">
          <h6>As distâncias são calculadas em linha reta, considere a adição do percuso que você terá no trajeto!</h6>
        </ion-label>
      </ion-item>
    </ion-card>

    <ng-container *ngIf="showItemSplash; else elseTemplate">
      <ion-card>
        <ion-item>
          <div class="item-splash-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>   
        </ion-item>
      </ion-card>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-card>
        <ion-item>
          <ion-icon name="pin" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>{{actDistInKm}} Km de distância da sua localização atual</h2>
            <p>{{geoAccuracy}} m de precisão</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ng-template>

    <ion-card *ngIf="localProvider.workAdressId != ''" >
      <ion-item>
        <ion-icon name="briefcase" item-start></ion-icon>
        <ion-label style="white-space: normal">
          <h2>{{workDistInKm}} Km de distância do seu Trabalho</h2>
          <h2>{{ localWorkAdress.street}}, {{ localWorkAdress.numero }}</h2>
          <p>{{ localWorkAdress.complemento }}, {{ localWorkAdress.bairro }}</p>
          <p>({{ localWorkAdress.cep }}), {{ localWorkAdress.city }} - {{ localWorkAdress.state }}</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="localProvider.homeAdressId != ''" >
      <ion-item>
        <ion-icon  name="home" item-start></ion-icon>
        <ion-label style="white-space: normal">
          <h2>{{homeDistInKm}} Km de distância da sua Casa</h2>
          <h2>{{ localHomeAdress.street}}, {{ localHomeAdress.numero }}</h2>
          <p>{{ localHomeAdress.complemento }}, {{ localHomeAdress.bairro }}</p>
          <p>({{ localHomeAdress.cep }}), {{ localHomeAdress.city }} - {{ localHomeAdress.state }}</p>
        </ion-label>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>