page-received-order-loc-detail {

    .card{
        border-radius: 15px;
        ion-label{
            white-space: normal !important;
            h1, h2, h6, p{
            margin-top: unset !important;
            }
        }
        ion-label[text-align-center]{
            text-align: center !important;
        }
    }

    .mini-avatar{
        margin: -40px 0px 0px 0px;
    }

    .mini-avatar img{
        width: 40px;
        height: 40px;
    }

    .order-address ion-item{
        padding-left: 6px !important;        
    }

    .order-address ion-label {
        margin: 0 !important
    }

    
    .item-splash-spinner {
        width: 100%;
        text-align: center;
        height: 4.4rem;
        padding-top: 2rem;
    }
        
    .item-splash-spinner > div {
        width: 8px;
        height: 8px;
        background-color: #e79824;
    
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
        
    .item-splash-spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .item-splash-spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    .splash-spinner {
        margin: 50% auto 0;
        text-align: center;
    }
        
    .splash-spinner > div {
        width: 18px;
        height: 18px;
        background-color: #e79824;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
        
    .splash-spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .splash-spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
        } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        }
    }
}
