<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Meus endereços</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="addAddressPage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-list style="background-color: transparent">
    <ion-item *ngFor="let address of addresses" style="background-color: transparent" (click)="addressOptions(address)">
      <ion-icon *ngIf="address.id == UserDataCtrl.localUser.homeAdressId" name="home" item-start></ion-icon>
      <ion-icon *ngIf="address.id == UserDataCtrl.localUser.workAdressId" name="briefcase" item-start></ion-icon>
      <ion-icon *ngIf="address.id != UserDataCtrl.localUser.workAdressId && address.id != UserDataCtrl.localUser.homeAdressId"
        name="pin" item-start></ion-icon>
      <ion-label style="white-space: normal">
        <h2 *ngIf="address.id == UserDataCtrl.localUser.homeAdressId">Casa</h2>
        <h2 *ngIf="address.id == UserDataCtrl.localUser.workAdressId">Trabalho</h2>
        <h2>{{address.street}}, {{ address.numero }}</h2>
        <p>{{ address.complemento }}, {{ address.bairro }}</p>
        <p>({{ address.cep }}), {{ address.city }} - {{ address.state }}</p>
      </ion-label>
      <ion-icon name="more" item-end></ion-icon>
      <div class="hm_clear"></div>
    </ion-item>
  </ion-list>
</ion-content>