<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Assinar Plano</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Plano" disabled>Plano</ion-segment-button>
      <ion-segment-button value="Cartão" disabled>Cartão</ion-segment-button>
      <ion-segment-button value="Dados" disabled>Dados</ion-segment-button>
      <ion-segment-button value="Endereço" disabled>Endereço</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="250" [height]="250">
    </lottie-animation-view>
  </div>



  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'Plano'">
      <h3 style="text-align: center; margin-right: 1.6rem;">Confirme o plano selecionado</h3>
      <ion-card class="plan-card">
        <ion-card-header>
          <h1>Titulo do plano: {{localPlan.title}}</h1>
          <h1>R$: {{localPlan.price}}</h1>
          <h2>Descrição: {{localPlan.description}}</h2>
        </ion-card-header>
        <ion-card-content>
          <h2>Numero de Aceitações por dia: {{localPlan.maxAcceptedOrdersPerDay}}</h2>
          <h2>Numero de Anuncios: {{localPlan.maxNumOfBanners}}</h2>
          <h2>Numero de Fotos em ununcios: {{localPlan.maxPicsPerBanner}}</h2>
          <h2>Numero de Propostas por dia: {{localPlan.maxSentProposalsPerDay}}</h2>
          <h2>Numero de inscrições em tipos de Serviçõs: {{localPlan.maxServiceTypesSub}}</h2>
          <h2>Numero de promoções gratuitas: {{localPlan.freePromotions}}</h2>
          <h2>Analytics (em-breve): {{utilCtrl.translateBoolean(localPlan.analytics)}}</h2>
          <h2>Renovação a cada: {{localPlan.renovationPeriod}} dias</h2>
        </ion-card-content>
      </ion-card>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="cancel()">
              <ion-icon name='close'></ion-icon>
              Cancelar
            </button>
          </ion-col>
          <ion-col col-auto>
            <div>
              <button ion-button round icon-right (click)="goForward()">
                Confirmar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Cartão'">
      <h3 style="text-align: center; margin-right: 1.6rem;">Selecione um cartão:</h3>
      <ion-slides [parallax]="true" [spaceBetween]="-50" [centeredSlides]="true" (ionSlideDrag)="slideMoved()">
        <ion-slide *ngFor="let cc of localCreditCards" (tap)="selectCC(cc)">
          <ion-card class="credit-card-card" [ngClass]="{
              'visa': cc.brand == 'visa',
             'mastercard': cc.brand == 'mastercard',
             'amex': cc.brand == 'amex',
             'elo': cc.brand == 'elo',
             'hipercard': cc.brand == 'hipercard',
             'diners': cc.brand == 'diners'
            }">
            <ion-grid>
              <ion-row>
                <ion-col col-5>
                  <ion-card *ngIf="cc.brand == ''" class="dummy-card-brand"></ion-card>
                  <img *ngIf="cc.brand == 'visa'" class="card-brand" src="assets/imgs/credit-cards-brands/visa.svg">
                  <img *ngIf="cc.brand == 'mastercard'" class="card-brand" src="assets/imgs/credit-cards-brands/mastercard.svg">
                  <img *ngIf="cc.brand == 'amex'" class="card-brand" src="assets/imgs/credit-cards-brands/amex.svg">
                  <img *ngIf="cc.brand == 'elo'" class="card-brand" src="assets/imgs/credit-cards-brands/elo.svg">
                  <img *ngIf="cc.brand == 'hipercard'" class="card-brand" src="assets/imgs/credit-cards-brands/hipercard.svg">
                  <img *ngIf="cc.brand == 'diners'" class="card-brand" src="assets/imgs/credit-cards-brands/diners.svg">
                </ion-col>
                <ion-col col-7>
                  <ion-icon *ngIf="selectedCreditCard.id != cc.id" class="un-selected-card-icon" name="ios-checkmark-circle-outline"></ion-icon>
                  <ion-icon *ngIf="selectedCreditCard.id == cc.id" class="selected-card-icon" name="ios-checkmark-circle"></ion-icon>
                </ion-col>
              </ion-row>
              <div style="margin-top: 60px;">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="card-number">•••• •••• •••• {{cc.number.substr(12, 4)}}</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <h1 class="card-ownerName">{{cc.ownerName}}</h1>
                  </ion-col>
                  <ion-col col-4>
                    <h1 class="card-expiringDate">{{cc.expirationMonth}}/{{cc.expirationYear.substr(2, 2)}}</h1>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-slide>
        <ion-slide (tap)="addCC()">
          <ion-card class="credit-card-card">
            <ion-grid>
              <ion-row>
                <ion-col col-5>
                  <ion-card class="dummy-card-brand"></ion-card>
                </ion-col>
              </ion-row>
              <div style="margin-top: 60px;">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="add-number">Adicionar Novo Cartão</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <h1 class="card-ownerName">NOME SOBRENOME</h1>
                  </ion-col>
                  <ion-col col-4>
                    <h1 class="card-expiringDate">MM/AA</h1>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-grid *ngIf="selectedCreditCard.id != ''">
        <ion-row justify-content-center>
          <ion-col col-auto>
            <form #form="ngForm">
              <ion-item style="background-color: transparent">
                <ion-label floating>Codigo de segurança do cartão</ion-label>
                <ion-input required type="tel" [(ngModel)]="tempCardCCV" name="ccv" minlength="3" maxlength="3"></ion-input>
              </ion-item>
            </form>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <div>
              <button ion-button round icon-right [disabled]="!form.valid || selectedCreditCard.id == ''" (click)="confirmCC_CCV()">
                Avançar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Dados'">
      <h3 style="text-align: center; margin-right: 1.6rem;">Confirme se seus dados estão corretos, caso exista algum
        dado incorreto realize o ajuste no perfil de seu usuário!</h3>

      <ion-list padding style="background-color: transparent">
        <ion-item style="background-color: transparent">
          <ion-label stacked>Nome Completo</ion-label>
          <ion-input disabled type="text" name="nome" [(ngModel)]="localUser.fullName"></ion-input>
        </ion-item>

        <ion-item style="background-color: transparent">
          <ion-label stacked>CPF</ion-label>
          <ion-input disabled type="text" name="cpf" [(ngModel)]="localUser.cpf"></ion-input>
        </ion-item>

        <ion-item style="background-color: transparent">
          <ion-label stacked>Celular</ion-label>
          <ion-input disabled type="text" name="telefone" [(ngModel)]="localUser.cellPhone"></ion-input>
        </ion-item>

        <ion-item style="background-color: transparent">
          <ion-label stacked>Email</ion-label>
          <ion-input disabled type="email" name="email" [(ngModel)]="localUser.email"></ion-input>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <div>
              <button ion-button round icon-right (click)="goForward()">
                Avançar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Endereço'">
      <h3 style="text-align: center; margin-right: 1.6rem;">Selecione o endereço de cobrança</h3>
      <form #form="ngForm" style="background-color: transparent">
        <ion-list style="background-color: transparent" radio-group required name="selectedAddress" [(ngModel)]="selectedAddress">
          <ion-list-header style="background-color: transparent">
            Endereço
          </ion-list-header>
          <ion-item *ngFor="let address of localAddresses" style="background-color: transparent">
            <ion-icon *ngIf="address.id == localUser.homeAdressId" name="home" item-start></ion-icon>
            <ion-icon *ngIf="address.id == localUser.workAdressId" name="briefcase" item-start></ion-icon>
            <ion-icon *ngIf="address.id != localUser.workAdressId && address.id != localUser.homeAdressId" name="pin"
              item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2 *ngIf="address.id == localUser.homeAdressId">Casa</h2>
              <h2 *ngIf="address.id == localUser.workAdressId">Trabalho</h2>
              <h2>{{address.street}}, {{ address.numero }}</h2>
              <p>{{ address.complemento }}, {{ address.bairro }}</p>
              <p>({{ address.cep }}), {{ address.city }} - {{ address.state }}</p>
            </ion-label>
            <ion-radio [value]="address"></ion-radio>
          </ion-item>
        </ion-list>
      </form>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <div>
              <button ion-button round icon-right [disabled]="selectedAddress.id == ''" (click)="sign()">
                Assinar
                <ion-icon name='card'></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
  <div class="pag-safe-banner">
    <img style="max-height: 60px;" src="assets/imgs/pagseguro-768x183.png">
  </div>

</ion-content>