progress-bar {
  .progress-outer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    color: black;
    border-radius: 20px;
  }

  .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    background-color: #f4f4f4;
    font-weight: 500;
  }
}
