page-financial {
  .plan-signature-card {
    width: 80%;
    border-radius: 12px;
    display: inline-block;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    .code-label {
      font-size: unset;
    }
    .code {
      font-size: unset;
    }
    .status {
      font-size: 150%;
    }
    .plan-title {
      font-size: 150%;
    }
    .created-on {
      font-size: unset;
    }
  }

  .active {
    background: linear-gradient(
      45deg,
      rgba(149, 188, 157, 1) 0%,
      rgba(160, 204, 169, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }
}
