<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Financeiro</ion-title>
		<ion-buttons *ngIf="localActivePlanSignature.id != ''" end>
			<button ion-button icon-only [disabled]="showSplash" (click)="PSDetail(localActivePlanSignature)">
				<ion-icon large name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>


	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<ion-grid no-padding>
		<ion-row>
			<ion-col col-12 no-padding style="text-align: center;">
				<h3 *ngIf="localActivePlanSignature.id == ''" style="text-align: center; margin-right: 1.6rem;">Você não possui
					nehuma assinatura ativa</h3>
				<h3 *ngIf="localActivePlanSignature.id != ''" style="text-align: center; margin-right: 1.6rem;">Sua Assinatura:</h3>
				<ion-card *ngIf="localActivePlanSignature.id != ''" (tap)="PSDetail(localActivePlanSignature)" class="plan-signature-card active">
					<ion-grid>
						<ion-row>
							<ion-col col-12>
								<h1 class="code-label">Codigo</h1>
								<h1 class="code">{{localActivePlanSignature.id}}</h1>
							</ion-col>
						</ion-row>
						<div style="margin-top: 30px;">
							<ion-row>
								<ion-col col-12>
									<h1 class="status">Status: {{utilCtrl.translatePlanSignaturesStatus(localActivePlanSignature.status)}}</h1>
									<h1 class="plan-title">Pano: {{localActivePlanSignature.plan.title}}</h1>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-12>
									<h1 class="created-on">criado em: {{utilCtrl.getDate(localActivePlanSignature.createdOn)}}</h1>
								</ion-col>
							</ion-row>
						</div>
					</ion-grid>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list padding>
		<ion-item (click)="goToPage('MyCreditCardsPage')" style="background-color: transparent">
			<ion-icon name="information-circle" item-start></ion-icon>
			<ion-label>Meus Cartões de Credito</ion-label>
			<ion-icon name="arrow-forward" item-end></ion-icon>
		</ion-item>
		<ion-item (click)="goToPage('PlanSignaturesHistoryPage')" style="background-color: transparent">
			<ion-icon name="information-circle" item-start></ion-icon>
			<ion-label>Historico de Assinaturas</ion-label>
			<ion-icon name="arrow-forward" item-end></ion-icon>
		</ion-item>
	</ion-list>

	<div style="text-align: center; position: absolute; bottom: 20px; width: 100%;">
		<img style="max-height: 60px;" src="assets/imgs/fc-pagseguro-1.svg">
	</div>


</ion-content>
