page-my-order-detail {
  ion-content {
    background: rgb(224, 232, 248) !important;
  }
  ion-card {
    border-radius: 10px !important;
  }
  ion-item {
    border-radius: 10px;
    margin: 0px 12px !important;
    width: calc(100% - 24px) !important;
  }
  ion-icon[base] {
    margin-top: 15px !important;
    align-self: baseline;
  }
  .in-list-card {
    margin: 0px 4px 8px 4px;
    width: unset;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    border-radius: 0px 0px 10px 10px;
    ion-label {
      white-space: normal !important;
      h1,
      h2,
      h6,
      p {
        margin-top: unset !important;
      }
    }
    ion-label[text-align-center] {
      text-align: center !important;
    }
  }
  .service-controler-card {
    margin: 10px 12px !important;
    width: calc(100% - 24px) !important;
    width: unset;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    ion-list-header {
      margin-bottom: unset;
    }
    ion-item {
      padding-left: unset;
      .item-inner {
        margin-left: 0px !important;
      }
    }
    button {
      margin: 8px auto;
      .item-inner {
        margin-left: 8px !important;
      }
    }
    ion-label {
      margin-top: unset;
      margin-bottom: unset;
      white-space: normal !important;
      h1,
      h2,
      h6,
      p {
        margin-top: unset !important;
      }
    }
    ion-label[text-align-center] {
      text-align: center !important;
    }
  }
  ion-buttons button[icon-only].my-style-for-splash {
    margin: 0 6px;
    min-width: 36px;
  }
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
    color: black !important;
  }
  ion-list ion-item {
    background-color: transparent !important;
  }
  $complete: rgb(60, 192, 115);
  $active: #004c90;
  $mute: #dfe3e4;
  ion-item[desc-progress] {
    padding-left: 1rem;
    margin-top: -15px !important;
    h4 {
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }
  }
  .progress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: darken($mute, 33%);
    > li {
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.6em;
      &:before {
        content: attr(data-step);
        display: block;
        margin: 0 auto;
        background: $mute;
        width: 3em;
        height: 3em;
        text-align: center; //IE8 doesn't inherit this style
        margin-bottom: 0.25em;
        line-height: 3em;
        border-radius: 100%;
        position: relative;
        z-index: 1000;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: $mute;
        width: 100%;
        height: 0.5em;
        top: 1.25em;
        left: 50%;
        margin-left: 1.5em\9;
        z-index: -1;
      }
      &:last-child:after {
        display: none;
      }
      &.is-complete {
        color: $complete;
        &:before,
        &:after {
          color: #fff;
          background: $complete;
        }
      }
      &.is-active {
        color: $active;
        &:before {
          color: #fff;
          background: $active;
        }
      }
    }
  }
  /**
       * Needed for IE8
       */
  .progress__last:after {
    display: none !important;
  }
  /**
       * Size Extensions
       */
  .progress--medium {
    font-size: 1.5em;
  }
  .progress--large {
    font-size: 2em;
  }
  /**
     * Some Generic Stylings
     */
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  h1 {
    margin-bottom: 1.5em;
  }
  .progress {
    margin-bottom: 0.8em;
  }
  a {
    color: $active;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  body {
    text-align: center;
    color: #444;
  }
  .grey-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0%;
  }
  .card-profile {
    padding: 4px;
    margin-top: 0.8rem;
    ion-card {
      position: relative;
      text-align: center;
      margin: 0 2.5px;
      width: calc(100% - 5px);
      height: 10rem;
      z-index: 2;
      box-shadow: unset;
      -webkit-box-shadow: unset;
      ion-item {
        top: 0;
        position: absolute;
        color: white !important;
        margin: 1rem 0;
        background: transparent;
        padding-left: 0px;
        ion-avatar {
          margin: 8px 8px 8px 0px !important;
          align-self: flex-end;
          img {
            border-width: 3px;
            border-color: white;
            border-style: solid;
            height: 7rem;
            width: 7rem;
          }
        }
        h2 {
          margin: 1rem 0;
          font-weight: 400;
          font-size: 1.3rem;
          color: white;
        }
      }
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
  .desc-step {
    color: #004c90;
    h2 {
      font-weight: bold;
      font-size: 1.9rem;
      margin-bottom: 0.8rem;
    }
    p {
      color: #004c90;
      font-size: 1.3rem;
    }
  }
  .rating {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    display: -webkit-inline-box;
    padding-left: 10px;
    color: #ffb400;
  }
  ul.rating[_ngcontent-c0] li[_ngcontent-c0],
  ul.rating[_ngcontent-c1] li[_ngcontent-c1],
  ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
    display: inline;
    border: 0px;
    background: none;
    padding: unset;
    ion-icon {
      font-size: 20px;
    }
  }
}
