<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes do seu Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="!showSplash">

    <div class="card-profile">
      <ion-card (click)="showProvider()">
        <img *ngIf="localOrder.banner != null" src="{{localOrder.banner.thumbnail}}" />
        <img *ngIf="localOrder.banner == null" src="assets/imgs/dummy-image-landscape-800x600.jpg" />
        <div class="grey-bg"></div>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{localProvider.pic.thumbnailUrl}}" />
          </ion-avatar>

          <h2><b>{{ localProvider.fullName }}</b>
            <rating [(ngModel)]="localProvider.providerReputation" readOnly="true"></rating>
            <ion-icon name="chatbubbles"></ion-icon>
            {{ localProviderNumberOfReviews }}
          </h2>

          <h2>{{ localOrder.title }}
            <ion-icon name="construct"></ion-icon> <b> {{ localOrder.serviceTypeTitle }} </b>
          </h2>

        </ion-item>
      </ion-card>
    </div>

    <ion-item desc-progress>
      <h4>Data do pedido: {{ localOrder.createdOn.toLocaleDateString() }}, às {{
        localOrder.createdOn.toLocaleTimeString() }}</h4>
      <ol class="progress">
        <li [class]="(localOrder.step == 1) ? 'is-active' : 'is-complete'" data-step="1">
          Pedido
        </li>
        <li [ngClass]="{'is-active': localOrder.step >= 2 && localOrder.step < 3, 'is-complete' : localOrder.step > 2 }"
          data-step="2">
          Planejamento
        </li>
        <li [ngClass]="{'is-active': localOrder.step >= 3 && localOrder.step < 4, 'is-complete' : localOrder.step > 3 }"
          data-step="3">
          Execução
        </li>
        <li [ngClass]="{'is-active': localOrder.step == 4 && localOrder.status != 1300, 'is-complete' : localOrder.status == 1300 }"
          data-step="4" class="progress__last">
          Finalização
        </li>
      </ol>


      <div class="desc-step" [ngSwitch]="localOrder.step">

        <div *ngSwitchCase="1">

          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 1" style="text-align: center">
            <h2>Aguardando aceite do pedido</h2>
            <p>O profissional esta analisando os dados de seu pedido.</p>
            <p>Lhe avisamos quando tiver algo novo!</p>
          </div>

          <div *ngIf="localOrder.status == 1301" style="text-align: center">
            <h2>Pedido Rejeitado pelo prestador</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

        </div>

        <div *ngSwitchCase="2">

          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 2" style="text-align: center">
            <h2>Em Agendamento</h2>
            <p>Converse com o prestador e marque o melhor horário.</p>
            <p>Verifique o andamento na aba agendamento.</p>
          </div>

          <div *ngIf="localOrder.status == 3" style="text-align: center">
            <h2>Em orçamento</h2>
            <p>O prestador está analisando os dados do pedido para lhe passar orçamento.</p>
            <p>Verifique o andamento na aba orçamento.</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 5" style="text-align: center">
            <h2>Atrasado</h2>
            <p>Converse com o prestador para ver a possibilidade de re-marcar.</p>
            <p>Verifique o andamento na aba agendamento.</p>
          </div>
        </div>

        <div *ngSwitchCase="3">

          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 4" style="text-align: center">
            <h2>Agendado</h2>
            <p>Tudo certo! Agora é só esperar.</p>
          </div>

          <div *ngIf="localOrder.status == 6" style="text-align: center">
            <h2>Em andamento</h2>
            <p>O prestador está realizando o serviço.</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>
        </div>

        <div *ngSwitchCase="4">

          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 7" style="text-align: center">
            <h2>Pendente Avaliações</h2>
            <p>Maravilha, agora esta na hora de dar sua opnião!</p>
          </div>

          <div *ngIf="localOrder.status == 1300" style="text-align: center">
            <h2>Finalizado</h2>
            <p>🎉💥 Obrigado por utilizar o economizei! 💥🎉</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>
        </div>
      </div>
    </ion-item>

    <!-- Ações para o passo do pedido -->
    <div [ngSwitch]="localOrder.step">

      <div *ngSwitchCase="1">

        <ion-card class="service-controler-card">
          <ion-list no-lines>
            <button ion-item (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon name="alert" color="warning" item-end></ion-icon>
            </button>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button ion-item (click)="openMap()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Abrir Localização</ion-label>
            </button>

            <button *ngIf="localOrder.status != 1303 && localOrder.status != 1301" ion-item (click)="cancelOrder()">
              <ion-icon name="close-circle" color="danger" item-start></ion-icon>
              <ion-label>Cancelar Pedido</ion-label>
            </button>
          </ion-list>
        </ion-card>

      </div>

      <div *ngSwitchCase="2">

        <ion-card class="service-controler-card">
          <ion-list no-lines>
            <button ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o prestador</ion-label>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" base item-start></ion-icon>
              <ion-label>
                <h2 *ngIf="localOrder.acceptedSchedule == null">Agendamento pendente</h2>
                <div *ngIf="localOrder.acceptedSchedule != null">
                  <h2>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                    localOrder.status) }}</h2>
                  <p *ngIf="localOrderIsActive()" padding-top>Dia {{
                    localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR') }}, às {{
                    localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR') }} </p>
                  <h6 *ngIf="localOrderIsActive()" style="color:#004c90" padding-vertical>Agendamento realizado em {{
                    localOrder.acceptedSchedule.createdOn.toLocaleString() }} pelo {{
                    utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule) }} </h6>
                </div>
              </ion-label>

              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" base item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" base
                item-end></ion-icon>
            </button>

            <!-- <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedSchedule != null" (click)="showSchedulingDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                      localOrder.status) }}</ion-label>
                  </ion-list-header>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="calendar" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="time" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="localOrder.acceptedSchedule.homeDelivery == true">
                    <ion-col>
                      <ion-item>
                        <ion-icon name="ios-home" item-start></ion-icon>
                        <ion-label>Atendimento em domicílio</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="localOrder.acceptedSchedule.geoCheckin == true">
                        <ion-icon name="ios-pin" item-start></ion-icon>
                        <ion-label>Check-in</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Agendamento criado em: {{
                  localOrder.acceptedSchedule.createdOn.toLocaleString() }}</p>
                <p style="text-align: center">Por: {{ utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule)
                  }}</p>
              </ion-card>
            </div> -->

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" item-start></ion-icon>
              <ion-label>Orçamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedBudget != null" (click)="showBudgetDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateBudgetStatus(localOrder.acceptedBudget.status) }}</ion-label>
                  </ion-list-header>
                  <p style="text-align: center">{{ localOrder.acceptedBudget.description }}</p>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="pricetag" item-start></ion-icon>
                        <ion-label>R$ {{localOrder.acceptedBudget.value}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col *ngIf="localOrder.acceptedBudget.warranty">
                      <ion-item>
                        <ion-icon name="medkit" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.warrantyTime}} de garantia</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="card" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.payMethods}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Orçamento criado em: {{
                  localOrder.acceptedBudget.createdOn.toLocaleDateString('pt-BR') }}</p>
              </ion-card>
            </div>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button [disabled]="!localOrderIsActive()" ion-item (click)="openMap()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Abrir Localização</ion-label>
            </button>

            <button *ngIf="localOrderIsActive()" ion-item (click)="cancelOrder()">
              <ion-icon name="close-circle" color="danger" item-start></ion-icon>
              <ion-label>Cancelar Pedido</ion-label>
            </button>
          </ion-list>
        </ion-card>
      </div>

      <div *ngSwitchCase="3">

        <ion-card class="service-controler-card">
          <ion-list *ngIf="localOrder.acceptedSchedule != null && localOrder.status != 1302 && localOrder.status != 1303"
            no-lines>
            <ion-list-header>
              <ion-label>Controle do Serviço</ion-label>
            </ion-list-header>
            <!-- Controles de checkin -->
            <div *ngIf="localOrder.status == 4">
              <ng-container *ngIf="localOrder.acceptedSchedule.homeDelivery; else notHomeDeliveryElseTemplate">
                <!-- Pedido com atendimento em domicílio -->
                <ng-container *ngIf="localOrder.acceptedSchedule.geoCheckin; else notGeoCheckinElseTemplate">
                  <!-- checkin com GPS -->
                  <ion-item>
                    <ion-icon name="ios-pin" item-start></ion-icon>
                    <ion-label>
                      <h6>Checkin via GPS solicitado.</h6>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="information" item-start></ion-icon>
                    <ion-label>
                      <h6>Se o prestador estiver com problemas com o GPS desative o Ceckin via GPS utilizando o botão
                        abaixo.</h6>
                    </ion-label>
                  </ion-item>
                  <ion-row justify-content-center>
                    <ion-col col-auto>
                      <button ion-button color="secondary" (click)="deactivateGPSCheckinConfirmation()">
                        Desativar checkin com GPS
                      </button>
                    </ion-col>
                  </ion-row>
                </ng-container>
                <ng-template #notGeoCheckinElseTemplate>
                  <!-- checkin sem GPS -->
                  <ion-item>
                    <ion-icon name="ios-pin-outline" item-start></ion-icon>
                    <ion-label>
                      <h6>Checkin sem GPS quando o prestador chegar informe o codigo abaixo.</h6>
                    </ion-label>
                  </ion-item>
                  <ion-item padding-horizontal>
                    <ion-icon name="barcode" color="primary" large item-start></ion-icon>
                    <ion-label>
                      <h1 style="font-family: Consola-Bold; color: #004c90">{{localOrder.acceptedSchedule.checkinCode}}</h1>
                    </ion-label>
                  </ion-item>
                </ng-template>
              </ng-container>
              <ng-template #notHomeDeliveryElseTemplate>
                <!-- Pedido sem atendimento em domicílio -->
                <ion-item>
                  <ion-icon name="ios-home-outline" item-start></ion-icon>
                  <ion-label>
                    <h6>Pedido sem Atendimento em domicilio</h6>
                    <p>Ao chegar no local informe o codigo abaixo para o prestador</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="barcode" item-start></ion-icon>
                  <ion-label>
                    <h1>{{localOrder.acceptedSchedule.checkinCode}}</h1>
                  </ion-label>
                </ion-item>
              </ng-template>
              <button ion-item (click)="cancelScheduleConfirmation()">
                <ion-icon name="close-circle" color="economizei_Yellow" item-start></ion-icon>
                <ion-label>
                  <h2>Cancelar Atendimento</h2>
                  <p style="color: #ffa220; font-size: 1.2rem;">Caso você queira mudar o agendamento do serviço.</p>
                </ion-label>
              </button>
            </div>


            <!-- Controles do serviço -->
            <div *ngIf="localOrder.status == 6">
              <ion-item>
                <ion-icon name="construct" item-start></ion-icon>
                <ion-label>
                  <h6>Serviço em andamento</h6>
                  <p>Tempo decorrido</p>
                  <h1>{{localOrderElapsedTime}}</h1>
                </ion-label>
              </ion-item>
              <ion-list-header>
                <ion-label>Ações</ion-label>
              </ion-list-header>
              <button ion-item (click)="cancelScheduleConfirmation()">
                <ion-icon name="close-circle" color="danger" item-start></ion-icon>
                <ion-label>
                  <h2>Cancelar Atendimento</h2>
                  <p>Caso você queira mudar o agendamento do serviço.</p>
                </ion-label>
              </button>
            </div>
          </ion-list>
        </ion-card>


        <!-- Ações para o passo do pedido -->
        <ion-card class="service-controler-card">
          <ion-list>
            <button ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o prestador</ion-label>
            </button>
            <hr>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" base item-start></ion-icon>
              <ion-label>
                <h2>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                  localOrder.status) }}</h2>
                <p *ngIf="localOrderIsActive()" padding-top>Dia {{
                  localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR') }}, às {{
                  localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR') }} </p>
                <h6 *ngIf="localOrderIsActive()" style="color:#004c90" padding-vertical>Agendamento realizado em {{
                  localOrder.acceptedSchedule.createdOn.toLocaleString() }} pelo {{
                  utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule) }} </h6>
              </ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" base item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" base
                item-end></ion-icon>
            </button>

            <!-- <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedSchedule != null" (click)="showSchedulingDetail()">
                <ion-list no-lines>
                  <ion-row *ngIf="localOrder.acceptedSchedule.homeDelivery == true">
                    <ion-col>
                      <ion-item>
                        <ion-icon name="ios-home" item-start></ion-icon>
                        <ion-label>Atendimento em domicílio</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="localOrder.acceptedSchedule.geoCheckin == true">
                        <ion-icon name="ios-pin" item-start></ion-icon>
                        <ion-label>Check-in</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Agendamento criado em: 
                  {{ localOrder.acceptedSchedule.createdOn.toLocaleString() }} pelo {{ utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule) }}</p>
              </ion-card>
            </div> -->

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" base item-start></ion-icon>
              <ion-label>
                <h2>{{ utilCtrl.translateBudgetStatus(localOrder.acceptedBudget.status) }}</h2>
                <p>Será cobrado um valor de <b>R$ {{localOrder.acceptedBudget.value}}</b> pelo serviço.</p>
                <h4 *ngIf="!localOrder.acceptedBudget.warranty">O serviço não possui garantia</h4>
                <h4 *ngIf="localOrder.acceptedBudget.warranty">O serviço oferece <b>{{
                    localOrder.acceptedBudget.warrantyTime }}</b> de garantia.</h4>
                <div *ngIf="localOrderIsActive()">
                  <!-- <button ion-item class="in-list-card" *ngIf="localOrder.acceptedBudget != null" (click)="showBudgetDetail()"> -->
                  <p style="color:#004c90">Formas de pagamento:</p>
                  <ion-row>
                    <ion-col style="padding-top: 0px;">
                      <button *ngFor="let pay of localOrder.acceptedBudget.payMethods" ion-button color="secondary"
                        icon-start round small>
                        <ion-icon name="card"></ion-icon>
                        {{pay}}
                      </button>
                    </ion-col>
                  </ion-row>
                  <p style="text-align: center">Orçamento criado em: {{
                    localOrder.acceptedBudget.createdOn.toLocaleString('pt-BR') }}</p>
                  <!-- </button> -->
                </div>
              </ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" base item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" base color="secondary"
                item-end></ion-icon>
            </button>


            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button [disabled]="!localOrderIsActive()" ion-item (click)="openMap()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Abrir Localização</ion-label>
            </button>

            <button *ngIf="localOrderIsActive()" ion-item (click)="cancelOrder()">
              <ion-icon name="close-circle" color="danger" item-start></ion-icon>
              <ion-label>Cancelar Pedido</ion-label>
            </button>
          </ion-list>
        </ion-card>

      </div>

      <div *ngSwitchCase="4">

        <ion-card class="service-controler-card" *ngIf="localOrder.acceptedSchedule != null && localOrder.status != 1302 && localOrder.status != 1303">
          <ion-list>
            <ion-list-header>
              <ion-label>Avaliações</ion-label>
            </ion-list-header>

            <ion-item-divider>Recebida</ion-item-divider>
            <button ion-item [disabled]="!localOrderIsActive()" (click)="showClientReviewDetail()">
              <ion-icon name="contact" item-start></ion-icon>
              <ion-label>Avaliação do Cliente</ion-label>
              <ion-icon *ngIf="localOrder.clientReviewId == ''" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.clientReviewId != ''" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <ion-item-divider>Enviada</ion-item-divider>
            <button ion-item [disabled]="!localOrderIsActive()" (click)="showProviderReviewDetail()">
              <ion-icon name="contact" item-start></ion-icon>
              <ion-label>Avaliação do Prestador</ion-label>
              <ion-icon *ngIf="localOrder.providerReviewId == ''" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.providerReviewId != ''" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

          </ion-list>
        </ion-card>

        <!-- Ações para o passo do pedido -->
        <ion-card class="service-controler-card">

          <ion-list no-lines>
            <button [disabled]="!hasWarrantyTime" ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o prestador</ion-label>
              <ion-note *ngIf="hasWarrantyTime" item-end>Garantia disponivel</ion-note>
              <ion-note *ngIf="!hasWarrantyTime" item-end>Garantia indisponivel</ion-note>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" item-start></ion-icon>
              <ion-label>Orçamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button [disabled]="!localOrderIsActive()" ion-item (click)="openMap()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Abrir Localização</ion-label>
            </button>

          </ion-list>
        </ion-card>
      </div>
    </div>

  </div>

</ion-content>