page-banner-pics-viewer {

    .swiper-pagination-bullet{
        border-radius: 1px;
        height: 2px;
        width: 20px;
        background:white;
        opacity: unset;
    }

    .swiper-pagination-bullet-active{
        background:#ffa220 
    }

}
