<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>
      Fotos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="((this.SlidesCtrl.getActiveIndex()+1) > 0) && (this.SlidesCtrl.getActiveIndex()+1 <= localPics.length)" style="position: absolute;margin-left: 4%;margin-top: 4%;z-index: 10;">
    <ion-badge color='economizei_Light_Black'> {{ this.SlidesCtrl.getActiveIndex() + 1 }}/{{ localPics.length }}</ion-badge>
  </div>
  
  <ion-slides pager="true" zoom="true" parallax="true" style="background-color: black">
    <ion-slide *ngFor="let pic of localPics">
      <img data-src="{{pic.url}}">
    </ion-slide>
  </ion-slides>

</ion-content>