<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Adicionar Cartão de Credito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <div style="text-align: center;">

    <ion-card *ngIf="segment <4" class="credit-card-card fadeIn" [ngClass]="{
      'visa': localCreditCard.brand == 'visa',
      'mastercard': localCreditCard.brand == 'mastercard',
      'amex': localCreditCard.brand == 'amex',
      'elo': localCreditCard.brand == 'elo',
      'hipercard': localCreditCard.brand == 'hipercard',
      'diners': localCreditCard.brand == 'diners'
      }">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <ion-card *ngIf="localCreditCard.brand == ''"
              class="dummy-card-brand fadeIn"></ion-card>
            <img *ngIf="localCreditCard.brand == 'visa'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/visa.svg">
            <img *ngIf="localCreditCard.brand == 'mastercard'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/mastercard.svg">
            <img *ngIf="localCreditCard.brand == 'amex'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/amex.svg">
            <img *ngIf="localCreditCard.brand == 'elo'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/elo.svg">
            <img *ngIf="localCreditCard.brand == 'hipercard'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/hipercard.svg">
            <img *ngIf="localCreditCard.brand == 'diners'" class="card-brand
              fadeIn" src="assets/imgs/credit-cards-brands/diners.svg">
          </ion-col>
        </ion-row>
        <div style="margin-top: 60px;">
          <ion-row>
            <ion-col col-12>
              <h1 class="card-number">{{displayCreditCardNumber}}</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <h1 class="card-ownerName">{{localCreditCard.ownerName}}</h1>
            </ion-col>
            <ion-col col-4>
              <h1 class="card-expiringDate">{{localCreditCard.expirationMonth}}/{{localCreditCard.expirationYear.substr(2,
                2)}}</h1>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>

    <ion-card *ngIf="segment >= 4" class="owner-document-card fadeIn">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h1>Documento do titular do cartão</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <img class="owner-thumb" src="assets/imgs/man-thumb.svg">
          </ion-col>
          <ion-col col-8>
            <h1 class="owner-ownerName">Nome: {{localCreditCard.ownerName}}</h1>
            <h1 class="owner-ownerCPF">CPF: {{localCreditCard.ownerCPF}}</h1>
            <h1 class="owner-ownerBirthDate">Data de nascimento:
              {{localCreditCard.ownerBirthDate}}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>


  <ion-grid no-border>
    <div [ngSwitch]="segment">

      <div *ngSwitchCase=1>
        <ion-row>
          <ion-col col-12>
            <ion-item style="background-color: transparent">
              <ion-label floating>Numero do Cartão (sem espaços)</ion-label>
              <ion-input type="tel" [(ngModel)]="localCreditCard.number"
                name="cpf" minlength="16" maxlength="16"
                (keyup)="getCardData()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto no-padding>
            <button ion-button disabled clear>
              Anterior
            </button>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button [disabled]="localCreditCard.number.length != 16
              || localCreditCard.brand == ''" clear
              (click)="validateCreditCardNumber()">
              Continuar
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngSwitchCase=2>
        <ion-row>
          <ion-col col-12>
            <ion-item style="background-color: transparent">
              <ion-label floating>Nome do Dono do cartão</ion-label>
              <ion-input type="text" [(ngModel)]="tempOwnerName"
                name="ownerName" minlength="9" maxlength="16"
                (keyup)="ownerNameInput()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto no-padding>
            <button ion-button clear (click)="goBack()">
              Anterior
            </button>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button [disabled]="localCreditCard.ownerName.length <9"
              clear (click)="goForward()">
              Continuar
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngSwitchCase=3>
        <ion-row>
          <ion-col col-12>
            <ion-item style="background-color: transparent">
              <ion-label>Data de validade</ion-label>
              <ion-datetime name="expiringDate" [(ngModel)]="tempExpiringDate"
                (ngModelChange)="expiringDateInput()"
                [max]="maxDate"
                displayFormat="MM YYYY"
                [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
                [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
                [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
                [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
                [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                [doneText]="utilCtrl.ionDateTimePandH.doneText"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto no-padding>
            <button ion-button clear (click)="goBack()">
              Anterior
            </button>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button [disabled]="tempExpiringDate == ''" clear
              (click)="goForward()">
              Continuar
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngSwitchCase=4>
        <ion-row>
          <ion-item style="background-color: transparent">
            <ion-label floating>CPF do dono do cartão (Sem pontos ou traços)</ion-label>
            <ion-input required type="tel" [(ngModel)]="tempOwnerCpf"
              name="ownerCPF" minlength="11" maxlength="11"
              (keyup)="ownerCpfInput()"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto no-padding>
            <button ion-button clear (click)="goBack()">
              Anterior
            </button>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button [disabled]="tempOwnerCpf.length != 11" clear
              (click)="goForward()">
              Continuar
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngSwitchCase=5>
        <ion-row>
          <ion-item style="background-color: transparent">
            <ion-label>Data de nascimento</ion-label>
            <ion-datetime required name="birthDate" displayFormat="D MMM YYYY"
              [(ngModel)]="tempOwnerBirthDate"
              (ngModelChange)="ownerBirthDateInput()" monthNames="janeiro,
              fevereiro, março, abril, maio, junho, julho, agosto, setembro,
              outubro, novembro, dezembro"
              monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out,
              nov, dez" dayNames="domingo, segunda-feira, terça-feira,
              quarta-feira, quinta-feira, sexta-feira, sábado"
              dayShortNames="dom,
              seg, ter, qua, quin, sex, sab" cancelText="Cancelar"
              doneText="Ok"></ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-auto no-padding>
            <button ion-button clear (click)="goBack()">
              Anterior
            </button>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button [disabled]="tempOwnerBirthDate == ''" clear
              (click)="save()">
              Continuar
            </button>
          </ion-col>
        </ion-row>
      </div>


    </div>
  </ion-grid>


</ion-content>