<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da mensagem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="message-wrap">
    <div class="message" [class.left]="message.senderId != actualUser.id"
      [class.right]="message.senderId == actualUser.id">
      <img class="user-img" [src]="getUserData(message.senderId,
        'thumbnailUrl')" alt="" src="">
      <div class="msg-detail">
        <div class="msg-content">
          <div class="msg-message" *ngIf="message.type == 'text'">
            <p>{{ message.message }}</p>
          </div>
          <div *ngIf="message.type == 'image'">
            <p>
              <img [src]="message.message" *ngIf="message.message" />
            </p>
          </div>
          <div class="msg-info">
            <p>{{message.dateString}} as {{message.timeString}}</p>
            <div *ngIf="message.senderId == actualUser.id">
              <ion-icon mensage-status-icon *ngIf="!message.verified"
                name="time"></ion-icon>
              <ion-icon mensage-status-icon *ngIf="message.verified &&
                message.delivered == null" name="checkmark"></ion-icon>
              <ion-icon mensage-status-icon *ngIf="message.delivered != null &&
                message.readedOn == null" name="done-all"></ion-icon>
              <ion-icon mensage-status-icon readed *ngIf="message.readedOn !=
                null" name="done-all"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-card style="border-radius: 10px !important">
    <ion-list>
      <ion-item *ngIf="!message.onFirebase">
        <ion-spinner name="dots" item-start></ion-spinner>
        <ion-label>Enviando...</ion-label>
      </ion-item>
      <ion-item *ngIf="message.onFirebase">
        <ion-icon mensage-status-icon name="send" item-start></ion-icon>
        <ion-label>Enviada</ion-label>
      </ion-item>
      <ion-item *ngIf="message.verified && !message.moderated">
        <ion-icon mensage-status-icon name="checkmark" item-start></ion-icon>
        <ion-label>Verificada</ion-label>
      </ion-item>
      <div *ngIf="message.moderated">
        <ion-item *ngIf="message.verified && message.moderated">
          <ion-icon mensage-status-icon name="md-warning" color="danger"
            item-start></ion-icon>
          <ion-label>Moderada</ion-label>
        </ion-item>
        <div style="text-align: center" *ngIf="message.senderId ==
          actualUser.id">
          <h6>Mensagem Original: {{message.originalMessage}}</h6>
        </div>
      </div>
      <ion-item *ngIf="message.delivered != null">
        <ion-icon mensage-status-icon name="done-all" item-start></ion-icon>
        <ion-label>Entrege em: {{message.delivered.toLocaleString('pt-BR')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="message.readedOn != null">
        <ion-icon mensage-status-icon readed name="done-all" item-start></ion-icon>
        <ion-label>Lida em: {{message.readedOn.toLocaleString('pt-BR')}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>