page-message-detail {
  $userBackgroundColor: color($colors, my_msg, base);
  $toUserBackgroundColor: color($colors, other_user_msg, base);

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;
    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .message-wrap {
    padding: 20px 5px;
    .message {
      position: relative;
      .user-img {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        // box-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-content {
          position: relative;
          border-radius: 5px;
          padding: 8px;
          color: #fff;
          width: auto;
          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        float: left;
        border-radius: 0px 18px 18px 18px;
      }
      .msg-detail {
        padding-left: 50px;
        padding-right: 40px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: color($colors, other_user_msg_txt, base);
        .msg-info {
          p {
            color: color($colors, other_user_msg_info, base);
          }
        }
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 50px;
        padding-left: 40px;

        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }
      .msg-content {
        text-align: right;
        background-color: $userBackgroundColor;
        float: right;
        border-radius: 18px 18px 0px 18px;
        .msg-message {
          text-align: left;
        }
        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
      .msg-detail {
        .msg-info {
          display: inline-flex;
          p {
            font-size: 0.8em;
            color: color($colors, my_msg_info, base);
          }
          ion-icon {
            padding-left: 20%;
            font-size: 0.8em;
            color: color($colors, my_msg_status_icons, base);
          }
          ion-icon[readed] {
            color: color($colors, my_msg_status_readead_icon, base) !important;
          }
          ion-icon[mensage-status-icon] {
            -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            -webkit-animation-name: flipInY;
            animation-name: flipInY;
            animation-duration: 0.5s !important;
          }
        }
      }
    }
  }

  ion-icon {
    font-size: 0.8em;
  }

  ion-icon[readed] {
    color: color($colors, my_msg_status_readead_icon, base) !important;
  }

  ion-icon[mensage-status-icon] {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    animation-duration: 0.5s !important;
  }

  ion-content .scroll-content {
    background-color: color($colors, economizei_Background, base);
  }

  @-webkit-keyframes flipInY {
    from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }

  @keyframes flipInY {
    from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
}
