<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes do serviço</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail>
              <img src="{{localOrder.banner.thumbnail}}" />
              <ion-avatar class="mini-avatar">
                <img src="{{localOrder.clientThumbnailUrl}}" />
              </ion-avatar>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="localOrder.address != null">
              <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero
                }}</h2>
              <p>{{ localOrder.address.complemento }}, {{
                localOrder.address.bairro }}</p>
              <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
                {{ localOrder.address.state }}</p>
            </div>
            <div *ngIf="localOrder.address == null">
              <h2>{{ localOrder.banner.address.street}}, {{
                localOrder.banner.address.numero }}</h2>
              <p>{{ localOrder.banner.address.complemento }}, {{
                localOrder.banner.address.bairro }}</p>
              <p>({{ localOrder.banner.address.cep }}), {{
                localOrder.banner.address.city }} - {{
                localOrder.banner.address.state }}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="localOrder.banner == null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;" src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
            <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
            <p>{{ localOrder.address.complemento }}, {{
              localOrder.address.bairro }}</p>
            <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
              {{ localOrder.address.state }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-card>

  <!-- <h4 style="text-align: center; margin-right: 1.6rem;">{{ localOrder.serviceTypeTitle }}</h4>
  <h4 style="text-align: center; margin-right: 1.6rem;">Detalhes do serviço
  solicitado</h4> -->


  <ion-card class="card-answer" *ngFor="let localCharacteristic of
    localCharacteristics">
    <ion-card-header style="white-space: normal">
      <h2 style="font: 1.9rem; font-weight: 600">{{ localCharacteristic.title }}</h2>
    </ion-card-header>
    <ion-list>
      <ng-container *ngIf="localCharacteristic.rcDataSelection == 'checkbox';
          else elseTemplate1">
        <ion-item *ngFor="let data of localCharacteristic.data">
          <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
          <ion-label style="white-space: normal;">{{ data }}</ion-label>
        </ion-item>
      </ng-container>
      <ng-template #elseTemplate1>
        <ion-item>
          <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
          <ion-label style="white-space: normal;">{{ localCharacteristic.data
            }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card>

</ion-content>