<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeInDown">
      <button custom-close-button icon-only (click)="close()">
        <ion-icon name="close" item-end></ion-icon>
      </button>
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Insira sua localidade</ion-label>
        </ion-list-header>

        <form #form="ngForm" (ngSubmit)="save()">

          <ion-item style="background-color: transparent">
            <ion-label floating>Estado</ion-label>
            <ion-select [(ngModel)]="selectedState" required name="selectedState" interface="alert" cancelText="Cancelar"
              (ionBlur)="selectState()">
              <ion-option [value]="'Acre'">Acre</ion-option>
              <ion-option [value]="'Alagoas'">Alagoas</ion-option>
              <ion-option [value]="'Amapá'">Amapá</ion-option>
              <ion-option [value]="'Amazonas'">Amazonas</ion-option>
              <ion-option [value]="'Bahia'">Bahia</ion-option>
              <ion-option [value]="'Ceará'">Ceará</ion-option>
              <ion-option [value]="'Distrito Federal'">Distrito Federal</ion-option>
              <ion-option [value]="'Espírito Santo'">Espírito Santo</ion-option>
              <ion-option [value]="'Goiás'">Goiás</ion-option>
              <ion-option [value]="'Maranhão'">Maranhão</ion-option>
              <ion-option [value]="'Mato Grosso'">Mato Grosso</ion-option>
              <ion-option [value]="'Mato Grosso do Sul'">Mato Grosso do Sul</ion-option>
              <ion-option [value]="'Minas Gerais'">Minas Gerais</ion-option>
              <ion-option [value]="'Pará'">Pará</ion-option>
              <ion-option [value]="'Paraíba'">Paraíba</ion-option>
              <ion-option [value]="'Paraná'">Paraná</ion-option>
              <ion-option [value]="'Pernambuco'">Pernambuco</ion-option>
              <ion-option [value]="'Piauí'">Piauí</ion-option>
              <ion-option [value]="'Rio de Janeiro'">Rio de Janeiro</ion-option>
              <ion-option [value]="'Rio Grande do Norte'">Rio Grande do Norte</ion-option>
              <ion-option [value]="'Rio Grande do Sul'">Rio Grande do Sul</ion-option>
              <ion-option [value]="'Rondônia'">Rondônia</ion-option>
              <ion-option [value]="'Roraima'">Roraima</ion-option>
              <ion-option [value]="'Santa Catarina'">Santa Catarina</ion-option>
              <ion-option [value]="'São Paulo'">São Paulo</ion-option>
              <ion-option [value]="'Sergipe'">Sergipe</ion-option>
              <ion-option [value]="'Tocantins'">Tocantins</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Cidade</ion-label>
            <ion-select [(ngModel)]="selectedCity" [disabled]="!canSelectCity" required name="selectedCity" interface="alert"
              cancelText="Cancelar">
              <ion-option *ngFor="let city of citiesToSelection" [value]="city">{{ city }}</ion-option>
            </ion-select>
          </ion-item>

          <div style="text-align: center">
            <button ion-button round [disabled]="!form.valid" type="submit">
              Salvar
            </button>
          </div>

          <div padding></div>

        </form>
      </ion-list>

    </div>

  </div>

</ion-content>