<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeInDown">
      <button custom-close-button icon-only (click)="close()">
        <ion-icon name="close" item-end></ion-icon>
      </button>
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Detalhes do Agendamento</ion-label>
        </ion-list-header>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>{{localSchedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="time" item-start></ion-icon>
              <ion-label>{{localSchedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="localSchedule.homeDelivery == true">
          <ion-col>
            <ion-item>
              <ion-icon name="ios-home" item-start></ion-icon>
              <ion-label>Atendimento em domicilio</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-item *ngIf="localSchedule.geoCheckin == true">
                <ion-icon name="ios-pin" item-start></ion-icon>
                <ion-label>Check-in via GPS</ion-label>
              </ion-item>
          </ion-col>
        </ion-row>

      </ion-list>

      <p style="text-align: center">Criado em: {{ localSchedule.createdOn.toLocaleString() }}</p>
      <div padding></div>

    </div>

  </div>

</ion-content>
