<ion-header>
  <ion-navbar color="transparent">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>
      <div class="emoji-text">⚡</div> Convide Amigos <div class="emoji-text">⚡</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="300" [height]="300">
    </lottie-animation-view>
  </div>

  <ion-item class="item_profile" no-lines>
    <ion-avatar class="item_profile_avatar">
      <img src="{{UserDataCtrl.localUser.pic.url}}" style="width:100px; height:100px;" />
    </ion-avatar>
  </ion-item>

  <div style="align-self:center">
    <h2>Deseja o Plano Pro?</h2>
    <h4>Convide 3 amigos para serem provissionais no Economizei e ganhe <b>1 mês GRÁTIS</b> do <b>plano ECOBIT</b>
      quando eles se
      inscreverem!</h4>
    <button ion-button *ngIf="!localInvite.rewardUsed && inviteUtilizations.length < 3" round icon-right (click)="shareInvite()"
      color="economizei_Lemon_Green">
      Enviar Convite
    </button>
  </div>

  <div *ngIf="inviteUtilizations.length > 2">
    <h2 *ngIf="localInvite.rewardUsed"> Você Já resgatou</h2>
    <button ion-button *ngIf="!localInvite.rewardUsed" round [disabled]="inviteUtilizations.length < 3" (click)="useReward()"
      color="economizei_Yellow">
      Resgatar
    </button>
  </div>

  <ion-footer>
    <ion-card class="friends-card">
      <ion-card-header>
        <ion-card-title>
          Amigos que se juntaram!
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <div class="inner">

          <div *ngIf="inviteUtilizations.length == 0" class="inner-item">
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 1</p>
            </div>
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 2</p>
            </div>
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 3</p>
            </div>
          </div>

          <div *ngIf="inviteUtilizations.length == 1">
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[0].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[0].providerName}}</p>
            </div>
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 2</p>
            </div>
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 3</p>
            </div>
          </div>

          <div *ngIf="inviteUtilizations.length == 2" class="inner-item">
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[0].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[0].providerName}}</p>
            </div>
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[1].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[1].providerName}}</p>
            </div>
            <div class="inner-item">
              <ion-card (click)="shareInvite()">
                <ion-icon name="md-add"></ion-icon>
              </ion-card>
              <p>Amigo 3</p>
            </div>
          </div>

          <div *ngIf="inviteUtilizations.length >= 3" class="inner-item">
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[0].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[0].providerName}}</p>
            </div>
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[1].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[1].providerName}}</p>
            </div>
            <div class="inner-item">
              <ion-card>
                <img [src]="inviteUtilizations[2].providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilizations[2].providerName}}</p>
            </div>
          </div>

          <!-- <div *ngIf="inviteUtilizations.length > 3" class="inner-item">
            <div *ngFor="let inviteUtilization of inviteUtilizations" class="inner-item">
              <ion-card>
                <img [src]="inviteUtilization.providerThumbnailUrl">
              </ion-card>
              <p>{{inviteUtilization.providerName}}</p>
            </div>
          </div> -->

        </div>
      </ion-card-content>
    </ion-card>
  </ion-footer>


</ion-content>
