page-invite-providers {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 !important;
  }

  ion-navbar {
    background: transparent;
    .toolbar-title-md {
      padding: 0 56px 0 0;
      .emoji-text {
        font-size: 1.2rem;
        display: inline-block;
      }
    }
    .toolbar-title-ios .emoji-text {
      display: inline;
    }
  }
  ion-content,
  .splash {
    background-image: linear-gradient(
      to bottom,
      #2c73d2,
      #0081cc,
      #008ab6,
      #008e97,
      #008f7a
    );
  }
  // background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%) !important;
  text-align: center;
  h2 {
    color: white;
    font-size: 3rem;
  }
  h4 {
    color: white;
    font-weight: 400;
    margin: 1rem 3.2rem !important;
  }
  .item_profile {
    background: transparent;
    ion-label {
      margin: 8px 8px 6px 0;
      ion-avatar img {
        margin: auto;
        width: 7em !important;
        height: 7em !important;
      }
    }
  }
  .button-md {
    padding: 2.6rem 4rem;
    margin: 1rem;
    font-size: 2rem;
    text-transform: unset;
    box-shadow: unset;
  }
  ion-button {
    font-size: 1.6rem;
  }
  ion-footer {
    position: unset;
    .friends-card {
      box-shadow: unset;
      border-radius: 12px;
      margin-top: 5rem;
      margin: 15px;
      width: calc(100% - 30px);
      text-align: center;
      margin-bottom: 1rem;
      background-color: white;
      .card-title-md {
        padding: unset;
      }
      .card-content-md {
        padding: 0px 8px;
      }
      ion-card-content {
        text-align: -webkit-center;
      }
      .inner {
        width: max-content;
        height: 100%;
        .inner-item {
          text-align: -webkit-center;
          margin: 5px;
          display: inline-block;
          ion-card {
            display: table-cell;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            padding: 0px !important;
            margin: 0px !important;
            -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
            background: rgb(238, 238, 238);
            img {
              width: 100%;
              height: 100%;
            }
            ion-icon {
              width: 100%;
              height: 100%;
              top: 35%;
              position: relative;
            }
          }
          p {
            margin-top: 4px;
            white-space: inherit;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 40px;
            width: 80px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            overflow-wrap: normal;
          }
        }
      }
    }
  }
  .footer-md::before {
    background-image: unset;
  }
  @media (min-height: 600px) and (min-width: 359px) {
    ion-footer {
      position: absolute !important;
    }
  }
}
