<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Novo Anúncio</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Dados" disabled>Dados</ion-segment-button>
      <ion-segment-button value="Serviço" disabled>Serviço</ion-segment-button>
      <ion-segment-button value="Endereço" disabled>Endereço</ion-segment-button>
      <ion-segment-button value="Fotos" disabled>Fotos</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div [ngSwitch]="segment" style="padding-top:10px;">
    <div *ngSwitchCase="'Dados'">

      <h6 style="text-align: center; margin-right: 1.6rem;">Preencha os dados
        sobre seu Anúncio</h6>

      <form #form="ngForm" (ngSubmit)="saveData()">

        <br />
        <ion-item>
          <ion-label floating>Título</ion-label>
          <ion-input required type="text" [(ngModel)]="localBanner.title" name="Title" minlength="3" maxlength="50">
          </ion-input>
        </ion-item>
        <br />

        <ion-item>
          <ion-label floating>
            Descrição

          </ion-label>
          <ion-textarea type="text" [(ngModel)]="localBanner.description" name="Description" maxlength="200">
          </ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating>Categoria do Serviço</ion-label>
          <ion-select [(ngModel)]="selectedCategory" required name="selectedCategory" interface="action-sheet"
            cancelText="Cancelar" (ionBlur)="selectCategory()">
            <ion-option *ngFor="let category of localCategories" [value]="category">{{ category.title }}</ion-option>
          </ion-select>
        </ion-item>
        <br />

        <ion-item *ngIf="canSelectServiceType">
          <ion-label floating>Tipo de Serviço</ion-label>
          <ion-select [(ngModel)]="selectedServiceType" required name="selectedServiceType" interface="action-sheet"
            cancelText="Cancelar" (ionBlur)="selectServiceType()">
            <ion-option *ngFor="let serviceType of serviceTypesToSelection" [value]="serviceType">{{ serviceType.title
              }}</ion-option>
          </ion-select>
        </ion-item>
        <br />

        <ion-item>
          <ion-label floating>Preço</ion-label>
          <ion-input required type="tel" [(ngModel)]="localPrice" name="price" (ionBlur)="CheckPrice()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Tipo de cobrança</ion-label>
          <ion-select required name="priceType" [(ngModel)]="localBanner.priceType" interface="action-sheet"
            cancelText="Cancelar">
            <ion-option value="Por Hora">Por Hora</ion-option>
            <ion-option value="Por Dia">Por Dia</ion-option>
            <ion-option value="Por Serviço">Por Serviço</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Metodos de pagamento</ion-label>
          <ion-select required name="payMethods" [(ngModel)]="localBanner.payMethods" multiple="true"
            cancelText="Cancelar">
            <ion-option value="Dinheiro">Dinheiro</ion-option>
            <ion-option value="Transferencia Bancaria">Transferencia Bancaria</ion-option>
            <ion-option value="Cartão (Debito)">Cartão (Debito)</ion-option>
            <ion-option value="Cartão (Credito)">Cartão (Credito)</ion-option>
            <ion-option value="PicPay">PicPay</ion-option>
          </ion-select>
        </ion-item>

        <hr>
        <ion-item no-lines>
          <ion-toggle (ngModelChange)="toggleWarranty()" [ngModel]="localBanner.warranty" name="warranty" item-start>
          </ion-toggle>
          <ion-label>Garantia</ion-label>
          <ion-icon *ngIf="!localBanner.warranty" name="md-arrow-dropleft" item-end></ion-icon>
          <ion-icon *ngIf="localBanner.warranty" name="md-arrow-dropdown" item-end></ion-icon>
        </ion-item>
        <div *ngIf="localBanner.warranty">
          <ion-item no-lines>
            <ion-label floating>Tempo de garantia</ion-label>
            <ion-select required name="warrantyTime" [(ngModel)]="localBanner.warrantyTime" multiple="false"
              cancelText="Cancelar">
              <ion-option value="15 dias">15 dias</ion-option>
              <ion-option value="1 mês">1 mês</ion-option>
              <ion-option value="3 mêses">3 mêses</ion-option>
              <ion-option value="6 mêses">6 mêses</ion-option>
              <ion-option value="1 ano">1 ano</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <hr>

        <div padding></div>

        <div style="text-align: center">
          <button ion-button round icon-right [disabled]="!form.valid ||
            !canSelectServiceType" type="submit">
            Avançar
            <ion-icon name='arrow-forward'></ion-icon>
          </button>
        </div>

      </form>
    </div>

    <div *ngSwitchCase="'Serviço'">

      <h4 style="text-align: center; margin-right: 1.6rem;">Nos conte um pouco
        mais sobre o serviço do seu anuncio!</h4>
      <h4 style="text-align: center; margin-right: 1.6rem;">Se as perguntas não
        forem condisentes com seu serviço
        confira se você selecionou o tipo de serviço correto!</h4>

      <div *ngFor="let localCharacteristic of localCharacteristics">

        <ion-card *ngIf="localCharacteristic.bcTitle != null;"
          (click)="answerCharac(localCharacteristic.orderNumber-1)">
          <ion-card-header style="white-space: normal">
            <h2>{{ localCharacteristic.bcTitle }}</h2>
          </ion-card-header>

          <ng-container *ngIf="localCharacteristic.data.length != 0; else
            elseTemplate">
            <ion-list>
              <ion-item *ngFor="let data of localCharacteristic.data">
                <ion-icon name="return-right" item-start></ion-icon>
                <ion-label style="white-space: normal;">{{ data }}</ion-label>
              </ion-item>
            </ion-list>
            <h4 style="text-align: center; margin-right: 1.6rem; padding-bottom:
              2%;">(clique para alterar sua
              resposta)</h4>
          </ng-container>
          <ng-template #elseTemplate>
            <h4 style="text-align: center; margin-right: 1.6rem; padding-bottom:
              2%;">(clique para responder)</h4>
          </ng-template>

        </ion-card>

      </div>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round icon-right (click)="saveCarac()" [disabled]="!this.localCharacteristicsReady">
              Avançar
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Endereço'">

      <hr>
      <ng-container *ngIf="selectedServiceType.requiredHomeDelivery; else
        elseTemplate">
        <h6 style="text-align: center; margin-right: 1.6rem;">O tipo de serviço:
          {{selectedServiceType.title}}, exije o
          atendimento em domicílio.</h6>
        <ion-item no-lines>
          <ion-toggle [ngModel]="true" disabled name="acceptHomeDelivery" item-start></ion-toggle>
          <ion-label>Atendimento em domicílio</ion-label>
          <ion-icon name="ios-home" item-end></ion-icon>
        </ion-item>
      </ng-container>
      <ng-template #elseTemplate>
        <h6 style="text-align: center; margin-right: 1.6rem;">Selecione se este
          anuncio aceitará Atendimento em
          domicilio.</h6>
        <ion-item no-lines>
          <ion-toggle (ngModelChange)="toggleAcceptHomeDelivery()" [ngModel]="localBanner.acceptHomeDelivery"
            name="acceptHomeDelivery" item-start></ion-toggle>
          <ion-label>Atendimento em domicílio</ion-label>
          <ion-icon *ngIf="localBanner.acceptHomeDelivery" name="ios-home" item-end></ion-icon>
          <ion-icon *ngIf="!localBanner.acceptHomeDelivery" name="ios-home-outline" item-end></ion-icon>
        </ion-item>
      </ng-template>
      <hr>

      <h6 style="text-align: center; margin-right: 1.6rem;">Selecione o endereço
        que será utilizado como base para este
        anuncio</h6>
      <form #form="ngForm" (ngSubmit)="saveAddress()">

        <ion-list radio-group required name="selectedAddress" [(ngModel)]="localBanner.addressId">
          <ion-list-header>
            Endereço
          </ion-list-header>
          <ion-item *ngFor="let address of addresses">
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.homeAdressId" name="home" item-start></ion-icon>
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.workAdressId" name="briefcase" item-start></ion-icon>
            <ion-icon *ngIf="address.id != UserDataCtrl.localUser.workAdressId
              && address.id != UserDataCtrl.localUser.homeAdressId" name="pin" item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2 *ngIf="address.id == UserDataCtrl.localUser.homeAdressId">Casa</h2>
              <h2 *ngIf="address.id == UserDataCtrl.localUser.workAdressId">Trabalho</h2>
              <h2>{{address.street}}, {{ address.numero }}</h2>
              <p>{{ address.complemento }}, {{ address.bairro }}</p>
              <p>({{ address.cep }}), {{ address.city }} - {{ address.state }}</p>
            </ion-label>
            <ion-radio [value]="address.id"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-auto>
              <button ion-button round icon-left (click)="goBack()">
                <ion-icon name='arrow-back'></ion-icon>
                Voltar
              </button>
            </ion-col>
            <ion-col col-auto>
              <div *ngIf="!form.valid">
                <button ion-button round icon-right disabled="disabled">
                  Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
              <div *ngIf="form.valid">
                <button ion-button round icon-right type="submit">
                  Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
    </div>

    <div *ngSwitchCase="'Fotos'">

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let pic of tempPics" col-6 no-padding>
            <ion-card (press)="Pic_Options(pic)">
              <img [src]="pic.thumbnailUrl" />
              <ion-row no-padding>
                <ion-col text-left>
                  <h1 style="font-size: 1.8rem; padding-left: 10%; padding-top:
                    10%;">
                    {{ (this.pics_findIndexByInfo(pic.info) + 1) }}ª
                  </h1>
                </ion-col>
                <ion-col text-right>
                  <button ion-button end clear small icon-start (click)="Pic_Options(pic)">
                    <ion-icon name='more'></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


      <h6 *ngIf="tempPics.length == 0" style="text-align: center; margin-right:
        1.6rem;">Selecionar fotos</h6>

      <ng-container *ngIf="tempPics.length <localUserPlan.maxPicsPerBanner; else
        elseTemplateB">
        <ion-row no-padding>
          <ion-col>
            <button ion-button outline icon-start (click)="addPicFromCamera()">
              <ion-icon name='camera'></ion-icon>
              Tirar foto
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button outline icon-start (click)="addPicFromGallery()">
              <ion-icon name='images'></ion-icon>
              Da galeria
            </button>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplateB>
        <h6 style="text-align: center; margin-right: 1.6rem;">Numero máximo de
          fotos do seu plano alcançado!</h6>
      </ng-template>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <div *ngIf="tempPics.length == 0">
              <button ion-button round icon-right disabled="disabled">
                Finalizar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </div>
            <div *ngIf="tempPics.length> 0">
              <button ion-button round icon-right (click)="finish()">
                Finalizar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

</ion-content>