page-my-order-create-scheduling {

    .inactive{
        background-color: #f5f5f5 !important;
    }

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
        color: black !important;

    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-list button {
        background-color: transparent !important;
    }

    .mini-avatar{
        margin: -40px 0px 0px 0px;
    }

    .mini-avatar img{
        width: 40px;
        height: 40px;
    }

    .order-address ion-item{
        padding-left: 6px !important;        
    }

    .order-address ion-label {
        margin: 0 !important
    }

}
