<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Criar Orçamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
            <ion-col col-3>
              <ion-thumbnail>
                <img src="{{localOrder.banner.thumbnail}}" />
                <ion-avatar class="mini-avatar">
                  <img src="{{localOrder.clientThumbnailUrl}}" />
                </ion-avatar>
              </ion-thumbnail>
            </ion-col>
            <ion-col col-9>
              <div *ngIf="localOrder.address != null">
                <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
                <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
                <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
              </div>
              <div *ngIf="localOrder.address == null">
                <h2>{{ localOrder.banner.address.street}}, {{ localOrder.banner.address.numero }}</h2>
                <p>{{ localOrder.banner.address.complemento }}, {{ localOrder.banner.address.bairro }}</p>
                <p>({{ localOrder.banner.address.cep }}), {{ localOrder.banner.address.city }} - {{ localOrder.banner.address.state }}</p>
              </div>
            </ion-col>  
        </ion-row>
      </div>
      <div *ngIf="localOrder.request != null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;" src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
              <div *ngIf="localOrder.address != null">
                <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
                <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
                <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
              </div>
              <div *ngIf="localOrder.address == null">
                <h2>{{ localOrder.request.address.street}}, {{ localOrder.request.address.numero }}</h2>
                <p>{{ localOrder.request.address.complemento }}, {{ localOrder.request.address.bairro }}</p>
                <p>({{ localOrder.request.address.cep }}), {{ localOrder.request.address.city }} - {{ localOrder.request.address.state }}</p>
              </div>
          </ion-col>  
        </ion-row>
      </div>
    </ion-item>
  </ion-card>

  <form #form="ngForm" (ngSubmit)="save()">

    <ion-list no-lines>
      <ion-list-header>
        <ion-label>Orçamento</ion-label>
      </ion-list-header>


      <ion-item >
        <ion-label floating>Preço</ion-label>
        <ion-input required type="tel" [(ngModel)]="localPrice" name="price" (ionBlur)="CheckPrice()" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Metodos de pagamento</ion-label>
        <ion-select required name="payMethods" [(ngModel)]="localBudget.payMethods" multiple="true" cancelText="Cancelar">
          <ion-option value="Dinheiro">Dinheiro</ion-option>
          <ion-option value="Transferencia Bancaria">Transferencia Bancaria</ion-option>
          <ion-option value="Cartão (Debito)">Cartão (Debito)</ion-option>
          <ion-option value="Cartão (Credito)">Cartão (Credito)</ion-option>
          <ion-option value="PicPay">PicPay</ion-option>
        </ion-select>
      </ion-item>

      <hr>
      <ion-item no-lines>
        <ion-toggle (ngModelChange)="toggleWarranty()" [ngModel]="localBudget.warranty" name="warranty" item-start></ion-toggle>
        <ion-label>Garantia</ion-label>
        <ion-icon *ngIf="!localBudget.warranty" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localBudget.warranty" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localBudget.warranty">
        <ion-item no-lines  >
          <ion-label floating>Tempo de garantia</ion-label>
          <ion-select required name="warrantyTime" [(ngModel)]="localBudget.warrantyTime" multiple="false" cancelText="Cancelar">
            <ion-option value="15 dias">15 dias</ion-option>
            <ion-option value="1 mês">1 mês</ion-option>
            <ion-option value="3 mêses">3 mêses</ion-option>
            <ion-option value="6 mêses">6 mêses</ion-option>
            <ion-option value="1 ano">1 ano</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <hr>

      <ion-item>
        <ion-label floating>
          Descrição
          <!-- <div *ngIf="this.descriptionCaracCountMin > 0" style="color: red">Digite pelomenos mais {{ this.descriptionCaracCountMin }} Caracteres</div> -->
        </ion-label>
        <!-- <ion-textarea required type="text" [(ngModel)]="localBudget.description" (ionBlur)="descriptionOnInput()" name="Description" minlength="10" maxlength="250"></ion-textarea> -->
        <ion-textarea type="text" [(ngModel)]="localBudget.description" name="Description" maxlength="250"></ion-textarea>
      </ion-item>

    </ion-list>

    <div style="text-align: center">
      <button ion-button round icon-right [disabled]="!form.valid" type="submit">
        Salvar
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </div>

  </form>

</ion-content>