<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Meu horário de atendimento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="!showSplash">

    <ion-list no-lines>

      <h4 style="text-align: center; margin: 6%; padding: 2%">O economizei irá divulgar o horário definido aqui para
        seus futuros clientes!</h4>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleDom()" [ngModel]="localOfficeHours.dom.work" item-start></ion-toggle>
        <ion-label>Domingo</ion-label>
        <ion-icon *ngIf="!localOfficeHours.dom.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.dom.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.dom.work">
        <ion-item>
          <ion-label *ngIf="(dom.lower < 10)">das 0{{dom.lower}} ás {{dom.upper}} horas</ion-label>
          <ion-label *ngIf="(dom.lower >= 10)">das {{dom.lower}} ás {{dom.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="dom" (ionChange)="checkDom()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleSeg()" [ngModel]="localOfficeHours.seg.work" item-start></ion-toggle>
        <ion-label>Segunda-feira</ion-label>
        <ion-icon *ngIf="!localOfficeHours.seg.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.seg.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.seg.work">
        <ion-item>
          <ion-label *ngIf="(seg.lower < 10)">das 0{{seg.lower}} ás {{seg.upper}} horas</ion-label>
          <ion-label *ngIf="(seg.lower >= 10)">das {{seg.lower}} ás {{seg.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="seg" (ionChange)="checkSeg()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleTer()" [ngModel]="localOfficeHours.ter.work" item-start></ion-toggle>
        <ion-label>Terça-feira</ion-label>
        <ion-icon *ngIf="!localOfficeHours.ter.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.ter.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.ter.work">
        <ion-item>
          <ion-label *ngIf="(ter.lower < 10)">das 0{{ter.lower}} ás {{ter.upper}} horas</ion-label>
          <ion-label *ngIf="(ter.lower >= 10)">das {{ter.lower}} ás {{ter.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="ter" (ionChange)="checkTer()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleQua()" [ngModel]="localOfficeHours.qua.work" item-start></ion-toggle>
        <ion-label>Quarta-feira</ion-label>
        <ion-icon *ngIf="!localOfficeHours.qua.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.qua.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.qua.work">
        <ion-item>
          <ion-label *ngIf="(qua.lower < 10)">das 0{{qua.lower}} ás {{qua.upper}} horas</ion-label>
          <ion-label *ngIf="(qua.lower >= 10)">das {{qua.lower}} ás {{qua.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="qua" (ionChange)="checkQua()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleQui()" [ngModel]="localOfficeHours.qui.work" item-start></ion-toggle>
        <ion-label>Quinta-feira</ion-label>
        <ion-icon *ngIf="!localOfficeHours.qui.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.qui.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.qui.work">
        <ion-item>
          <ion-label *ngIf="(qui.lower < 10)">das 0{{qui.lower}} ás {{qui.upper}} horas</ion-label>
          <ion-label *ngIf="(qui.lower >= 10)">das {{qui.lower}} ás {{qui.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="qui" (ionChange)="checkQui()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleSex()" [ngModel]="localOfficeHours.sex.work" item-start></ion-toggle>
        <ion-label>Sexta-feira</ion-label>
        <ion-icon *ngIf="!localOfficeHours.sex.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.sex.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.sex.work">
        <ion-item>
          <ion-label *ngIf="(sex.lower < 10)">das 0{{sex.lower}} ás {{sex.upper}} horas</ion-label>
          <ion-label *ngIf="(sex.lower >= 10)">das {{sex.lower}} ás {{sex.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="sex" (ionChange)="checkSex()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

      <ion-item>
        <ion-toggle (ngModelChange)="toggleSab()" [ngModel]="localOfficeHours.sab.work" item-start></ion-toggle>
        <ion-label>Sabado</ion-label>
        <ion-icon *ngIf="!localOfficeHours.sab.work" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localOfficeHours.sab.work" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>
      <div *ngIf="localOfficeHours.sab.work">
        <ion-item>
          <ion-label *ngIf="(sab.lower < 10)">das 0{{sab.lower}} ás {{sab.upper}} horas</ion-label>
          <ion-label *ngIf="(sab.lower >= 10)">das {{sab.lower}} ás {{sab.upper}} horas</ion-label>
          <ion-range min="00" max="24" snaps="true" step="1" dualKnobs="true" pin="true" [(ngModel)]="sab" (ionChange)="checkSab()"
            color="economizei_Yellow">
            <ion-icon range-left name="sunny"></ion-icon>
            <ion-icon range-right name="moon"></ion-icon>
          </ion-range>
        </ion-item>
      </div>

      <hr>

    </ion-list>

    <div style="text-align: center">
      <button ion-button round icon-right (click)="saveWorkHoursConfirmation()">
        Salvar
        <ion-icon name='checkmark'></ion-icon>
      </button>
    </div>

    <br>

  </div>

</ion-content>