<div class="progress-outer">
  <div *ngIf="goodProgress < 100 && goodProgress > 0" class="good-progress-inner" [style.width]="goodProgress + '%'">
      {{goodProgress}}%
  </div>
  <div *ngIf="badProgress < 100 && badProgress > 0" class="bad-progress-inner" [style.width]="badProgress + '%'">
    {{badProgress}}%
  </div>
  <div *ngIf="goodProgress == 100" class="good-progress-inner-full" [style.width]="goodProgress + '%'">
      {{goodProgress}}%
  </div>
  <div *ngIf="badProgress == 100" class="bad-progress-inner-full" [style.width]="badProgress + '%'">
    {{badProgress}}%
  </div>
</div>