<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<ion-title>Novo SAC</ion-title>
	</ion-navbar>
	<ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
		<ion-segment [(ngModel)]="segment" color="economizei_segment">
			<ion-segment-button value="Categorizacao" disabled>Categorização</ion-segment-button>
			<ion-segment-button value="Dados" disabled>Dados</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<div [ngSwitch]="segment" style="padding-top:10px;">
		<div *ngSwitchCase="'Categorizacao'">

			<h6 style="text-align: center; margin-right: 1.6rem;">
				Selecione os dados para categorizar seu SAC
			</h6>

			<ion-item>
				<ion-label floating>Tipo do seu SAC</ion-label>
				<ion-select required [(ngModel)]="sacType" name="sacType" interface="action-sheet"
					cancelText="Cancelar">
					<ion-option *ngFor="let ST of sacTypes" [value]="ST.type">
						{{ ST.title }}
					</ion-option>
				</ion-select>
			</ion-item>
			<br />

			<ion-item>
				<ion-label floating>Serviço de Negocio</ion-label>
				<ion-select required [(ngModel)]="selectedSacBR" name="selectedSacBR" interface="action-sheet"
					cancelText="Cancelar" (ionBlur)="selectSBR()">
					<ion-option *ngFor="let SBR of localSacBusinessRoles" [value]="SBR">
						{{ SBR.name }}
					</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label floating>Categoria</ion-label>
				<ion-select required [(ngModel)]="selectedSacCat" name="selectedSacCat"
					[disabled]="!canSelectSacCategory" interface="action-sheet" cancelText="Cancelar"
					(ionBlur)="selectSC()">
					<ion-option *ngFor="let sacCat of localSacCategories" [value]="sacCat">
						{{ sacCat.name }}
					</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="needToSelectSacSubCategory">
				<ion-label floating>Sub Categoria</ion-label>
				<ion-select required [(ngModel)]="selectedSacSubCat" name="selectedSacSubCat"
					[disabled]="!canSelectSacSubCategory" interface="action-sheet" cancelText="Cancelar">
					<ion-option *ngFor="let sacSubCat of localSacSubCategories" [value]="sacSubCat">
						{{ sacSubCat.name }}
					</ion-option>
				</ion-select>
			</ion-item>

			<div padding></div>

			<div style="text-align: center">
				<button *ngIf="loadingQuery" ion-button round disabled>
					<div class="item-splash-spinner">
						<div class="bounce1" style="background-color: white;"></div>
						<div class="bounce2" style="background-color: white;"></div>
						<div class="bounce3" style="background-color: white;"></div>
					</div>
				</button>

				<button *ngIf="!loadingQuery" ion-button round icon-right [disabled]="!canSaveCategorization()"
					(click)="goForward()">
					Avançar
					<ion-icon name='arrow-forward'></ion-icon>
				</button>
			</div>

		</div>


		<div *ngSwitchCase="'Dados'">

			<h6 style="text-align: center; margin-right: 1.6rem;">
				Preencha os dados sobre seu SAC
			</h6>

			<form #form="ngForm" (ngSubmit)="save()">

				<br />
				<ion-item>
					<ion-label floating>Título</ion-label>
					<ion-input required type="text" [(ngModel)]="newSac.title" name="Title" minlength="3"
						maxlength="50">
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>
						Descrição

					</ion-label>
					<ion-textarea required type="text" [(ngModel)]="newSac.description" name="Description"
						minlength="10" maxlength="200">
					</ion-textarea>
				</ion-item>
				<br />

				<div padding></div>

				<ion-grid>
					<ion-row justify-content-center>
						<ion-col col-auto>
							<button ion-button round icon-left (click)="goBack()">
								<ion-icon name='arrow-back'></ion-icon>
								Voltar
							</button>
						</ion-col>
						<ion-col col-auto>
							<button ion-button round icon-right [disabled]="!form.valid" (click)="save()">
								Finalizar
								<ion-icon name='arrow-forward'></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-grid>

			</form>
		</div>

	</div>

</ion-content>