page-new-sac {
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  .item-splash-spinner > div {
    width: 8px;
    height: 8px;
    background-color: #004c90;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .item-splash-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .item-splash-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
