<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeInUp">
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Caracteristicas do serviço anunciado</ion-label>
        </ion-list-header>

        <ion-list *ngIf="showSplash">
          <lottie-animation-view [options]="lottieSplash" [width]="150" [height]="150">
          </lottie-animation-view>
        </ion-list>


        <ion-item class="banner-characteristics">
          
          <div class="characteristics_info">
            <ion-slides [parallax]="true" [spaceBetween]="-50" [centeredSlides]="true">

              <ion-slide *ngFor="let characteristic of characteristics">
                <ion-card>
                  <ion-card-header style="white-space: normal">
                    <h2 style="font: 1.9rem; font-weight: 600">{{ characteristic.title }}</h2>
                  </ion-card-header>
                  <ion-list>
                    <ng-container *ngIf="characteristic.rcDataSelection == 'checkbox';
                          else elseTemplate1">
                      <ion-item *ngFor="let data of characteristic.data">
                        <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
                        <ion-label style="white-space: normal;">{{ data }}</ion-label>
                      </ion-item>
                    </ng-container>
                    <ng-template #elseTemplate1>
                      <ion-item>
                        <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
                        <ion-label style="white-space: normal;">{{ characteristic.data }}</ion-label>
                      </ion-item>
                    </ng-template>
                  </ion-list>
                </ion-card>

              </ion-slide>
            </ion-slides>
          </div>
        </ion-item>


        <div style="text-align: center">
          <button ion-button round (click)="close()">
            Fechar
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>