page-banner-characs-detail-modal {
  ion-content {
    background-color: transparent !important;
  }

  .background {
    width: 100%;
    height: 100%;
  }

  .background::after {
    content: "";
    background: grey;
    opacity: 0.4;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }

  .floating-card {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    // padding: 0px 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

  button[custom] {
    background: transparent;
    height: 100px;
    box-shadow: 0 0 0 0 !important;
  }

  button[custom] ion-icon {
    font-size: 50px;
  }

  button[custom] ion-label {
    white-space: unset !important;
    color: black;
    position: absolute;
    margin-top: 40%;
    text-transform: none;
  }

  button[custom].selected {
    background-color: color($colors, economizei_Background, base) !important;
  }

  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
    color: black !important;
    border-top: unset !important;
  }

  ion-item.banner-characteristics {
    background-color: transparent;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    h6 {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: normal;
    }

    .characteristics_info {
      ion-slides {
        margin-bottom: 1.6rem;
        height: unset;
        ion-slide {
          overflow-y: auto;
          padding: 0px 20px;
          .card {
            border-radius: 15px;
          }
        }
      }
    }
  }



}
