<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="300"
      [height]="300">
    </lottie-animation-view>
  </div>

  <ion-grid *ngIf="!showSplash">

    <ion-row justify-content-center>
      <ion-col col-auto align-self-center>
        <ion-avatar>
          <div class="hm_myprofile_photo">
            <img [src]="tempUser.pic.thumbnailUrl" style="width:100px;
              height:100px; display: inline-block !important;">
            <button ion-button icon-only class="hm_edit_circle"
              (click)="editUserProfPic()">
              <img src="assets/imgs/hm_edit_circle.png">
            </button>
          </div>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <form [formGroup]="userForm">


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="tempUser.firstName"
              [formControl]="userForm.controls['firstName']" name="firstName"></ion-input>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['firstName'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O nome não pode
              conter números ou caracteres especiais.')">
              <ion-label>Nome inválido!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>Sobrenome</ion-label>
            <ion-input type="text" [(ngModel)]="tempUser.lastName"
              [formControl]="userForm.controls['lastName']"
              name="lastName"></ion-input>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['lastName'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O Sobrenome não
              pode conter números ou caracteres especiais.')">
              <ion-label>Sobrenome inválido!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>CPF</ion-label>
            <ion-input [(ngModel)]="tempUser.cpf"
              [formControl]="userForm.controls['cpf']" type="tel"
              [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
          </ion-item>
          <div *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['cpf'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O cpf deve estar
              no Formato 999.999.999-99, digite com os pontos e traço!')">
              <ion-label>CPF invalido!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label>Genero</ion-label>
            <ion-select [(ngModel)]="tempUser.gender"
              [formControl]="userForm.controls['gender']"
              name="gender" interface="action-sheet" cancelText="Cancelar">
              <ion-option value="female">Feminino</ion-option>
              <ion-option value="male">Masculino</ion-option>
              <ion-option value="other">Outro</ion-option>
              <ion-option value="ND">Não declarar</ion-option>
            </ion-select>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['gender'])"
            class="validator-error">
            <ion-item>
              <ion-label>Campo Obrigatório</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label>Data de nascimento</ion-label>
            <ion-datetime [(ngModel)]="localBirthDate"
              [formControl]="userForm.controls['birthDate']"
              name="birthDate"
              displayFormat="D MMM YYYY"
              [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
              [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
              [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
              [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
              [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
              [doneText]="utilCtrl.ionDateTimePandH.doneText">
            </ion-datetime>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['birthDate'])"
            class="validator-error">
            <ion-item>
              <ion-label>Campo Obrigatório</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row class="type-row" justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-list radio-group name="type" [(ngModel)]="tempUser.type"
            [formControl]="userForm.controls['type']">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Cliente</ion-label>
                  <ion-radio [value]="1"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Prestador de Serviço</ion-label>
                  <ion-radio [value]="10"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>Profissão</ion-label>
            <ion-input name="job" type="text" [(ngModel)]="tempUser.job"
              [formControl]="userForm.controls['job']"></ion-input>
          </ion-item>
          <div *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['job'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('A sua Profissão
              não pode conter números ou caracteres especiais.')">
              <ion-label>Profissão inválida!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>Telefone de trabalho</ion-label>
            <ion-input name="workPhone" type="tel" [brmasker]="{phone: true}"
              [(ngModel)]="tempUser.workPhone"
              [formControl]="userForm.controls['workPhone']"></ion-input>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['workPhone'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O Celular deve
              estar no Formato (85) 988888888.')">
              <ion-label>Telefone inválido!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <ion-item>
            <ion-label floating>Número Celular </ion-label>
            <ion-input name="cellPhone" type="tel" [brmasker]="{phone: true}"
              [(ngModel)]="tempUser.cellPhone"
              [formControl]="userForm.controls['cellPhone']"></ion-input>
          </ion-item>
          <div
            *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['cellPhone'])"
            class="validator-error">
            <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O Celular deve
              estar no Formato (85) 988888888.')">
              <ion-label>Celular inválido!</ion-label>
              <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center>
        <ion-col col-12 align-self-center>
          <button ion-button block style="border-radius: 30px" color="primary"
            [disabled]="!canSave()" (click)="tryUpdate()">
            Salvar
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>