page-edit-user-profile {
  ion-grid {
    padding: 20px !important;
    ion-col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .hm_myprofile_photo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: relative;
    }
    .hm_myprofile_photo img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    .hm_edit_circle {
      background-color: transparent;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      z-index: 99999999999999999999;
      top: 0px;
      right: 0px;
    }
    .hm_edit_circle img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .invite-card {
      border-radius: 15px;
      .header {
        display: flex;
        width: 100%;
        padding: 2.5%;
        .user-img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border-width: 2px;
          border-color: #a4abb3;
          border-style: solid;
        }
        .user-name {
          padding: 2.5%;
        }
        .type-badge {
          background-color: #a4abb3 !important;
          height: fit-content;
          right: 5%;
          position: absolute;
        }
      }
      h1,
      h2,
      h4,
      h6,
      p {
        white-space: initial;
        margin: 6px !important;
      }
    }
    .type-row {
      ion-col {
        padding: unset !important;
      }
      ion-list {
        padding-top: 10px;
        background-color: transparent;
        margin-bottom: 0px;
      }
    }
    ion-item {
      background: transparent !important;
      color: darkblue !important;
      padding: unset !important;
    }
    .validator-error {
      animation-name: fadeInDown; //-webkit-animation-duration: 0.2s !important;
      animation-duration: 0.2s !important; //-webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      background-color: white;
      border-color: color($colors, danger, base) !important;
      border-style: solid;
      border-width: 0.5px;
      z-index: 99998;
      right: 0;
      border-radius: 0px 0px 10px 10px;
      bottom: -38px;
      ion-item {
        z-index: 99999;
        .item-inner {
          border-bottom: unset !important;
        }
        ion-label {
          color: color($colors, danger, base) !important;
          margin: 10px 8px 10px 8px !important;
        }
        ion-icon {
          color: color($colors, danger, base) !important;
          margin: 0px 8px 0px 0px !important;
        }
      }
    }
  }
}
