page-change-plan-signature-credit-card {
  .text-input[disabled] {
    opacity: unset !important;
  }

  .plan-card {
    border-radius: 12px;
    display: inline-block;
    background: white;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }

  ion-slides {
    margin-bottom: 1.6rem;
    height: unset;
  }

  ion-slide {
    overflow-y: auto;
    padding: 0px 32px;
  }

  .credit-card-card {
    margin: 0px 0px 20px 0px !important;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

    .actual-card-card {
      position: absolute;
      right: 3%;
      height: 60px;
      width: 80px;
      margin: unset;
      background-color: #d8d8d8;
      box-shadow: unset;
      display: table;
      h3 {
        font-weight: bold;
        font-size: 2.5rem;  
        vertical-align: middle;
        display: table-cell;
      }
    }

    .selected-card-icon {
      position: absolute;
      font-size: 60px;
      right: 0px;
      top: -10px;
      color: #00be71;
    }

    .un-selected-card-icon {
      position: absolute;
      font-size: 60px;
      right: 0px;
      top: -10px;
      color: grey;
      opacity: 0.4;
    }

    .dummy-card-brand {
      height: 60px;
      margin: unset;
      background-color: #d8d8d8;
      box-shadow: unset;
    }
    .card-brand {
      height: 60px;
    }
    .add-number {
      font-size: 120%;
      font-weight: bold;
    }
    .card-number {
      padding-top: 2%;
      font-size: 120%;
      font-family: crediCardFont;
    }
    .card-ownerName {
      font-size: unset;
    }
    .card-expiringDate {
      font-size: unset;
    }
  }

  .visa {
    background: linear-gradient(
      45deg,
      rgba(35, 44, 111, 1) 0%,
      rgba(23, 66, 170, 1) 50%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .mastercard {
    background: linear-gradient(
      45deg,
      rgba(61, 82, 107, 1) 0%,
      rgba(65, 91, 114, 1) 50%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .hipercard {
    background: linear-gradient(
      45deg,
      rgba(194, 32, 32, 1) 0%,
      rgba(120, 0, 0, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .amex {
    background: linear-gradient(
      45deg,
      rgba(149, 188, 157, 1) 0%,
      rgba(160, 204, 169, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .elo {
    background: linear-gradient(
      45deg,
      rgba(194, 32, 32, 1) 0%,
      rgba(120, 0, 0, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .diners {
    background: linear-gradient(
      45deg,
      rgba(190, 190, 190, 1) 0%,
      rgba(206, 206, 206, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: black;
    }
  }
}
