<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeIn">

      <h3 title *ngIf="title.length > 0">{{title}}</h3>

        <ion-grid *ngIf="lottie && message.length > 0;" >
          <ion-row justify-content-center>
            <ion-col col-4>
              <lottie-animation-view
                [options]="lottieOptions"
                [width]="'100%'"
                [height]="80">
              </lottie-animation-view>      
            </ion-col>
            <ion-col col-8>
              <h6 message-1>{{message}}</h6> 
            </ion-col>                    
          </ion-row>
        </ion-grid>

        <h6 *ngIf="!lottie && message.length > 0;" message>{{message}}</h6> 
      
        <ion-grid *ngIf="lottie && message.length == 0;" >
          <ion-row justify-content-center>
            <ion-col col-4>
              <lottie-animation-view
                [options]="lottieOptions"
                [width]="'100%'"
                [height]="80">
              </lottie-animation-view>      
            </ion-col>                  
          </ion-row>
        </ion-grid>
      
      <ion-grid>
        <ion-row justify-content-end>
          <ion-col col-auto no-padding>
            <button clear ion-button (click)="close()">
              OK
            </button>
          </ion-col>                    
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
