page-ui-feed-back-alert-modal {

    ion-content{
        background-color: transparent !important;
    }

    .background {
        padding: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
  
    .background::after {
        content: '';
        background: grey;
        opacity: 0.4;
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
  
    @media (min-width: 900px) {
        .background {
        padding: 0 0 25px;
        }
    }
  
    .floating-card {
        background-color: #fafafa;
        border-radius: 10px;
        position: relative;
        width: 100%;
        z-index: 10;
        -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    }


    h3[title]{
        white-space: normal !important;
        text-align: center !important;
        padding: 0px 20px;
    }

    h6[message]{
        margin: 0px;
        padding: 25px 25px 0px 25px;
        text-align: center;
    }

    h6[message-1]{
        margin: 0px;
        text-align: initial;
    }

}
