<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Meus Cartões</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="addCreditCardPage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher *ngIf="!showSplash" (ionRefresh)="tryToRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="localCreditCards.length > 0; else elseTemplate">
    <ion-grid no-padding>
      <ion-row>
        <ion-col *ngFor="let cc of localCreditCards" col-12 no-padding style="text-align: center;">
          <ion-card (tap)="cardDetail(cc)" (press)="cardOptions(cc)" class="credit-card-card" [ngClass]="{
            'visa': cc.brand == 'visa',
           'mastercard': cc.brand == 'mastercard',
           'amex': cc.brand == 'amex',
           'elo': cc.brand == 'elo',
           'hipercard': cc.brand == 'hipercard',
           'diners': cc.brand == 'diners'
          }">
            <ion-grid>
              <ion-row>
                <ion-col col-5>
                  <ion-card *ngIf="cc.brand == ''" class="dummy-card-brand"></ion-card>
                  <img *ngIf="cc.brand == 'visa'" class="card-brand" src="assets/imgs/credit-cards-brands/visa.svg">
                  <img *ngIf="cc.brand == 'mastercard'" class="card-brand" src="assets/imgs/credit-cards-brands/mastercard.svg">
                  <img *ngIf="cc.brand == 'amex'" class="card-brand" src="assets/imgs/credit-cards-brands/amex.svg">
                  <img *ngIf="cc.brand == 'elo'" class="card-brand" src="assets/imgs/credit-cards-brands/elo.svg">
                  <img *ngIf="cc.brand == 'hipercard'" class="card-brand" src="assets/imgs/credit-cards-brands/hipercard.svg">
                  <img *ngIf="cc.brand == 'diners'" class="card-brand" src="assets/imgs/credit-cards-brands/diners.svg">
                </ion-col>
              </ion-row>
              <div style="margin-top: 60px;">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="card-number">•••• •••• •••• {{cc.number.substr(12, 4)}}</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-8>
                    <h1 class="card-ownerName">{{cc.ownerName}}</h1>
                  </ion-col>
                  <ion-col col-4>
                    <h1 class="card-expiringDate">{{cc.expirationMonth}}/{{cc.expirationYear.substr(2, 2)}}</h1>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #elseTemplate>
    <h4 style="text-align: center; margin: 6%;">Você ainda não possui cartões!</h4>

  </ng-template>

</ion-content>
