<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Criar Agendamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail>
              <img src="{{localOrder.banner.thumbnail}}" />
              <ion-avatar class="mini-avatar">
                <img src="{{localOrder.clientThumbnailUrl}}" />
              </ion-avatar>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="localOrder.address != null">
              <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero
                }}</h2>
              <p>{{ localOrder.address.complemento }}, {{
                localOrder.address.bairro }}</p>
              <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
                {{ localOrder.address.state }}</p>
            </div>
            <div *ngIf="localOrder.address == null">
              <h2>{{ localOrder.banner.address.street}}, {{
                localOrder.banner.address.numero }}</h2>
              <p>{{ localOrder.banner.address.complemento }}, {{
                localOrder.banner.address.bairro }}</p>
              <p>({{ localOrder.banner.address.cep }}), {{
                localOrder.banner.address.city }} - {{
                localOrder.banner.address.state }}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="localOrder.request != null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;"
                src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="localOrder.address != null">
              <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero
                }}</h2>
              <p>{{ localOrder.address.complemento }}, {{
                localOrder.address.bairro }}</p>
              <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
                {{ localOrder.address.state }}</p>
            </div>
            <div *ngIf="localOrder.address == null">
              <h2>{{ localOrder.request.address.street}}, {{
                localOrder.request.address.numero }}</h2>
              <p>{{ localOrder.request.address.complemento }}, {{
                localOrder.request.address.bairro }}</p>
              <p>({{ localOrder.request.address.cep }}), {{
                localOrder.request.address.city }} - {{
                localOrder.request.address.state }}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-card>

  <ion-list no-lines>
    <ion-list-header>
      <ion-label>Horário</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Dia do serviço</ion-label>
      <ion-datetime name="serviceDate" [(ngModel)]="localDate"
        (ngModelChange)="checkDate()"
        [min]="minDate" [max]="maxDate"
        [displayFormat]="utilCtrl.ionDateTimePandH.displayFormat"
        [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
        [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
        [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
        [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
        [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
        [doneText]="utilCtrl.ionDateTimePandH.doneText">
      </ion-datetime>
    </ion-item>
    <div *ngIf="localDateValid">
      <ion-item>
        <ion-label>Hora do serviço</ion-label>
        <ion-datetime name="servicehour" displayFormat="HH:mm"
          [(ngModel)]="localTime" (ngModelChange)="checkTime()"
          [hourValues]="localHourValues"
          [minuteValues]="utilCtrl.ionDateTimePandH.minuteValues"
          [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
          [doneText]="utilCtrl.ionDateTimePandH.doneText">
        </ion-datetime>
      </ion-item>
    </div>


    <ng-container *ngIf="acceptHomeDelivery; else elseTemplate4242">
      <ng-container *ngIf="requiredHomeDelivery; else elseTemplate">
        <ion-list-header>
          <ion-label>Atendimento em domicilio Obrigatorio</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon name="ios-pin" disabled item-start></ion-icon>
          <ion-label>Atendimento em domicilio</ion-label>
          <ion-toggle disabled [ngModel]="localSchedule.homeDelivery"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon *ngIf="localSchedule.geoCheckin == true" name="ios-pin"
            item-start></ion-icon>
          <ion-icon *ngIf="localSchedule.geoCheckin == false"
            name="ios-pin-outline" item-start></ion-icon>
          <ion-label>Check-in via GPS</ion-label>
          <ion-toggle (ngModelChange)="toggleCheckIn()"
            [ngModel]="localSchedule.geoCheckin"></ion-toggle>
        </ion-item>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-list-header>
          <ion-label>Atendimento em domicilio Opcional</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon *ngIf="localSchedule.homeDelivery == true" name="ios-home"
            item-start></ion-icon>
          <ion-icon *ngIf="localSchedule.homeDelivery == false"
            name="ios-home-outline" item-start></ion-icon>
          <ion-label>Atendimento em domicilio</ion-label>
          <ion-toggle (ngModelChange)="toggleHomeDelivery()"
            [ngModel]="localSchedule.homeDelivery"></ion-toggle>
        </ion-item>
        <div *ngIf="localSchedule.homeDelivery">
          <ion-item>
            <ion-icon *ngIf="localSchedule.geoCheckin == true" name="ios-pin"
              item-start></ion-icon>
            <ion-icon *ngIf="localSchedule.geoCheckin == false"
              name="ios-pin-outline" item-start></ion-icon>
            <ion-label>Check-in via GPS</ion-label>
            <ion-toggle (ngModelChange)="toggleCheckIn()"
              [ngModel]="localSchedule.geoCheckin"></ion-toggle>
          </ion-item>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #elseTemplate4242>
      <ion-list-header>
        <ion-label>Atendimento em domicílio Indisponivel</ion-label>
      </ion-list-header>
      <h6 style="text-align: center; margin-right: 1.6rem;">O cliente terá de se
        deslocar até o endereço do anuncio!</h6>
      <ion-item>
        <ion-icon name="ios-home-outline" disabled item-start></ion-icon>
        <ion-label>Atendimento em domicílio</ion-label>
        <ion-toggle disabled [ngModel]="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-pin-outline" item-start></ion-icon>
        <ion-label>Check-in via GPS</ion-label>
        <ion-toggle disabled [ngModel]="false"></ion-toggle>
      </ion-item>
    </ng-template>





  </ion-list>

  <div style="text-align: center">
    <button ion-button round icon-right [disabled]="!scheduleReady"
      (click)="save()">
      Salvar
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </div>

</ion-content>