<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes do prestador</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="toggleFilters()">
        <ion-icon large name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div class="card-profile">
    <ion-card>
      <img src="assets/imgs/dummy-image-landscape-800x600.jpg" />
      <div class="grey-bg"></div>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{provider.pic.thumbnailUrl}}" />
        </ion-avatar>
        <h1><b>{{ provider.fullName }}</b></h1>
        <h2>{{ provider.workCity }} - {{ provider.workState }}</h2>
      </ion-item>
    </ion-card>
  </div>
  <div class="progress-bar position" data-percent="60" data-duration="1000" data-color="#ccc,yellow"></div>

  <ion-card style="border-radius: 6px" color="primary">
    <button ion-button (click)="openProvidersBannersAndServicesSubs()" clear full color="white"><b>Lojinha de
        {{provider.firstName}}</b> </button>
  </ion-card>

  <ion-list desc-progress>
    <ion-item desc-progress>
      <ion-row>
        <ion-col col-auto>
          <div class="progress-wrapper thumb_prog">
            <div class="current" [ngStyle]="getOverlayStyle()">
              <div>Nota</div>
              <div style="font-size: 20px; font-weight: 800;">
                {{ provider.providerReputation.toFixed(1) }}
              </div>
            </div>

            <round-progress [current]="provider.providerReputation" [max]="5"
              [color]="gradient ? 'url(#gradient)' : color" [background]="background" [animationDelay]="animationDelay">
            </round-progress>
          </div>
        </ion-col>
        <ion-col col-auto style="align-self: center;">
          <h2><b>Nível - Iniciante</b></h2>
          <h2 style="display: flex; align-items: center;">
            <rating style="text-align: end" [(ngModel)]="provider.providerReputation" readOnly="true"></rating>
            <div class="text-custom-rating">&ensp;{{
              asProviderReviewsNumber }} Avaliações</div>
          </h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-card class="provider_info_card">
    <ion-item text-align-center>
      <ion-thumbnail item-start>
        <img src="assets/imgs/provider_details/medal.svg">
      </ion-thumbnail>
      <h2>Elogios recebidos pelo do prestador</h2>
      <ng-container *ngIf="hasCumpliments; else elseTemplate1">
        <div class="cumpliments" *ngFor="let cumpliment of localCumplimentsReport">
          <div class="cumpliment" *ngIf="cumpliment.quantity > 0">
            <img src="assets/imgs/provider_details/award.svg">
            <h2>{{cumpliment.text}} ({{cumpliment.quantity}})</h2>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate1>
        <h2>Nehum elogio encontrado</h2>
      </ng-template>
    </ion-item>
  </ion-card>

  <ion-card class="provider_info_card">
    <ion-item text-align-center>
      <ion-thumbnail item-start>
        <img src="assets/imgs/provider_details/clock.svg">
      </ion-thumbnail>
      <ion-row>
        <h2>Pontualidade</h2>
      </ion-row>
      <ng-container *ngIf="hasReviews; else elseTemplate">
        <ion-row>
          <ion-col style="align-self: center;" col-9 no-padding>
            <progress-bar [progress]="onTimeOrdersPercentage"></progress-bar>
          </ion-col>
          <ion-col col-3 no-padding>
            <h2 style="margin-left: 10%; margin-top: 0px !important;">{{provider.asProviderOnTimeOrders}}
              de {{provider.asProviderOnTimeOrders +
              provider.asProviderLateOrders}}</h2>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplate>
        <h2>Nehuma Avaliação encontrada</h2>
      </ng-template>
    </ion-item>
  </ion-card>

  <ion-card class="provider_info_card">
    <ion-item text-align-center>
      <ion-thumbnail item-start>
        <img src="assets/imgs/provider_details/budget.svg">
      </ion-thumbnail>
      <ion-row>
        <h2>Prazo de entrega</h2>
      </ion-row>
      <ng-container *ngIf="hasReviews; else elseTemplate">
        <ion-row>
          <ion-col style="align-self: center;" col-9 no-padding>
            <progress-bar [progress]="onTimeDeliveredOrdersPercentage"></progress-bar>
          </ion-col>
          <ion-col col-3 no-padding>
            <h2 style="margin-left: 10%; margin-top: 0px !important;">{{provider.asProviderOnTimeDeliveredOrders}} de
              {{provider.asProviderOnTimeDeliveredOrders + provider.asProviderLateDeliveredOrders}}</h2>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplate>
        <h2>Nehuma Avaliação encontrada</h2>
      </ng-template>
    </ion-item>
  </ion-card>

  <ion-card class="provider_info_card">
    <ion-item text-align-center>
      <ion-thumbnail item-start>
        <img src="assets/imgs/provider_details/budget.svg">
      </ion-thumbnail>
      <ion-row>
        <h2>Orçamentos justos</h2>
      </ion-row>
      <ng-container *ngIf="hasReviews; else elseTemplate">
        <ion-row>
          <ion-col col-9 no-padding>
            <progress-bar style="align-self: center;" [progress]="metBudgetOrdersPercentage"></progress-bar>
          </ion-col>
          <ion-col col-3 no-padding>
            <h2 style="margin-left: 10%; margin-top: 0px !important;">{{provider.metBudgetOrders}} de
              {{provider.metBudgetOrders + provider.notMetBudgetOrders}}</h2>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplate>
        <h2>Nehuma Avaliação encontrada</h2>
      </ng-template>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="header_statistic">
      <b>Estatísticas do prestador de serviço</b>
    </ion-item>
    <ion-item>
      <ion-badge item-start>{{performedServices}}</ion-badge>
      <ion-label style="font-weight: 500">Serviço(s) realizado(s)</ion-label>
    </ion-item>
    <ion-item>
      <ion-badge item-start>{{last90DaysCompletedOrders}}</ion-badge>
      <ion-label style="font-weight: 500">Serviço(s) realizado(s) nos últimos 90 dias</ion-label>
    </ion-item>
  </ion-card>

  <div *ngIf="localReviews.length > 0; else noContent">
    <ion-list no-lines>
      <ion-card class="review-card" *ngFor="let review of localReviews">
        <ion-grid>
          <ion-row class="head">
            <rating style="text-align: end" [(ngModel)]="review.clientOpinion" readOnly="true"></rating>
            <h2 style="margin-left: 6px;"><b>{{translateRate(review.clientOpinion)}}</b></h2>
            <ion-col col-2 *ngIf="review.verified && review.moderated">
              <ion-icon mensage-status-icon name="md-warning" color="danger" item-start></ion-icon>
              <ion-label no-margin>Moderada</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <h2>{{ review.text }}</h2>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="review.punctuality != 0">
            <div class="criteria">
              <img src="assets/imgs/provider_details/clock.svg">
              <h2 *ngIf="review.punctuality == 1">Foi Pontual</h2>
              <h2 *ngIf="review.punctuality == -1">Não foi Pontual</h2>
            </div>
          </ion-row>
          <ion-row *ngIf="review.serviceDelivery != 0">
            <div class="criteria">
              <img src="assets/imgs/provider_details/clock.svg">
              <h2 *ngIf="review.serviceDelivery == 1">Entregou no prazo</h2>
              <h2 *ngIf="review.serviceDelivery == -1">Não entregou no prazo</h2>
            </div>
          </ion-row>
          <ion-row *ngIf="review.budgetAccuracy != 0">
            <div class="criteria">
              <img src="assets/imgs/provider_details/budget.svg">
              <h2 *ngIf="review.budgetAccuracy == 1">Cumpriu o orçamento</h2>
              <h2 *ngIf="review.budgetAccuracy == -1">Não Cumpriu o orçamento</h2>
            </div>
          </ion-row>
          <ion-row>
            <p style="text-align: center">Por - {{review.clientName}}, Dia {{
              review.createdOn.toLocaleDateString('pt-BR') }}</p>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ng-template #noContent>

    <h2 *ngIf="!hasReviews" style="text-align: center; margin: 6%;">O prestador ainda não possui avaliações.</h2>
    <h2 *ngIf="!hasFilter" style="text-align: center; margin: 6%;">Nehuma Avaliação encontrada para o <b>filtro</b></h2>

  </ng-template>
</ion-content>

<div *ngIf="showFilters" class="filters">
  <div class="filters-inner">
    <div class="filters-header">
      <button custom-close-button icon-only (click)="toggleFilters()">
        <ion-icon color="black" name="close" item-end></ion-icon>
      </button>
      <ion-list-header>
        <ion-label>Filtros</ion-label>
      </ion-list-header>
      <button custom-clean-button icon-only (click)="cleanFilters()">
        LIMPAR
      </button>
    </div>
    <ion-list no-lines>
      <ion-list-header>
        <ion-label>Filtrar avaliações do Prestador</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label text-align-center>
          <h2>Nota do Prestador</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>min: {{reviewRange.lower}}, max: {{reviewRange.upper}} estrelas</ion-label>
        <ion-range style="padding: 0px !important" min="1" max="5" snaps="true" step="1" dualKnobs="true" pin="true"
          [(ngModel)]="reviewRange" (ionChange)="changeReviewRange()" color="economizei_Yellow">
          <ion-icon range-left name="star-outline" color="reviewsStarColor"></ion-icon>
          <ion-icon range-right name="star" color="reviewsStarColor"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Pontualidade</ion-label>
        <ion-select [(ngModel)]="filterValues.punctuality" (ionChange)="selectFilterValue()">
          <ion-option value="1">Pontual</ion-option>
          <ion-option value="-1">Atrazou</ion-option>
          <ion-option value='0'>Sem filtro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Entrega</ion-label>
        <ion-select [(ngModel)]="filterValues.serviceDelivery" (ionChange)="selectFilterValue()">
          <ion-option value="1">Pontual</ion-option>
          <ion-option value="-1">Atrazou</ion-option>
          <ion-option value='0'>Sem filtro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Orçamento</ion-label>
        <ion-select [(ngModel)]="filterValues.budgetAccuracy" (ionChange)="selectFilterValue()">
          <ion-option value="1">Cumpriu</ion-option>
          <ion-option value="-1">Não Cumpriu</ion-option>
          <ion-option value='0'>Sem filtro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Comentários</ion-label>
        <ion-select [(ngModel)]="filterValues.onlyWithText" (ionChange)="selectFilterValue()">
          <ion-option value="1">Com Comentários</ion-option>
          <ion-option value="-1">Sem Comentários</ion-option>
          <ion-option value='0'>Sem filtro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="filterValues.onlyWithText == 1">
        <ion-label>Moderação</ion-label>
        <ion-select [(ngModel)]="filterValues.onlyModerated" (ionChange)="selectFilterValue()">
          <ion-option value="1">Moderadas</ion-option>
          <ion-option value="-1">Não moderada</ion-option>
          <ion-option value='0'>Sem filtro</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div style="text-align: center;margin-bottom: 20px;">
      <button [disabled]="!canFilter()" ion-button round (click)="filter()">
        Filtrar
      </button>
    </div>
  </div>
  <div class="cortin" (click)="toggleFilters()">
  </div>
</div>


<script>
  $(".progress-bar").loading();
  $('input').on('click', function () {
    $(".progress-bar").loading();
  });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>