<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Escolha seu plano</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [loop]="false" [spaceBetween]="-50" [centeredSlides]="true" pager="true"
    (ionSlideWillChange)="slideMoved()">

    <ion-slide>
      <div class="background">
        <div class="container free-bg">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <img src="assets/imgs/plans/eco_free.svg" class="pricing-img">
              <h2 class="pricing-header">free</h2>
              <div class="pricing-description">Com esse plano você pode:</div>
              <ul class="pricing-features">
                <li class="pricing-features-item">Publicar até 1 anúncio</li>
                <li class="pricing-features-item">Aceitar 3 pedidos por dia</li>
                <li class="pricing-features-item">Aceitar até 1 solicitação por dia</li>
                <li class="pricing-features-item">Inscrever-se em até 1 tipo de serviço</li>
              </ul>
              <br />
              <span class="pricing-price">Grátis</span>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background">
        <div class="container bit-bg">
          <div class="pricing-img">
            <img src="assets/imgs/plans/eco_bit.svg">
          </div>
          <div class="panel pricing-table">
            <div class="pricing-plan">

              <h2 class="pricing-header">Ecobit</h2>
              <div class="pricing-description">Com esse plano você pode:</div>
              <ul class="pricing-features">
                <li class="pricing-features-item">Publicar até 3 anúncios</li>
                <li class="pricing-features-item">Você pode impulsionar até 1 anúncio</li>
                <li class="pricing-features-item">Aceitar até 5 pedidos por dia</li>
                <li class="pricing-features-item">Aceitar até 3 solicitações por dia</li>
                <li class="pricing-features-item">Inscrever-se em até 2 tipos de
                  serviço</li>
              </ul>
              <span class="pricing-price">R$19,90 / mês</span>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background">
        <div class="container mega-bg">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <img src="assets/imgs/plans/eco_mega.svg" alt="" class="pricing-img">
              <h2 class="pricing-header">ecomega</h2>
              <div class="pricing-description">Com esse plano você pode:</div>
              <ul class="pricing-features">
                <li class="pricing-features-item">Publicar até 6 anúncios</li>
                <li class="pricing-features-item">Você pode impulsionar até 3 anúncios</li>
                <li class="pricing-features-item">Aceitar até 10 pedidos por dia</li>
                <li class="pricing-features-item">Aceitar até 6 solicitações por dia</li>
                <li class="pricing-features-item">Inscrever-se em até 4 tipos de
                  serviço</li>
              </ul>

              <span class="pricing-price">R$49,90 / mês</span>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="background">
        <div class="container giga-bg">
          <div class="panel pricing-table">
            <div class="pricing-plan">
              <img src="assets/imgs/plans/eco_giga.svg" alt="" class="pricing-img">
              <h2 class="pricing-header">Ecogiga</h2>
              <div class="pricing-description">Com esse plano você pode:</div>
              <ul class="pricing-features">
                <li class="pricing-features-item">Publicar até 20 anúncios</li>
                <li class="pricing-features-item">Você pode impulsionar até 10 anúncios</li>
                <li class="pricing-features-item">Aceitar pedidos ilimitadamente</li>
                <li class="pricing-features-item">Aceitar solicitações ilimitadamente</li>
                <li class="pricing-features-item">Inscrever-se em até 12 tipos de
                  serviço</li>
              </ul>
              <span class="pricing-price">R$119,90 / mês</span>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
  <a *ngIf="planId != 'ecofree'" class="pricing-button" (click)="buyPlan()">Comprar este plano ></a>
</ion-content>