page-plans {

  ion-content {
    background-color: white !important;
  }

  .swiper-pagination-bullet-active{
      background: #88c0d4;
  }

  .toolbar-title {
    font-size: 2.6rem !important;
    font-weight: 800 !important;
    padding: 6px 12px;
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    {
      text-align: left;
      padding: 15px;
      .swiper-pagination-bullet {
        margin: 0 3px;
        width: 12px;
        height: 12px;
    }

  }

  ion-slides {
    background-color: white !important;
    // height: unset;
  }

  ion-slide {
    // width: 90% !important;
    overflow-y: auto;
    padding: 0px 16px;
    img {
      border-radius: 10px;
    }
  }

  .slide-zoom {
    position: absolute;
    top: 5%;
  }

  .background {
    // padding: 5%;
    margin: 0px 35px 0px 35px;
    // width: 100%;
    height: 80%;
  }

  .background::after {
    content: "";

    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }

  // .container {
  // margin: 0 auto;
  // max-width: 960px;
  // width: 100%;

  .test-bg {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background: #88c0d4;
    border-radius: 8px;
  }

  .free-bg {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background: #d45654;
    border-radius: 8px;
  }

  .bit-bg {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background: #00be71;
    border-radius: 8px;
  }

  .mega-bg {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background: #ffa220;
    border-radius: 8px;
  }

  .giga-bg {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background: #004c90;
    border-radius: 8px;
  }
  // }

  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
      0px 20px 31px 3px rgba(0, 0, 0, 0.09),
      0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }

  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }

  .pricing-plan {
    // border-bottom: 1px solid #e1f1ff;
    //padding: 25px;
  }

  .pricing-plan:last-child {
    border-bottom: none;
  }

  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }

    .pricing-plan:last-child {
      border-right: none;
    }
  }

  .pricing-img {
    max-width: 40%;
    background: white;
    border-radius: 50%;
    border-width: 2px;
    top: -30px;
    height: 120px;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    padding: 3px;
  }

  .pricing-header {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
    padding-top: 26%;
    font-size: 32px;
  }

  .pricing-description {
    border-bottom: 1px solid #e1f1ff;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: none;
    padding-bottom: 10px;
  }

  .pricing-features {
    color: white;
    font-weight: 400;
    list-style-type: none;
    // display: inline;
    padding: unset;
    border-bottom: 1px solid #e1f1ff;
    // letter-spacing: 1px;
    margin-top: 5px;
    padding-bottom: 6px;
    text-transform: none;
  }

  .pricing-features-item {
    font-size: 12px;
    padding: 6px 0;
    text-transform: unset;
  }

  .pricing-features:last-child {
    border-top: 1px solid #e1f1ff;
    letter-spacing: 1px;
    text-transform: none;
  }

  .pricing-price {
    color: white;
    display: block;
    font-size: 32px;
    font-weight: 700;
    text-transform: none;
    padding: 15px 0;
  }

  .pricing-button {
    // border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    display: inline-block;
    margin: 18px 0;
    padding: 5px 15px;
    font-size: 24px;
    text-align: right;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    // text-decoration: none;
    // transition: all 150ms ease-in-out;
  }
}
