<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeInUp">
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Detalhes do seu plano</ion-label>
        </ion-list-header>

        <ion-list *ngIf="showSplash">
          <lottie-animation-view [options]="lottieSplash" [width]="150" [height]="150">
          </lottie-animation-view>
        </ion-list>

        <ion-list *ngIf="!showSplash" class="plan-details-list" no-lines>
          <ion-item>
            <h2>Plano: {{localUserPlan.title}}</h2>
            <p>{{localUserPlan.description}}</p>
          </ion-item>

          <ion-item>
            <h2>Aceitação de pedidos p/ hoje</h2>
            <button ion-button item-end>
              {{ next24AvailableOrdersAcceptanceStr }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Propostas restantes p/ hoje</h2>
            <button ion-button item-end>
              {{ next24AvailableProposalSubmissionStr }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Número de anúncios restantes</h2>
            <button ion-button item-end>
              {{ availableBannersStr }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Número de inscrisões em serviços restantes</h2>
            <button ion-button item-end>
              {{ availableServiceTypeSubsStr }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Acesso ao analytics</h2>
            <button ion-button item-end>
              {{ translateBoolean(localUserPlan.analytics) }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Periodo de renovação</h2>
            <button ion-button item-end>
              {{ localUserPlan.renovationPeriod }} dias
            </button>
          </ion-item>

          <ion-item>
            <h2>Promoções de Anúncio gratuitas</h2>
            <button ion-button item-end>
              {{ localUserPlan.freePromotions }}
            </button>
          </ion-item>

          <ion-item>
            <h2>Fotos por Anúncio</h2>
            <button ion-button item-end>
              {{ localUserPlan.maxPicsPerBanner }}
            </button>
          </ion-item>

        </ion-list>

        <div style="text-align: center">
          <button ion-button round (click)="close()">
            Fechar
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>