<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da sua Solicitação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <!-- <ion-slides *ngIf="showPicSplash" pager="true" zoom="true" parallax="true"
    style="height: 300px">
    <ion-slide>
      <img style="height: 300px;"
        src="assets/imgs/dummy-image-landscape-800x600.jpg">
    </ion-slide>
  </ion-slides> -->

  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Detalhes">Detalhes</ion-segment-button>
      <ion-segment-button value="Propostas">Propostas</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Detalhes'">
      <ion-list no-lines>
        <ion-item class="left-round-card">
          <ion-thumbnail large item-start>
            <ion-avatar class="service-type-badge">
              <img [src]="localRequest.serviceTypeSymbol">
            </ion-avatar>
            <ion-avatar class="provider-badge">
              <img [src]="localRequest.clientThumbnailUrl">
            </ion-avatar>
          </ion-thumbnail>
          <ion-label>{{localRequest.serviceTypeTitle}}</ion-label>
          <!-- <button ion-button clear large item-right (click)="share()">
            <ion-icon name="md-share" color="economizei_Light_Black"></ion-icon>
          </button> -->
        </ion-item>

        <ion-item class="left-round-card">
          <ion-thumbnail class="num-requests">
            <div class="circle">
              {{ receivedProposalsNumber }}
            </div>
          </ion-thumbnail>
          <!-- <ion-avatar item-left>
            <img src="{{localRequest.serviceTypeSymbol}}" />
          </ion-avatar> -->
          <h2>PROPOSTAS RECEBIDAS</h2>
          <ion-icon name="ios-arrow-forward" color="primary" item-end></ion-icon>
        </ion-item>

        <ion-item class="request-card">
          <ion-icon [name]="localRequest.scheduleType == 'close' ? 'lock' :
            'unlock'" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>Agendamento {{ localRequest.scheduleType == 'close' ? 'Fechado'
              : 'Aberto' }}</h2>
          </ion-label>
        </ion-item>

        <ion-item class="request-card" (click)="showServiceDetail()">
          <ion-icon name="construct" item-start></ion-icon>
          <ion-label>Detalhes do serviço</ion-label>
          <ion-icon name="ios-arrow-forward" color="primary" item-end></ion-icon>
        </ion-item>

        <ion-item class="request-card" (click)="toggleTruncateDesc()">
            <h3>Descrição</h3>
            <h5 [class]="descTrucated ? 'truncateDesc' : ''">{{localRequest.description}}</h5>
            <h6 *ngIf="descTrucated">Ver mais ></h6>
          </ion-item>

      </ion-list>

      <ion-list no-lines>
        <ion-item class="request-card" *ngIf="localRequest.status == 1"
          (click)="pauseConfirmation()">
          <ion-icon name="pause" item-start></ion-icon>
          <ion-label>Pausar Solicitação</ion-label>
        </ion-item>

        <ion-item class="request-card" *ngIf="localRequest.status == 2"
          (click)="resumeRequest()">
          <ion-icon name="play" item-start></ion-icon>
          <ion-label>Continuar Solicitação</ion-label>
        </ion-item>

        <ion-item class="request-card" *ngIf="localRequest.status != 1300 && localRequest.status !=
          1303" (click)="cancelRequest()">
          <ion-icon name="close-circle" color="danger" item-start></ion-icon>
          <ion-label>Cancelar Solicitação</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'Propostas'">
      <ng-container *ngIf="localProposals.length> 0; else elseTemplate">
        <ion-list>
          <ion-item *ngFor="let proposal of localProposals">
            <ion-avatar item-start>
              <img src="{{proposal.providerThumbnailUrl}}">
            </ion-avatar>
            <h2>{{proposal.providerName}}</h2>
            <p>{{proposal.providerJob}}, {{proposal.providerPoints}} pontos</p>
            <rating [(ngModel)]="proposal.providerReputation" readOnly="true"></rating>
            <p>{{ getDistance( proposal.providerWorkAddress.latitude,
              proposal.providerWorkAddress.longitude) }} km(s)
              de distancia</p>

            <button ion-button round (click)="proposalDetails(proposal)">
              Mais Detalhes
            </button>

            <div class="proposal-details">
              <h4 class="txt-top">R$ {{proposal.budgetValue}}</h4>

              <ng-container *ngIf="proposal.clientReview == 0; else
                elseTemplate">
                <ion-buttons>
                  <button ion-button icon-only (click)="likeProposal(proposal)">
                    <ion-icon name="thumbs-up" color="secondary"></ion-icon>
                  </button>
                  <button ion-button icon-only (click)="dislikeProposal(proposal)">
                    <ion-icon name="thumbs-down" color="danger"></ion-icon>
                  </button>
                </ion-buttons>
              </ng-container>
              <ng-template #elseTemplate>
                <ion-buttons>
                  <button ion-button icon-only *ngIf="proposal.clientReview == 1" (click)="resetProposalReview(proposal)">
                    <ion-icon name="thumbs-up" color="secondary"></ion-icon>
                  </button>
                  <button ion-button icon-only *ngIf="proposal.clientReview == -1" (click)="resetProposalReview(proposal)">
                    <ion-icon name="thumbs-down" color="danger"></ion-icon>
                  </button>
                </ion-buttons>
              </ng-template>

              <h4 class="txt-bottom" *ngIf="proposal.schedule == null">Sem
                agendamento</h4>
              <h4 class="txt-bottom" *ngIf="proposal.schedule != null">Com
                agendamento</h4>
            </div>
          </ion-item>
        </ion-list>
      </ng-container>
      <ng-template #elseTemplate>
        <h5 style="text-align: center; margin: 6%;">Não existem propostas para
          esta solicitação </h5>
      </ng-template>
    </div>

  </div>

</ion-content>
