page-my-request-detail {
  ion-list {
    margin: 16px 0 !important;

    .request-card {
      margin: 10px !important;
      border-radius: 6px;
      width: calc(100% - 20px) !important;
      padding-left: unset;
      ion-icon {
        margin-left: 8px !important;
      }

      .label-md {
        margin: 8px 8px 8px 8px;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: bold;
      }

      h6 {
        text-decoration: underline;
        color: #004c90;
        font-weight: 500;
        text-align: end;
      }

      .descTruncated {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: normal;
      }
    }

    .left-round-card {
      margin: 10px !important;
      padding-left: unset;
      border-radius: 70px 6px 6px 70px;
      width: calc(100% - 20px) !important;

      .num-requests {
        height: 50px;
        width: 50px;
      }

      .circle {
        width: 50px;
        height: 45px;
        border-radius: 50%;
        font-size: 24px;
        color: #fff;
        line-height: 45px;
        text-align: center;
        background: #004c90;
        display: inline-block;
      }

      ion-label {
        margin: 0 !important;
        height: 100%;
        display: contents;
        font-weight: bold;
        font-size: 2rem;

        h2 {
          font-size: 2rem !important;
          font-weight: 620;
          margin: 0px !important;
          padding: 3px 0px 6px 0px; // margin-bottom: 4.0rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      ion-thumbnail {
        background-color: #004c90;
        margin: 0px 16px 0px 0px !important;
        height: 100%;
        display: inline-flex;
        border-radius: 0px 60px 60px 0px;
        align-items: center;
        min-width: unset;
        min-height: unset;

        ion-avatar {
          display: inline-block;
          height: 100%;
          img {
            width: 60px;
            height: 60px;
            margin: unset;
            border-width: 4px;
            border-style: solid;
            border-radius: 50%;
          }
        }
        .service-type-badge {
          img {
            border-color: #004c90;
          }
        }
        .provider-badge {
          img {
            border-color: white;
          }
        }
      }
    }
  }

  .swiper-pagination-bullet {
    border-radius: 1px;
    height: 2px;
    width: 20px;
  }

  .swiper-pagination-bullet-active {
    background: black;
  }

  ul {
    padding: 0px;
    margin: 5px 0 0 0;

    &.rating li {
      padding: 2px 2px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 20px;
      }
    }
  }

  .circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: #004c90;
    display: inline-block;
  }
}
