<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Ajuda</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<h2 style="text-align: center">Tire suas duvidas na sessão de Tutorial e caso não encontre entre em contato conosco! </h2>

	<div class="selection">
		<div class="hm_myprofile_list">
			<ion-list>
				<ion-item (click)="goToPage('ClientTutorialPage')" style="background-color: transparent">
					<ion-icon name="information-circle" item-start></ion-icon>
					<ion-label>Tutorial para Clientes</ion-label>
					<ion-icon name="arrow-forward" item-end></ion-icon>
				</ion-item>

				<ion-item (click)="goToPage('ProviderTutorialPage')" style="background-color: transparent">
					<ion-icon name="information-circle" item-start></ion-icon>
					<ion-label>Tutorial para Prestadores</ion-label>
					<ion-icon name="arrow-forward" item-end></ion-icon>
				</ion-item>

				<div *ngIf="userDataCtrl.hasUser">
					<ion-item (click)="goToPage('NewSacPage')" style="background-color: transparent">
						<ion-icon name="help-buoy" item-start></ion-icon>
						<ion-label>Contatar a equipe do Economizei</ion-label>
						<ion-icon name="arrow-forward" item-end></ion-icon>
					</ion-item>
					<ion-item (click)="goToPage('MySacsPage')" style="background-color: transparent">
						<ion-icon name="help-buoy" item-start></ion-icon>
						<ion-label>Meus SAC</ion-label>
						<ion-icon name="arrow-forward" item-end></ion-icon>
					</ion-item>
				</div>

			</ion-list>
		</div>
	</div>

</ion-content>
