<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="picIndex == 0">Tirar self</ion-title>
    <ion-title *ngIf="picIndex == 1">Frente do RG</ion-title>
    <ion-title *ngIf="picIndex == 2">Verso do RG</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="picture">
    <img [src]="picture">

    <ion-fab bottom left>
      <button ion-fab (click)="startCamera()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom right>
      <button ion-fab (click)="confirmPicture()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div *ngIf="!picture">
    <ion-fab bottom right #fab1>
      <button ion-fab>
        <ion-icon name="options"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button *ngIf="!torch" ion-fab (click)="toggleFlash(fab1)">
          <ion-icon *ngIf="flash" name="ios-flash-outline"></ion-icon>
          <ion-icon *ngIf="!flash" name="ios-flash"></ion-icon>
        </button>
        <button ion-fab (click)="toggleTorch(fab1)">
          <ion-icon *ngIf="torch" name="ios-flame-outline"></ion-icon>
          <ion-icon *ngIf="!torch" name="ios-flame"></ion-icon>
        </button>
        <button ion-fab (click)="switchCamera(fab1)">
          <ion-icon name="reverse-camera"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>

    <div class="camera-grid" *ngIf="cameraGrid" >
      <div class="grid-component" vertical top left></div>
      <div class="grid-component" horizontal top left></div>
      <div class="grid-component" vertical top right></div>
      <div class="grid-component" horizontal top right></div>
        <div class="camera-grid-text">
          <h6>Posicione o seu documento aqui!</h6>
        </div>
      <div class="grid-component" vertical bottom left></div>
      <div class="grid-component" horizontal bottom left></div>
      <div class="grid-component" vertical bottom right></div>
      <div class="grid-component" horizontal bottom right></div>
    </div>  

    <ion-fab bottom left>
      <button ion-fab (click)="cancelPic()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom center>
      <button ion-fab (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-fab>
  </div>

</ion-content>