page-provider-verification-take-picture {

        ion-content{
                background-color: transparent !important;
        }

        .camera-grid{
                margin-left: 10%;
                margin-top: 5%;
                height: 75%;
                width: 80%;
                position: fixed;
                text-align: center;
                .camera-grid-text{
                        animation: pulse 1s ease infinite;
                        margin-top: 60%;
                }
                .grid-component{
                        background-color: black;
                }
                .grid-component[vertical]{
                        position: absolute;
                        z-index: 1;
                        height: 15%;
                        width: 6px;
                }
                .grid-component[horizontal]{
                        position: absolute;
                        z-index: 2;
                        height: 6px;
                        width: 15%;
                }
                .grid-component[top]{
                        top: 0;
                }
                .grid-component[bottom]{
                        bottom: 0;   
                }
                .grid-component[left]{
                        left: 0;
                }
                .grid-component[right]{
                        right: 0;
                }
        }

        @-webkit-keyframes pulse {
                from {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
              
                50% {
                  -webkit-transform: scale3d(1.05, 1.05, 1.05);
                  transform: scale3d(1.05, 1.05, 1.05);
                }
              
                to {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
        }
              
        @keyframes pulse {
                from {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
              
                50% {
                  -webkit-transform: scale3d(1.05, 1.05, 1.05);
                  transform: scale3d(1.05, 1.05, 1.05);
                }
              
                to {
                  -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
        }

}
