/*FONT-FAMILY*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

@font-face {
  font-family: "ecoFont";
  src: url("../assets/font/Ikaros-Regular.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "crediCardFont";
  src: url("../assets/font/CREDC___.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consola-Bold";
  src: url("../assets/font/CONSOLAB.TTF");
  font-weight: normal;
  font-style: normal;
}

//Phipper customizations
html,
body,
ion-app,
div.nav-decor,
.app-root {
  background-color: transparent !important;
}

ion-content {
  background-color: color($colors, economizei_Background, base) !important;
}

ion-content[no-scroll] .scroll-content {
  overflow-y: hidden;
}

.header-md::after {
  background-image: none;
  position: unset;
}

.header::after {
  background-image: none;
  position: unset;
}

.alert-radio-group
  button[aria-checked="true"]
  .button-inner
  .alert-radio-label {
  font-size: 18px;
  font-weight: bold !important;
  animation: fadeIn 0.3s ease;
}

.alert-radio-group button {
  .button-inner {
    .alert-radio-icon {
      display: none;
    }
    .alert-radio-label {
      text-align: unset !important;
      font-size: 16px;
      height: 6rem;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: normal;
    }
  }
}

// customizaçoes especificas para android
.md {
  .action-sheet-group-cancel {
    background-color: color($colors, danger, base) !important;
    .action-sheet-cancel {
      color: white;
      font-weight: bold;
    }
  }
  .toolbar-md {
    min-height: 4rem !important;
  }
  .button-round-md {
    padding: 0 1.8rem !important;
  }
  .segment-md {
    .segment-button {
      height: 4.5rem !important;
      color: black !important;
    }
    .segment-button.segment-activated {
      color: black !important;
      font-weight: 900 !important;
    }
  }
  .alert-md {
    .alert-wrapper {
      border-radius: 10px;
    }
    .alert-head {
      text-align: center;
      padding: 12px 12px 12px;
    }
  }
}

// customizaçoes especificas para ios
.ios {
  .segment-ios {
    padding: 5% !important;
  }
  .button-round-ios {
    padding: 0 1.8rem !important;
  }
  .action-sheet-cancel {
    color: color($colors, danger, base) !important;
    font-weight: bold;
  }
}

.splash {
  background-color: color($colors, economizei_Background, base);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 899;
  display: flex;
  align-items: center;
  lottie-animation-view {
    position: absolute;
    width: 100%;
    svg {
      animation: fadeIn 0.4s ease;
    }
  }
}

//animações
.fadeIn {
  animation: fadeIn 0.4s ease;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInDown {
  animation: fadeInDown 0.2s both !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Generated by Glyphter (http://www.glyphter.com) on  Mon Sep 03 2018*/

@font-face {
  font-family: "economizei-fonts";
  src: url("../assets/font/economizei-fonts.eot");
  src: url("../assets/font/economizei-fonts.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/font/economizei-fonts.woff") format("woff"),
    url("../assets/font/economizei-fonts.ttf") format("truetype"),
    url("../assets/font/economizei-fonts.svg#economizei-fonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="economizei-"]:before {
  display: inline-block;
  font-family: "economizei-fonts";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[padding-unset] {
  padding: unset !important;
}

.hm_edit_circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
}

.hm_edit_circle1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

[class*="economizei-hamburguer"]:before {
  margin-top: 0.55rem;
}

@mixin makeIcon($arg, $val) {
  .economizei-#{$arg}:before,
  .ion-ios-economizei-#{$arg}:before,
  .ion-ios-economizei-#{$arg}-outline:before,
  .ion-md-economizei-#{$arg}:before,
  .ion-md-economizei-#{$arg}-outline:before {
    content: $val;
    // font-size: 22px;
  }
}

h1,
h2,
h4,
h5,
h6 {
  text-overflow: ellipsis;
  overflow: hidden;
}


@include makeIcon(cog, "\0041");
@include makeIcon(cupom, "\0042");
@include makeIcon(logo, "\0043");
@include makeIcon(tag, "\0044");
@include makeIcon(hand, "\0045");
@include makeIcon(love, "\0046");
@include makeIcon(megafone, "\0047");
@include makeIcon(message, "\0048");
@include makeIcon(notification, "\0049");
@include makeIcon(request, "\004a");
@include makeIcon(clipboard, "\004b");
@include makeIcon(profile, "\004c");
@include makeIcon(share, "\004d");
@include makeIcon(calendar, "\e900");
@include makeIcon(padlock, "\e901");
@include makeIcon(hamburguer, "\e902");
@include makeIcon(padunlock, "\e903");
@include makeIcon(service, "\e904");
