<ion-header>
    <ion-navbar color="economizei_Main_Color">
        <button ion-button menuToggle>
            <ion-icon name="economizei-hamburguer"></ion-icon>
        </button>
        <ion-title>Favoritos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>

    <div *ngIf="showSplash" class="splash">
        <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
        </lottie-animation-view>
    </div>


    <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
        <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="localUserSavedBanners.length > 0; else elseTemplate">

        <ion-list>
            <ion-card *ngFor="let banner of savedBanners">
                <ion-item>
                    <button ion-item (tap)="itemTapped(banner)" (press)="itemPressed(banner)">
                        <ion-thumbnail item-left>
                            <img src="{{banner.thumbnail}}" />
                        </ion-thumbnail>
                        <div class="banner-item-top">
                            <h2>{{banner.title}}</h2>
                        </div>
                        <div class="banner-item-bottom">
                            <h4>Bairro: {{banner.address.bairro}}</h4>
                            <h5>{{banner.address.city}} - {{banner.address.state}}</h5>
                            <h6>Anúncio criado em: {{ banner.createdOn.toLocaleString('pt-BR') }}</h6>
                        </div>
                    </button>
                    <ion-icon name="md-more" item-end (click)="itemPressed(banner)"></ion-icon>
                </ion-item>
            </ion-card>
        </ion-list>


        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ng-container>
    <ng-template #elseTemplate>
        <h2 style="text-align: center; margin: 10px; font-size: 30px;">Você não possui anúncios favoritados</h2>
    </ng-template>


</ion-content>
