page-client-detail {
  .filters {
    .filters-inner {
      background-color: #fff;
      border-radius: 0 0 30px 30px;
      padding: 0px 25px;

      position: absolute;
      width: 100%;
      z-index: 999;

      -webkit-animation: slideInDown 0.25s both;
      animation: slideInDown 0.25s both;

      -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
      box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

      .filters-header {
        display: flex;
        width: 100%;
        button {
          background: transparent;
          z-index: 9999;
          ion-icon {
            font-size: 2.2em;
          }
        }
        button[custom-close-button] {
          margin: 10px 0px 10px -25px;
        }
        button[custom-clean-button] {
          font-weight: bold;
          text-align: end;
          box-shadow: 0 0 0 0 !important;
          color: black;
          margin: 0px -15px 10px 0px;
        }
        ion-list-header {
          background-color: transparent !important;
          text-align: center !important;
          font-size: 1.8rem !important;
          color: black !important;
          border-top: unset !important;
          ion-label {
            margin: unset !important;
          }
        }
      }

      ion-list {
        ion-list-header {
          background-color: transparent !important;
          text-align: center !important;
          font-size: 1.8rem !important;
          color: black !important;
          border-top: unset !important;
        }
        ion-list {
          text-align: center;
        }
        ion-list ion-item {
          background-color: transparent !important;
        }
        ion-label {
          white-space: normal !important;
          h1,
          h2,
          h6,
          p {
            margin-top: unset !important;
          }
        }
        ion-label[text-align-center] {
          text-align: center !important;
        }
      }
    }
    .cortin {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 998;
      -webkit-animation: fadeDown 0.2s ease;
      animation: fadeIn 0.2s ease;
    }
    .cortin::after {
      content: "";
      background: grey;
      opacity: 0.4;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  .card {
    border-radius: 6px;
    box-shadow: unset;
  }

  ion-item[desc-progress] {
    border-radius: 6px;
    margin-left: 2rem;
    margin-top: -15px !important;
    padding-left: unset;
    width: calc(100% - 4rem);
    .item-inner {
      border-bottom: unset !important;
    }
    ion-label {
      margin: 18px 0px 8px 8px;
    }
    h4 {
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }
  }

  .grey-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0%;
  }

  .card-profile {
    padding: 4px;
    margin-top: 0.8rem;
    ion-card {
      border-radius: 10px !important;
      position: relative;
      text-align: center;
      margin: 0 2.5px;
      width: calc(100% - 5px);
      height: 10rem;
      z-index: 2;
      box-shadow: unset;
      -webkit-box-shadow: unset;
      ion-item {
        top: 0;
        margin: 0px 12px !important;
        width: calc(100% - 24px) !important;
        position: absolute;
        color: white !important;
        margin: 1rem 0;
        background: transparent;
        padding-left: 0px;
        ion-avatar {
          margin: 8px 8px 8px 0px !important;
          align-self: center;
          img {
            border-width: 3px;
            border-color: white;
            border-style: solid;
            height: 7rem;
            width: 7rem;
          }
        }
        h1 {
          margin: 1rem 0;
          font-weight: 400;
          font-size: 2rem;
          color: white;
        }
        h2 {
          margin: 1rem 0;
          font-weight: 400;
          font-size: 1.5rem;
          color: white;
        }
      }
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }

  .provider_info_card {
    ion-item {
      ion-thumbnail {
        min-width: unset;
        min-height: unset;
        img {
          width: 40px;
          height: 40px;
        }
      }
      background: rgb(145, 94, 198);
      h2 {
        font-weight: 500;
        color: white;
      }
    }
    .cumpliments {
      display: block;
      .cumpliment {
        img {
          width: 15px;
          height: 15px;
          display: inline-flex;
        }
        h2 {
          font-weight: 500;
          color: white;
          display: inline-flex;
        }
      }
    }
  }

  .review-card {
    ion-grid {
      ion-row {
        .head {
          ion-col {
            ul.rating[_ngcontent-c0] li[_ngcontent-c0],
            ul.rating[_ngcontent-c1] li[_ngcontent-c1],
            ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
              ion-icon {
                font-size: 22px;
              }
            }
          }
        }
        .criteria {
          img {
            width: 20px;
            height: 20px;
            display: inline-flex;
          }
          h2 {
            font-weight: 500;
            color: black;
            display: inline-flex;
          }
        }
      }
    }
  }

  .header_statistic {
    ion-label {
      margin: unset;
      font-weight: 900;
    }
  }

  .rating {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    display: -webkit-inline-box;
    color: #ffb400;
  }

  ul.rating[_ngcontent-c0] li[_ngcontent-c0],
  ul.rating[_ngcontent-c1] li[_ngcontent-c1],
  ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
    display: inline;
    border: 0px;
    background: none;
    padding: unset;
    ion-icon {
      font-size: 26px;
    }
  }

  ul {
    padding: 0px;

    &.rating li {
      padding: unset;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 26px;
      }
    }
  }

  progress-bar-dual .progress-outer {
    margin: unset !important;
  }

  ion-list-header {
    background-color: transparent !important;
    font-size: 1.8rem !important;
    color: black !important;
  }

  ion-list ion-item {
    background-color: transparent !important;
  }

  ion-list button {
    background-color: transparent !important;
  }

  ion-list ion-item[text-align-center] {
    text-align: center !important;
  }

  .thumb_prog {
    display: -webkit-inline-box;
  }

  .progress-wrapper {
    position: relative;
    font-size: 40px;
  }

  .current {
    position: absolute;
    color: black;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }

  .text-custom-rating {
    font-size: 14px;
    font-weight: 500;
    color: lightslategrey;
  }
}
