page-config-assistant {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 !important;
  }
  ion-navbar {
    background: transparent;
    .toolbar-title-md {
      padding: 0 56px 0 0;
      .emoji-text {
        font-size: 1.2rem;
        display: inline-block;
      }
    }
  }
  ion-content,
  .splash {
    background-image: linear-gradient(
      to bottom,
      #2c73d2,
      #0081cc,
      #008ab6,
      #008e97,
      #008f7a
    );
  }
  // background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%) !important;
  text-align: center;
  ion-slides {
    margin-bottom: 1.6rem;
    height: 100%;
  }
  ion-slide {
    overflow-y: auto;
    padding: 0px 32px;
  }
  .swiper-pagination-bullet {
    background: #ffffff;
  }
  .config-card {
    border-radius: 30px;
    padding: 0px 25px;
    z-index: 10;
    margin: 0px 0px 20px 0px !important;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }
  ion-list {
    text-align: center;
  }
  ion-list ion-item {
    background-color: transparent !important;
  }
  ion-label {
    white-space: normal !important;
    h1,
    h2,
    h6,
    p {
      margin-top: unset !important;
    }
  }
  ion-label[text-align-center] {
    text-align: center !important;
  }
  button[custom] {
    background: transparent;
    height: 100px;
    box-shadow: 0 0 0 0 !important;
  }
  button[custom] ion-icon {
    font-size: 50px;
  }
  button[custom] ion-label {
    white-space: unset !important;
    color: black;
    position: absolute;
    margin-top: 40%;
    text-transform: none;
  }
  button[custom].selected {
    background-color: color($colors, economizei_Background, base) !important;
  }
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
    color: black !important;
    border-top: unset !important;
  }
}
