<ion-header>
  <ion-navbar color="transparent">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Asistente de Configuração</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="300" [height]="300">
    </lottie-animation-view>
  </div>

  <ion-slides *ngIf="!showSplash" [pager]="false" [parallax]="true" [centeredSlides]="true">
    <ion-slide>
      <ion-card class="config-card">
        <ion-list>
          <ion-item>
            <ion-label text-align-center>
              <h1>Localidade</h1>
              <p>Selecione o seu estado</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select [(ngModel)]="selectedState" required name="selectedState" interface="alert" cancelText="Cancelar"
              (ionBlur)="selectState()">
              <ion-option [value]="'Acre'">Acre</ion-option>
              <ion-option [value]="'Alagoas'">Alagoas</ion-option>
              <ion-option [value]="'Amapá'">Amapá</ion-option>
              <ion-option [value]="'Amazonas'">Amazonas</ion-option>
              <ion-option [value]="'Bahia'">Bahia</ion-option>
              <ion-option [value]="'Ceará'">Ceará</ion-option>
              <ion-option [value]="'Distrito Federal'">Distrito Federal</ion-option>
              <ion-option [value]="'Espírito Santo'">Espírito Santo</ion-option>
              <ion-option [value]="'Goiás'">Goiás</ion-option>
              <ion-option [value]="'Maranhão'">Maranhão</ion-option>
              <ion-option [value]="'Mato Grosso'">Mato Grosso</ion-option>
              <ion-option [value]="'Mato Grosso do Sul'">Mato Grosso do Sul</ion-option>
              <ion-option [value]="'Minas Gerais'">Minas Gerais</ion-option>
              <ion-option [value]="'Pará'">Pará</ion-option>
              <ion-option [value]="'Paraíba'">Paraíba</ion-option>
              <ion-option [value]="'Paraná'">Paraná</ion-option>
              <ion-option [value]="'Pernambuco'">Pernambuco</ion-option>
              <ion-option [value]="'Piauí'">Piauí</ion-option>
              <ion-option [value]="'Rio de Janeiro'">Rio de Janeiro</ion-option>
              <ion-option [value]="'Rio Grande do Norte'">Rio Grande do Norte</ion-option>
              <ion-option [value]="'Rio Grande do Sul'">Rio Grande do Sul</ion-option>
              <ion-option [value]="'Rondônia'">Rondônia</ion-option>
              <ion-option [value]="'Roraima'">Roraima</ion-option>
              <ion-option [value]="'Santa Catarina'">Santa Catarina</ion-option>
              <ion-option [value]="'São Paulo'">São Paulo</ion-option>
              <ion-option [value]="'Sergipe'">Sergipe</ion-option>
              <ion-option [value]="'Tocantins'">Tocantins</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-12>
              <button ion-button round [disabled]="!canSelectCity" (click)="next()">
                Avançar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="config-card">
        <ion-list>
          <ion-item>
            <ion-label text-align-center>
              <h1>Localidade</h1>
              <p>Selecione Sua Cidade</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label floating>Cidade</ion-label>
            <ion-select [(ngModel)]="selectedCity" required name="selectedServiceType" interface="alert" cancelText="Cancelar">
              <ion-option *ngFor="let city of citiesToSelection" [value]="city">{{ city }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-6>
              <button ion-button round (click)="prev()">
                Voltar
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button round [disabled]="selectedCity == null" (click)="save()">
                Salvar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
