<ion-header>
    <ion-navbar color="economizei_Main_Color">
        <button ion-button menuToggle>
          <ion-icon name="economizei-hamburguer"></ion-icon>
        </button>
      <ion-title>{{localCategory.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>

    <div *ngIf="showSplash" class="splash">
        <lottie-animation-view
          [options]="lottieSplash"
          [width]="200"
          [height]="200">
        </lottie-animation-view>
    </div>

    <ng-container *ngIf="localServicesTypes.length > 0; else elseTemplate">
        <ion-list>

            <ion-item *ngFor="let serviceType of localServicesTypes" (tap)="itemTapped(serviceType)">
                <ion-avatar item-start>
                    <img [src]="serviceType.symbol">
                </ion-avatar>
                <h2>{{serviceType.title}}</h2>
                <p *ngIf="serviceType.requiredHomeDelivery">Somente atendimento em domicilío</p>
            </ion-item>

        </ion-list>

    </ng-container>
    <ng-template #elseTemplate>
        <h5 style="text-align: center; margin: 6%;">Ainda não existe nehum Tipo de serviço para esta categoria :(</h5>
    </ng-template>

</ion-content>
