page-user-profile {
  ion-content {
    background: rgba(231, 232, 238, 0.89) !important;
  }

  .item-splash-spinner {
    text-align: center;
  }

  .item-splash-spinner > div {
    width: 8px;
    height: 8px;
    background-color: #004c90;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .item-splash-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .item-splash-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
  }
  b {
    font-weight: 450;
  }
  .item-transparent {
    background-color: transparent !important;
  }
  ion-item ion-thumbnail {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
    img {
      width: 30px !important;
      height: 30px !important;
    }
  }
  .button-md {
    text-transform: unset !important;
  }
  .card-customed {
    margin: 0rem 0.1rem 0rem 0.1rem !important;
    width: calc(100% - 0.2rem);
  }
  ion-list {
    margin: 0.8rem 0.6rem 0.8rem 0.6rem !important;
    width: calc(100% - 1.2rem);
  }
  .card-item {
    margin: 0.8rem 0.6rem 0.8rem 0.6rem !important;
    width: calc(100% - 1.2rem);
    -webkit-box-shadow: unset !important;
    .item-md {
      box-shadow: 0%;
    }
  }
  .list-less-padding {
    .label-md {
      margin: 8px 8px 8px 0px !important;
    }
    .label-ios {
      margin: 7px 8px 7px 0px !important;
    }
  }
  .card-background-page {
    margin-top: 1rem;
    ion-card {
      position: relative;
      text-align: center;
      -webkit-box-shadow: unset;
      background-color: transparent !important;
    }
    .card-title {
      position: absolute;
      top: 0rem;
      font-size: 2em;
      width: 100%;
      height: 100%;
      font-weight: bold;
      color: #fff;
      ion-item {
        background-color: transparent !important;
        height: 100% !important;
        ion-label {
          color: white;
          font-weight: bold;
          line-clamp: 1;
          line-height: 1.2;
        }
        ion-icon {
          font-weight: bold;
        }
      }
    }
  }
  .item-unshadow {
    -webkit-box-shadow: unset !important;
    .item-md {
      box-shadow: 0%;
    }
  }
  .profile-card {
    border-radius: 6rem 10px 10px 6rem !important;
    margin: 0.8rem 0.6rem 0.8rem 0.6rem !important;
    width: calc(100% - 1.2rem);
    -webkit-box-shadow: unset;
    .item-md {
      padding-left: 8px !important;
      box-shadow: 0%;
    }
  }
  ion-avatar img {
    width: 80px !important;
    height: 80px !important;
  }
  h1 {
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  ion-card {
    border-radius: 7px !important;
  }
  .upgrade-button {
    height: 3.6rem !important;
  }

  ion-label.animated-label {
    @media (max-width: 346px) {
      position: relative;
      white-space: nowrap;
      display: inline-table;
      line-height: 1;
      animation: floatText 5s infinite ease-in-out;
      overflow: unset !important;
      @-webkit-keyframes floatText {
        from {
          right: 0%;
        }
        to {
          right: 30%;
        }
      }
    }
  }
}
