<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Minha conta</ion-title>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="showSplash" (click)="logout()">
				Sair
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
		<ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar"
			refreshingSpinner="dots"></ion-refresher-content>
	</ion-refresher>

	<div *ngIf="!showSplash">

		<div style="background-color:transparent">
			<ion-card class="profile-card" (click)="goToPage('EditUserProfilePage')">
				<ion-item>
					<ion-avatar item-start>
						<img [src]="this.UserDataCtrl.localUser.pic.thumbnailUrl">
					</ion-avatar>

					<h1 color="primary">
						<b>{{UserDataCtrl.localUser.firstName + " " + UserDataCtrl.localUser.lastName}}</b></h1>
					<p>
						{{ UserDataCtrl.localUser.email }}
					</p>
					<p>
						{{ UserDataCtrl.localUser.cellPhone }}
					</p>
					<a color="primary" style="font-weight: bold;text-decoration: underline" item-end>Editar</a>
				</ion-item>

			</ion-card>
		</div>

		<div class="card-background-page">

			<ion-card (click)="goToPage('MyAdressesPage')" class="card-customed">
				<img src="assets/imgs/profile/map.png" />
				<div class="card-title">
					<ion-item>
						<ion-thumbnail item-start>
							<img src="assets/imgs/profile/map.svg" />
						</ion-thumbnail>
						<ion-label>Meus endereços cadastrados</ion-label>
						<ion-thumbnail item-end>
							<img class="menu-icon" src="assets/imgs/profile/seta_cinza.svg">
						</ion-thumbnail>
					</ion-item>
				</div>
			</ion-card>

			<ion-card *ngIf="UserDataCtrl.localUserIsProvider" class="card-customed"
				(click)="goToPage('MyServicesTypesPage')">
				<img src="assets/imgs/profile/elder.png" />
				<div class="card-title">
					<ion-item>
						<ion-thumbnail item-start>
							<img src="assets/imgs/profile/service.svg" />
						</ion-thumbnail>
						<ion-label>Meus tipos de serviços</ion-label>
						<ion-thumbnail item-end>
							<img class="menu-icon" src="assets/imgs/profile/seta_cinza.svg">
						</ion-thumbnail>
					</ion-item>
				</div>
			</ion-card>

			<ion-card *ngIf="UserDataCtrl.localUserIsProvider" class="card-customed"
				(click)="goToPage('MyWorkHoursPage')">
				<img src="assets/imgs/profile/watch.png" />
				<div class="card-title">
					<ion-item>
						<ion-thumbnail item-start>
							<img src="assets/imgs/profile/relogio.svg" />
						</ion-thumbnail>
						<ion-label>Meus horários de atendimento</ion-label>
						<ion-thumbnail item-end>
							<img class="menu-icon" src="assets/imgs/profile/seta_cinza.svg">
						</ion-thumbnail>
					</ion-item>
				</div>
			</ion-card>

		</div>

		<ion-card class="card-item">
			<ion-item (click)="goToPage('InviteProvidersPage')">
				<ion-thumbnail item-start>
					<img class="menu-icon" src="assets/imgs/profile/gift.svg">
				</ion-thumbnail>
				<ion-label class="animated-label">Adquira o economizei Pro de Graça</ion-label>
				<!-- <ion-thumbnail item-end>
					<img class="menu-icon" src="assets/imgs/profile/seta_cinza.svg">
				</ion-thumbnail> -->
				<ion-icon name="ios-arrow-forward" style="color:#f3f4fc" item-end></ion-icon>
			</ion-item>
		</ion-card>

		<ion-item *ngIf="UserDataCtrl.localUserIsProvider" class="item-transparent" no-lines>
			<div *ngIf="planDataLoader" class="item-splash-spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>

			<h2 *ngIf="!planDataLoader">Seu plano é o {{ localUserPlan.title }}</h2>
			<button *ngIf="!planDataLoader && localUserPlan.id == 'free'" class="upgrade-button" ion-button outline
				item-end round color="economizei_Lemon_Green" (click)="goToPage('PlansPage')">
				Fazer upgrade!
			</button>
			<button *ngIf="!planDataLoader && localUserPlan.id != 'free'" class="upgrade-button" ion-button outline
				item-end round color="primary" (click)="goToPage('PlansPage')">
				Ver planos
			</button>
		</ion-item>

		<ion-card *ngIf="UserDataCtrl.localUserIsProvider" class="card-item">
			<ion-list class="list-less-padding" no-lines>
				<ion-item>

					<h2>Aceitação de pedidos p/ hoje</h2>

					<button *ngIf="next24AvailableOrdersAcceptanceStrLoader" ion-button item-end>
						<div class="item-splash-spinner">
							<div class="bounce1" style="background-color: white;"></div>
							<div class="bounce2" style="background-color: white;"></div>
							<div class="bounce3" style="background-color: white;"></div>
						</div>
					</button>

					<button *ngIf="!next24AvailableOrdersAcceptanceStrLoader" ion-button item-end>
						{{ next24AvailableOrdersAcceptanceStr }}
					</button>

				</ion-item>

				<ion-item>
					<h2>Propostas restantes p/ hoje</h2>


					<button *ngIf="next24AvailableProposalSubmissionStrLoader" ion-button item-end>
						<div class="item-splash-spinner">
							<div class="bounce1" style="background-color: white;"></div>
							<div class="bounce2" style="background-color: white;"></div>
							<div class="bounce3" style="background-color: white;"></div>
						</div>
					</button>

					<button *ngIf="!next24AvailableProposalSubmissionStrLoader" ion-button item-end>
						{{ next24AvailableProposalSubmissionStr }}
					</button>

				</ion-item>

				<ion-item>
					<h2>Número de anúncios restantes</h2>

					<button *ngIf="availableBannersStrLoader" ion-button item-end>
						<div class="item-splash-spinner">
							<div class="bounce1" style="background-color: white;"></div>
							<div class="bounce2" style="background-color: white;"></div>
							<div class="bounce3" style="background-color: white;"></div>
						</div>
					</button>

					<button *ngIf="!availableBannersStrLoader" ion-button item-end>
						{{ availableBannersStr }}
					</button>

				</ion-item>
				<ion-item>
					<a color="primary" style="font-weight: bold;text-decoration: underline" (click)="openPlanDetails()"
						item-end>
						Ver mais detalhes
					</a>
				</ion-item>
			</ion-list>
		</ion-card>

		<ion-card class="card-item" style="margin-top: 1.2rem !important" (click)="showMyClientReputation()">
			<ion-item>
				<ion-thumbnail item-start>
					<img class="menu-icon" src="assets/imgs/profile/medal.svg">
				</ion-thumbnail>
				<ion-label>Reputação como cliente</ion-label>
				<ion-icon name="ios-arrow-forward" style="color:#f3f4fc" item-end></ion-icon>
			</ion-item>
		</ion-card>

		<ion-card *ngIf="UserDataCtrl.localUserIsProvider" class="card-item" (click)="showMyProviderReputation()">
			<ion-item>
				<ion-thumbnail item-start>
					<img class="menu-icon" src="assets/imgs/profile/medal.svg">
				</ion-thumbnail>
				<ion-label>Reputação como prestador de serviço</ion-label>
				<ion-icon name="ios-arrow-forward" style="color:#f3f4fc" item-end></ion-icon>
			</ion-item>
		</ion-card>

		<ion-card class="card-item" (click)="goToPage('HelpPage')">
			<ion-item>
				<ion-thumbnail item-start>
					<img class="menu-icon" src="assets/imgs/profile/people.svg">
				</ion-thumbnail>
				<ion-label>Ajuda e suporte ao consumidor</ion-label>
				<ion-icon name="ios-arrow-forward" style="color:#f3f4fc" item-end></ion-icon>
			</ion-item>
		</ion-card>

		<ion-card class="card-item" (click)="goToPage('FinancialPage')">
			<ion-item>
				<ion-thumbnail item-start>
					<img class="menu-icon" src="assets/imgs/profile/people.svg">
				</ion-thumbnail>
				<ion-label>Financeiro</ion-label>
				<ion-icon name="ios-arrow-forward" style="color:#f3f4fc" item-end></ion-icon>
			</ion-item>
		</ion-card>

		<div *ngIf="UserDataCtrl.localUserIsProvider && !UserDataCtrl.localUser.verifiedProvider">
			<ion-list no-lines>
				<ion-list-header>
					<ion-label>Verificação de prestadores</ion-label>
				</ion-list-header>

				<div *ngIf="UserDataCtrl.localUser.providerVerificationSacId == ''">
					<button ion-item (click)="goToPage('ProviderVerificationPage')">
						<ion-icon name="send" item-start></ion-icon>
						<ion-label>Enviar dados</ion-label>
					</button>
				</div>
				<div *ngIf="UserDataCtrl.localUser.providerVerificationSacId != ''">
					<button ion-item (click)="goToPage('MySacsPage')">
						<ion-icon name="information-circle" item-start></ion-icon>
						<ion-label>Consultar andamento</ion-label>
					</button>
				</div>
			</ion-list>
		</div>

	</div>
</ion-content>