<ion-header>
    <ion-navbar color="economizei_Main_Color">
        <button ion-button menuToggle>
            <ion-icon name="economizei-hamburguer"></ion-icon>
        </button>
        <ion-title>Conversas</ion-title>
    </ion-navbar>
    <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
        <ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="ionViewDidEnter()">
            <ion-segment-button [disabled]="showSplash" value="Ativos">Ativas</ion-segment-button>
            <ion-segment-button [disabled]="showSplash" value="Arquivados">Arquivadas</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>

    <div *ngIf="showSplash" class="splash">
        <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
        </lottie-animation-view>
    </div>

    <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
        <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="localChats.length > 0; else elseTemplate">
        <ion-list>
            <ion-item-sliding #slidingItem *ngFor="let chat of localChats">
                <ion-item *ngIf="localLastMessages.has(chat.id)" (tap)="itemTapped(chat)" (press)="itemPressed(chat, slidingItem)" [ngClass]="{'transparent': getReadedStatus(chat.id)}">
                    <ion-avatar item-start>
                        <img src="{{getOrtherUserData(chat).userThumbnailUrl}}">
                    </ion-avatar>
                    <h2 *ngIf="!getReadedStatus(chat.id)" style="color: #004c90;font-weight: bold;">{{getOrtherUserData(chat).userName}}</h2>
                    <h2 *ngIf="getReadedStatus(chat.id)">{{getOrtherUserData(chat).userName}}</h2>
                    <div *ngIf="localLastMessages.get(chat.id).type == 'text'">
                        <p *ngIf="localLastMessages.get(chat.id).senderId == UserDataCtrl.localUser.id" class="msg-msg">Você
                            disse: {{localLastMessages.get(chat.id).message}}</p>
                        <p *ngIf="localLastMessages.get(chat.id).senderId != UserDataCtrl.localUser.id" class="msg-msg">{{localLastMessages.get(chat.id).senderFullName.split('
                            ')[0]}} disse: {{localLastMessages.get(chat.id).message}}</p>
                    </div>
                    <div *ngIf="localLastMessages.get(chat.id).type == 'image'">
                        <p *ngIf="localLastMessages.get(chat.id).senderId == UserDataCtrl.localUser.id" class="msg-msg">Você
                            enviou uma imagem</p>
                        <p *ngIf="localLastMessages.get(chat.id).senderId != UserDataCtrl.localUser.id" class="msg-msg">{{localLastMessages.get(chat.id).senderFullName.split('
                            ')[0]}} enviou uma imagem</p>
                    </div>
                    <div *ngIf="localLastMessages.get(chat.id).type == 'audio'">
                        <p *ngIf="localLastMessages.get(chat.id).senderId == UserDataCtrl.localUser.id" class="msg-msg">Você
                            enviou um audio</p>
                        <p *ngIf="localLastMessages.get(chat.id).senderId != UserDataCtrl.localUser.id" class="msg-msg">{{localLastMessages.get(chat.id).senderFullName.split('
                            ')[0]}} enviou um audio</p>
                    </div>
                    <div *ngIf="localLastMessages.get(chat.id).type == 'file'">
                        <p *ngIf="localLastMessages.get(chat.id).senderId == UserDataCtrl.localUser.id" class="msg-msg">Você
                            enviou um arquivo</p>
                        <p *ngIf="localLastMessages.get(chat.id).senderId != UserDataCtrl.localUser.id" class="msg-msg">{{localLastMessages.get(chat.id).senderFullName.split('
                            ')[0]}} enviou um arquivo</p>
                    </div>
                    <div class="msg-date">
                        <p class="txt-top">{{ localLastMessages.get(chat.id).dateString }}</p>
                        <p class="txt-bottom">{{ localLastMessages.get(chat.id).timeString }}</p>
                    </div>
                </ion-item>
                <ion-item *ngIf="!localLastMessages.has(chat.id)" class="transparent" (tap)="itemTapped(chat)">
                    <ion-avatar item-start>
                        <img src="{{getOrtherUserData(chat).userThumbnailUrl}}">
                    </ion-avatar>
                    <h2>{{getOrtherUserData(chat).userName}}</h2>
                    <p>Conversa sem mensagens</p>
                    <div class="msg-date">
                        <p class="txt-top">{{ getDateString(chat.createdOn) }}</p>
                        <p class="txt-bottom">{{ getTimeString(chat.createdOn) }}</p>
                    </div>
                </ion-item>

                <ion-item-options side="right">
                    <button *ngIf="chat.status == 'active'" ion-button color="economizei_Light_Grey" (click)="archiveChat(chat, slidingItem)">
                        <ion-icon name="archive"></ion-icon>
                        Arquivar
                    </button>
                    <button *ngIf="chat.status == 'archived'" ion-button color="secondary" (click)="activateChat(chat, slidingItem)">
                        <ion-icon name="bulb"></ion-icon>
                        Ativar
                    </button>
                    <button ion-button color="danger" (click)="deleteChatConfirmation(chat, slidingItem)">
                        <ion-icon name="trash"></ion-icon>
                        Excluir
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ng-container>
    <ng-template #elseTemplate>
        <h5 *ngIf="segment == 'Ativos'" style="text-align: center; margin: 6%;">Você não tem conversas ativas!</h5>
        <h5 *ngIf="segment == 'Arquivados'" style="text-align: center; margin: 6%;">Você não tem conversas arquivadas!</h5>
    </ng-template>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
