page-my-chats {

    .transparent{
        background-color: color($colors, economizei_Background, base);
    }

    .msg-msg{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
    }

    .msg-date{
        text-align: right;
        .txt-top{
            margin-top: -40px;
            font-size: 1rem;
        }
        .txt-bottom{
            margin-top: 20px;
            font-size: 1rem;
        }
    }
}
