<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Sua avaliação para o prestador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="hasReview; else noContent">
    <ion-card>
      <button custom-edit-button icon-only (click)="editProviderReview()">
        <ion-icon name="create" item-end></ion-icon>
      </button>
      <ion-list no-lines>
        <ion-label text-align-center>
          <h1>{{translateRate(localReview.clientOpinion)}}</h1>
        </ion-label>
        <rating [(ngModel)]="localReview.clientOpinion" readOnly="true"></rating>
        <ion-label text-align-center>
          <h2>{{ localReview.text }}</h2>
        </ion-label>
        <div *ngIf="localReview.punctuality != 0">
          <ion-item>
            <ion-label text-align-center>
              <h1>Pontualidade</h1>
            </ion-label>
          </ion-item>
          <ion-grid no-padding style="margin-top: -10%;">
            <ion-row justify-content-center>
              <ion-col col-4 *ngIf="(localReview.punctuality == 1)">
                <button custom ion-button icon-only>
                  <ion-icon name="md-happy" color="primary"></ion-icon>
                  <ion-label>Foi Pontual</ion-label>
                </button>
              </ion-col>
              <ion-col col-4 *ngIf="(localReview.punctuality == -1)">
                <button custom ion-button icon-only>
                  <ion-icon name="md-sad" color="danger"></ion-icon>
                  <ion-label>Não Foi Pontual</ion-label>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="localReview.serviceDelivery != 0">
          <ion-item>
            <ion-label text-align-center>
              <h1>Entrega</h1>
            </ion-label>
          </ion-item>
          <ion-grid no-padding style="margin-top: -10%;">
            <ion-row justify-content-center>
              <ion-col col-4 *ngIf="(localReview.serviceDelivery == 1)">
                <button custom ion-button icon-only>
                  <ion-icon name="md-happy" color="primary"></ion-icon>
                  <ion-label>Entregou no prazo</ion-label>
                </button>
              </ion-col>
              <ion-col col-4 *ngIf="(localReview.serviceDelivery == -1)">
                <button custom ion-button icon-only>
                  <ion-icon name="md-sad" color="danger"></ion-icon>
                  <ion-label>Atrazou a entrega</ion-label>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-item>
          <ion-label text-align-center>
            <h1>Orçamento</h1>
          </ion-label>
        </ion-item>
        <ion-grid no-padding style="margin-top: -10%;">
          <ion-row justify-content-center>
            <ion-col col-4 *ngIf="(localReview.budgetAccuracy == 1)">
              <button custom ion-button icon-only>
                <ion-icon name="md-happy" color="primary"></ion-icon>
                <ion-label>Cumpriu</ion-label>
              </button>
            </ion-col>
            <ion-col col-4 *ngIf="(localReview.budgetAccuracy == -1)">
              <button custom ion-button icon-only>
                <ion-icon name="md-sad" color="danger"></ion-icon>
                <ion-label style="white-space: unset !important;">Não Cumpriu</ion-label>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <p style="text-align: center">Criada em: {{ localReview.createdOn.toLocaleDateString('pt-BR') }}</p>
    </ion-card>
  </div>
  <ng-template #noContent>
    <div style="text-align: center;padding-left: 5%;padding-right: 5%;">
      <h2>Este pedido ainda não possui avaliação para o prestador.</h2>
    </div>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-auto>
          <button ion-button round (click)="createReviewModal()">
            Fazer avaliação
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-template>
</ion-content>