page-my-order-provider-review-detail {

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
    }

    .card{
        border-radius: 15px;
        ion-label{
            white-space: normal !important;
            h1, h2, h6, p{
            margin-top: unset !important;
            }
        }
        ion-label[text-align-center]{
            text-align: center !important;
        }
    }

    .inactive{
        background-color: color($colors, economizei_Background, base) !important;
    }

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
        color: black !important;

    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-list button {
        background-color: transparent !important;
    }

    .mini-avatar{
        margin: -40px 0px 0px 0px;
    }

    .mini-avatar img{
        width: 40px;
        height: 40px;
    }

    .order-address ion-item{
        padding-left: 6px !important;        
    }

    .order-address ion-label {
        margin: 0 !important
    }

    ion-list{
        text-align: center;
    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-list button {
        background-color: transparent !important;
    }

    ion-label{
        white-space: normal !important;
        h1, h2, h6, p{
        margin-top: unset !important;
        }
    }

    ion-label[text-align-center]{
        text-align: center !important;
    }

    button[custom-edit-button]{
        background: transparent;
        margin: 18px 0px 0px 0px;
        position: absolute;
        z-index: 9999;
            ion-icon{
                font-size: 2.2em;
            }
    }

    button[custom]{
        background: transparent;
        height: 100px;
        box-shadow: 0 0 0 0 !important;
    }

    button[custom] ion-icon {
    font-size: 50px;
    }

    button[custom] ion-label {
        color: black;
        position: absolute;
        margin-top: 40%;
        text-transform: none;
    }

    button[custom].selected{
        background-color: color($colors, economizei_Background, base) !important;
    }

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
        color: black !important;
        border-top:  unset !important;
    }

}
