<ion-header>
  <ion-navbar color="economizei_Main_Color">
      <button ion-button menuToggle>
        <ion-icon name="economizei-hamburguer"></ion-icon>
      </button>
    <ion-title>Meus tipos de serviço</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="addServiceSubPage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
    <ion-refresher-content pullingIcon="md-arrow-dropdown"
    pullingText="Puxe para atualizar"
    refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="localServicesTypeSubs.length > 0; else elseTemplate">
    <ion-list>
      <ion-item-sliding style="background-color: transparent;" #slidingItem *ngFor="let serviceTypeSub of localServicesTypeSubs">

        <ion-item (tap)="itemPressed(serviceTypeSub)" (press)="itemPressed(serviceTypeSub)">
          <ion-avatar item-start>
              <img [src]="serviceTypeSub.serviceTypeSymbol">
          </ion-avatar>
          <h2>{{serviceTypeSub.serviceTypeTitle}}</h2>
          <h2>Inscrição para {{serviceTypeSub.providerWorkAddress.city}}, {{serviceTypeSub.providerWorkAddress.state}}</h2>
          <p *ngIf="serviceTypeSub.notif">Notificações ativas para o raio de {{serviceTypeSub.notifRad}} km(s)</p>
          <p *ngIf="!serviceTypeSub.notif">Notificações desativadas</p>
        </ion-item>

        <ion-item-options side="right">
            <button ion-button color="primary" (click)="edit(serviceTypeSub, slidingItem)">
                <ion-icon name="md-create"></ion-icon>
                Editar
            </button>
            <button ion-button color="danger" (click)="delete(serviceTypeSub, slidingItem)">
                <ion-icon name="trash"></ion-icon>
                Excluir
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ng-container>
  <ng-template #elseTemplate>
      <h5 style="text-align: center; margin: 6%;">Você não possui nehuma inscrição para um serviço</h5>
  </ng-template>

</ion-content>
