// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$segment-button-md-height: 5.5rem;
$segment-button-md-line-height: 5.5rem;

$colors: (
  //primary:    #88c0d4,
  primary:    #004c90,
  secondary:  #00be71,
  warning:    #ffa220,
  danger:     #d45654,
  light:      #88c0d4,
  dark:       #232323,
  white:      white,
  transparent: transparent,
  black: black,
  gray: #666,

  //reference Colors
  googlePlus: #dd4b39,
  faceBook: #3C5A99,

  //Main collor
  reviewsStarColor: #ffb400,
  economizei_Main_Color: white,
  economizei_segment: #ffa220,
  economizei_Background: #f5f5f5,

  economizei_Dark_Blue: #004c90,
  economizei_Light_Blue: #88c0d4,
  economizei_Yellow: #ffa220,
  economizei_Light_Green: #00be71,
  economizei_Lemon_Green: #4de3af,
  economizei_Light_Red: #d45654,
  economizei_Light_Black: #232323,
  economizei_Light_Grey: #f5f5f5,

  //Chat pages
  my_msg: #49496c,
  my_msg_txt: #fff,
  my_msg_info: #f5f5f5,
  my_msg_status_icons: #f5f5f5,
  my_msg_status_readead_icon: #4FC3F7,

  other_user_msg: #88c0d4,
  other_user_msg_txt: black,
  other_user_msg_info: #343434

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
