<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Verificação</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
        <ion-segment-button value="Selfie" disabled>Selfie</ion-segment-button>
        <ion-segment-button value="RG Frente" disabled>Frente do RG</ion-segment-button>
        <ion-segment-button value="RG Verso" disabled>Verso do RG</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="!showSplash" [ngSwitch]="segment">

    <div *ngSwitchCase="'Selfie'">
      <h4 style="text-align: center; margin-right: 1.6rem;">Para começar nos envie uma selfie para que possamos fazer verificações de sergurança!</h4>     

      <ion-card>
        <ion-card-header style="white-space: normal"> 
          Selfie
        </ion-card-header>
        
          <img *ngIf="localProvideVerification.pics[0].url != ''" src="{{localProvideVerification.pics[0].url}}"/>
          <img *ngIf="localProvideVerification.pics[0].url == ''" src="{{dummySelfieUrl}}"/>
          

        <ion-row no-padding justify-content-center>
          <ion-col col-auto>
            <button ion-button outline icon-start (click)="startCameraPrev(0)">
              <ion-icon name='camera'></ion-icon>
              Tirar foto
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button outline icon-start (click)="addPhotoFromGallery(0)">
              <ion-icon name='images'></ion-icon>
              Da galeria
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <div style="text-align: center">
        <button ion-button round icon-right [disabled]="!selfieReady" (click)="goForward()">
          Avançar
          <ion-icon name='arrow-forward'></ion-icon>
        </button>
      </div>

    </div>

    <div *ngSwitchCase="'RG Frente'">
        <h4 style="text-align: center; margin-right: 1.6rem;">Agora precisamos do seu RG para conseguirmos confirmar suas informações!</h4>     

        <ion-card>
          <ion-card-header style="white-space: normal"> 
            Frente do RG
          </ion-card-header>
          
            <img *ngIf="localProvideVerification.pics[1].url != ''" src="{{localProvideVerification.pics[1].url}}"/>
            <img *ngIf="localProvideVerification.pics[1].url == ''" src="{{dummyDocFrontUrl}}"/>
  
          <ion-row no-padding justify-content-center>
            <ion-col col-auto>
              <button ion-button outline icon-start (click)="startCameraPrev(1)">
                <ion-icon name='camera'></ion-icon>
                Tirar foto
              </button>
            </ion-col>
            <ion-col col-auto>
              <button ion-button outline icon-start (click)="addPhotoFromGallery(1)">
                <ion-icon name='images'></ion-icon>
                Da galeria
              </button>
            </ion-col>
          </ion-row>
        </ion-card>

        
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button  ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button  ion-button round icon-right [disabled]="!docFrontReady" (click)="goForward()">
              Avançar
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-col>                    
        </ion-row>
      </ion-grid>

    </div>

    <div *ngSwitchCase="'RG Verso'">
      <h4 style="text-align: center; margin-right: 1.6rem;">E por ultimo o Verso do seu RG !</h4>     

      <ion-card>
        <ion-card-header style="white-space: normal"> 
          Verso do RG
        </ion-card-header>
        
          <img *ngIf="localProvideVerification.pics[2].url != ''" src="{{localProvideVerification.pics[2].url}}"/>
          <img *ngIf="localProvideVerification.pics[2].url == ''" src="{{dummyDocBackUrl}}"/>

        <ion-row no-padding justify-content-center>
          <ion-col col-auto>
            <button ion-button outline icon-start (click)="startCameraPrev(2)">
              <ion-icon name='camera'></ion-icon>
              Tirar foto
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button outline icon-start (click)="addPhotoFromGallery(2)">
              <ion-icon name='images'></ion-icon>
              Da galeria
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button  ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button  ion-button round icon-right [disabled]="!docBackReady()" (click)="finish()">
              Concluir
              <ion-icon name='checkmark'></ion-icon>
            </button>
          </ion-col>                    
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>