page-config {

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-list button {
        background-color: transparent !important;
    }
}
