<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Ajustes</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<ion-list no-lines>


		<ion-list-header>
			<ion-label>Configurações de localização</ion-label>
		</ion-list-header>

		<ion-item (click)="changeLocalizationConfig()">
			<ion-icon name="compass" item-start></ion-icon>
			<ion-label>Estado: {{localAppConfig.state}}</ion-label>
			<ion-icon name="arrow-dropdown" item-end></ion-icon>
		</ion-item>
		<ion-item (click)="changeLocalizationConfig()">
			<ion-icon name="locate" item-start></ion-icon>
			<ion-label>Cidade: {{localAppConfig.city}}</ion-label>
			<ion-icon name="arrow-dropdown" item-end></ion-icon>
		</ion-item>

		<ion-list-header>
			<ion-label>Configurações do Aplicativo</ion-label>
		</ion-list-header>

		<ion-item>
			<ion-icon *ngIf="localAppConfig.hapticFeedback == true" name="notifications"
				item-start></ion-icon>
			<ion-icon *ngIf="localAppConfig.hapticFeedback == false"
				name="notifications-off" item-start></ion-icon>
			<ion-label>Vibração</ion-label>
			<ion-toggle (ngModelChange)="toggleHapticFeedbackConfig()"
				[ngModel]="localAppConfig.hapticFeedback"></ion-toggle>
		</ion-item>

		<ion-item>
			<ion-label floating style="color: black !important">Modo da barra de status</ion-label>
			<ion-select [(ngModel)]="localAppConfig.statusBarMode" name="statusBarMode"
				interface="action-sheet" cancelText="Cancelar"
				(ionBlur)="changeStatusBarMode()">
				<ion-option [value]="'default'">Padrão</ion-option>
				<ion-option [value]="'light'">Claro</ion-option>
				<ion-option [value]="'hide'">Ocutar</ion-option>
			</ion-select>
		</ion-item>

		<!-- <ion-item (click)="navCtrl.push('ConfigAssistantPage')">
			<ion-icon name="eco-cog" item-start></ion-icon>
			<ion-label>Asistente de configuração</ion-label>
		</ion-item> -->

		<div *ngIf="UserDataCtrl.hasUser">
			<ion-list-header>
				<ion-label>Notificações</ion-label>
			</ion-list-header>
			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.generalAlertsNotifications == true"
					name="notifications" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.generalAlertsNotifications == false"
					name="notifications-off" item-start></ion-icon>
				<ion-label>Avisos gerais</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('generalAlertsNotifications')"
					[ngModel]="UserDataCtrl.localUser.generalAlertsNotifications"></ion-toggle>
			</ion-item>

			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.newsNotification == true"
					name="notifications" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.newsNotification == false"
					name="notifications-off" item-start></ion-icon>
				<ion-label>Novidades</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('newsNotification')"
					[ngModel]="UserDataCtrl.localUser.newsNotification"></ion-toggle>
			</ion-item>

			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.newMsgNotifications == true"
					name="notifications" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.newMsgNotifications == false"
					name="notifications-off" item-start></ion-icon>
				<ion-label>Novas mensagems</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('newMsgNotifications')"
					[ngModel]="UserDataCtrl.localUser.newMsgNotifications"></ion-toggle>
			</ion-item>

			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.newBudgetNotifications == true"
					name="notifications" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.newBudgetNotifications == false"
					name="notifications-off" item-start></ion-icon>
				<ion-label>Novos Orçamentos</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('newBudgetNotifications')"
					[ngModel]="UserDataCtrl.localUser.newBudgetNotifications"></ion-toggle>
			</ion-item>

			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.newReviewNotifications == true"
					name="notifications" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.newReviewNotifications == false"
					name="notifications-off" item-start></ion-icon>
				<ion-label>Novas avaliações</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('newReviewNotifications')"
					[ngModel]="UserDataCtrl.localUser.newReviewNotifications"></ion-toggle>
			</ion-item>

			<div *ngIf="UserDataCtrl.localUserIsProvider">
				<ion-item>
					<ion-icon *ngIf="UserDataCtrl.localUser.newOrderNotifications == true"
						name="notifications" item-start></ion-icon>
					<ion-icon *ngIf="UserDataCtrl.localUser.newOrderNotifications == false"
						name="notifications-off" item-start></ion-icon>
					<ion-label>Novos pedidos</ion-label>
					<ion-toggle (ngModelChange)="toggleUserParam('newOrderNotifications')"
						[ngModel]="UserDataCtrl.localUser.newOrderNotifications"></ion-toggle>
				</ion-item>
			</div>

			<ion-item>
				<ion-icon *ngIf="UserDataCtrl.localUser.emailNotifications == true"
					name="mail" item-start></ion-icon>
				<ion-icon *ngIf="UserDataCtrl.localUser.emailNotifications == false"
					name="mail" item-start style="color: #757575;"></ion-icon>
				<ion-label>Notificações por email</ion-label>
				<ion-toggle (ngModelChange)="toggleUserParam('emailNotifications')"
					[ngModel]="UserDataCtrl.localUser.emailNotifications"></ion-toggle>
			</ion-item>
		</div>


		<ion-list-header>
			<ion-label>Outros</ion-label>
		</ion-list-header>
		<ion-item (click)="goToPage('TermsOfUsePage')">
			<ion-icon name="paper" item-start></ion-icon>
			<ion-label>Termos de Uso</ion-label>
		</ion-item>
		<ion-item (click)="goToPage('HelpPage')">
			<ion-icon name="help" item-start></ion-icon>
			<ion-label>Ajuda</ion-label>
		</ion-item>
		<ion-item *ngIf="UserDataCtrl.hasUser" (click)="logout()">
			<ion-icon name="log-out" item-start></ion-icon>
			<ion-label>Sair</ion-label>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-item text-wrap style="background:transparent; text-align:center;">
		economizei V: {{economizeiVersion}}
	</ion-item>
</ion-footer>
