<ion-header>
  <ion-navbar  color="economizei_Main_Color">
    <ion-title>Termos de uso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text-page">
  <div class="text">
    
    <h1>Termos de uso do Economizei Versão 1.0</h1>

    <h2>1 - Titulo H2</h2>
    <div>Aqui ficarão os termos de uso do aplicativo</div>

    <div>PHIPPER LLC (“Phipper”), sociedade empresária limitada, inscrita no CNPJ/MF sob o nº. 99.999.999/0001-99, é uma pessoa jurídica de direito privado que prestadora presta serviços indicação via anúncios online, realizados entre promitentes usuários Contratantes de Serviços e promitentes Prestadores de serviço, por meio do aplicativo e do site Economizei (“Plataforma”).</div>

    <div>Por intermédio destes Termos e Condições Gerais de Uso (“Termos”), Phipper apresenta aos usuários em geral, aos Contratantes, Compradores, Prestadores e Vendedores (todos em conjunto denominados “Usuários”) as condições essenciais para o uso dos serviços oferecidos na Plataforma.
    Ao utilizar a Plataforma ou utilizar os serviços ofertados por Phipper na Plataforma de Economizei, os Usuários aceitam e se submetem às condições destes Termos e às Políticas de Privacidade, bem como a todos os documentos anexos a estes.</div>

    <div>Sed pellentesque ipsum eget ante hendrerit maximus. Aliquam id venenatis nulla. Nullam in nibh at enim vestibulum ullamcorper. Nam felis dolor, lobortis vel est non, condimentum malesuada nisl. In metus sapien, malesuada at nulla in, pretium aliquam turpis. Quisque elementum purus mi, sed tristique turpis ultricies in. Donec feugiat dolor non ultricies ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ut purus et diam porta cursus vitae semper mi. Donec fringilla tellus orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae commodo sem. Duis vehicula quam sit amet imperdiet facilisis. Pellentesque eget dignissim neque, et scelerisque libero. Maecenas molestie metus sed orci cursus, in venenatis justo dapibus.</div>

    <div>Aenean rhoncus urna at interdum blandit. Donec ac massa nec libero vehicula tincidunt. Sed sit amet hendrerit risus. Aliquam vitae vestibulum ipsum, non feugiat orci. Vivamus eu rutrum elit. Nulla dapibus tortor non dignissim pretium. Nulla in luctus turpis. Etiam non mattis tortor, at aliquet ex. Nunc ut ante varius, auctor dui vel, volutpat elit. Nunc laoreet augue sit amet ultrices porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum pellentesque lobortis est, ut tincidunt ligula mollis sit amet. In porta risus arcu, quis pellentesque dolor mattis non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</div>
  
    
  </div>
</ion-content>