@import "../assets/css/custom.scss";

.economizei-menu {
  background: #f8f9fb !important;
  padding-bottom: 1.8rem;
  hr {
    margin: 0px !important;
  }
  ion-list-header {
    color: #a2b1cf;
  }
  ion-avatar img {
    width: 50px !important;
    height: 50px !important;
  }
  svg {
    fill: red;
  }
  ion-list-header {
    margin-bottom: 0px !important;
  }
  .menu-icon {
    max-width: 1.8rem;
    max-height: 1.8rem;
    margin: 0px 8px 0px 0px !important;
  }
  .item-label-button {
    text-align: center;
  }
  .icon-no-margin::before {
    font-size: 16px !important;
  }
  .icon-no-margin {
    margin-top: 3.6px !important;
    margin-bottom: 0px !important;
  }
  .item-inside-p {
    padding-left: 0px;
    min-height: unset;
    color: #004c90;
    ion-label {
      margin: 0px 8px 0px 0px !important;
    }

    .item-inner {
      margin: 0px 8px 0px 0px !important;
    }
  }
  ion-thumbnail {
    max-width: unset;
    max-height: unset;
    min-width: unset;
    min-height: unset;
    margin: 2px 16px 2px 0px !important;
  }
  ion-item[disabled] ion-label {
    opacity: 0.4;
  }
  ion-item[disabled] ion-thumbnail img {
    opacity: 0.4;
  }
  .active {
    color: #ffa220; // background-color: peru !important;
  }
  h1 {
    font-size: 2rem !important;
  }
  .invites-card {
    background-color: #4de3af !important;
    border-radius: 8px;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    button {
      border-radius: 8px !important;
    }
  }
  .provider-card {
    background-color: #3e6cc7 !important;
    border-radius: 8px;
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    button {
      border-radius: 8px !important;
    }
  }
  .card-header {
    color: white !important;
  }
  .card-header {
    h2 {
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      color: white;
    }
  }
  .menu-header {
    background: #f8f9fb !important;
  }
  .background-white {
    background: white !important;
  }
  ion-card-header {
    padding: 8px;
  }
  .login-button {
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    width: 100%;
    background-color: #4de3af;
    color: white;
    text-transform: uppercase !important;
    margin: unset !important;
    padding: 0 15% !important;
    font-size: 85% !important;
  }
  h2 {
    font-weight: bold;
  }
  h2[bigger] {
    margin: 0px;
    font-size: 2rem;
    color: #004c90;
  }
}
