<ion-menu [content]="MenuContent" id="guestMenu" enabled="false">

    <ion-header style="background-color: white !important">
        <ion-row class="background-white">
            <ion-col col-3 push-1 style="align-self: center; text-align: end">
                <img src="assets/imgs/logo.png" style="max-width:65%">
            </ion-col>
            <ion-col col-7 push-1 style="align-self:center; font-size: 2.2rem;">
                <ion-label style="font-family: ecoFont">economizei</ion-label>
            </ion-col>
        </ion-row>
    </ion-header>

    <ion-content class="economizei-menu" style="background-color: #f8f9fb !important">

        <div *ngIf="authSplash" class="splash">
            <lottie-animation-view [options]="lottieSplash" [width]="'100%'" [height]="200">
            </lottie-animation-view>
        </div>

        <div *ngIf="!authSplash">
            <ion-card style="border-radius:30px" (click)="goToLogin()">
                <ion-row justify-content-center>
                    <ion-col col-3 align-self-center>
                        <ion-avatar>
                            <img [src]="this.UserDataCtrl.localUser.pic.thumbnailUrl">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-8 align-self-center>
                        <button ion-button round class="login-button">
                            Entre ou cadastre-se
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>

            <ion-list class="menu-content" no-lines>

                <ion-list-header class="menu-header" no-lines>
                    Acesso rápido
                </ion-list-header>

                <ion-item (click)="setRootPage('HomePage')" [ngClass]="{'active': rootPageName == 'HomePage' }">
                    <ion-icon name="economizei-logo" item-start></ion-icon>
                    <ion-label>Início</ion-label>
                </ion-item>
                <hr>
                <ion-item (click)="setRootPage('TutorialPage')" [ngClass]="{'active': rootPageName == 'TutorialPage' }">
                    <!-- <ion-thumbnail item-start>
                    <img class="menu-icon" src="assets/imgs/menu/inicio.png">
                </ion-thumbnail> -->
                    <ion-icon name="browsers" item-start></ion-icon>
                    <ion-label>Como funciona?</ion-label>
                </ion-item>

                <ion-list-header class="menu-header" no-lines>
                    Outros
                </ion-list-header>
                <ion-item (click)="setRootPage('ConfigPage')" [ngClass]="{'active': rootPageName == 'ConfigPage' }">
                    <ion-icon name="economizei-cog" item-start></ion-icon>
                    <ion-label>Configurações</ion-label>
                </ion-item>
                <hr>
                <ion-item (click)="shareApp()">
                    <ion-icon name="economizei-share" item-start></ion-icon>
                    <ion-label>Compartilhar</ion-label>
                </ion-item>
                <hr>
                <ion-item (click)="setRootPage('HelpPage')" [ngClass]="{'active': rootPageName == 'HelpPage' }">
                    <ion-icon name="ios-help-circle-outline" item-start></ion-icon>
                    <ion-label>Ajuda e suporte</ion-label>
                </ion-item>

            </ion-list>
        </div>
    </ion-content>
</ion-menu>

<ion-menu [content]="MenuContent" id="menu" enabled="false">

    <ion-header style="background-color: white !important">
        <ion-row class="background-white">
            <ion-col col-3 push-1 style="align-self: center; text-align: end">
                <img src="assets/imgs/logo.png" style="max-width:65%">
            </ion-col>
            <ion-col col-7 push-1 style="align-self:center; font-size: 2.2rem;">
                <ion-label color="primary" style="font-family: ecoFont">economizei</ion-label>
            </ion-col>
        </ion-row>
    </ion-header>

    <ion-content class="economizei-menu" style="background-color: #f8f9fb !important">

        <div style="background-color:transparent">
            <ion-card style="border-radius:10rem; box-shadow: 0.05ch !important;" (click)="setRootPage('UserProfilePage')">
                <ion-item style="padding-left:10px;">
                    <ion-avatar item-start>
                        <img [src]="this.UserDataCtrl.localUser.pic.thumbnailUrl">
                    </ion-avatar>
                    <ion-label color="primary">
                        <h2 bigger>{{UserDataCtrl.localUser.firstName + " " + UserDataCtrl.localUser.lastName}}</h2>
                        <ion-item class="item-inside-p">
                            <ion-icon class="icon-no-margin" name="economizei-profile" small item-start></ion-icon>
                            Ver perfil
                        </ion-item>
                    </ion-label>

                </ion-item>
            </ion-card>
        </div>

        <ion-card class="invites-card" *ngIf="UserDataCtrl.localUser.type == 10" (click)="pushPage('InviteProvidersPage')">
            <ion-row>
                <ion-col col-7>
                    <ion-card-header class="card-header">
                        <h2>Ganhe o Ecobit de gratis!</h2>
                    </ion-card-header>
                </ion-col>
                <ion-col col-5 style="align-self: center; text-align: end">
                    <button ion-button small>Eu quero ></button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card class="provider-card" *ngIf="UserDataCtrl.localUser.type == 1" (click)="makeProvider()">
            <ion-row>
                <ion-col col-7>
                    <ion-card-header class="card-header">
                        <h2>Seja um prestador de serviço!</h2>
                    </ion-card-header>
                    <ion-card-content class="card-header" style="color:#4de3af !important">
                        É grátis!
                    </ion-card-content>
                </ion-col>
                <ion-col col-5 style="align-self: center; text-align: end">
                    <button ion-button small>Eu quero ></button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-list class="menu-content" no-lines>

            <ion-list-header class="menu-header" no-lines>
                Acesso rápido
            </ion-list-header>

            <ion-item (click)="setRootPage('HomePage')" [ngClass]="{'active': rootPageName == 'HomePage' }">
                <ion-icon name="economizei-logo" item-start></ion-icon>
                <ion-label>Início</ion-label>
            </ion-item>

            <hr>
            <ion-item (click)="setRootPage('SavedBannersPage')" [ngClass]="{'active': rootPageName == 'SavedBannersPage' }">
                <ion-icon name="economizei-love" item-start></ion-icon>
                <ion-label>Favoritos</ion-label>
            </ion-item>

            <hr>
            <ion-item (click)="setRootPage('MyChatsPage')" [ngClass]="{'active': rootPageName == 'MyChatsPage' }">
                <ion-icon name="economizei-message" item-start></ion-icon>
                <ion-label>Mensagens</ion-label>
                <ion-badge *ngIf="UserDataCtrl.hasUnreadMsg" item-end style="height: 20px;
                width: 20px;
                border-radius: 50%;
                padding: 2px 5px;
                animation: pulse 1s ease infinite;
                align-content:center;">
                </ion-badge>
            </ion-item>

            <hr>
            <ion-item (click)="setRootPage('NotificationsPage')" [ngClass]="{'active': rootPageName == 'NotificationsPage' }">
                <ion-icon name="economizei-notification" item-start></ion-icon>
                <ion-label>Notificações</ion-label>
                <ion-badge *ngIf="UserDataCtrl.numOfNotifications > 0" item-end style="height: 22px;
                width: 22px;
                border-radius: 50%;
                padding: 4px;
                animation: pulse 1s ease infinite;
                align-content:center;">{{UserDataCtrl.numOfNotifications}}</ion-badge>
            </ion-item>


            <ion-list-header class="menu-header" no-lines>
                Opções como cliente
            </ion-list-header>

            <ion-item (click)="setRootPage('MyOrdersPage')" [ngClass]="{'active': rootPageName == 'MyOrdersPage' }">
                <ion-icon name="economizei-request" item-start></ion-icon>
                <ion-label>Meus pedidos</ion-label>
            </ion-item>

            <hr>
            <ion-item (click)="setRootPage('MyRequestsPage')" [ngClass]="{'active': rootPageName == 'MyRequestsPage' }">
                <ion-icon name="economizei-hand" item-start></ion-icon>
                <ion-label>Minhas solicitações</ion-label>
            </ion-item>

            <div *ngIf="UserDataCtrl.localUserIsProvider">

                <ion-list-header class="menu-header" no-lines>
                    Opções como prestador
                </ion-list-header>

                <ion-item (click)="setRootPage('MyBannersPage')" [ngClass]="{'active': rootPageName == 'MyBannersPage' }">
                    <ion-icon name="economizei-megafone" item-start></ion-icon>
                    <ion-label>Meus anúncios</ion-label>
                </ion-item>

                <hr>
                <ion-item (click)="setRootPage('ReceivedOrdersPage')" [ngClass]="{'active': rootPageName == 'ReceivedOrdersPage' }">
                    <ion-icon name="economizei-clipboard" item-start></ion-icon>
                    <ion-label>Pedidos recebidos</ion-label>
                </ion-item>

                <hr>
                <ion-item (click)="setRootPage('ReceivedRequestsPage')" [ngClass]="{'active': rootPageName == 'ReceivedRequestsPage' }">
                    <ion-icon name="economizei-tag" item-start></ion-icon>
                    <ion-label>Solicitações recebidas</ion-label>
                </ion-item>

                <hr>
                <ion-item (click)="setRootPage('SentProposalsPage')" [ngClass]="{'active': rootPageName == 'SentProposalsPage' }">
                    <ion-icon name="economizei-tag" item-start></ion-icon>
                    <ion-label>Propostas enviadas</ion-label>
                </ion-item>
            </div>

            <ion-list-header class="menu-header" no-lines>
                Outros
            </ion-list-header>

            <ion-item (click)="setRootPage('ConfigPage')" [ngClass]="{'active': rootPageName == 'ConfigPage' }">
                <ion-icon name="economizei-cog" item-start></ion-icon>
                <ion-label>Configurações</ion-label>
            </ion-item>

            <hr>
            <ion-item (click)="shareApp()">
                <ion-icon name="economizei-share" item-start></ion-icon>
                <ion-label>Compartilhar</ion-label>
            </ion-item>

            <hr>
            <ion-item (click)="setRootPage('HelpPage')" [ngClass]="{'active': rootPageName == 'HelpPage' }">
                <ion-icon name="ios-help-circle-outline" item-start></ion-icon>
                <ion-label>Ajuda e suporte</ion-label>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="'HomePage'" #MenuContent swipeBackEnabled="false"></ion-nav>
