page-provider-banners-and-services-subs {
  ion-content {
    background-color: color($colors, economizei_Background, base);
  }

  ion-spinner[request-refresher] {
    width: 100%;
    margin-top: 10%;
  }

  .inscript-header {
    padding-top: 6%;
    padding-left: 6px;
    margin: unset;
  }

  ion-scroll[category-scroll] {
    width: 100%;
    height: 110px;
    margin-top: 10px;
    .inner {
      width: max-content;
      height: 100%;

      .inner-item {
        display: inline-block;
        text-align: -webkit-center;
        margin: 6px;
        width: 80px;

        ion-card {
          border-radius: 50%;
          display: table-cell;
          margin: 0px !important;
          box-shadow: unset;

          img {
            padding: 10%;
            width: 55px;
            height: 55px;
            border-width: 4px;
            border-color: gray;
            border-style: solid;
            border-radius: 50%;
          }
        }

        p {
          margin-top: 4px;
          white-space: inherit;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 40px;
          width: 80px;
          font-size: 10px;
        }
      }
    }
  }

  ion-list {
    ion-list-header {
      background-color: transparent !important;
      text-align: center !important;
      font-size: 1.8rem !important;
      color: black !important;
      border-top: unset !important;
    }
    ion-list {
      text-align: center;
    }
    ion-list ion-item {
      background-color: transparent !important;
    }
    ion-label {
      white-space: normal !important;
      h1,
      h2,
      h6,
      p {
        margin-top: unset !important;
      }
    }
    ion-label[text-align-center] {
      text-align: center !important;
    }
  }

  .banner-grid {
    padding: 5px;
    flex-flow: column wrap;
    column-count: 2;
    column-gap: 5px;
    .banner-item {
      break-inside: avoid;
      -webkit-column-break-inside: avoid;
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 5px;
      ion-card {
        border-radius: 10px;
      }
    }
    .banner-card:nth-child(2n + 0) {
      float: right;
    }
    .reputation-btn {
      padding: 0 0.8rem !important;
      right: 0.1rem;
      position: absolute;
      color: white !important;
      ion-icon {
        min-height: unset;
      }
      ion-label {
        margin: 1rem 0.5rem 1rem 0;
      }
    }
    .mini-avatar img {
      border-radius: 50%;
      position: absolute;
      top: -2.3rem;
      right: 0.5rem;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
    .card {
      margin: 4px;
      width: auto;
      height: auto;
    }
  }
}
