<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title *ngIf="!isTheOwner">Lojinha de {{provider.firstName}}</ion-title>
    <ion-title *ngIf="isTheOwner">Sua Lojinha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ng-container *ngIf="localServiceTypeSub.length> 0; else elseTemplate1">
    <div style="background-color: white">
      <h4 *ngIf="!isTheOwner" class="inscript-header">Tipos de Serviço avulsos de {{provider.firstName}}</h4>
      <h4 *ngIf="isTheOwner" class="inscript-header">Seus Tipos de Serviço avulsos</h4>
      <ion-scroll category-scroll scrollX="true">
        <div class="inner">
          <div *ngFor="let serviceTypeSub of localServiceTypeSub" class="inner-item">
            <ion-card (click)="serviceTypeSubTapped(serviceTypeSub)">
              <img [src]="serviceTypeSub.serviceTypeSymbol">
            </ion-card>
            <p>{{serviceTypeSub.serviceTypeTitle}}</p>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ng-container>
  <ng-template #elseTemplate1>
    <h4 *ngIf="!isExecutingQuery && !isTheOwner" style="text-align: center; margin: 6%;">{{provider.firstName}} ainda
      não
      disponibiliza serviços avulsos!</h4>
    <h4 *ngIf="!isExecutingQuery && isTheOwner" style="text-align: center; margin: 6%;">Você ainda não
      disponibiliza serviços avulsos!</h4>
  </ng-template>

  <ng-container *ngIf="localBanners.length > 0; else elseTemplate2">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe
            para atualizar" refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12 no-padding>
          <h4 *ngIf="!isTheOwner">Anuncios de {{provider.firstName}}</h4>
          <h4 *ngIf="isTheOwner">Seus Anuncios</h4>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div class="banner-grid">
      <div class="banner-item" *ngFor="let banner of arrangedBanners">
        <ion-card (tap)="bannerTapped(banner)" (press)="bannerPressed(banner)">
          <div style="position: relative;">
            <ion-row no-padding>
              <ion-col col-3 text-left>
                <img [src]="banner.serviceTypeSymbol">
              </ion-col>
              <ion-col text-left>
                <h2 style="color:grey">{{banner.serviceTypeTitle}}</h2>
              </ion-col>
            </ion-row>
            <button ion-button class="reputation-btn" color="dark" small round icon-left>
              <ion-icon name="star" small color="economizei_Yellow"></ion-icon>
              <ion-label color="economizei_Yellow">{{banner.bannerReputation.toFixed(1) }}
              </ion-label>
            </button>
          </div>
          <img src="{{banner.thumbnail}}" />
          <ion-row>
            <ion-col col-9>
              <h3>R$ {{banner.price}} - {{ banner.priceType }}</h3>
            </ion-col>
            <ion-col col-3>
              <ion-avatar class="mini-avatar">
                <img src="{{banner.providerThumbnailUrl}}" />
              </ion-avatar>
            </ion-col>
            <ion-col col-12>
              <h3 style="color: gray">{{banner.title}} </h3>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-template #elseTemplate2>

    <h4 *ngIf="!isExecutingQuery && !isTheOwner" style="text-align: center; margin: 6%;">Não foram encontrados Anuncios
      ativos do
      {{provider.firstName}}</h4>

    <h4 *ngIf="!isExecutingQuery && isTheOwner" style="text-align: center; margin: 6%;"> Você não possui Anuncios</h4>

  </ng-template>

</ion-content>