<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da Assinatura</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="options()">
        <ion-icon large name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button [disabled]="showSplash" value="Detalhes">Detalhes</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Pagamento">Pagamento</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Cartão">Cartão</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>


  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Detalhes'">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-12 no-padding style="text-align: center;">
            <ion-card class="plan-signature-card" [ngClass]="{ 'active': localPlanSignature.status == 'ACTIVE', 'un-active': localPlanSignature.status != 'ACTIVE' }">
              <ion-grid>
                <ion-row>
                  <ion-col col-12>
                    <h1 class="code-label">Codigo</h1>
                    <h1 class="code">{{localPlanSignature.id}}</h1>
                  </ion-col>
                </ion-row>
                <div style="margin-top: 30px;">
                  <ion-row>
                    <ion-col col-12>
                      <h1 class="status">Status: {{utilCtrl.translatePlanSignaturesStatus(localPlanSignature.status)}}</h1>
                      <h1 class="plan-title">Pano: {{localPlanSignature.plan.title}}</h1>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <h1 class="created-on">criado em: {{utilCtrl.getDate(localPlanSignature.createdOn)}}</h1>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 no-padding style="text-align: center;">
            <h3 style="text-align: center; margin-right: 1.6rem;">Detalhes do Plano Assinado</h3>
            <ion-card class="plan-card">
              <ion-card-header>
                <h1>Titulo do plano: {{localPlanSignature.plan.title}}</h1>
                <h1>R$: {{localPlanSignature.plan.price}}</h1>
                <h2>Descrição: {{localPlanSignature.plan.description}}</h2>
              </ion-card-header>
              <ion-card-content>
                <h2>Numero de Aceitações por dia: {{localPlanSignature.plan.maxAcceptedOrdersPerDay}}</h2>
                <h2>Numero de Anuncios: {{localPlanSignature.plan.maxNumOfBanners}}</h2>
                <h2>Numero de Fotos em ununcios: {{localPlanSignature.plan.maxPicsPerBanner}}</h2>
                <h2>Numero de Propostas por dia: {{localPlanSignature.plan.maxSentProposalsPerDay}}</h2>
                <h2>Numero de inscrições em tipos de Serviçõs: {{localPlanSignature.plan.maxServiceTypesSub}}</h2>
                <h2>Numero de promoções gratuitas: {{localPlanSignature.plan.freePromotions}}</h2>
                <h2>Analytics (em-breve): {{utilCtrl.translateBoolean(localPlanSignature.plan.analytics)}}</h2>
                <h2>Renovação a cada: {{localPlanSignature.plan.renovationPeriod}} dias</h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Pagamento'">

      <h3 style="text-align: center; margin-right: 1.6rem;">Historico de ordens de pagamento</h3>
      <ion-card *ngFor="let PO of localPlanPaymentOrders">
        <ion-card-header>
          <h2>Codigo do Pagamento</h2>
          <h6>{{PO.code}}</h6>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-list-header>
              <h2>Detalhes</h2>
            </ion-list-header>

            <ion-item>
              <ion-icon name="cash" item-start></ion-icon>
              <ion-label>Valor: R$: {{PO.amount}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="cut" item-start></ion-icon>
              <ion-label>Desconto: Tipo: {{PO.discount.type}}, Valor: {{PO.discount.value}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-icon name="information" item-start></ion-icon>
              <ion-label>
                <h2>Status: {{utilCtrl.translatePaymentOrderStatus(PO.status)}}</h2>
                <p>{{utilCtrl.paymentOrderStatusDetail(PO.status)}}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="timer" item-start></ion-icon>
              <ion-label>Ultima Atualização em: {{utilCtrl.getW3CLocaleDateString(PO.lastEventDate)}}</ion-label>
            </ion-item>

            <ion-item *ngIf="PO.status == 1">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>agendamento: {{utilCtrl.getW3CLocaleDateString(PO.schedulingDate)}}</ion-label>
            </ion-item>

            <div *ngIf="PO.transactions.length > 0">
              <ion-list-header>
                Transações
              </ion-list-header>
              <ion-item *ngFor="let T of PO.transactions" (click)="TransactionDetail(T)">
                <ion-icon name="add" item-start></ion-icon>
                <ion-label>
                  <h6>Codigo:</h6>
                  <p>{{T.code}}</p>
                  <h2>Status: {{utilCtrl.translatePaymentOrderTransactionStatus(T.status)}}</h2>
                  <h2>Data: {{utilCtrl.getW3CLocaleDateString(T.date)}}</h2>
                </ion-label>
              </ion-item>
            </div>

          </ion-list>
        </ion-card-content>
      </ion-card>

    </div>




    <div *ngSwitchCase="'Cartão'">
      <div style="text-align: center;">
        <ion-card class="credit-card-card fadeIn" [ngClass]="{
      'visa': localPlanSignature.ceditCard.brand == 'visa',
     'mastercard': localPlanSignature.ceditCard.brand == 'mastercard',
     'amex': localPlanSignature.ceditCard.brand == 'amex',
     'elo': localPlanSignature.ceditCard.brand == 'elo',
     'hipercard': localPlanSignature.ceditCard.brand == 'hipercard',
     'diners': localPlanSignature.ceditCard.brand == 'diners'
    }">
          <ion-grid>
            <ion-row>
              <ion-col col-5>
                <ion-card *ngIf="localPlanSignature.ceditCard.brand == ''" class="dummy-card-brand fadeIn"></ion-card>
                <img *ngIf="localPlanSignature.ceditCard.brand == 'visa'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/visa.svg">
                <img *ngIf="localPlanSignature.ceditCard.brand == 'mastercard'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/mastercard.svg">
                <img *ngIf="localPlanSignature.ceditCard.brand == 'amex'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/amex.svg">
                <img *ngIf="localPlanSignature.ceditCard.brand == 'elo'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/elo.svg">
                <img *ngIf="localPlanSignature.ceditCard.brand == 'hipercard'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/hipercard.svg">
                <img *ngIf="localPlanSignature.ceditCard.brand == 'diners'" class="card-brand fadeIn" src="assets/imgs/credit-cards-brands/diners.svg">
              </ion-col>
            </ion-row>
            <div style="margin-top: 60px;">
              <ion-row>
                <ion-col col-12>
                  <h1 class="card-number">•••• •••• •••• {{localPlanSignature.ceditCard.number.substr(12, 4)}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-8>
                  <h1 class="card-ownerName">{{localPlanSignature.ceditCard.ownerName}}</h1>
                </ion-col>
                <ion-col col-4>
                  <h1 class="card-expiringDate">{{localPlanSignature.ceditCard.expirationMonth}}/{{localPlanSignature.ceditCard.expirationYear.substr(2,
                    2)}}</h1>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-card>
        <ion-card class="owner-document-card fadeIn">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <h1>Documento do titular do cartão</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <img class="owner-thumb" src="assets/imgs/man-thumb.svg">
              </ion-col>
              <ion-col col-8>
                <h1 class="owner-ownerName">Nome: {{localPlanSignature.ceditCard.ownerName}}</h1>
                <h1 class="owner-ownerCPF">CPF: {{localPlanSignature.ceditCard.ownerCPF.substr(0, 3)}}.•••.•••-••</h1>
                <h1 class="owner-ownerBirthDate">Data de nascimento:
                  ••/••/{{localPlanSignature.ceditCard.ownerBirthDate.substr(6, 4)}}</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

  </div>

</ion-content>