page-plan-signature-details {
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  ion-label {
    margin: unset !important;
    white-space: unset !important;
  }

  .plan-signature-card {
    width: 80%;
    border-radius: 12px;
    display: inline-block;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    .code-label {
      font-size: unset;
    }
    .code {
      font-size: unset;
    }
    .status {
      font-size: 150%;
    }
    .plan-title {
      font-size: 150%;
    }
    .created-on {
      font-size: unset;
    }
  }

  .un-active {
    background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .active {
    background: linear-gradient(
      45deg,
      rgba(149, 188, 157, 1) 0%,
      rgba(160, 204, 169, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .plan-card {
    border-radius: 12px;
    display: inline-block;
    background: white;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }

  .credit-card-card {
    height: 200px;
    width: 300px;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

    .dummy-card-brand {
      height: 60px;
      margin: unset;
      background-color: #d8d8d8;
      box-shadow: unset;
    }
    .card-brand {
      height: 60px;
    }
    .card-number {
      padding-top: 2%;
      padding-top: 2%;
      font-size: 120%;
      font-family: crediCardFont;
    }
    .card-ownerName {
      font-size: unset;
    }
    .card-expiringDate {
      font-size: unset;
    }
  }

  .visa {
    background: linear-gradient(
      45deg,
      rgba(35, 44, 111, 1) 0%,
      rgba(23, 66, 170, 1) 50%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .mastercard {
    background: linear-gradient(
      45deg,
      rgba(61, 82, 107, 1) 0%,
      rgba(65, 91, 114, 1) 50%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .hipercard {
    background: linear-gradient(
      45deg,
      rgba(194, 32, 32, 1) 0%,
      rgba(120, 0, 0, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .amex {
    background: linear-gradient(
      45deg,
      rgba(149, 188, 157, 1) 0%,
      rgba(160, 204, 169, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .elo {
    background: linear-gradient(
      45deg,
      rgba(194, 32, 32, 1) 0%,
      rgba(120, 0, 0, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: white;
    }
  }

  .diners {
    background: linear-gradient(
      45deg,
      rgba(190, 190, 190, 1) 0%,
      rgba(206, 206, 206, 1) 100%
    );
    animation: fadeIn 0.4s ease;
    h1,
    p {
      color: black;
    }
  }

  .owner-document-card {
    height: 200px;
    width: 300px;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(
      45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    .owner-thumb {
      height: 60px;
    }
    .owner-ownerName {
      font-size: 100%;
    }
    .owner-ownerCPF {
      font-size: 130%;
      font-weight: bold;
    }
    .owner-ownerBirthDate {
      font-size: 130%;
      font-weight: bold;
    }
  }
}
