<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Como funciona?</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-slides pager="true" style="height: unset;">
    <ion-slide *ngFor="let pic of tutorialPics">
      <img [src]="pic">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row *ngIf="actualPicIndex == 0 " justify-content-center>
      <ion-col col-auto>
        <button ion-button round (click)="next()">
          Avançar
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="actualPicIndex > 0" justify-content-center>
      <ion-col col-auto>
        <button ion-button round (click)="prev()">
          Voltar
        </button>
      </ion-col>

      <ion-col col-auto>

        <button *ngIf="actualPicIndex < tutorialPics.length - 1" ion-button round (click)="next()">
          Avançar
        </button>

        <button *ngIf="actualPicIndex == tutorialPics.length - 1" ion-button round (click)="finishedTutorial()"
          color="secondary">
          Finalizar
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>