<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Propostas Enviadas</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="reLoadActiveSegment()">
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Pendentes">Pendentes</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Aceitas">Aceitas</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Outras">Outras</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher *ngIf="!showSplash" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="localProposals.length> 0; else elseTemplate">
    <ion-list no-lines>
      <ion-item class="proposal-card" *ngFor="let proposal of localProposals" (tap)="proposalTapped(proposal)">
        <ion-thumbnail large item-start>
          <ion-avatar class="service-type-avatar">
            <img [src]="proposal.serviceTypeSymbol">
          </ion-avatar>
          <ion-avatar class="client-avatar">
            <img src="{{proposal.clientThumbnailUrl}}" />
          </ion-avatar>
        </ion-thumbnail>


        <div class="proposal-item-bottom">
          <h2>{{proposal.serviceTypeTitle}}</h2>

          <div *ngIf="proposal.requestScheduleType ==
            'open'">
            <p>Horário flexível</p>
          </div>

          <div *ngIf="proposal.requestScheduleType ==
            'close'">
            <p>Horário determinado
            </p>
          </div>

          <ng-container *ngIf="proposal.clientReview == 0; else elseTemplate">
            <ion-buttons style="right: 10px;position: absolute;">
              <button ion-button icon-only disabled>
                <ion-icon name="thumbs-up" color="secondary"></ion-icon>
              </button>
              <button ion-button icon-only disabled>
                <ion-icon name="thumbs-down" color="danger"></ion-icon>
              </button>
            </ion-buttons>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-buttons style="right: 10px;position: absolute;">
              <button ion-button icon-only *ngIf="proposal.clientReview == 1">
                <ion-icon name="thumbs-up" color="secondary"></ion-icon>
              </button>
              <button ion-button icon-only *ngIf="proposal.clientReview == -1">
                <ion-icon name="thumbs-down" color="danger"></ion-icon>
              </button>
            </ion-buttons>
          </ng-template>

          <h5>Cliente: {{proposal.clientName}}</h5>
          <h6>{{proposal.requestAddress.bairro}} : {{proposal.requestAddress.city}} -
            {{proposal.requestAddress.state}}</h6>
          <h4>Criado em: {{
            proposal.createdOn.toLocaleString('pt-BR').slice(0, -3) }}</h4>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-template #elseTemplate>
    <h4 *ngIf="!isExecutingQuery" style="text-align: center; margin: 6%;">Você não enviou nehuma proposta!</h4>
  </ng-template>


</ion-content>
