page-sent-proposals {
  ion-list {
    margin: 16px 0 !important;
    .proposal-card {
      margin: 10px 10px 10px 10px !important;
      padding-left: unset;
      border-radius: 30px 10px 10px 30px;
      width: calc(100% - 20px) !important;

      ion-label {
        margin: 0 !important;
        height: 95%;
      }

      ion-thumbnail {
        margin: unset !important;
        min-width: unset;
        min-height: unset;

        ion-avatar {
          // background-color: #004c90;
          img {
            width: 60px;
            height: 60px;
            margin: unset;
          }
        }

        .service-type-avatar {
          border-radius: 0px 30px 0px 0px;
          background-color: #004c90;
          img {
            border-width: 5px;
            border-color: #004c90;
            border-style: solid;
            border-radius: 50%;
            background-color: white;
            padding: 0px 0px 4px 0px;
          }
        }
        .client-avatar {
          border-radius: 0px 0px 30px 30px;
          background-image: linear-gradient(bottom, white 50%, #004c90 50%);
          img {
            border-width: 5px;
            border-color: white;
            border-style: solid;
            border-radius: 50%;
          }
        }
      }

      .proposal-item-bottom {
        bottom: 0;
        height: 72%;
        padding: 0px 10px;
        h2 {
          font-size: 2rem !important;
          font-weight: 720;
          margin: 0px !important;
          padding: 3px 0px 6px 0px; // margin-bottom: 4.0rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        h5 {
          margin: 0px 0px !important;
          font-weight: 500;
          font-size: 1.3rem !important;
          align-items: baseline;
          position: absolute;
          bottom: 35%;
        }
        h6 {
          margin: 0px !important;
          font-size: 1.1rem !important;
          align-items: baseline;
          color: #666;
          position: absolute;
          bottom: 18%;
        }
        h4 {
          margin: 0px 0px !important;
          font-size: 1.3rem !important;
          align-items: baseline;
          color: #666;
          position: absolute;
          bottom: 5%;
        }
        p {
          color: #004c90;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
