page-banner-detail {
  .swiper-pagination-bullets {
    bottom: 10px !important;

    .swiper-pagination-bullet {
      border-radius: 1px;
      height: 2px;
      width: 20px;
    }

    .swiper-pagination-bullet-active {
      background: #e79824 !important;
    }
  }

  .order-btn {
    font-size: 2rem;
    font-weight: 400;
    text-transform: unset;
  }

  .property {
    ion-note {
      color: map-get($colors, primary);
      font-weight: normal;
    }
  }

  .item-splash-spinner {
    width: 100%;
    text-align: center;
    height: 4.4rem;
    display: table-cell;
    vertical-align: middle;
  }

  .item-splash-spinner > div {
    width: 8px;
    height: 8px;
    background-color: #e79824;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .item-splash-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .item-splash-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  hr {
    background-color: rgba(0, 0, 0, 0.3) !important;
    margin: 0.5rem 1.8rem;
    height: 1px;
  }

  hr[vertical] {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 40px;
    width: 1px;
    margin: unset;
    align-self: center;
  }

  .card-profile {
    padding: 4px;
    margin-top: 0.8rem;

    ion-card {
      border-radius: 10px !important;
      position: relative;
      text-align: center;
      margin: 0 2.5px;
      width: calc(100% - 5px);
      height: 10rem;
      z-index: 2;
      box-shadow: unset;
      -webkit-box-shadow: unset;

      -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);

      .grey-bg {
        width: 80%;
        height: 100%;
        background-color: black;
        opacity: 0.65;
        position: absolute;
        top: 0%;
      }

      ion-item {
        top: 0;
        margin: 0px 12px !important;
        width: calc(100% - 24px) !important;
        position: absolute;
        color: white !important;
        margin: 1rem 0;
        background: transparent;
        padding-left: 0px;
        ion-avatar {
          margin: 8px 8px 8px 0px !important;
          align-self: flex-end;
          img {
            border-width: 3px;
            border-color: white;
            border-style: solid;
            height: 7rem;
            width: 7rem;
          }
        }
        h2 {
          margin: 1rem 0;
          font-weight: 400;
          font-size: 1.3rem;
          color: white;
        }
      }

      .provider-reputation {
        position: absolute;
        top: 0%;
        right: 0;
        height: 100%;
        width: 20%;
        ion-card {
          width: 100%;
          height: 100%;
          margin: unset;
          border-radius: 0px 10px 10px 0px !important;
          ion-icon {
            font-size: 3.2em;
          }
        }
      }
    }
  }

  .banner-description {
    background-color: transparent;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    h6 {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: normal;
    }
  }

  h6 {
    margin: 0rem 0.8rem 0rem 0.8rem;
    color: slategrey;
    font-size: 1.1rem;
  }

  .more-info {
    padding-left: unset;
    ion-label {
      margin: 13px 8px 13px 8px;
      ion-col {
        text-align: center;
        h5 {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          overflow-wrap: normal;
        }
      }
    }
  }

  .ion-md-star-outline:before,
  .ion-ios-star-outline:before {
    content: "\f384";
    color: #999;
  }

  .main-info {
    margin: 0.2rem 1rem;
    .banner-title {
      color: #004c90;
      font-weight: 600;
    }
    h2 {
      font-weight: 500;
      margin: 0.8rem;
    }
    h6 {
      display: inline-flex;
      font-size: 1.4rem;
      color: #aaa;
    }
  }

  .banner-price {
    font-weight: 500;
    color: #00be71 !important;
    margin: 0.8rem 0.8rem 0rem 0.8rem !important;
    font-size: 2.2rem;
  }

  .rating {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    display: -webkit-inline-box;
    padding-left: 10px;
    color: #ffb400;
  }

  ul.rating[_ngcontent-c0] li[_ngcontent-c0],
  ul.rating[_ngcontent-c1] li[_ngcontent-c1],
  ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
    display: inline;
    border: 0px;
    background: none;
    padding: unset;
    ion-icon {
      font-size: 20px;
      padding-right: 0;
    }
  }

  .payment-btn {
    padding: 0 5px 0 0 !important;
    webkit-flex-grow: unset;
    flex-grow: unset;
  }

  .order-by-time-btn {
    margin: 0 10px;
    width: calc(100% - 20px);
    border-radius: 6px;
    text-transform: unset;
    background: rgb(145, 94, 198);
  }

  .item_address ion-label {
    display: flex !important;
    margin: 0.2rem 1rem;
    .banner-title {
      color: #004c90;
      font-weight: 600;
    }
    h2 {
      font-weight: 500;
      margin: 0.8rem;
    }
    h6 {
      display: inline-flex;
      font-size: 1.4rem;
      color: #aaa;
    }
  }

  ion-card.provider_compliments_card {
    border-radius: 6px;

    ion-item {
      ion-thumbnail {
        min-width: unset;
        min-height: unset;
        img {
          width: 40px;
          height: 40px;
        }
      }
      background: rgb(145, 94, 198);
      h2 {
        font-weight: 500;
        color: white;
      }
    }
    .compliments {
      display: block;
      .compliment {
        img {
          width: 15px;
          height: 15px;
          display: inline-flex;
        }
        h2 {
          font-weight: 500;
          color: white;
          display: inline-flex;
        }
      }
    }
  }

  .review-card {
    ion-grid {
      ion-row {
        .head {
          ion-col {
            ul.rating[_ngcontent-c0] li[_ngcontent-c0],
            ul.rating[_ngcontent-c1] li[_ngcontent-c1],
            ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
              ion-icon {
                font-size: 22px;
              }
            }
          }
        }
        .criteria {
          img {
            width: 20px;
            height: 20px;
            display: inline-flex;
          }
          h2 {
            font-weight: 500;
            color: black;
            display: inline-flex;
          }
        }
      }
    }
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
