<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes do Anúncio</ion-title>
    <ion-buttons end>
      <button ion-button clear large item-right (click)="favorite()">
        <ion-icon style="font-size: 1.8em !important;" name="heart" color='danger' *ngIf="currentBannerIsSave">
        </ion-icon>
        <ion-icon style="font-size: 1.8em !important;" name="heart-outline" color='danger' *ngIf="!currentBannerIsSave">
        </ion-icon>
      </button>
      <button ion-button clear large item-right (click)="share(localBanner)">
        <ion-icon style="font-size: 1.8em !important;" name="md-share" color="economizei_Light_Black"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: white !important">

  <div *ngIf="showPicSplash">
    <ion-slides *ngIf="showPicSplash" pager="true" zoom="true" parallax="true">
      <ion-slide>
        <img style="height: 300px;" src="assets/imgs/dummy-image-landscape-800x600.jpg">
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="!showPicSplash">
    <ion-slides pager="true" zoom="true" parallax="true" (tap)="openBannerPicsViewerPage()">
      <ion-slide *ngFor="let pic of localPics">
        <div style="position: absolute;margin-left: 4%;margin-top: 4%;z-index:
          10;">
          <ion-badge color='economizei_Light_Black'> {{ ( pic.index+1 ) }}/{{
            localPics.length }}</ion-badge>
        </div>
        <img style="height: 300px;" data-src="{{pic.url}}">
      </ion-slide>
    </ion-slides>
  </div>

  <div class="main-info">
    <h2 class="banner-title">{{localBanner.title}}</h2>
    <h2 class="banner-price">R$ {{localBanner.price}} {{ localBanner.priceType
      }}</h2>
    <h6>Preço médio</h6>
  </div>


  <ion-list no-lines>

    <!-- Fazer Pedido -->
    <ion-card style="border-radius: 6px;display: table;" color="primary"
      *ngIf="localBanner.providerId != UserDataCtrl.localUser.id">

      <button *ngIf="!showItemSplash" ion-button class="order-btn" (click)="startOrder()" clear full color="white">
        Fazer Pedido
      </button>

      <div *ngIf="showItemSplash" class="item-splash-spinner">
        <div class="bounce1" style="background-color: white;"></div>
        <div class="bounce2" style="background-color: white;"></div>
        <div class="bounce3" style="background-color: white;"></div>
      </div>
    </ion-card>

    <ion-item class="item_address" icon-start>
      <ion-icon name="pin" color="primary"></ion-icon>
      <h2>{{ provider.workBairro + " - " + provider.workCity }}</h2>
      <div style="align-self: center">
        <rating [(ngModel)]="localBanner.bannerReputation" readOnly="true"></rating>
        <h6>{{completedOrdersNumber}} vendidos</h6>
      </div>
    </ion-item>

    <!-- Perfil do prestador -->
    <div class="card-profile" (click)="showprovider()">
      <ion-card>

        <img *ngIf="localBanner != null" src="{{localBanner.thumbnail}}" />
        <img *ngIf="localBanner == null" src="assets/imgs/dummy-image-landscape-800x600.jpg" />
        <div class="grey-bg"></div>


        <ion-item>
          <ion-avatar item-start>
            <img src="{{provider.pic.thumbnailUrl}}" />
          </ion-avatar>

          <div *ngIf="showItemSplash" class="item-splash-spinner" style="height: unset;display: block;">
            <div class="bounce1" style="background-color: white;"></div>
            <div class="bounce2" style="background-color: white;"></div>
            <div class="bounce3" style="background-color: white;"></div>
          </div>

          <h2>
            <b>{{ provider.fullName }}</b>
          </h2>
          <h2>{{ provider.job }}</h2>
        </ion-item>

        <div class="provider-reputation">
          <ion-card>
            <h2>
              Nota
            </h2>
            <h2>
              <b>{{provider.providerReputation.toFixed(1)}}</b>
            </h2>
            <ion-icon name="md-star" style="color:#e79824" item-end></ion-icon>
          </ion-card>
        </div>

      </ion-card>
    </div>

    <hr>

    <ion-item style="background-color: transparent">
      <h5><b>Meios de pagamento oferecidos pelo prestador</b></h5>
      <ion-row>
        <ion-col class="payment-btn" *ngFor="let pay of localBanner.payMethods">
          <button ion-button color="secondary" icon-start round small>
            <ion-icon name="card"></ion-icon>
            {{pay}}
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <hr>

    <ion-item class="banner-description">
      <h1>Descrição</h1>
      <h6>{{localBanner.description}}</h6>
    </ion-item>

    <ion-item>
      <a color="primary" style="font-weight: bold;text-decoration: underline" (click)="openCharacsDetail()" item-end>
        Ver Caracteristicas do Serviço
      </a>
    </ion-item>

    <hr>

    <button ion-button class="order-by-time-btn" color="secondary" full>{{ completedOrdersNumber }} pedidos realizados</button>

    <!-- Elogios recebidos pelo do prestador -->
    <ion-card class="provider_compliments_card">
      <ion-item *ngIf="showComplimentsSplash">
        <div class="item-splash-spinner" style="height: unset;display: block;">
          <div class="bounce1" style="background-color: white;"></div>
          <div class="bounce2" style="background-color: white;"></div>
          <div class="bounce3" style="background-color: white;"></div>
        </div>
      </ion-item>
      <ion-item *ngIf="!showComplimentsSplash" text-align-center>
        <ion-thumbnail item-start>
          <img src="assets/imgs/provider_details/medal.svg">
        </ion-thumbnail>
        <h2>Elogios recebidos pelo do prestador</h2>
        <ng-container *ngIf="hasCompliments; else elseTemplate1">
          <div class="compliments" *ngFor="let compliment of
                    localComplimentsReport">
            <div class="compliment" *ngIf="compliment.quantity> 0">
              <img src="assets/imgs/provider_details/award.svg">
              <h2>{{compliment.text}} ({{compliment.quantity}})</h2>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate1>
          <h2>Nehum elogio encontrado</h2>
        </ng-template>
      </ion-item>
    </ion-card>


  </ion-list>

  <!-- Avaliações -->
  <ng-container *ngIf="showReviewsSplash; else elseReviewTemplate">
    <ion-spinner request-refresher name="dots"></ion-spinner>
    <p>Carregando avaliações</p>
  </ng-container>
  <ng-template #elseReviewTemplate>
    <div *ngIf="localReviews.length> 0; else noContent">
      <ion-list no-lines>
        <ion-card class="review-card" *ngFor="let review of localReviews">
          <ion-grid>
            <ion-row class="head">
              <rating style="text-align: end" [(ngModel)]="review.clientOpinion" readOnly="true"></rating>
              <h2 style="margin-left: 6px;"><b>{{translateRate(review.clientOpinion)}}</b></h2>
              <ion-col col-2 *ngIf="review.verified && review.moderated">
                <ion-icon mensage-status-icon name="md-warning" color="danger" item-start></ion-icon>
                <ion-label no-margin>Moderada</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <h2>{{ review.text }}</h2>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="review.punctuality != 0">
              <div class="criteria">
                <img src="assets/imgs/provider_details/clock.svg">
                <h2 *ngIf="review.punctuality == 1">Foi Pontual</h2>
                <h2 *ngIf="review.punctuality == -1">Não foi Pontual</h2>
              </div>
            </ion-row>
            <ion-row *ngIf="review.serviceDelivery != 0">
              <div class="criteria">
                <img src="assets/imgs/provider_details/clock.svg">
                <h2 *ngIf="review.serviceDelivery == 1">Entregou no prazo</h2>
                <h2 *ngIf="review.serviceDelivery == -1">Não entregou no prazo</h2>
              </div>
            </ion-row>
            <ion-row *ngIf="review.budgetAccuracy != 0">
              <div class="criteria">
                <img src="assets/imgs/provider_details/budget.svg">
                <h2 *ngIf="review.budgetAccuracy == 1">Cumpriu o orçamento</h2>
                <h2 *ngIf="review.budgetAccuracy == -1">Não Cumpriu o orçamento</h2>
              </div>
            </ion-row>
            <ion-row>
              <p style="text-align: center">Por - {{review.clientName}}, Dia {{
                review.createdOn.toLocaleDateString('pt-BR') }}</p>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <ng-template #noContent>
      <h2 style="text-align: center; margin: 6%;">O Anuncio ainda não possui
        avaliações.</h2>
    </ng-template>
  </ng-template>
</ion-content>