<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Historico de Assinaturas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher *ngIf="!showSplash" (ionRefresh)="tryToRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="localPlanSignatures.length > 0; else elseTemplate">
    <ion-grid no-padding>
      <ion-row>
        <ion-col *ngFor="let PS of localPlanSignatures" col-12 no-padding style="text-align: center;">
          <ion-card (tap)="PSDetail(PS)" class="plan-signature-card" [ngClass]="{ 'active': PS.status == 'ACTIVE', 'un-active': PS.status != 'ACTIVE' }">
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <h1 class="code-label">Codigo</h1>
                  <h1 class="code">{{PS.id}}</h1>
                </ion-col>
              </ion-row>
              <div style="margin-top: 30px;">
                <ion-row>
                  <ion-col col-12>
                    <h1 class="status">Status: {{utilCtrl.translatePlanSignaturesStatus(PS.status)}}</h1>
                    <h1 class="plan-title">Pano: {{PS.plan.title}}</h1>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12>
                    <h1 class="created-on">criado em: {{utilCtrl.getDate(PS.createdOn)}}</h1>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-template #elseTemplate>
    <h4 style="text-align: center; margin: 6%;">Você ainda não possui Assinaturas!</h4>
  </ng-template>

</ion-content>
