<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Meus SACs</ion-title>
		<ion-buttons end>
			<button ion-button icon-only [disabled]="showSplash" (click)="newSacPage()">
				<ion-icon large name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
		<ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="reLoadActiveSegment()">
			<ion-segment-button [disabled]="showSplash" value="Abertos">Abertos</ion-segment-button>
			<ion-segment-button [disabled]="showSplash" value="Encerrados">Encerrados</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar"
			refreshingSpinner="dots"></ion-refresher-content>
	</ion-refresher>

	<div [ngSwitch]="segment">

		<div *ngSwitchCase="'Abertos'">
			<div *ngIf="localSacs.length > 0; else noContent">
				<ion-list>
					<ion-card class="sac-card" *ngFor="let sac of localSacs" (tap)="cardTapped(sac)">
						<h2>ID: {{ sac.id }}</h2>
						<h4>Titulo: {{ sac.title }}</h4>
						<p>Status: {{ translateStatus( sac.status ) }}</p>
						<h6>Prioridade: {{ utilCtrl.translateSacPriority( sac.priority ) }}</h6>
						<h6>Serviço de negocio: {{ sac.businessRole.name }}</h6>
						<p style="text-align: center">Criada em: {{ sac.createdOn.toLocaleDateString('pt-BR') }}</p>
					</ion-card>
				</ion-list>
			</div>
			<ng-template #noContent>
				<h2 style="text-align: center;">Você não possui SACs Abertos</h2>
			</ng-template>
		</div>

		<div *ngSwitchCase="'Encerrados'">
			<div *ngIf="localSacs.length > 0; else noContent">
				<ion-list>
					<ion-card class="sac-card" *ngFor="let sac of localSacs" (tap)="cardTapped(sac)">
						<h2>ID: {{ sac.id }}</h2>
						<h4>Titulo: {{ sac.title }}</h4>
						<p>Status: {{ translateStatus( sac.status ) }}</p>
						<h6>Prioridade: {{ utilCtrl.translateSacPriority( sac.priority ) }}</h6>
						<h6>Serviço de negocio: {{ sac.businessRole.name }}</h6>
						<p style="text-align: center">Criada em: {{ sac.createdOn.toLocaleDateString('pt-BR') }}</p>
					</ion-card>
				</ion-list>
			</div>
			<ng-template #noContent>
				<h2 style="text-align: center;">Você não possui Sacs Encerrados</h2>
			</ng-template>
		</div>

	</div>
</ion-content>