page-my-banners {
  ion-item {
    padding-left: 0px !important;
    ion-icon {
      margin: 9px 0px 9px 0px !important;
      padding: 1.2rem !important;
    }
  }
  button {
    padding-left: 0px !important;
  }
  ion-label {
    margin: 0 !important;
    margin-right: 10px !important;
  }
  ion-thumbnail {
    margin: 0px 8px 0px 0px !important;
    height: 100% !important;
    img {
      width: 120px !important;
      height: 120px !important;
    }
  }
  h2 {
    font-size: 1.9rem !important;
    margin-bottom: 4rem !important;
  }
  h4 {
    margin: 0px 0px !important;
    align-items: baseline;
  }
  h5 {
    margin: 0px 0px !important;
    font-size: 1.2rem !important;
    align-items: baseline;
  }
  h6 {
    margin: 6px 0px !important;
    font-size: 1rem !important;
    align-items: baseline;
  }
  .card {
    border-radius: 8px;
  }
  .item-md {
    font-size: 0px !important;
  }
  .input-wrapper {
    align-items: unset;
  }
  .banner-item-bottom {
    align-items: flex-end;
    bottom: 0;
    position: absolute;
  }
  .banner-item-top {
    h2 {
      height: 4.5rem;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: bold;
      overflow-wrap: normal;
    }
  }
}
