<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Meus anúncios</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="addBannerPage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="reLoadActiveSegment()">
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Ativos">Ativos</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Pausados">Pausados</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Pendentes">Pendentes</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Outros">Outros</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="localBanners.length > 0; else noContent">
    <ion-list>
      <ion-card *ngFor="let banner of localBanners">
        <ion-item>
          <button ion-item (tap)="cardTapped(banner)" (press)="cardPressed(banner)">
            <ion-thumbnail item-left>
              <img src="{{banner.thumbnail}}" />
            </ion-thumbnail>
            <div class="banner-item-top">
              <h2>{{banner.title}}</h2>
            </div>
            <div class="banner-item-bottom">
              <h4>Bairro: {{banner.address.bairro}}</h4>
              <h5>{{banner.address.city}} - {{banner.address.state}}</h5>
              <h6>Anúncio criado em: {{ banner.createdOn.toLocaleString('pt-BR') }}</h6>
            </div>
          </button>
          <ion-icon name="md-more" item-end (click)="bannerOptions(banner)"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #noContent>
    <h2 *ngIf="!isExecutingQuery" style="text-align: center;">Você não possui anúncios {{segment}}!</h2>
  </ng-template>



  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'Ativos'">
      <h4 style="text-align: center;">Os anúncios que estiverem aqui estão disponíveis para todos os usuários do
        Economizei!</h4>
    </div>

    <div *ngSwitchCase="'Pausados'">
      <h4 style="text-align: center;">Os anúncios que estiverem aqui estão disponíveis somente para você!</h4>
    </div>

    <div *ngSwitchCase="'Pendentes'">
      <h4 style="text-align: center;">Seus novos anúncios ficarão aqui, até que a equipe do Economizei aprove-os para
        publicação!</h4>
    </div>

    <div *ngSwitchCase="'Outros'">
      <h4 style="text-align: center;">Anúncios que forem deletados ou rejeitados vão ficar aqui!</h4>
    </div>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
