page-ui-feed-back-lottie-loader-modal {

    ion-content{
        background-color: transparent !important;
    }

    .background {
      padding: 5%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  
  .background::after {
    content: '';
    background: grey;
    opacity: 0.4;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  h6{
    margin: unset;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    overflow-wrap: normal;  
  }

  .floating-card {
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }

  ion-col{
    display: flex;
    align-items: center;
  }

}
