<ion-content>
  
  <div class="background fadeIn">
    <div class="floating-card fadeIn">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-4>
            <lottie-animation-view
              [options]="lottie"
              [width]="'100%'"
              [height]="80">
            </lottie-animation-view>      
          </ion-col>
          <ion-col col-8>
            <h6>{{message}}</h6> 
          </ion-col>                    
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
