<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeIn">

      <h3 title *ngIf="title.length > 0">{{title}}</h3>

      <lottie-animation-view
        [options]="lottie"
        [width]="'100%'"
        [height]="200">
      </lottie-animation-view>

      <h6 message *ngIf="message.length > 0">{{message}}</h6> 

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button clear ion-button (click)="close()">
              Ok
            </button>
          </ion-col>                    
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
