page-home {
  .banner-splash-spinner {
    width: 100%;
    text-align: center;
    height: 4.4rem;
    padding-top: 5%;
  }

  .banner-splash-spinner > div {
    width: 8px;
    height: 8px;
    background-color: black;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .banner-splash-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .banner-splash-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .searchBar {
    ion-header {
      animation-name: fadeInDown; //-webkit-animation-duration: 0.2s !important;
      animation-duration: 0.2s !important; //-webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      z-index: 999; //-webkit-animation-name: fadeInDown ;
    }
    .header-md::after {
      background-image: unset !important;
    }
    .toolbar-background {
      border-width: 0 0 0 !important;
    }
    .cortin {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 998; //-webkit-animation-name: fadeInDown ;
      animation: fadeIn 0.2s ease;
    }
    .cortin::after {
      content: "";
      background: grey;
      opacity: 0.4;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  .quickActions {
    .quickActions-inner {
      background-color: #fff;
      border-radius: 0 0 30px 30px;
      padding: 0px 25px;

      position: absolute;
      width: 100%;
      z-index: 999;

      -webkit-animation: slideInDown 0.25s both;
      animation: slideInDown 0.25s both;

      -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
      box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

      .list-header-md {
        margin-bottom: 5px;
      }

      button[custom-close-button] {
        background: transparent;
        margin: 10px 0px 10px -25px;
        position: absolute;
        z-index: 9999;
        ion-icon {
          font-size: 2.2em;
        }
      }
      ion-list {
        text-align: center;
        ion-list-header {
          background-color: transparent !important;
          text-align: center !important;
          font-size: 1.8rem !important;
          color: black !important;
          border-top: unset !important;
        }
        ion-item {
          background-color: transparent !important;
        }
        ion-label {
          white-space: normal !important;
          h1,
          h2,
          h6,
          p {
            margin-top: unset !important;
          }
        }
        ion-row {
          flex-wrap: wrap;
          ion-col {
            text-align: center;
            padding: 10px 5px;
            button {
              background: transparent;
              height: 100px;
              width: 100%;
              box-shadow: 0 0 0 0 !important;
              padding: unset;
            }
            button ion-avatar {
              margin-bottom: 15px;
              img {
                height: 68px;
                display: inline;
              }
            }
            button ion-label {
              font-size: 1.7rem;
              font-weight: 700;
              text-transform: capitalize;
              color: black;
              position: absolute;
              top: 80%;
              margin: 0px !important;
            }
          }
        }
      }
    }
    .cortin {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 998;
      -webkit-animation: fadeDown 0.2s ease;
      animation: fadeIn 0.2s ease;
    }
    .cortin::after {
      content: "";
      background: grey;
      opacity: 0.4;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  ion-spinner[banner-refresher] {
    width: 100%;
    margin-top: 10%;
  }
  h2 {
    font-size: 2.2rem;
  }
  h2[slide-title] {
    padding-left: 5px;
    margin-top: 0rem;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
    background: white;
  }
  ion-slides {
    background-color: white;
    height: unset;
  }
  ion-slide {
    // width: 90% !important;
    overflow-y: auto;
    padding: 0px 32px;
    img {
      border-radius: 10px;
    }
  }
  .button-ios {
    color: black;
  }

  .banner-grid {
    padding: 5px;
    flex-flow: column wrap;
    column-count: 2;
    column-gap: 5px;
    .banner-item {
      break-inside: avoid;
      -webkit-column-break-inside: avoid;
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 5px;
      ion-card {
        border-radius: 10px;
      }
    }
    .banner-card:nth-child(2n + 0) {
      float: right;
    }
    .reputation-btn {
      padding: 0 0.8rem !important;
      right: 0.1rem;
      position: absolute;
      color: white !important;
      ion-icon {
        min-height: unset;
      }
      ion-label {
        margin: 1rem 0.5rem 1rem 0;
      }
    }
    .mini-avatar img {
      border-radius: 50%;
      position: absolute;
      top: -2.3rem;
      right: 0.5rem;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
    .card {
      margin: 4px;
      width: auto;
      height: auto;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4px;
  }
  ion-row[categories-row] {
    background: white;
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    ion-col[item-end] {
      text-align: right;
      align-self: center;
      a {
        padding-right: 5px;
        color: #4de3af;
        text-decoration: underline;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: #ffa220 !important;
  }

  .custon-navbar-button {
    background-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    color: black;
  }
  .custon-navbar-title {
    display: inline-flex !important;
  }
  .custon-navbar-badge {
    background: #004c90;
    color: white;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    position: absolute;
    margin-left: 6px;
    margin-top: -8px;
    font-size: 1rem;
    padding: 2.6px;
  }
  .custon-navbar-badge[animated] {
    animation: pulse 1s ease infinite;
  }
  .card-customed {
    margin: 0.4rem 0.8rem 0.4rem 0.8rem !important;
    height: calc(100% - 0.8rem);
    width: calc(100% - 1.6rem);

    .service-now {
      width: 40px;
      height: 40px;
      margin-right: 6px;
      margin-left: 0px;
      img {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .more-categories {
      width: 30px;
      height: 30px;
      margin-right: 11px;
      margin-left: 5px !important;
      img {
        width: 30px !important;
        height: 30px !important;
      }
    }

    ion-label {
      color: white;
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      -webkit-box-shadow: unset;
      box-shadow: unset;
      background-color: transparent !important;
    }
    .card-title {
      position: absolute;
      top: 0rem;
      font-size: 2em;
      width: 100%;
      height: 100%;
      font-weight: bold;
      color: #fff;
      ion-item {
        background-color: transparent !important;
        height: 100% !important;
        ion-icon {
          font-weight: bold;
        }
      }
    }
    ion-item ion-thumbnail {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      img {
        width: 30px;
        height: 30px;
      }
    }
    ion-avatar img {
      width: 80px !important;
      height: 80px !important;
    }
  }
}
