<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <button ion-button class="custon-navbar-button" icon-only (click)="toggleQuickActions()">
      <ion-icon name="ios-apps"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleShowSearchBar()">
        <ion-icon large name="search"></ion-icon>
      </button>
      <button *ngIf="UserDataCtrl.hasUser" ion-button class="custon-navbar-button" icon-only
        (click)="notificationsPage()">
        <ion-icon name="md-notifications"></ion-icon>
        <div *ngIf="UserDataCtrl.numOfNotifications> 0" class="custon-navbar-badge" animated>
          {{UserDataCtrl.numOfNotifications}}</div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doBannersRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe
      para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <h2 slide-title>Serviços em destaque</h2>

  <lottie-animation-view *ngIf="showSplash" [options]="lottieSplash" [width]="250" [height]="250">
  </lottie-animation-view>

  <ion-slides *ngIf="!showSplash && localHomePageBanners && localHomePageBanners.length> 0" [autoplay]="false"
    [parallax]="true" [loop]="true" [spaceBetween]="-50" [centeredSlides]="true" (ionSlideDrag)="slideMoved()">
    <ion-slide *ngFor="let HomePageBanner of localHomePageBanners" (tap)="homePageBannerTapped(HomePageBanner)">
      <img data-src="{{HomePageBanner.picUrl}}">
    </ion-slide>
  </ion-slides>

  <div class="card-background-page">
    <ion-card (click)="openCreateRequestPage()" class="card-customed">
      <img src="assets/imgs/home/urgence.png" />
      <div class="card-title">
        <ion-item>
          <ion-thumbnail class="service-now" item-start>
            <img src="assets/imgs/home/wow.svg" />
          </ion-thumbnail>
          <ion-label>Quero serviço para já!</ion-label>
          <ion-thumbnail item-end>
            <img src="assets/imgs/profile/seta_cinza.svg">
          </ion-thumbnail>
        </ion-item>
      </div>
    </ion-card>

    <ion-card class="card-customed" (click)="categoryPage()">
      <img src="assets/imgs/home/category.png" />
      <div class="card-title">
        <ion-item>
          <ion-thumbnail class="more-categories" item-start>
            <img src="assets/imgs/home/engineer.svg" />
          </ion-thumbnail>
          <ion-label>Categorias de serviços</ion-label>
          <ion-thumbnail item-end>
            <img class="menu-icon" src="assets/imgs/profile/seta_cinza.svg">
          </ion-thumbnail>
        </ion-item>
      </div>
    </ion-card>
  </div>

  <div *ngIf="showSplash" class="banner-splash-spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div *ngIf="!showSplash">
    <ng-container *ngIf="localBanners.length> 0; else elseTemplate">
      <div class="banner-grid">
        <div class="banner-item" *ngFor="let banner of arrangedBanners">
          <ion-card (tap)="bannerTapped(banner)" (press)="bannerPressed(banner)">
            <div style="position: relative;">
              <ion-row no-padding>
                <ion-col col-3 text-left>
                  <img [src]="banner.serviceTypeSymbol">
                </ion-col>
                <ion-col text-left>
                  <h2 style="color:grey">{{banner.serviceTypeTitle}}</h2>
                </ion-col>
              </ion-row>
              <button ion-button class="reputation-btn" color="dark" small round icon-left>
                <ion-icon name="star" small color="economizei_Yellow"></ion-icon>
                <ion-label color="economizei_Yellow">{{banner.bannerReputation.toFixed(1) }}</ion-label>
              </button>
            </div>
            <img src="{{banner.thumbnail}}" />
            <ion-row>
              <ion-col col-9>
                <h3>R$ {{banner.price}} - {{ banner.priceType }}</h3>
              </ion-col>
              <ion-col col-3>
                <ion-avatar class="mini-avatar">
                  <img src="{{banner.providerThumbnailUrl}}" />
                </ion-avatar>
              </ion-col>
              <ion-col col-12>
                <h3 style="color: gray">{{banner.title}} </h3>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <ion-infinite-scroll (ionInfinite)="doBannersInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="!isRefreshing; else elseTemplate">

        <!-- <h4 style="text-align: center; margin: 6%;">
          Infelizmente ainda não existem anúncios publicados para a região de {{localAppConfig.city}}, {{localAppConfig.state}} no economizei
        </h4> -->

        <h4 style="text-align: center; margin: 6%;">
          Infelizmente ainda não existem anúncios publicados
        </h4>

      </ng-container>
      <ng-template #elseTemplate>
        <ion-spinner banner-refresher name="dots"></ion-spinner>
      </ng-template>
    </ng-template>
  </div>

</ion-content>

<div *ngIf="showQuickActions" class="quickActions">
  <div class="quickActions-inner">
    <button custom-close-button icon-only (click)="toggleQuickActions()">
      <ion-icon color="black" name="close" item-end></ion-icon>
    </button>
    <ion-list no-lines>
      <ion-list-header>
        <ion-label style="margin: 17px 8px 13px 0; font-weight: 500">Atalhos</ion-label>
      </ion-list-header>

      <!-- ATENÇÃO ADICIONAR SOMENTE 3 POSSIVEIS COLUNAS POR LINHA -->

      <!-- Primeira linha -->
      <ion-row justify-content-center>
        <!-- Tela dos planos -->
        <ion-col col-4>
          <button ion-button icon-only (click)="actionTapped('PlansPage')">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/plans.png" />
            </ion-avatar>
            <ion-label>Planos</ion-label>
          </button>
        </ion-col>

        <!-- Tela de Ajuda -->
        <ion-col col-4>
          <button ion-button icon-only (click)="actionTapped('HelpPage')">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/tutorials.png" />
            </ion-avatar>
            <ion-label>Ajuda</ion-label>
          </button>
        </ion-col>

        <!-- Mudar localização -->
        <ion-col col-4>
          <button ion-button icon-only (click)="changeLocalizationConfig()">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/maping.png" />
            </ion-avatar>
            <ion-label>Localização</ion-label>
          </button>
        </ion-col>

      </ion-row>


      <!-- Segunda linha -->
      <ion-row justify-content-center>

        <ion-col col-4 *ngIf="UserDataCtrl.hasUser">
          <button ion-button icon-only (click)="actionTapped('MySacsPage')">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/sac-qa.png" />
            </ion-avatar>
            <ion-label>SAC</ion-label>
          </button>
        </ion-col>

        <!-- Tela de solicitações para usuários prestadores -->
        <ion-col col-4 *ngIf="UserDataCtrl.hasUser &&
          UserDataCtrl.localUserIsProvider">
          <button ion-button icon-only (click)="actionTapped('ReceivedRequestsPage')">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/solici.png" />
            </ion-avatar>
            <ion-label>Solicitações</ion-label>
          </button>
        </ion-col>

        <ion-col col-4 *ngIf="UserDataCtrl.hasUser &&
          UserDataCtrl.localUserIsProvider &&
          UserDataCtrl.localUser.providerVerificationSacId == '' &&
          !UserDataCtrl.localUser.verifiedProvider">
          <button ion-button icon-only (click)="actionTapped('ProviderVerificationPage')">
            <ion-avatar>
              <img src="../../../assets/imgs/quick_actions/lock.png" />
            </ion-avatar>
            <ion-label>Verificação</ion-label>
          </button>
        </ion-col>

      </ion-row>
    </ion-list>
  </div>
  <div class="cortin" (click)="toggleQuickActions()">
  </div>
</div>

<div *ngIf="showSearchBar" class="searchBar">
  <ion-header>
    <ion-navbar color="transparent" *ngIf="platform.is('android')">
      <ion-searchbar #searchbar_input [(ngModel)]="searchBarQuery" [animated]="true" [autocomplete]="'on'"
        [placeholder]="'Anúncios, Profissionais, Profissões...'" [showCancelButton]="true"
        (keyup.enter)="search($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-navbar>
    <ion-navbar color="white" *ngIf="platform.is('ios')">
      <ion-searchbar #searchbar_input [(ngModel)]="searchBarQuery" [animated]="true" [autocomplete]="'on'"
        [placeholder]="'Anúncios, Profissionais, Profissões...'" [showCancelButton]="true"
        (keyup.enter)="search($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-navbar>
  </ion-header>
  <div class="cortin" (click)="toggleShowSearchBar()">
  </div>
</div>