<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes do Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="!showSplash">

    <div class="card-profile">
      <ion-card (click)="showClient()">
        <img *ngIf="localOrder.banner != null" src="{{localOrder.banner.thumbnail}}" />
        <img *ngIf="localOrder.banner == null" src="assets/imgs/dummy-image-landscape-800x600.jpg" />
        <div class="grey-bg"></div>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{localClient.pic.thumbnailUrl}}" />
          </ion-avatar>

          <h2><b>{{ localClient.fullName }}</b>
            <rating [(ngModel)]="localClient.clientReputation" readOnly="true"></rating>
            <ion-icon name="chatbubbles"></ion-icon>
            {{ localClientNumberOfReviews }}
          </h2>

          <h2>{{ localOrder.title }}
            <ion-icon name="construct"></ion-icon> <b> {{ localOrder.serviceTypeTitle }} </b>
          </h2>

        </ion-item>
      </ion-card>
    </div>

    <ion-item desc-progress>
      <h4>Data do pedido: {{ localOrder.createdOn.toLocaleDateString() }}, às {{
        localOrder.createdOn.toLocaleTimeString() }}</h4>
      <ol class="progress">
        <li [class]="(localOrder.step == 1) ? 'is-active' : 'is-complete'" data-step="1">
          Pedido
        </li>
        <li [ngClass]="{'is-active': localOrder.step >= 2 && localOrder.step < 3, 'is-complete' : localOrder.step > 2 }"
          data-step="2">
          Planejamento
        </li>
        <li [ngClass]="{'is-active': localOrder.step >= 3 && localOrder.step < 4, 'is-complete' : localOrder.step > 3 }"
          data-step="3">
          Execução
        </li>
        <li [ngClass]="{'is-active': localOrder.step == 4 && localOrder.status != 1300, 'is-complete' : localOrder.status == 1300 }"
          data-step="4" class="progress__last">
          Finalização
        </li>
      </ol>

      <div class="desc-step" [ngSwitch]="localOrder.step">

        <div *ngSwitchCase="1">
          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 1" style="text-align: center">
            <h2>Aguardando aceite do pedido</h2>
            <p>Analise os dados do pedido e o perfil do cliente.</p>
            <p>Caso identifique algum problema recuse o pedido.</p>
          </div>

          <div *ngIf="localOrder.status == 1301" style="text-align: center">
            <h2>Pedido Rejeitado!</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <ion-item *ngIf="localOrder.status == 1" no-lines>
            <ion-row justify-content-center>
              <ion-col col-auto>
                <button ion-button round color="secondary" (click)="acceptOrderConfirmation()">
                  Aceitar
                </button>
              </ion-col>
              <ion-col col-auto>
                <button ion-button round color="danger" (click)="rejectOrder()">
                  Rejeitar
                </button>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>

        <div *ngSwitchCase="2">
          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 2" style="text-align: center">
            <h2>Em Agendamento</h2>
            <p>Converse com o cliente e marque o melhor horario.</p>
          </div>

          <div *ngIf="localOrder.status == 3" style="text-align: center">
            <h2>Em orçamento</h2>
            <p>Analise os dados do pedido e faça uma estimativa do valor final do .</p>
            <p>Caso identifique algum problema recuse o pedido.</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 5" style="text-align: center">
            <h2>Atrasado</h2>
            <p>Converse com o cliente para ver a possibilidade de re-marcar.</p>
            <p>Verifique o andamento na aba agendamento.</p>
          </div>
        </div>

        <div *ngSwitchCase="3">

          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 4" style="text-align: center">
            <h2>Agendado</h2>
            <p>Utilze os controles abaixo para iniciar e terminar o serviço.</p>
          </div>

          <div *ngIf="localOrder.status == 6" style="text-align: center">
            <h2>Em andamento</h2>
            <p>O prestador está realizando o serviço.</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 5" style="text-align: center">
            <h2>Atrasado</h2>
            <p>Converse com o cliente para ver a possibilidade de re-marcar.</p>
            <p>Verifique o andamento na aba agendamento.</p>
          </div>
        </div>

        <div *ngSwitchCase="4">
          <!-- Descrição do Status do pedido -->
          <div *ngIf="localOrder.status == 7" style="text-align: center">
            <h2>Pendente Avaliações</h2>
            <p>Maravilha, agora esta na hora de dar sua opnião!</p>
          </div>

          <div *ngIf="localOrder.status == 1300" style="text-align: center">
            <h2>Finalizado</h2>
            <p>🎉💥 Obrigado por utilizar o economizei! 💥🎉</p>
          </div>

          <div *ngIf="localOrder.status == 1302" style="text-align: center">
            <h2>Pedido Cancelado pelo Prestador</h2>
            <p>Motivo: {{localOrder.rejectReason}}</p>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 1303" style="text-align: center">
            <h2>Pedido Cancelado pelo cliente</h2>
            <p>Caso tenha algum problema entre em contato com o nosso SAC.</p>
          </div>

          <div *ngIf="localOrder.status == 5" style="text-align: center">
            <h2>Atrasado</h2>
            <p>Converse com o cliente para ver a possibilidade de re-marcar.</p>
            <p>Verifique o andamento na aba agendamento.</p>
          </div>
        </div>
      </div>
    </ion-item>

    <!-- Ações para o passo do pedido -->
    <div [ngSwitch]="localOrder.step">

      <div *ngSwitchCase="1">

        <ion-card class="service-controler-card">
          <ion-list>
            <button ion-item (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon name="alert" color="warning" item-end></ion-icon>
            </button>
            <hr>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>
            <hr>
            <button *ngIf="localOrder.address != null" [disabled]="!localOrderIsActive()" ion-item (click)="showLocalizationDetail()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
            </button>
            <button *ngIf="localOrder.address == null" ion-item disabled>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
              <ion-note item-end>O cliente virá até o endereço do Anuncio</ion-note>
            </button>
          </ion-list>
        </ion-card>
      </div>

      <div *ngSwitchCase="2">

        <ion-card class="service-controler-card">
          <ion-list no-lines>
            <button ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o cliente</ion-label>
            </button>
            <hr>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedSchedule != null" (click)="showSchedulingDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                      localOrder.status) }}</ion-label>
                  </ion-list-header>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="calendar" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="time" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="localOrder.acceptedSchedule.homeDelivery == true">
                    <ion-col>
                      <ion-item>
                        <ion-icon name="ios-home" item-start></ion-icon>
                        <ion-label>Atendimento em domicílio</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="localOrder.acceptedSchedule.geoCheckin == true">
                        <ion-icon name="ios-pin" item-start></ion-icon>
                        <ion-label>Check-in via GPS</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Agendamento criado em: {{
                  localOrder.acceptedSchedule.createdOn.toLocaleString() }}</p>
                <p style="text-align: center">Por: {{ utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule)
                  }}</p>
              </ion-card>
            </div>
            <hr>
            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" item-start></ion-icon>
              <ion-label>Orçamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedBudget != null" (click)="showBudgetDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateBudgetStatus(localOrder.acceptedBudget.status) }}</ion-label>
                  </ion-list-header>
                  <p style="text-align: center">{{ localOrder.acceptedBudget.description }}</p>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="pricetag" item-start></ion-icon>
                        <ion-label>R$ {{localOrder.acceptedBudget.value}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col *ngIf="localOrder.acceptedBudget.warranty">
                      <ion-item>
                        <ion-icon name="medkit" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.warrantyTime}} de garantia</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="card" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.payMethods}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Orçamento criado em: {{
                  localOrder.acceptedBudget.createdOn.toLocaleDateString('pt-BR') }}</p>
              </ion-card>
            </div>
            <hr>
            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>
            <hr>
            <button *ngIf="localOrder.address != null" [disabled]="!localOrderIsActive()" ion-item (click)="showLocalizationDetail()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
            </button>
            <button *ngIf="localOrder.address == null" ion-item disabled>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
              <ion-note item-end>O cliente virá até o endereço do Anuncio</ion-note>
            </button>

            <button *ngIf="localOrderIsActive()" ion-item (click)="cancelOrder()">
              <ion-icon name="close-circle" color="danger" item-start></ion-icon>
              <ion-label>Cancelar Pedido</ion-label>
            </button>
          </ion-list>
        </ion-card>
      </div>

      <div *ngSwitchCase="3">

        <ion-card class="service-controler-card" *ngIf="localOrder.acceptedSchedule != null && localOrder.status != 1302 && localOrder.status != 1303">
          <ion-list>
            <ion-list-header>
              <ion-label>Controle do Serviço</ion-label>
            </ion-list-header>

            <!-- Controles de checkin -->
            <div *ngIf="localOrder.status == 4">
              <ng-container *ngIf="localOrder.acceptedSchedule.homeDelivery; else notHomeDeliveryElseTemplate">
                <!-- Pedido com atendimento em domicílio -->
                <ng-container *ngIf="localOrder.acceptedSchedule.geoCheckin; else notGeoCheckinElseTemplate">
                  <!-- checkin com GPS -->
                  <ng-container *ngIf="showGeoSplash; else geoElseTemplate">
                    <ion-item>
                      <div class="item-splash-spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </ion-item>
                  </ng-container>
                  <ng-template #geoElseTemplate>
                    <ion-item>
                      <ion-icon name="md-locate" item-start></ion-icon>
                      <ion-label>
                        <h2>Você esta à {{actDistInKm}} Km de distância do local do cliente</h2>
                        <p>{{geoAccuracy}} m de precisão</p>
                      </ion-label>
                    </ion-item>
                    <ng-container *ngIf="canGeoCheckin; else elseTemplate">
                      <ion-item>
                        <ion-icon name="ios-pin" item-start></ion-icon>
                        <ion-label>
                          <h6>Checkin via GPS disponivel.</h6>
                        </ion-label>
                      </ion-item>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <ion-item>
                        <ion-icon name="ios-pin-outline" item-start></ion-icon>
                        <ion-label>
                          <h6>Checkin via GPS Indisponivel.</h6>
                          <p>Você precisa estar no minimo a 500m do local do local solicitado para o serviço</p>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-icon name="information" item-start></ion-icon>
                        <ion-label>
                          <h6>Se você estiver com problemas com seu GPS solicite para o cliente desativar o Ceckin
                            com
                            GPS.</h6>
                        </ion-label>
                      </ion-item>
                    </ng-template>
                    <ion-row justify-content-center>
                      <ion-col col-auto>
                        <button ion-button [disabled]="!canGeoCheckin" color="secondary" (click)="startServiceViaGPSCheckinConfirmation()">
                          iniciar serviço com Checkin
                        </button>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                </ng-container>
                <ng-template #notGeoCheckinElseTemplate>
                  <!-- checkin sem GPS -->
                  <ion-item>
                    <ion-icon name="ios-pin-outline" item-start></ion-icon>
                    <ion-label>
                      <h6>Checkin sem GPS disponivel, ao chegar ao local solicite o codigo de checkin ao cliente.</h6>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="barcode" item-start></ion-icon>
                    <ion-label>
                      <h6>Insira o codigo que aparece no telefone do cliente para para iniciar o serviço</h6>
                    </ion-label>
                  </ion-item>
                  <ion-row justify-content-center>
                    <ion-col col-8>
                      <ion-item>
                        <ion-label floating>
                          <div *ngIf="checkinCodeRight == true" style="color: green">Codigo correto</div>
                          <div *ngIf="checkinCodeRight == false" style="color: red">Codigo incorreto</div>
                        </ion-label>
                        <ion-textarea #checkinCode_input [placeholder]="checkinCodeInputPlaceholder" [(ngModel)]="checkinCode"
                          maxlength="5" (ionBlur)="checkinCodeOnInput()" (keyup.enter)="startServiceViaCodeConfirmation()">
                        </ion-textarea>
                      </ion-item>
                    </ion-col>
                    <ion-col col-2>
                      <button style="margin-bottom: -50px;" ion-button icon-only clear (click)="startServiceViaCodeConfirmation()">
                        <ion-icon name="locate"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ng-template>
              </ng-container>
              <ng-template #notHomeDeliveryElseTemplate>
                <!-- Pedido sem atendimento em domicílio -->
                <ion-item>
                  <ion-icon name="ios-home-outline" item-start></ion-icon>
                  <ion-label>
                    <h6>Pedido sem Atendimento em domicilio</h6>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon name="barcode" item-start></ion-icon>
                  <ion-label>
                    <h6>Insira o codigo que aparece no telefone do cliente para para iniciar o serviço</h6>
                  </ion-label>
                </ion-item>
                <ion-row justify-content-center>
                  <ion-col col-8>
                    <ion-item>
                      <ion-label floating>
                        <div *ngIf="checkinCodeRight == true" style="color: green">Codigo correto</div>
                        <div *ngIf="checkinCodeRight == false" style="color: red">Codigo incorreto</div>
                      </ion-label>
                      <ion-textarea #checkinCode_input [placeholder]="checkinCodeInputPlaceholder" [(ngModel)]="checkinCode"
                        maxlength="5" (ionBlur)="checkinCodeOnInput()" (keyup.enter)="startServiceViaCodeConfirmation()">
                      </ion-textarea>
                    </ion-item>
                  </ion-col>
                  <ion-col col-2>
                    <button style="margin-bottom: -50px;" ion-button icon-only clear (click)="startServiceViaCodeConfirmation()">
                      <ion-icon name="locate"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ng-template>
              <button ion-item (click)="cancelScheduleConfirmation()">
                <ion-icon name="close-circle" color="danger" item-start></ion-icon>
                <ion-label>
                  <h2>Cancelar Atendimento</h2>
                  <p>Caso você esteja tendo algum problema para encontrar o cliente antes de fazer o checkin.</p>
                </ion-label>
              </button>
            </div>

            <!-- Controles do serviço -->
            <div *ngIf="localOrder.status == 6">
              <ion-item>
                <ion-icon name="construct" item-start></ion-icon>
                <ion-label>
                  <h2>Serviço em andamento</h2>
                  <p>Tempo decorrido</p>
                  <h1>{{localOrderElapsedTime}}</h1>
                </ion-label>
              </ion-item>
              <ion-list-header>
                <ion-label>Ações</ion-label>
              </ion-list-header>
              <button ion-item (click)="cancelScheduleConfirmation()">
                <ion-icon name="close-circle" color="danger" item-start></ion-icon>
                <ion-label>
                  <h2>Cancelar Atendimento</h2>
                  <p>Caso o cliente não possa permitir a execução do serviço neste momento, porem ainda vá desejar o
                    serviço futuramente.</p>
                </ion-label>
              </button>
              <button ion-item (click)="completeSheduleAndOpeNewScheduleConfirmation()">
                <ion-icon name="checkmark-circle" color="secondary" item-start></ion-icon>
                <ion-label>
                  <h2>Concluir o Atentimento e marcar novo Agendamento</h2>
                  <p>Para serviços que precisam de mais de uma visita para que possam ser concluidos.</p>
                </ion-label>
              </button>
              <button ion-item (click)="completeServiceConfirmation()">
                <ion-icon name="checkmark-circle" color="secondary" item-start></ion-icon>
                <ion-label>
                  <h2>Concluir o Serviço</h2>
                  <p>Quando o serviço estiver efetuado.</p>
                </ion-label>
              </button>
            </div>
          </ion-list>
        </ion-card>

        <ion-card class="service-controler-card">
          <ion-list no-lines>
            <button ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o cliente</ion-label>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" base item-start></ion-icon>
              <ion-label>
                <h2>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                  localOrder.status) }}</h2>
                <p *ngIf="localOrderIsActive()" padding-top>Dia {{
                  localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR') }}, às {{
                  localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR') }} </p>
                <h6 *ngIf="localOrderIsActive()" style="color:#004c90" padding-vertical>Agendamento realizado em {{
                  localOrder.acceptedSchedule.createdOn.toLocaleString() }} pelo {{
                  utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule) }} </h6>
              </ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" base item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" base
                item-end></ion-icon>
            </button>

            <!-- <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedSchedule != null" (click)="showSchedulingDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateSchedulingStatus(localOrder.acceptedSchedule.status,
                      localOrder.status)}}</ion-label>
                  </ion-list-header>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="calendar" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="time" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedSchedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="localOrder.acceptedSchedule.homeDelivery == true">
                    <ion-col>
                      <ion-item>
                        <ion-icon name="ios-home" item-start></ion-icon>
                        <ion-label>Atendimento em domicílio</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="localOrder.acceptedSchedule.geoCheckin == true">
                        <ion-icon name="ios-pin" item-start></ion-icon>
                        <ion-label>Check-in</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Agendamento criado em: {{
                  localOrder.acceptedSchedule.createdOn.toLocaleString() }}</p>
                <p style="text-align: center">Por: {{ utilCtrl.translateSchedulingCreator(localOrder.acceptedSchedule)
                  }}</p>
              </ion-card>
            </div> -->

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" item-start></ion-icon>
              <ion-label>Orçamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>
            <div *ngIf="localOrderIsActive()">
              <ion-card class="in-list-card" *ngIf="localOrder.acceptedBudget != null" (click)="showBudgetDetail()">
                <ion-list no-lines>
                  <ion-list-header>
                    <ion-label>{{ utilCtrl.translateBudgetStatus(localOrder.acceptedBudget.status) }}</ion-label>
                  </ion-list-header>
                  <p style="text-align: center">{{ localOrder.acceptedBudget.description }}</p>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="pricetag" item-start></ion-icon>
                        <ion-label>R$ {{localOrder.acceptedBudget.value}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col *ngIf="localOrder.acceptedBudget.warranty">
                      <ion-item>
                        <ion-icon name="medkit" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.warrantyTime}} de garantia</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-icon name="card" item-start></ion-icon>
                        <ion-label>{{localOrder.acceptedBudget.payMethods}}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <p style="text-align: center">Orçamento criado em: {{
                  localOrder.acceptedBudget.createdOn.toLocaleDateString('pt-BR') }}</p>
              </ion-card>
            </div>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button *ngIf="localOrder.address != null" [disabled]="!localOrderIsActive()" ion-item (click)="showLocalizationDetail()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
            </button>
            <button *ngIf="localOrder.address == null" ion-item disabled>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
              <ion-note item-end>O cliente virá até o endereço do Anuncio</ion-note>
            </button>

            <button *ngIf="localOrderIsActive()" ion-item (click)="cancelOrder()">
              <ion-icon name="close-circle" color="danger" item-start></ion-icon>
              <ion-label>Cancelar Pedido</ion-label>
            </button>
          </ion-list>
        </ion-card>
      </div>

      <div *ngSwitchCase="4">

        <ion-card class="service-controler-card" *ngIf="localOrder.acceptedSchedule != null && localOrder.status != 1302 && localOrder.status != 1303">
          <ion-list>
            <ion-list-header>
              <ion-label>Avaliações</ion-label>
            </ion-list-header>

            <ion-item-divider>Recebida</ion-item-divider>
            <button ion-item [disabled]="!localOrderIsActive()" (click)="showProviderReviewDetail()">
              <ion-icon name="contact" item-start></ion-icon>
              <ion-label>Avaliação do Prestador</ion-label>
              <ion-icon *ngIf="localOrder.providerReviewId == ''" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.providerReviewId != ''" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <ion-item-divider>Enviada</ion-item-divider>
            <button ion-item [disabled]="!localOrderIsActive()" (click)="showClientReviewDetail()">
              <ion-icon name="contact" item-start></ion-icon>
              <ion-label>Avaliação do Cliente</ion-label>
              <ion-icon *ngIf="localOrder.clientReviewId == ''" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.clientReviewId != ''" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

          </ion-list>
        </ion-card>

        <ion-card class="service-controler-card">
          <ion-list no-lines>
            <button [disabled]="!hasWarrantyTime" ion-item (click)="openChat()">
              <ion-icon name="chatbubbles" item-start></ion-icon>
              <ion-label>Conversar com o cliente</ion-label>
              <ion-note *ngIf="hasWarrantyTime" item-end>Garantia disponivel</ion-note>
              <ion-note *ngIf="!hasWarrantyTime" item-end>Garantia indisponivel</ion-note>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showSchedulingDetail()">
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>Agendamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedSchedule == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedSchedule != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <button ion-item [disabled]="!localOrderIsActive()" (click)="showBudgetDetail()">
              <ion-icon name="pricetags" item-start></ion-icon>
              <ion-label>Orçamento</ion-label>
              <ion-icon *ngIf="localOrder.acceptedBudget == null" name="alert" color="warning" item-end></ion-icon>
              <ion-icon *ngIf="localOrder.acceptedBudget != null" name="checkmark-circle" color="secondary" item-end></ion-icon>
            </button>

            <button ion-item (click)="showServiceDetail()">
              <ion-icon name="construct" item-start></ion-icon>
              <ion-label>Detalhes do Serviço</ion-label>
            </button>

            <button *ngIf="localOrder.address != null" [disabled]="!localOrderIsActive()" ion-item (click)="showLocalizationDetail()">
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
            </button>
            <button *ngIf="localOrder.address == null" ion-item disabled>
              <ion-icon name="pin" item-start></ion-icon>
              <ion-label>Localização</ion-label>
              <ion-note item-end>O cliente virá até o endereço do Anuncio</ion-note>
            </button>
          </ion-list>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>