<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeIn">
      <button custom-close-button icon-only (click)="close()">
        <ion-icon name="close" item-end></ion-icon>
      </button>
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Adicionar comentário</ion-label>
        </ion-list-header>        
        <form #form="ngForm">
          <ion-item >
            <ion-label floating>
              Descrição
            </ion-label>
            <ion-textarea required type="text" [(ngModel)]="localSacActivity.description" name="Description" minlength="10" maxlength="250"></ion-textarea>
          </ion-item>
        </form>
      </ion-list>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round (click)="close()">
              Cancelar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round [disabled]="!form.valid" (click)="saveComment()">
              Salvar
            </button>
          </ion-col>                    
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
