page-register-continue {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 !important;
  }

  ion-content {
    background-color: white !important;
    ion-grid {
      .invite-card {
        border-radius: 8px;
        .user-img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border-width: 2px;
          border-color: #a4abb3;
          border-style: solid;
        }
        .user-name {
          padding: 2.5%;
        }
        h1,
        h2,
        h4,
        h6,
        p {
          white-space: initial;
          margin: 6px !important;
        }
      }
      ion-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      height: 100% !important;
      padding: unset !important;
      ion-item {
        background-color: transparent !important;
        ion-input.invalid-ion-input {
          color: red !important;
        }

        ion-input[disabled][opacity1] {
          input.text-input[disabled] {
            opacity: 1;
          }
        }

        ion-label {
          font-size: 2rem !important;
        }

        ion-label[black] {
          color: black !important;
        }
      }

      .item-md.item-block .item-inner,
      .item-ios.item-block .item-inner {
        border-bottom: unset !important;
        border-bottom-color: unset !important;
        -webkit-box-shadow: unset !important;
        box-shadow: unset !important;
      }

      ion-input {
        font-size: 2.4rem !important;
      }

      ion-label {
        white-space: normal !important;
        h1 {
          font-size: 2.4rem !important;
        }
        h1,
        h2,
        h6,
        p {
          margin-top: unset !important;
        }
      }

      button {
        font-size: 1.5rem !important;
        font-weight: bolder !important;
      }

      .validator-error {
        animation-name: fadeInDown; // -webkit-animation-duration: 0.2s !important;
        animation-duration: 0.2s !important; // -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        position: absolute;
        background-color: white;
        border-color: color($colors, danger, base) !important;
        border-style: solid;
        border-width: 1px;
        z-index: 99998;
        left: 20px;
        border-radius: 0px 10px 10px 10px;
        bottom: -40px;
        ion-item {
          z-index: 99999;
          .item-inner {
            border-bottom: unset !important;
          }
          ion-label {
            color: color($colors, danger, base) !important;
            margin: 10px 8px 10px 8px !important;
          }
          ion-icon {
            color: color($colors, danger, base) !important;
            margin: 0px 8px 0px 0px !important;
          }
        }
      }
    }
  }
}
