<ion-header>
  <ion-navbar [hideBackButton]="true" color="economizei_Main_Color">
    <ion-title>Complete seu cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="300"
      [height]="300">
    </lottie-animation-view>
  </div>


  <ion-grid padding>
    <div [ngSwitch]="formNumb">


      <!-- Introdução -->
      <div *ngSwitchCase=1>
        <ion-row justify-content-center>
          <ion-col col-12>
            <ion-item>
              <ion-label>
                <h1>Agora vamos criar seu <b>perfil</b>! 
                  Iremos precisar de alguns <b>dados pessoais</b></h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12>
            <ion-card class="invite-card"
              *ngIf="localDBProviderInviteData.hasProviderInvite">

              <ion-row justify-content-center>
                <ion-col col-2>
                  <img class="user-img"
                    [src]="localProviderInvite.providerThumbnailUrl">
                </ion-col>
                <ion-col col-auto no-padding>
                  <h2 class="user-name">{{ localProviderInvite.providerName }}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding col-12>
                  <h2>Você foi convidado por
                    {{localProviderInvite.providerName}}
                    <b>crie seu perfil como Prestador</b> para que
                    ele
                    seja recompensado!</h2>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>


      <!-- cpf -->
      <div *ngSwitchCase=2>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1 *ngIf="!hasUserRegister">Para começar, insira seu <b>CPF</b></h1>
                <h1 *ngIf="hasUserRegister">Para começar, confirme seu <b>CPF</b></h1>
                <div padding>
                  <h2>{{localUser.fullName}}</h2>
                  <h2>{{localUser.email}}</h2>
                </div>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>

          <ion-col col-12 align-self-center *ngIf="!hasUserRegister">
            <ion-item>
              <ion-input #cpf_input [formControl]="userForm.controls['cpf']"
                type="tel"
                name="cpf" [(ngModel)]="localUser.cpf"
                [brmasker]="{mask:'000.000.000-00', len:14}"
                (keyup.enter)="tryToAdvance()"
                [class]="utilCtrl.checkFormControlAlert(userForm.controls['cpf'])
                ? 'invalid-ion-input' : ''">
              </ion-input>
            </ion-item>
            <div
              *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['cpf'])"
              class="validator-error">
              <ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('O cpf
                deve
                estar no Formato 999.999.999-99')">
                <ion-label>CPF invalido!</ion-label>
                <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
              </ion-item>
            </div>
          </ion-col>

          <ion-col col-12 align-self-center *ngIf="hasUserRegister">
            <ion-item>
              <ion-input disabled opacity1 type="tel"
                name="cpf" [(ngModel)]="localUser.cpf">
              </ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </div>


      <!-- Genero -->
      <div *ngSwitchCase=3>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Agora selecione seu <b>gênero</b></h1>
                <div padding>
                  <h2>{{localUser.fullName}}</h2>
                  <h2>{{localUser.email}}</h2>
                  <h2>{{localUser.cpf}}</h2>
                </div>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-list radio-group name="gender"
              [(ngModel)]="localUser.gender">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Feminino</ion-label>
                    <ion-radio [value]="'female'"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Masculino</ion-label>
                    <ion-radio [value]="'male'"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Outro</ion-label>
                    <ion-radio [value]="'other'"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Não declarar</ion-label>
                    <ion-radio [value]="'ND'"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>


      <!-- Data de nascimento -->
      <div *ngSwitchCase=4>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Certo, informe a sua <b>data de nascimento</b></h1>
                <div padding>
                  <h2>{{localUser.fullName}}</h2>
                  <h2>{{localUser.email}}</h2>
                  <h2>{{localUser.cpf}}</h2>
                  <h2>{{utilCtrl.translateGender(localUser.gender)}}</h2>
                </div>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-row justify-content-center>
              <ion-col col-12 align-self-center>
                <ion-item>
                  <ion-label black>Data de nascimento:</ion-label>
                  <ion-datetime #birthDate_input [(ngModel)]="birthDateString"
                    name="birthDate" displayFormat="D MMM YYYY"
                    [displayFormat]="utilCtrl.ionDateTimePandH.displayFormat"
                    [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
                    [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
                    [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
                    [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
                    [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                    [doneText]="utilCtrl.ionDateTimePandH.doneText">
                  </ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>


      <!-- Telefone celular -->
      <div *ngSwitchCase=5>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Agora, insira seu <b>Telefone Celular</b></h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-input #cellPhone_input
                [formControl]="userForm.controls['cellPhone']"
                type="tel"
                name="cellPhone" [(ngModel)]="localUser.cellPhone"
                [brmasker]="{phone: true}"
                (keyup.enter)="tryToAdvance()"
                [class]="utilCtrl.checkFormControlAlert(userForm.controls['cellPhone'])
                ? 'invalid-ion-input' : ''">
              </ion-input>
            </ion-item>
            <div
              *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['cellPhone'])"
              class="validator-error">
              <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O Celular deve
                estar no Formato (85) 988888888.')">
                <ion-label>Celular inválido!</ion-label>
                <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </div>


      <!-- Tipo do usaurio -->
      <div *ngSwitchCase=6>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Selecione o tipo do seu perfil <b>Cliente</b> ou <b>Prestador
                    de Serviço</b></h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-list radio-group name="type" [(ngModel)]="localUser.type">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Cliente</ion-label>
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Prestador de Serviço</ion-label>
                    <ion-radio [value]="10"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>


        <ion-row justify-content-center>
          <ion-col col-12>
            <ion-card class="invite-card"
              *ngIf="localDBProviderInviteData.hasProviderInvite">

              <ion-row justify-content-center>
                <ion-col col-2>
                  <img class="user-img"
                    [src]="localProviderInvite.providerThumbnailUrl">
                </ion-col>
                <ion-col col-auto no-padding>
                  <h2 class="user-name">{{ localProviderInvite.providerName }}</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col no-padding col-12>
                  <h2>Você foi convidado por
                    {{localProviderInvite.providerName}}
                    <b>crie seu perfil como Prestador</b> para que
                    ele
                    seja recompensado!</h2>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>

      </div>


      <!-- Job -->
      <div *ngSwitchCase=7>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Ótimo, Qual a sua <b>profissão</b> ou <b>área profissional</b></h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-input #job_input [formControl]="userForm.controls['job']"
                type="job"
                name="job" [(ngModel)]="localUser.job"
                (keyup.enter)="tryToAdvance()"
                [class]="utilCtrl.checkFormControlAlert(userForm.controls['job'])
                ? 'invalid-ion-input' : ''">
              </ion-input>
            </ion-item>
            <div
              *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['job'])"
              class="validator-error">
              <ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('A
                profissão não
                pode conter números ou caracteres especiais.')">
                <ion-label>Profissão inválida!</ion-label>
                <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </div>


      <!-- Telefone de trabalho -->
      <div *ngSwitchCase=8>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Você deseja inserir agora um<b>Telefone de trabalho</b>?</h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-list radio-group name="addWorkPhoneNow"
              [(ngModel)]="addWorkPhoneNow">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio [value]="true"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio [value]="false"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="addWorkPhoneNow" justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-input #workPhone_input
                [formControl]="userForm.controls['workPhone']"
                type="tel"
                name="workPhone" [(ngModel)]="localUser.workPhone"
                [brmasker]="{phone: true}"
                (keyup.enter)="tryToAdvance()"
                [class]="utilCtrl.checkFormControlAlert(userForm.controls['workPhone'])
                ? 'invalid-ion-input' : ''">
              </ion-input>
            </ion-item>
            <div
              *ngIf="utilCtrl.checkFormControlAlert(userForm.controls['workPhone'])"
              class="validator-error">
              <ion-item (click)="UiFeedBackCtrl.presentInfoAlert('O Telefone
                deve
                estar no Formato (85) 988888888.')">
                <ion-label>Telefone inválido!</ion-label>
                <ion-icon name="ios-information-circle-outline" item-end></ion-icon>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

      </div>


      <!-- Termos de uso -->
      <div *ngSwitchCase=9999>
        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item>
              <ion-label>
                <h1>Para finalizar <b>Leia</b> e <b>concorde</b> com os Termos
                  de Uso</h1>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-item (click)="goToTermsOfUsePage()">
              <ion-icon name="paper" item-start></ion-icon>
              <ion-label>Termos de Uso</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center>
          <ion-col col-12 align-self-center>
            <ion-list name="termsOfUseAccepted"
              [(ngModel)]="termsOfUseAccepted"
              radio-group>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-radio checked="false" value="true"></ion-radio>
                    <ion-label>Eu <b>li</b> e <b>aceito</b> os Termos de Uso!</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!showSplash">
  <ion-grid>

    <div *ngIf="formNumb <= 1">
      <ion-row justify-content-center>
        <ion-col col-auto>
          <button ion-button clear (click)="next()">
            Iniciar
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="formNumb> 1">
      <ion-row justify-content-center>
        <ion-col col-auto no-padding>
          <button ion-button clear (click)="prev()">
            Anterior
          </button>
        </ion-col>
        <ion-col col-auto no-padding>

          <button *ngIf="formNumb != 9999" ion-button [disabled]="!formValid"
            clear (click)="next()">
            Continuar
          </button>

          <button *ngIf="formNumb == 9999" ion-button [disabled]="!formValid"
            clear (click)="finish()">
            Concluir
          </button>

        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-footer>