<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da sua Solicitação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="sac-card">
    <h2>ID: {{ localSac.id }}</h2>
    <h4>Titulo: {{ localSac.title }}</h4>
    <p>Status: {{ utilCtrl.translateSacStatus( localSac.status ) }}</p>
    <h6>Prioridade: {{ utilCtrl.translateSacPriority( localSac.priority ) }}</h6>
    <h6>Serviço de negocio: {{ localSac.businessRole.name }}</h6>
    <h6>Categoria: {{ localSac.category.name }}</h6>
    <h6>Sub-Categoria: {{ localSac.subCategory.name }}</h6>
    <h6>Grupo Resolvedor: {{ localSac.assignedTeam.name }}</h6>
    <h6>Atribuido á: {{ localSac.assignedUserName }}</h6>
    <p style="text-align: center">Criada em: {{ localSac.createdOn.toLocaleDateString('pt-BR') }}</p>
    <hr>
    <p>Descrição:
      {{ localSac.description }}
    </p>
  </ion-card>

  <div padding></div>

  <div style="text-align: center">
    <button ion-button round (click)="openAddCommentModal()">
      Adicionar comentário
    </button>
  </div>
  <hr>
  <div *ngIf="localSacActivity.length > 0; else noContent">
    <ion-list>
      <ion-card class="activity-card" *ngFor="let activity of localSacActivity">
        <div class="header">
          <img class="user-img" [src]="activity.userThumbUrl" alt="" src="">
          <h2 class="user-name">{{ activity.userName }}</h2>
          <ion-badge class="type-badge">{{ activity.type }}</ion-badge>
        </div>
        <!-- <ion-label text-align-center>
          <h6>{{ activity.description }}</h6>
        </ion-label> -->


        <h2 *ngIf="activity.type == 'Comentário'">
          {{ activity.description }}
        </h2>

        <h2 *ngIf="activity.type == 'fieldChange'">
          Campos modificados:
          <br />
          <div *ngFor="let change of activity.changes">
            <b>{{ change.fieldName }}</b>
            <br /> &nbsp;
            <b>De: </b> {{ change.oldValue }}
            <br /> &nbsp;
            <b>Para: </b> {{ change.newValue }}
          </div>
          
          <br/>
          {{ activity.description }}
        </h2>

        <p style="text-align: center">Criada em: {{ activity.createdOn.toLocaleDateString('pt-BR') }}</p>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #noContent>
    <h2 style="text-align: center;">O SACs não possui nehuma atividade</h2>
  </ng-template>

  <hr>

</ion-content>