page-my-sac-detail {

    .in-list-card{
      margin: 0px 4px 8px 4px;
      width: unset;
      box-shadow: unset;
      border-radius: 0px 0px 10px 10px;
      ion-label{
        text-align: center;
        white-space: normal !important;
        h1, h4, h2, h6, p{
          margin-top: unset !important;
        }
      }
    }

    .sac-card{
      white-space: normal !important;
      h1, h2, h4, h6, p{
        margin: 6px !important;
      }
    }


    .activity-card{
      .header{
        display: flex;
        width: 100%;
        padding: 2.5%;
        .user-img{
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border-width: 2px;
          border-color: #a4abb3;
          border-style: solid;
        }
        .user-name{
          padding: 2.5%;
        }
        .type-badge{
          background-color: #a4abb3 !important;
          height: fit-content;
          right: 5%;
          position: absolute;
        }
      }

      h1, h2, h4, h6, p{
        white-space: initial;
        margin: 6px !important;
      }

    }


    ion-buttons button[icon-only].my-style-for-splash {
      margin: 0 6px;
      min-width: 36px;
    }

    ion-list-header{
      background-color: transparent !important;
      text-align: center !important;
      font-size: 1.8rem !important;
      color: black !important;

    }

    ion-list ion-item {
        background-color: transparent !important;
    }


    $complete: #2ECC71;
    $active: #3498DB;
    $mute: #DFE3E4;
    
    .progress {
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      table-layout: fixed;
      width: 100%;
      color: darken($mute, 33%);
    
      > li {
        position: relative;
        display: table-cell;
        text-align: center;
        font-size: 0.8em;
        
        &:before {
          content: attr(data-step);
          display: block;
          margin: 0 auto;
          background: $mute;
          width: 3em;
          height: 3em;
          text-align: center; //IE8 doesn't inherit this style
          margin-bottom: 0.25em;
          line-height: 3em;
          border-radius: 100%;
          position: relative;
          z-index: 1000;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          background: $mute;
          width: 100%;
          height: 0.5em;
          top: 1.25em;
          left: 50%;
          margin-left: 1.5em\9;
          z-index: -1;
        }
        &:last-child:after {
          display: none;
        }
        &.is-complete {
          color: $complete;
          
          &:before,
          &:after {
            color: #FFF;
            background: $complete;
          }
        }
        &.is-active {
          color: $active;
          
          &:before {
            color: #FFF;
            background: $active;
          }
        }
      }
    }
      /**
       * Needed for IE8
       */
      .progress__last:after {
        display: none!important;
      }
    
      /**
       * Size Extensions
       */
      .progress--medium {
        font-size: 1.5em;
      }
      .progress--large {
        font-size: 2em;
      }
    
    /**
     * Some Generic Stylings
     */
    *, *:after, *:before {
      box-sizing: border-box;
    }
    h1 {
      margin-bottom: 1.5em;
    }
    .progress {
      margin-bottom: 1em;
    }
    a {
      color: $active;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    body {
      text-align: center;
      color: #444;
    }
}
