page-my-requests {
  ion-list {
    margin: 16px 0 !important;
    .request-card {
      margin: 10px !important;
      padding-left: unset;
      border-radius: 42px 10px 10px 42px;
      width: calc(100% - 20px) !important;

      ion-label {
        margin: 0 !important;
        height: 95%;
      }

      ion-thumbnail {
        margin: unset !important;
        min-width: unset;
        min-height: unset;

        ion-avatar {
          // background-color: #004c90;
          img {
            width: 90px;
            height: 90px;
            margin: unset;
            border-width: 8px;
            border-style: solid;
            border-radius: 50%;
          }
        }
      }

      .request-item-bottom {
        bottom: 0;
        height: 72%;
        padding: 0px 10px;
        h2 {
          font-size: 2rem !important;
          font-weight: 720;
          margin: 0px !important;
          padding: 3px 0px 6px 0px; // margin-bottom: 4.0rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        h5 {
          margin: 0px 0px !important;
          font-size: 1.4rem !important;
          align-items: baseline;
          color: #666;
          position: absolute;
          bottom: 27%;
        }
        h6 {
          margin: 0px !important;
          font-size: 1.1rem !important;
          align-items: baseline;
          color: #666;
          position: absolute;
          bottom: 18%;
        }
        h4 {
          margin: 0px 0px !important;
          font-size: 1.3rem !important;
          align-items: baseline;
          color: #666;
          position: absolute;
          bottom: 5%;
        }
        p {
          color: #004c90;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
