<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Minhas Solicitações</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="createRequestPage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="reLoadActiveSegment()">
      <ion-segment-button [disabled]="showSplash" value="Abertas">Abertas</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Pausadas">Pausadas</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Outras">Outras</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher *ngIf="!showSplash" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe
      para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="localRequests.length> 0; else noContent">

    <ion-list no-lines>
      <ion-item class="request-card" *ngFor="let request of localRequests" (tap)="cardTapped(request)">
        <ion-thumbnail large item-start>
          <ion-avatar>
            <img [style.border-color]="getColor(segment)" 
              [src]="request.serviceTypeSymbol">
          </ion-avatar>
        </ion-thumbnail>

        <div class="request-item-bottom">
          <h2>{{request.serviceTypeTitle}}</h2>
          <h5>Bairro: {{request.address.bairro}}
            <br />
            {{request.address.city}} - {{request.address.state}}
          </h5>
          <h4>Criado em: {{
            request.createdOn.toLocaleString('pt-BR').slice(0, -3) }}</h4>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
  <ng-template #noContent>
    <h2 *ngIf="!isExecutingQuery" style="text-align: center; margin: 6%;">Você não possui
      solicitações {{ segment }}!</h2>
  </ng-template>

</ion-content>
