<ion-header>

  <ion-navbar color="economizei_Main_Color">
    <ion-title>Adicionar endereço</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ng-container *ngIf="!validCep; else elseTemplate">
    <ion-row justify-content-center>
      <ion-col col-10>
        <ion-item style="background-color: transparent">
          <ion-label floating>CEP</ion-label>
          <ion-input required name="cep" [(ngModel)]="address.cep" type="tel"
            [brmasker]="{mask:'00.000-000', len:10}" (keyup.enter)="searchCep()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 align-self-center>
        <button ion-button clear icon-only item-right (click)="searchCep()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ng-container>


  <ng-template #elseTemplate>
    <ion-row justify-content-center>
      <ion-col col-10>
        <ion-item style="background-color: transparent">
          <ion-label floating>CEP</ion-label>
          <ion-input required name="cep" [(ngModel)]="address.cep" type="tel"
            disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 align-self-center>
        <button ion-button clear icon-only item-right (click)="cleanAll()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ng-template>


  <div *ngIf='validCep'>

    <form #form="ngForm" (ngSubmit)="AddAddress()" style="background-color:
      transparent">

      <ion-item style="background-color: transparent">
        <ion-label floating>Endereço</ion-label>
        <ion-input required name="street" [(ngModel)]="address.street"></ion-input>
      </ion-item>
      <ion-item style="background-color: transparent">
        <ion-label floating>Nº</ion-label>
        <ion-input required name="numero" [(ngModel)]="address.numero"></ion-input>
      </ion-item>
      <ion-item style="background-color: transparent">
        <ion-label floating>Complemento</ion-label>
        <ion-input name="complemento" [(ngModel)]="address.complemento"></ion-input>
      </ion-item>
      <ion-item style="background-color: transparent">
        <ion-label floating>Bairro</ion-label>
        <ion-input required name="bairro" [(ngModel)]="address.bairro"></ion-input>
      </ion-item>

      <ion-item style="background-color: transparent">
        <ion-label floating>Estado</ion-label>
        <ion-input required name="address.state" [(ngModel)]="address.state"
          disabled></ion-input>
      </ion-item>

      <ion-item style="background-color: transparent">
        <ion-label floating>Cidade</ion-label>
        <ion-input required name="address.city" [(ngModel)]="address.city"
          disabled></ion-input>
      </ion-item>

      <div padding></div>

      <div style="text-align: center">
        <button ion-button round icon-right type="submit"
          [disabled]="!form.valid">
          Salvar
          <ion-icon name='checkmark'></ion-icon>
        </button>
      </div>

    </form>
  </div>

</ion-content>