<ion-header>

  <ion-navbar color="economizei_Main_Color">
    <ion-title>Editar Anúncio</ion-title>
  </ion-navbar>

  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button [disabled]="showSplash" value="Dados">Dados</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Serviço" (click)="loadServiceCaracTab()">Serviço</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Endereco">Endereço</ion-segment-button>
      <ion-segment-button [disabled]="showSplash" value="Fotos" (click)="loadPicsPage()">Fotos</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Dados'">

      <h6 style="text-align: center; margin: 6%;">Dados sobre seu Anúncio</h6>

      <form #form="ngForm" (ngSubmit)="saveDataConfirmation()">

        <br />
        <ion-item>
          <ion-label floating>Título</ion-label>
          <ion-input required type="text" [(ngModel)]="localBanner.title" name="Title" minlength="3" maxlength="50"></ion-input>
        </ion-item>
        <br />

        <ion-item>
          <ion-label floating>
            Descrição
            <div *ngIf="this.descriptionCaracCountMin > 0" style="color: red">Digite mais {{
              this.descriptionCaracCountMin }} Caracteres</div>
          </ion-label>
          <ion-textarea required type="text" [(ngModel)]="localBanner.description" (ionBlur)="descriptionOnInput()"
            name="Description" minlength="20" maxlength="250"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating>Tipo de Serviço</ion-label>
          <ion-input required type="text" [(ngModel)]="localBanner.serviceTypeTitle" name="serviceType" disabled></ion-input>
        </ion-item>
        <br />

        <ion-item>
          <ion-label floating>Preço</ion-label>
          <ion-input required type="tel" [(ngModel)]="localPrice" name="price" (ionBlur)="CheckPrice()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Tipo de cobrança</ion-label>
          <ion-select required name="priceType" [(ngModel)]="localBanner.priceType" interface="action-sheet" cancelText="Cancelar">
            <ion-option value="Por Hora">Por Hora</ion-option>
            <ion-option value="Por Dia">Por Dia</ion-option>
            <ion-option value="Por Serviço">Por Serviço</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Metodos de pagamento</ion-label>
          <ion-select required name="payMethods" [(ngModel)]="localBanner.payMethods" multiple="true" cancelText="Cancelar">
            <ion-option value="Dinheiro">Dinheiro</ion-option>
            <ion-option value="Transferencia Bancaria">Transferencia Bancaria</ion-option>
            <ion-option value="Cartão (Debito)">Cartão (Debito)</ion-option>
            <ion-option value="Cartão (Credito)">Cartão (Credito)</ion-option>
            <ion-option value="PicPay">PicPay</ion-option>
          </ion-select>
        </ion-item>

        <hr>
        <ion-item no-lines>
          <ion-toggle (ngModelChange)="toggleWarranty()" [ngModel]="localBanner.warranty" name="warranty" item-start></ion-toggle>
          <ion-label>Garantia</ion-label>
          <ion-icon *ngIf="!localBanner.warranty" name="md-arrow-dropleft" item-end></ion-icon>
          <ion-icon *ngIf="localBanner.warranty" name="md-arrow-dropdown" item-end></ion-icon>
        </ion-item>
        <div *ngIf="localBanner.warranty">
          <ion-item no-lines>
            <ion-label floating>Tempo de garantia</ion-label>
            <ion-select required name="warrantyTime" [(ngModel)]="localBanner.warrantyTime" multiple="false" cancelText="Cancelar">
              <ion-option value="15 dias">15 dias</ion-option>
              <ion-option value="1 mês">1 mês</ion-option>
              <ion-option value="3 mêses">3 mêses</ion-option>
              <ion-option value="6 mêses">6 mêses</ion-option>
              <ion-option value="1 ano">1 ano</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <hr>

        <div padding></div>

        <div style="text-align: center">
          <button ion-button round icon-right [disabled]="!form.valid" type="submit">
            Salvar
            <ion-icon name='checkmark'></ion-icon>
          </button>
        </div>

      </form>
    </div>

    <div *ngSwitchCase="'Serviço'">

      <h4 style="text-align: center; margin: 6%;">{{ localBanner.serviceTypeTitle }}</h4>

      <h4 style="text-align: center; margin: 6%;">Caracteristicas sobre o serviço do seu anuncio!</h4>

      <div *ngFor="let localCharacteristic of localCharacteristics">

        <ion-card *ngIf="localCharacteristic.bcTitle != null;" (click)="answerCharac(localCharacteristic.orderNumber-1)">

          <ion-card-header style="white-space: normal">
            <h2>{{ localCharacteristic.bcTitle }}</h2>
          </ion-card-header>

          <ng-container *ngIf="localCharacteristic.data.length != 0; else elseTemplate">
            <ion-list>
              <ion-item *ngFor="let data of localCharacteristic.data">
                <ion-icon name="return-right" item-start></ion-icon>
                <ion-label style="white-space: normal;">{{ data }}</ion-label>
              </ion-item>
            </ion-list>
            <h4 style="text-align: center; margin-right: 1.6rem; padding-bottom: 2%;">(clique para alterar sua
              resposta)</h4>
          </ng-container>
          <ng-template #elseTemplate>
            <h4 style="text-align: center; margin-right: 1.6rem; padding-bottom: 2%;">(clique para responder)</h4>
          </ng-template>

        </ion-card>

      </div>

      <div padding></div>

      <div style="text-align: center">
        <button ion-button round icon-right (click)="saveCharacs()" [disabled]="!this.localCharacteristicsReady">
          Salvar
          <ion-icon name='checkmark'></ion-icon>
        </button>
      </div>

    </div>

    <div *ngSwitchCase="'Endereco'">

      <hr>
      <ng-container *ngIf="localBanner.acceptHomeDelivery; else elseTemplate">
        <h6 style="text-align: center; margin-right: 1.6rem;">Este anuncio irá aceitar Atendimento em domicilio.</h6>
        <ion-item no-lines>
          <ion-toggle [ngModel]="true" disabled name="acceptHomeDelivery" item-start></ion-toggle>
          <ion-label>Atendimento em domicílio</ion-label>
          <ion-icon name="ios-home" item-end></ion-icon>
        </ion-item>
      </ng-container>
      <ng-template #elseTemplate>
        <h6 style="text-align: center; margin-right: 1.6rem;">Este anuncio não irá aceitar Atendimento em domicilio.</h6>
        <ion-item no-lines>
          <ion-toggle [ngModel]="false" disabled name="acceptHomeDelivery" item-start></ion-toggle>
          <ion-label>Atendimento em domicílio</ion-label>
          <ion-icon name="ios-home-outline" item-end></ion-icon>
        </ion-item>
      </ng-template>
      <hr>

      <h6 style="text-align: center; margin-right: 1.6rem;">Selecione o endereço que será utilizado como base para este
        anuncio</h6>
      <form #form="ngForm" (ngSubmit)="saveAddressConfirmation()">

        <ion-list radio-group required name="selectedAddress" [(ngModel)]="localBanner.addressId">
          <ion-list-header>
            Endereço
          </ion-list-header>
          <ion-item *ngFor="let address of addresses">
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.homeAdressId" name="home" item-start></ion-icon>
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.workAdressId" name="briefcase" item-start></ion-icon>
            <ion-icon *ngIf="address.id != UserDataCtrl.localUser.workAdressId && address.id != UserDataCtrl.localUser.homeAdressId"
              name="pin" item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2 *ngIf="address.id == UserDataCtrl.localUser.homeAdressId">Casa</h2>
              <h2 *ngIf="address.id == UserDataCtrl.localUser.workAdressId">Trabalho</h2>
              <h2>{{address.street}}, {{ address.numero }}</h2>
              <p>{{ address.complemento }}, {{ address.bairro }}</p>
              <p>({{ address.cep }}), {{ address.city }} - {{ address.state }}</p>
            </ion-label>
            <ion-radio [value]="address.id"></ion-radio>
          </ion-item>
        </ion-list>

        <div style="text-align: center">
          <button ion-button round icon-right [disabled]="!form.valid" type="submit">
            Salvar
            <ion-icon name='checkmark'></ion-icon>
          </button>
        </div>

      </form>
    </div>

    <div *ngSwitchCase="'Fotos'">

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let pic of localPics" col-6 no-padding>
            <ion-card (press)="Pic_Options(pic)">
              <img [src]="pic.url" />
              <ion-row no-padding>
                <ion-col text-left>
                  <h1 style="font-size: 1.8rem; padding-left: 10%; padding-top: 10%;">
                    {{ pic.index + 1 }}ª
                  </h1>
                </ion-col>
                <ion-col text-right>
                  <button ion-button end clear small icon-end (click)="Pic_Options(pic)">
                    <ion-icon name='more'></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ng-container *ngIf="localPics.length < localUserPlan.maxPicsPerBanner; else elseTemplateB">
        <ion-row no-padding>
          <ion-col>
            <button ion-button outline icon-start (click)="addPicFromCameraConfirmation()">
              <ion-icon name='camera'></ion-icon>
              Tirar foto
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button outline icon-start (click)="addPicFromGalleryConfirmation()">
              <ion-icon name='images'></ion-icon>
              Da galeria
            </button>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplateB>
        <h6 style="text-align: center; margin-right: 1.6rem;">Numero máximo de fotos do seu plano alcançado!</h6>
      </ng-template>

      <div style="text-align: center">
        <button ion-button round icon-right (click)="savePics()" [disabled]="!this.localCharacteristicsReady">
          Salvar
          <ion-icon name='checkmark'></ion-icon>
        </button>
      </div>

    </div>

  </div>
</ion-content>