page-request-detail {

  .schedule-card {
    border-radius: 6px;
    margin: 10px !important;
    width: calc(100% - 20px) !important;
    ion-item {
      padding-left: unset;

      ion-icon {
        margin-left: 8px !important;
      }

      .item-inner {
        margin-left: 0px !important;

        .label-md {
          margin: unset;
        }
      }

      h1 {
        font-size: 1.8rem;
        font-weight: bold;
      }

      h2 {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.2rem;
        color: #666;
        margin-top: 8px;
        margin-bottom: 4px;
      }
      h5 {
        font-size: 1rem;
      }
      h6 {
        font-size: 1rem;
        color: #004c90;
      }
    }
  }

  ion-list {
    margin: 16px 0 !important;

    .request-card {
      margin: 10px !important;
      border-radius: 6px;
      width: calc(100% - 20px) !important;
      padding-left: unset;
      ion-icon {
        margin-left: 8px !important;
      }

      .item-inner {
        margin-left: 0px !important;
      }

      .label-md {
        margin: 8px 8px 8px 8px;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: bold;
      }

      h6 {
        text-decoration: underline;
        color: #004c90;
        font-weight: 500;
        text-align: end;
      }

      .descTruncated {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: normal;
      }
    }

    #proposal-bullet {
      background-color: #ffa220 !important;
      color: white !important;
      border-radius: 50px 45px 45px 50px !important;

      ion-thumbnail {
        background-color: #004c90;
        margin: 0px 16px 0px 0px !important;
        height: 0%;

        .circle {
          margin: 4px;
        }
      }
      ion-label {
        display: contents !important;
        h2 {
          padding: 10px 0px;
        }
      }
    }

    .left-round-card {
      margin: 10px !important;
      padding-left: unset;
      border-radius: 70px 16px 16px 70px;
      width: calc(100% - 20px) !important;

      ion-label {
        margin: 0 !important;
        height: 100%;
        display: grid;
        font-weight: bold;
        font-size: 1.8rem;
        align-content: center;

        h2 {
          font-size: 1.8rem !important;
          font-weight: 500;
          margin: 0px !important;
          padding: 3px 0px 6px 0px; // margin-bottom: 4.0rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        p {
          font-size: 1.2rem;
          font-weight: 500;
          color: #004c90;
          margin: 4px 0px;
        }
      }

      ion-thumbnail {
        background-color: #004c90;
        margin: 0px 16px 0px 0px !important;
        height: 100%;
        display: inline-flex;
        border-radius: 0px 60px 60px 0px;
        align-items: center;
        min-width: unset;
        min-height: unset;

        .circle {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          font-size: 24px;
          color: #fff;
          line-height: 45px;
          text-align: center;
          background: #004c90;
          display: inline-block;
        }

        ion-avatar {
          display: inline-block;
          height: 100%;
          img {
            width: 60px;
            height: 60px;
            margin: unset;
            border-width: 4px;
            border-style: solid;
            border-radius: 50%;
          }
        }
        .service-type-badge {
          img {
            border-color: #004c90;
          }
        }
        .provider-badge {
          img {
            border-color: white;
          }
        }
      }
    }
  }

  .swiper-pagination-bullet {
    border-radius: 1px;
    height: 2px;
    width: 20px;
  }

  .swiper-pagination-bullet-active {
    background: black;
  }

  ul {
    padding: 0px;
    margin: 5px 0 0 0;

    &.rating li {
      padding: 2px 2px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 20px;
      }
    }
  }

  .splash {
    background-color: color($colors, economizei_Background, base);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999999999999;
  }

  .splash-spinner {
    margin: 50% auto 0;
    text-align: center;
  }

  .splash-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #e79824;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .splash-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .splash-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
