<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da Solicitação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides *ngIf="showPicSplash" pager="true" zoom="true" parallax="true"
    style="height: 300px">
    <ion-slide>
      <img style="height: 300px;"
        src="assets/imgs/dummy-image-landscape-800x600.jpg">
    </ion-slide>
  </ion-slides>

  <div *ngIf="!showPicSplash">
    <ng-container *ngIf="localPics.length> 0; else elseTemplate">
      <ion-slides pager="true" zoom="true" parallax="true" style="height:
        350px">
        <ion-slide *ngFor="let pic of localPics">
          <div style="position: absolute;margin-left: 4%;margin-top: 4%;z-index:
            10;">
            <ion-badge color='economizei_Light_Black'> {{ ( pic.index+1 ) }}/{{
              localPics.length }}</ion-badge>
          </div>
          <img style="height: 300px;" data-src="{{pic.url}}">
        </ion-slide>
      </ion-slides>
    </ng-container>
    <ng-template #elseTemplate>
      <ion-slides pager="true" zoom="true" parallax="true" style="height:
        300px">
        <ion-slide>
          <div style="position: absolute;margin-left: 4%;margin-top: 4%;z-index:
            10;">
            <ion-badge color='economizei_Light_Black'>Esta solicitação não
              possui Fotos</ion-badge>
          </div>
          <img style="height: 300px;"
            src="assets/imgs/dummy-image-landscape-800x600.jpg">
        </ion-slide>
      </ion-slides>
    </ng-template>
  </div>

  <ion-list no-lines>
    <ion-item class="left-round-card">
      <ion-thumbnail large item-start>
        <ion-avatar class="service-type-badge">
          <img [src]="localRequest.serviceTypeSymbol">
        </ion-avatar>
        <ion-avatar class="provider-badge">
          <img [src]="localRequest.clientThumbnailUrl">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <h2>{{localRequest.serviceTypeTitle}}</h2>
        <p>Cliente: {{ localRequest.clientName }}</p>
      </ion-label>
      <!-- <button ion-button clear large item-right (click)="share()">
        <ion-icon name="md-share" color="economizei_Light_Black"></ion-icon>
      </button> -->
    </ion-item>

    <ion-item id="proposal-bullet" class="left-round-card"
      (click)="startProposal()">
      <ion-thumbnail>
        <div class="circle">
          !
        </div>
      </ion-thumbnail>
      <!-- <ion-avatar item-left>
        <img src="{{localRequest.serviceTypeSymbol}}" />
      </ion-avatar> -->
      <h2>FAZER PROPOSTA AGORA!</h2>
      <ion-icon name="ios-arrow-forward" color="white" item-end></ion-icon>
    </ion-item>

    <ion-list class="schedule-card">
      <ion-item >
        <ion-icon [name]="localRequest.scheduleType == 'close' ? 'economizei-padlock' :
          'economizei-padunlock'" item-start></ion-icon>
        <ion-label style="white-space: normal">
          <h1>Agendamento {{ localRequest.scheduleType == 'close' ? 'Fechado'
            : 'Aberto' }}</h1>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="localRequest.scheduleType == 'close'">
        <ion-icon style="align-self: baseline; margin-top: 0px !important;" name="economizei-calendar" item-start></ion-icon>
        <h2>
          Dia {{ localRequest.schedule.dueDate.toLocaleString('PT-BR') }}
        </h2>
        <h5>{{ localRequest.address.bairro + ", " +
          localRequest.address.city + " - " +
          localRequest.address.state }}</h5>
        <h6>{{ localRequest.requiredHomeDelivery ?
          'Atendimento em domicílio' : 'Requer ida ao local' }}</h6>
        <h4>Criado em: {{ localRequest.createdOn.toLocaleString('PT-BR') }}</h4>
      </ion-item>
    </ion-list>

    <ion-item class="request-card" (click)="showServiceDetail()">
      <ion-icon name="economizei-service" item-start></ion-icon>
      <ion-label>Detalhes do serviço</ion-label>
      <ion-icon name="ios-arrow-forward" color="primary" item-end></ion-icon>
    </ion-item>

    <ion-item class="request-card" (click)="toggleTruncateDesc()">
      <h3>Descrição</h3>
      <h5 *ngIf="localRequest.description.length == 0">O cliente não forneceu
        descrição</h5>
      <h5 [class]="descTrucated ? 'truncateDesc' : ''">{{localRequest.description}}</h5>
      <h6 *ngIf="descTrucated">Ver mais ></h6>
    </ion-item>

  </ion-list>

  <ng-container *ngIf="sentProposals.length> 0; else elseTemplate">
    <ion-list>
      <ion-item *ngFor="let proposal of sentProposals">
        <ion-avatar item-start>
          <img src="{{proposal.providerThumbnailUrl}}">
        </ion-avatar>
        <h2>{{proposal.providerName}}</h2>
        <p>{{proposal.providerJob}}, {{proposal.providerPoints}} pontos</p>
        <rating [(ngModel)]="proposal.providerReputation" readOnly="true"></rating>
        <div class="proposal-details">
          <h4 class="txt-top">R$ {{proposal.budgetValue}}</h4>

          <ng-container *ngIf="proposal.clientReview == 0; else elseTemplate">
            <ion-buttons>
              <button ion-button icon-only disabled>
                <ion-icon name="thumbs-up" color="secondary"></ion-icon>
              </button>
              <button ion-button icon-only disabled>
                <ion-icon name="thumbs-down" color="danger"></ion-icon>
              </button>
            </ion-buttons>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-buttons>
              <button ion-button icon-only *ngIf="proposal.clientReview == 1">
                <ion-icon name="thumbs-up" color="secondary"></ion-icon>
              </button>
              <button ion-button icon-only *ngIf="proposal.clientReview ==
                -1">
                <ion-icon name="thumbs-down" color="danger"></ion-icon>
              </button>
            </ion-buttons>
          </ng-template>

          <h4 class="txt-bottom" *ngIf="proposal.schedule == null">Sem
            agendamento</h4>
          <h4 class="txt-bottom" *ngIf="proposal.schedule != null">Com
            agendamento</h4>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
    <h5 style="text-align: center; margin: 6%;">Você não enviou propostas para
      esta solicitação </h5>
  </ng-template>

</ion-content>
