page-edit-service-sub {

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
    }

    ion-content{
        background-color: transparent !important;
    }

    .background {
        width: 100%;
        height: 100%;
    }
  
  .background::after {
    content: '';
    background: grey;
    opacity: 0.4;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .floating-card {
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    padding: 0px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }

    ion-list{
        text-align: center;
    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-label{
        white-space: normal !important;
        h1, h2, h6, p{
        margin-top: unset !important;
        }
    }

    ion-label[text-align-center]{
        text-align: center !important;
    }

    button[custom-close-button]{
        background: transparent;
        margin: 10px 0px 10px -25px;
        position: absolute;
        z-index: 9999;
        ion-icon{
            font-size: 2.2em;
        }
    }

    button[custom]{
        background: transparent;
        height: 100px;
        box-shadow: 0 0 0 0 !important;
    }

    button[custom] ion-icon {
    font-size: 50px;
    }

    button[custom] ion-label {
        white-space: unset !important;
        color: black;
        position: absolute;
        margin-top: 40%;
        text-transform: none;
    }

    button[custom].selected{
        background-color: color($colors, economizei_Background, base) !important;
    }

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
        color: black !important;
        border-top:  unset !important;
    }

    .fadeIn {
        animation: fadeIn 0.4s ease;
    }
    
    .fadeInDown {
        animation: fadeInDown 0.2s both !important;
    }

    @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
    }
      
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
    }

    @keyframes fadeInDown {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    
      @-webkit-keyframes fadeInDown {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
}
