<ion-content>
  <div class="background fadeIn">

    <div class="floating-card fadeInDown">
      <button custom-close-button icon-only (click)="close()">
        <ion-icon name="close" item-end></ion-icon>
      </button>
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>Alterar inscrição para {{localServiceTypeSub.serviceTypeTitle}}</ion-label>
        </ion-list-header>

        <form #form="ngForm" (ngSubmit)="save()">

          <ion-item>
            <ion-toggle name="notif" (ngModelChange)="toggleNotif()" [ngModel]="localServiceTypeSub.notif" item-start></ion-toggle>
            <ion-label>Notificações</ion-label>
            <ion-icon *ngIf="!localServiceTypeSub.notif" name="md-arrow-dropleft" item-end></ion-icon>
            <ion-icon *ngIf="localServiceTypeSub.notif" name="md-arrow-dropdown" item-end></ion-icon>
          </ion-item>

          <ion-list *ngIf="localServiceTypeSub.notif">
            <ion-label>Raio de notificaçõesdas: {{localServiceTypeSub.notifRad}} Km(s)</ion-label>
            <ion-item>
              <ion-range name="notifRad" min="10" max="30" step="1" snaps="true" [(ngModel)]="localServiceTypeSub.notifRad"
                (ionChange)="changeNotifRange()" color="economizei_Yellow">
                <ion-icon range-left small color="danger" name="remove"></ion-icon>
                <ion-icon range-right color="primary" name="add"></ion-icon>
              </ion-range>
            </ion-item>
          </ion-list>

          <div style="text-align: center">
            <button ion-button round icon-right [disabled]="!hasChanges" type="submit">
              Salvar
              <ion-icon name='checkmark'></ion-icon>
            </button>
          </div>

          <div padding></div>

        </form>
      </ion-list>

    </div>

  </div>

</ion-content>