<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Meus Pedidos</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment" (ionChange)="reLoadActiveSegment()">
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Abertos">Abertos</ion-segment-button>
      <ion-segment-button [disabled]="showSplash || isExecutingQuery" value="Encerrados">Encerrados</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe
      para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="localOrders.length> 0; else noContent">
    <ion-list>
      <ion-card *ngFor="let order of localOrders" (tap)="cardTapped(order)">
        <ion-item>
          <ion-thumbnail class="user-thumbnail" large item-left>
            <img class="bg-img" [src]="order.banner != null ? order.banner.thumbnail :
              'assets/imgs/dummy-image-landscape-800x600.jpg'" />
            <div class="grey-bg"></div>
            <div class="mini-avatar">
              <ion-avatar style="padding-bottom: 5px;">
                <img src="{{order.providerThumbnailUrl}}" />
              </ion-avatar>
              <p style="color: white">{{order.providerName.split(" ")[0]}}
                {{order.providerName.split(" ")[1]}}</p>
            </div>
          </ion-thumbnail>
          <div class="banner-item-top" [ngClass]="{ 'pending-color':
            order.status == 1,
            'rejected-color': order.status == 1301 || order.status == 1302 ||
            order.status == 1303,
            'waiting-color': order.status == 2 || order.status == 3,
            'progress-color': order.status == 4 || order.status == 5 ||
            order.status == 6,
            'done-color': order.status == 7 || order.status == 1300 }">
            <h2>{{ utilCtrl.translateOrderStatus(order.status) }}</h2>
          </div>
          <div class="banner-item-bottom">
            <div *ngIf="order.banner != null">
              <h2>{{order.banner.title}}</h2>
              <h4>Bairro: {{order.banner.address.bairro}}</h4>
              <h5>{{order.banner.address.city}} - {{order.banner.address.state}}</h5>
            </div>
            <div *ngIf="order.banner == null">
              <h2>{{order.title}}</h2>
              <h4>Bairro: {{order.address.bairro}}</h4>
              <h5>{{order.address.city}} - {{order.address.state}}</h5>
            </div>
            <h6>Pedido criado em: {{
              order.createdOn.toLocaleString('pt-BR').slice(0, -3) }}</h6>
          </div>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #noContent>
    <h2 *ngIf="!isExecutingQuery" style="text-align: center; margin: 6%;">Você não possui pedidos {{ segment }}!</h2>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
