<ion-header>
    <ion-navbar color="economizei_Main_Color">
        <button ion-button menuToggle>
            <ion-icon name="economizei-hamburguer"></ion-icon>
        </button>
        <ion-title>Notificações</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [disabled]="showSplash" (click)="notificationsPageOptions()">
                <ion-icon large name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar> 
</ion-header>

<ion-content>

    <div *ngIf="showSplash" class="splash">
        <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
        </lottie-animation-view>
    </div>

    <ion-refresher (ionRefresh)="tryToRefresh($event)" pullMin="80">
        <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="localNotifications.length > 0; else elseTemplate">
        <ion-list no-lines>
            <ion-item-sliding style="background-color: transparent;" #slidingItem *ngFor="let notification of localNotifications">
                <ion-item [ngClass]="notification.readed == true ? 'transparent' : ''" (tap)="itemTapped(notification)"
                    (press)="itemPressed(notification, slidingItem)">
                    <!-- <ion-avatar item-start>
                        <img src="assets/imgs/logo.png">
                    </ion-avatar> -->
                    <h2 *ngIf="!notification.readed" style="color: #004c90;font-weight: bold;">{{notification.title}}</h2>
                    <h2 *ngIf="notification.readed">{{notification.title}}</h2>
                    <h3>{{notification.senderName}} - {{notification.createdOn.toLocaleString('pt-BR')}}</h3>
                    <p>{{notification.text}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button *ngIf="!notification.readed" ion-button color="primary" (click)="markAsRead(notification, slidingItem)">
                        <ion-icon name="done-all"></ion-icon>
                        marcar como lido
                    </button>
                    <button ion-button color="danger" (click)="delete(notification, slidingItem)">
                        <ion-icon name="trash"></ion-icon>
                        Excluir
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ng-container>
    <ng-template #elseTemplate>
        <h3 style="text-align: center;">Você não possui Notificações</h3>
        <lottie-animation-view [options]="noNotifLottie" [width]="'100%'" [height]="'unset'">
        </lottie-animation-view>
    </ng-template>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
