<ion-header>
	<ion-navbar color="economizei_Main_Color">

		<ion-title>Tutorial do cliente</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding class="hm_sign_bg">

	<h2 style="text-align: center">Pagina em desenvolvimento!</h2>


</ion-content>