<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>adicionar inscrição</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-list padding>
    <h6 style="text-align: center; margin: 6%;">Selecione a categoria e depois o tipo de serviço ao qual deseja se
      inscrever</h6>

    <form #form="ngForm" (ngSubmit)="saveConfirmation()">

      <ion-item>
        <ion-label floating>Categoria do Serviço</ion-label>
        <ion-select [(ngModel)]="selectedCategory" required name="selectedCategory" interface="action-sheet" cancelText="Cancelar"
          (ionBlur)="selectCategory()">
          <ion-option *ngFor="let category of localCategories" [value]="category">{{ category.title }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="canSelectServiceType">
        <ion-label floating>Tipo de Serviço</ion-label>
        <ion-select [(ngModel)]="selectedServiceType" required name="selectedServiceType" interface="action-sheet"
          cancelText="Cancelar">
          <ion-option *ngFor="let serviceType of serviceTypesToSelection" [value]="serviceType">{{ serviceType.title }}</ion-option>
        </ion-select>
      </ion-item>

      <div padding></div>

      <h6 style="text-align: center; margin: 6%;">Habilitando está opção você irá somente receber notificações da distânncia que você definir!</h6>

      <ion-item>
        <ion-toggle name="notif" (ngModelChange)="toggleNotif()" [ngModel]="localServiceTypeSub.notif" item-start></ion-toggle>
        <ion-label>Notificações</ion-label>
        <ion-icon *ngIf="!localServiceTypeSub.notif" name="md-arrow-dropleft" item-end></ion-icon>
        <ion-icon *ngIf="localServiceTypeSub.notif" name="md-arrow-dropdown" item-end></ion-icon>
      </ion-item>

      <ion-list *ngIf="localServiceTypeSub.notif">
        <ion-label>Raio de notificaçõesdas: {{localServiceTypeSub.notifRad}} Km(s)</ion-label>
        <ion-item>
          <ion-range name="notifRad" min="10" max="30" step="1" snaps="true" [(ngModel)]="localServiceTypeSub.notifRad"
            color="economizei_Yellow">
            <ion-icon range-left small color="danger" name="remove"></ion-icon>
            <ion-icon range-right color="primary" name="add"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-list>
      <hr>

      <div padding></div>

      <div style="text-align: center">
        <button ion-button round icon-right [disabled]="!form.valid || !canSelectServiceType" type="submit">
          Inscrever-se
          <ion-icon name='checkmark'></ion-icon>
        </button>
      </div>

    </form>
  </ion-list>

</ion-content>