page-add-service-sub {

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
    }

    ion-item {
        background-color: transparent !important;
    }

}
