<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Passo {{ stepToNumber() }} de 5</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Dados" disabled>Dados</ion-segment-button>
      <ion-segment-button value="Serviço" disabled>Serviço</ion-segment-button>
      <ion-segment-button value="Endereco" disabled>Endereço</ion-segment-button>
      <ion-segment-button value="Agendamento" disabled>Agendamento</ion-segment-button>
      <ion-segment-button value="Fotos" disabled>Fotos</ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content style="background-color: white !important">

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'Dados'" padding>

      <!-- <h6 style="text-align: center; margin-right: 1.6rem;">Preencha os dados
        sobre a sua necessidade</h6> -->
      <form #form="ngForm" (ngSubmit)="goForward()">
        <h5>Escolha uma categoria de serviço(s)</h5>
        <ion-item class="request-select">
          <ion-icon *ngIf="selectedCategory == null" name="alert"
            color="warning"
            item-start></ion-icon>
          <ion-icon *ngIf="selectedCategory != null" name="checkmark-circle"
            color="secondary" base item-start></ion-icon>
          <ion-label *ngIf="selectedCategory == null">Escolha aqui!</ion-label>
          <ion-select [(ngModel)]="selectedCategory" required
            name="selectedCategory" interface="action-sheet"
            cancelText="Cancelar" (ionBlur)="selectCategory()">
            <ion-option *ngFor="let category of localCategories"
              [value]="category">{{ category.title }}</ion-option>
          </ion-select>
        </ion-item>
        <br />
        <h5 *ngIf="canSelectServiceType">Escolha um tipo de serviço</h5>
        <ion-item class="request-select" *ngIf="canSelectServiceType">
          <ion-icon *ngIf="selectedServiceType == null" name="alert"
            color="warning"
            item-start></ion-icon>
          <ion-icon *ngIf="selectedServiceType != null" name="checkmark-circle"
            color="secondary" base item-start></ion-icon>
          <ion-label *ngIf="selectedServiceType == null">Escolha aqui!</ion-label>
          <ion-select [(ngModel)]="selectedServiceType" required
            name="selectedServiceType" interface="action-sheet"
            cancelText="Cancelar" (ionBlur)="selectServiceType()">
            <ion-option *ngFor="let serviceType of serviceTypesToSelection"
              [value]="serviceType">{{ serviceType.title
              }}</ion-option>
          </ion-select>
        </ion-item>
        <br />

        <ion-item class="request-obs">

          <ion-label floating>
            Informar alguma observação (Opcional)
          </ion-label>
          <ion-textarea type="text" [(ngModel)]="localRequest.description"
            (ionBlur)="descriptionOnInput()"
            name="Description" maxlength="200"></ion-textarea>
        </ion-item>

        <div padding></div>

        <div style="text-align: center">
          <button ion-button round icon-right [disabled]="!form.valid ||
            !canSelectServiceType" type="submit">
            Avançar
            <ion-icon name='arrow-forward'></ion-icon>
          </button>
        </div>

      </form>
    </div>

    <div *ngSwitchCase="'Serviço'" padding>

      <h4 style="margin-right: 1.6rem;">Conte-nos um pouco
        mais sobre o serviço que você precisa!</h4>
      <div *ngFor="let localCharacteristic of localCharacteristics">
        <h6 style="margin-bottom: 0px; margin-top: 3rem;">{{
          localCharacteristic.title }}</h6>
        <ion-item class="request-select"
          (click)="answerCharac(localCharacteristic.orderNumber)">

          <ion-icon *ngIf="localCharacteristic.data.length != 0"
            name="checkmark-circle" color="secondary" base
            item-start></ion-icon>
          <ion-label *ngIf="localCharacteristic.data.length != 0">
            <div *ngIf="isString(localCharacteristic.data); else
              elsetype">
              <p>{{ localCharacteristic.data }} </p>
            </div>
            <ng-template #elsetype>
              <p *ngFor="let d of localCharacteristic.data">{{ d }}</p>
            </ng-template>
          </ion-label>

          <ion-icon *ngIf="localCharacteristic.data.length == 0" name="alert"
            color="warning" item-start></ion-icon>
          <ion-label *ngIf="localCharacteristic.data.length == 0">Clique aqui
            para responder</ion-label>

          <ion-list>
            <ng-container *ngIf="localCharacteristic.rcDataSelection ==
              'checkbox'; else elseTemplate1">
              <ion-item *ngFor="let data of localCharacteristic.data">
                <ion-icon name="return-right" item-start></ion-icon>
                <ion-label style="white-space: normal;">{{ data }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-template #elseTemplate1>
              <ion-item>
                <ion-icon name="return-right" item-start></ion-icon>
                <ion-label style="white-space: normal;">{{
                  localCharacteristic.data }}</ion-label>
              </ion-item>
            </ng-template>
          </ion-list>
        </ion-item>
      </div>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round icon-right (click)="goForward()"
              [disabled]="!this.localCharacteristicsReady">
              Avançar
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div *ngSwitchCase="'Endereco'">

      <h6 style="text-align: center; margin-right: 1.6rem;">Selecione o endereço
        que será utilizado para esta
        solicitação</h6>
      <form #form="ngForm" (ngSubmit)="goForward()">

        <ion-list radio-group required name="selectedAddress"
          [(ngModel)]="localRequest.addressId">
          <ion-list-header>
            Endereço
          </ion-list-header>
          <ion-item *ngFor="let address of addresses">
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.homeAdressId"
              name="home" item-start></ion-icon>
            <ion-icon *ngIf="address.id == UserDataCtrl.localUser.workAdressId"
              name="briefcase" item-start></ion-icon>
            <ion-icon *ngIf="address.id != UserDataCtrl.localUser.workAdressId
              && address.id != UserDataCtrl.localUser.homeAdressId"
              name="pin" item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2 *ngIf="address.id == UserDataCtrl.localUser.homeAdressId">Casa</h2>
              <h2 *ngIf="address.id == UserDataCtrl.localUser.workAdressId">Trabalho</h2>
              <h2>{{address.street}}, {{ address.numero }}</h2>
              <p>{{ address.complemento }}, {{ address.bairro }}</p>
              <p>({{ address.cep }}), {{ address.city }} - {{ address.state }}</p>
            </ion-label>
            <ion-radio [value]="address.id"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-auto>
              <button ion-button round icon-left (click)="goBack()">
                <ion-icon name='arrow-back'></ion-icon>
                Voltar
              </button>
            </ion-col>
            <ion-col col-auto>
              <div *ngIf="!form.valid">
                <button ion-button round icon-right disabled="disabled">Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
              <div *ngIf="form.valid">
                <button ion-button round icon-right type="submit">Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
    </div>


    <div *ngSwitchCase="'Agendamento'">

      <form #form="ngForm" (ngSubmit)="goForward()">

        <ion-list-header>
          Tipos de Agendamento
        </ion-list-header>

        <h4 *ngIf="selectedScheduleType == ''" style="text-align: center;
          margin: 6%;">Selecione qual o tipo de
          agendamento você deseja</h4>

        <ion-list radio-group required name="selectedScheduleType"
          [(ngModel)]="selectedScheduleType" (ngModelChange)="scrollToBottom()">
          <ion-item>
            <ion-icon name="unlock" item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2>Agendamento flexível</h2>
            </ion-label>
            <ion-radio [value]="'open'"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-icon name="lock" item-start></ion-icon>
            <ion-label style="white-space: normal">
              <h2>Horário pré-definido</h2>
            </ion-label>
            <ion-radio [value]="'close'"></ion-radio>
          </ion-item>
        </ion-list>

        <div *ngIf="selectedScheduleType == 'open'">
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Horário</ion-label>
            </ion-list-header>

            <p style="text-align: center; margin: 6%;">O agendamento poderá ser
              alterado após a aceitação da proposta</p>

            <ng-container *ngIf="selectedServiceType.acceptHomeDelivery; else
              elseTemplate12">
              <ng-container *ngIf="selectedServiceType.requiredHomeDelivery;
                else elseTemplate22">
                <h6 style="text-align: center; margin-right: 1.6rem;">O tipo de
                  selecionado
                  exije o atendimento em domicílio.</h6>
                <ion-item no-lines>
                  <ion-icon name="ios-home" item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle [ngModel]="true" disabled
                    name="requiredHomeDelivery" item-end></ion-toggle>
                </ion-item>
              </ng-container>
              <ng-template #elseTemplate22>
                <h6 style="text-align: center; margin-right: 1.6rem;">Selecione
                  se deseja atendimento em domicílio</h6>
                <ion-item no-lines>
                  <ion-icon *ngIf="localRequest.requiredHomeDelivery"
                    name="ios-home" item-start></ion-icon>
                  <ion-icon *ngIf="!localRequest.requiredHomeDelivery"
                    name="ios-home-outline" item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle (ngModelChange)="toggleRequiredHomeDelivery()"
                    [ngModel]="localRequest.requiredHomeDelivery"
                    name="requiredHomeDelivery" item-end></ion-toggle>
                </ion-item>
              </ng-template>
            </ng-container>
            <ng-template #elseTemplate12>
              <h6 style="text-align: center; margin-right: 1.6rem;">O tipo de
                serviço selecionado não aceita atendimento em domicílio.</h6>
              <ion-item no-lines>
                <ion-icon name="ios-home" item-start></ion-icon>
                <ion-label>Atendimento em domicílio</ion-label>
                <ion-toggle [ngModel]="false" disabled
                  name="requiredHomeDelivery" item-end></ion-toggle>
              </ion-item>
            </ng-template>
          </ion-list>
        </div>

        <div *ngIf="selectedScheduleType == 'close'">
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Horário</ion-label>
            </ion-list-header>

            <!-- <h6 style="text-align: center; margin: 6%;">Você irá propor o
              agendamento junto a solicitação</h6> -->
            <ion-item>
              <ion-icon *ngIf="localDate == ''" name="alert"
                color="warning"
                item-start></ion-icon>
              <ion-icon *ngIf="localDate != ''" name="checkmark-circle"
                color="secondary" base item-start></ion-icon>
              <ion-label>Dia do serviço</ion-label>
              <ion-datetime required name="serviceDate"
                [(ngModel)]="localDate"
                (ngModelChange)="checkDate()"
                [min]="minDate" [max]="maxDate"
                [displayFormat]="utilCtrl.ionDateTimePandH.displayFormat"
                [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
                [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
                [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
                [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
                [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                [doneText]="utilCtrl.ionDateTimePandH.doneText">
              </ion-datetime>
            </ion-item>
            <div *ngIf="localDateValid">
              <ion-item>
                <ion-icon *ngIf="localTime == ''" name="alert"
                  color="warning"
                  item-start></ion-icon>
                <ion-icon *ngIf="localTime != ''" name="checkmark-circle"
                  color="secondary" base item-start></ion-icon>
                <ion-label>Hora do serviço</ion-label>
                <ion-datetime required name="servicehour" displayFormat="HH:mm"
                  [(ngModel)]="localTime" (ngModelChange)="checkTime()"
                  [hourValues]="utilCtrl.ionDateTimePandH.hourValues"
                  [minuteValues]="utilCtrl.ionDateTimePandH.minuteValues"
                  [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                  [doneText]="utilCtrl.ionDateTimePandH.doneText">
                </ion-datetime>
              </ion-item>
            </div>
            <p class="schedule-message">O agendamento poderá ser
              alterado após a aceitação da proposta</p>

            <ng-container *ngIf="selectedServiceType.acceptHomeDelivery; else
              elseTemplate4242">
              <ng-container *ngIf="selectedServiceType.requiredHomeDelivery;
                else elseTemplate2333">
                <ion-list-header>
                  <ion-label>Atendimento em domicílio Obrigatório</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-icon name="ios-home" disabled item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle required name="localSchedule.homeDelivery"
                    disabled [ngModel]="localSchedule.homeDelivery"></ion-toggle>
                </ion-item>
                <ion-item>
                  <ion-icon *ngIf="localSchedule.geoCheckin == true"
                    name="ios-pin" item-start></ion-icon>
                  <ion-icon *ngIf="localSchedule.geoCheckin == false"
                    name="ios-pin-outline" item-start></ion-icon>
                  <ion-label>Check-in via GPS</ion-label>
                  <ion-toggle required name="localSchedule.geoCheckin"
                    (ngModelChange)="toggleCheckIn()"
                    [ngModel]="localSchedule.geoCheckin"></ion-toggle>
                </ion-item>
              </ng-container>
              <ng-template #elseTemplate2333>
                <ion-list-header>
                  <ion-label>Atendimento em domicílio Opcional</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-icon *ngIf="localSchedule.homeDelivery == true"
                    name="ios-home" item-start></ion-icon>
                  <ion-icon *ngIf="localSchedule.homeDelivery == false"
                    name="ios-home-outline" item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle required name="localSchedule.homeDelivery"
                    (ngModelChange)="toggleHomeDelivery()"
                    [ngModel]="localSchedule.homeDelivery"></ion-toggle>
                </ion-item>
                <div *ngIf="localSchedule.homeDelivery">
                  <ion-item>
                    <ion-icon *ngIf="localSchedule.geoCheckin == true"
                      name="ios-pin" item-start></ion-icon>
                    <ion-icon *ngIf="localSchedule.geoCheckin == false"
                      name="ios-pin-outline" item-start></ion-icon>
                    <ion-label>Check-in via GPS</ion-label>
                    <ion-toggle required name="localSchedule.geoCheckin"
                      (ngModelChange)="toggleCheckIn()"
                      [ngModel]="localSchedule.geoCheckin"></ion-toggle>
                  </ion-item>
                </div>
              </ng-template>
            </ng-container>
            <ng-template #elseTemplate4242>
              <ion-list-header>
                <ion-label>Atendimento em domicílio Indisponivel</ion-label>
              </ion-list-header>
              <h6 style="text-align: center; margin-right: 1.6rem;">Você terá de
                se deslocar até o endereço do
                profissinal para receber o serviço!</h6>
              <ion-item>
                <ion-icon name="ios-home-outline" disabled item-start></ion-icon>
                <ion-label>Atendimento em domicílio</ion-label>
                <ion-toggle disabled [ngModel]="false"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-icon name="ios-pin-outline" item-start></ion-icon>
                <ion-label>Check-in via GPS</ion-label>
                <ion-toggle disabled [ngModel]="false"></ion-toggle>
              </ion-item>
            </ng-template>
          </ion-list>
        </div>

        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-auto>
              <button ion-button round icon-left (click)="goBack()">
                <ion-icon name='arrow-back'></ion-icon>
                Voltar
              </button>
            </ion-col>
            <ion-col col-auto>
              <div *ngIf="!form.valid">
                <button ion-button round icon-right disabled="disabled">Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
              <div *ngIf="form.valid">
                <button ion-button round icon-right type="submit">Avançar
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>

    </div>

    <div *ngSwitchCase="'Fotos'">

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let pic of tempPics" col-6 no-padding>
            <ion-card (press)="Pic_Options(pic)">
              <img [src]="pic.thumbnailUrl" />
              <ion-row no-padding>
                <ion-col text-left>
                  <h1 style="font-size: 1.8rem; padding-left: 10%; padding-top:
                    10%;">
                    {{ (this.pics_findIndexByInfo(pic.info) + 1) }}ª
                  </h1>
                </ion-col>
                <ion-col text-right>
                  <button ion-button end clear small icon-start
                    (click)="Pic_Options(pic)">
                    <ion-icon name='more'></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h6 *ngIf="tempPics.length == 0" style="text-align: center; margin-right:
        1.6rem;">Caso ache necessario adicione
        fotos a sua solicitação</h6>

      <ng-container *ngIf="tempPics.length <maxNumOfPics; else elseTemplateB">
        <ion-row no-padding>
          <ion-col>
            <button ion-button outline icon-start (click)="addPicFromCamera()">
              <ion-icon name='camera'></ion-icon>
              Tirar foto
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button outline icon-start (click)="addPicFromGallery()">
              <ion-icon name='images'></ion-icon>
              Da galeria
            </button>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplateB>
        <h6 style="text-align: center; margin-right: 1.6rem;">Numero máximo de
          fotos alcançado!</h6>
      </ng-template>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round icon-right (click)="finish()">
              Finalizar
              <ion-icon name='done-all'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>

</ion-content>
