page-create-request {
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  form {
    margin-top: 0rem;
  }



  .request-select {
    padding-left: 8px !important;
    .item-inner {
      margin-left: 12px !important;
      border-bottom: unset !important;
      ion-label {
        margin: unset !important;
        color: black;
        text-decoration: underline;

      }
      ion-select {
        max-width: 100%;
        padding: unset;
        .select-icon .select-icon-inner {
          width: unset;
          height: unset;
          border-top: unset;
          border-right: unset;
        }
        .select-text {
          text-decoration: underline;
        }
      }
    }

  }

  .request-obs {
    .item-inner {
      border-bottom: 1px solid black !important;

      ion-label {
        color: black;
        font-weight: bold;
        margin: 0px;
      }
      .text-input-md {
        margin: 0px;
      }
    }
  }
}
