<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>
      Foto de {{localUser.fullName}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-slides zoom="true" style="background-color: black">
    <ion-slide>
      <img data-src="{{localUser.pic.url}}">
    </ion-slide>
  </ion-slides>

</ion-content>