<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Agendamento</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="showSplash" (click)="addSchedulePage()">
        <ion-icon large name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail>
              <img src="{{localOrder.banner.thumbnail}}" />
              <ion-avatar class="mini-avatar">
                <img src="{{localOrder.clientThumbnailUrl}}" />
              </ion-avatar>
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <div *ngIf="localOrder.address != null">
              <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero
                }}</h2>
              <p>{{ localOrder.address.complemento }}, {{
                localOrder.address.bairro }}</p>
              <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
                {{ localOrder.address.state }}</p>
            </div>
            <div *ngIf="localOrder.address == null">
              <h2>{{ localOrder.banner.address.street}}, {{
                localOrder.banner.address.numero }}</h2>
              <p>{{ localOrder.banner.address.complemento }}, {{
                localOrder.banner.address.bairro }}</p>
              <p>({{ localOrder.banner.address.cep }}), {{
                localOrder.banner.address.city }} - {{
                localOrder.banner.address.state }}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="localOrder.banner == null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;" src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
            <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
            <p>{{ localOrder.address.complemento }}, {{
              localOrder.address.bairro }}</p>
            <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} -
              {{ localOrder.address.state }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-card>

  <div *ngFor="let schedule of localSchedules">
    <ion-card [ngClass]="{'inactive' : (schedule.status == 'rejected_by_client'
                                       || schedule.status == 'rejected_by_provider'
                                       || schedule.status == 'canceled_by_provider' 
                                       || schedule.status == 'canceled_by_client' 
                                       || schedule.status == 'late' 
                                       || schedule.status == 'expired')}">
      <ion-list no-lines>
        <ion-list-header>
          <ion-label>{{ utilCtrl.translateSchedulingStatus(schedule.status, localOrder.status)}}</ion-label>
        </ion-list-header>
        <div *ngIf="schedule.rejectReason != ''" style="text-align: center">
          <h2>Motivo: {{schedule.rejectReason}}</h2>
        </div>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="calendar" item-start></ion-icon>
              <ion-label>{{schedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="time" item-start></ion-icon>
              <ion-label>{{schedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="schedule.homeDelivery == true">
          <ion-col>
            <ion-item>
              <ion-icon name="ios-home" item-start></ion-icon>
              <ion-label>Atendimento em domicilio</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item *ngIf="schedule.geoCheckin == true">
              <ion-icon name="ios-pin" item-start></ion-icon>
              <ion-label>Check-in via GPS</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <div *ngIf="schedule.actualCheckinDate != null">
          <ion-list-header>
            <ion-label>Detalhes do Check-in</ion-label>
          </ion-list-header>
          <ng-container *ngIf="schedule.homeDelivery; else notHomeDeliveryElseTemplate">
            <!-- Pedido com atendimento em domicílio -->
            <ng-container *ngIf="schedule.geoCheckin; else notGeoCheckinElseTemplate">
              <!-- checkin com GPS -->
              <ion-item>
                <ion-icon name="ios-pin" item-start></ion-icon>
                <ion-label>
                  <h6>Checkin via GPS</h6>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="information" item-start></ion-icon>
                <ion-label>
                  <h6>O prestador chegou em: {{schedule.actualCheckinDate.toLocaleString('pt-BR')}}</h6>
                  <ng-container *ngIf="schedule.delayInMilSec < 0; else lateElseTemplate">
                    <p>O prestador estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} adiantado</p>
                  </ng-container>
                  <ng-template #lateElseTemplate>
                    <p>O prestador estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} Atrasado</p>
                  </ng-template>
                </ion-label>
              </ion-item>
            </ng-container>
            <ng-template #notGeoCheckinElseTemplate>
              <!-- checkin sem GPS -->
              <ion-item>
                <ion-icon name="barcode" item-start></ion-icon>
                <ion-label>
                  <h6>Checkin via Código</h6>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="information" item-start></ion-icon>
                <ion-label>
                  <h6>O prestador chegou em: {{schedule.actualCheckinDate.toLocaleString('pt-BR')}}</h6>
                  <ng-container *ngIf="schedule.delayInMilSec < 0; else lateElseTemplate">
                    <p>O prestador estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} adiantado</p>
                  </ng-container>
                  <ng-template #lateElseTemplate>
                    <p>O prestador estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} Atrasado</p>
                  </ng-template>
                </ion-label>
              </ion-item>
            </ng-template>
          </ng-container>
          <ng-template #notHomeDeliveryElseTemplate>
            <!-- Pedido sem atendimento em domicílio -->
            <ion-item>
              <ion-icon name="ios-home-outline" item-start></ion-icon>
              <ion-label>
                <h6>Pedido sem Atendimento em domicilio</h6>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="barcode" item-start></ion-icon>
              <ion-label>
                <h6>Checkin via Código</h6>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="information" item-start></ion-icon>
              <ion-label>
                <h6>O Cliente chegou ao local do serviço: {{schedule.actualCheckinDate.toLocaleString('pt-BR')}}</h6>
                <ng-container *ngIf="schedule.delayInMilSec < 0; else lateElseTemplate">
                  <p>O cliente estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} adiantado</p>
                </ng-container>
                <ng-template #lateElseTemplate>
                  <p>O o cliente estava {{ utilCtrl.convertMiliSecondsToHMmSs(schedule.delayInMilSec) }} Atrasado</p>
                </ng-template>
              </ion-label>
            </ion-item>
          </ng-template>
        </div>
      </ion-list>

      <div *ngIf="localOrder.status < 1300">

        <ion-row justify-content-center *ngIf="schedule.status == 'pending_client'">
          <ion-col col-auto>
            <button ion-button round color="secondary" (click)="acceptSchedule(schedule)">
              Aceitar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round color="danger" (click)="rejectSchedule(schedule)">
              Rejeitar
            </button>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center *ngIf="schedule.status == 'approved'">
          <ion-col col-auto>
            <button *ngIf="!schedule.onClientCalendar" ion-button round color="light" (click)="addToCalendar(schedule)">
              Adicionar ao calendario
            </button>
            <button *ngIf="schedule.onClientCalendar" ion-button round color="danger" (click)="removeFromCalendar(schedule)">
              Remover do calendario
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round color="danger" (click)="cancelAprovedScheduleConfirmation(schedule)">
              Cancelar
            </button>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center *ngIf="schedule.status == 'pending_provider'">
          <ion-col col-auto>
            <button ion-button round color="danger" (click)="cancelScheduleConfirmation(schedule)">
              Cancelar
            </button>
          </ion-col>
        </ion-row>
      </div>

      <ion-row justify-content-center *ngIf="(schedule.status == 'canceled_by_provider' || schedule.status == 'canceled_by_client') && schedule.onClientCalendar">
        <ion-col col-auto>
          <button ion-button round color="danger" (click)="removeFromCalendar(schedule)">
            Remover do calendario
          </button>
        </ion-col>
      </ion-row>

      <p style="text-align: center">Agendamento criado em: {{ schedule.createdOn.toLocaleString() }}</p>
      <p style="text-align: center">Por: {{ utilCtrl.translateSchedulingCreator(schedule) }}</p>
    </ion-card>
  </div>
</ion-content>