<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Serviço</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img style="width: 100%; height: 100%;" src="{{localRequest.clientThumbnailUrl}}" />
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <h2>{{ localRequest.address.street}}, {{ localRequest.address.numero }}</h2>
          <p>{{ localRequest.address.complemento }}, {{ localRequest.address.bairro }}</p>
          <p>({{ localRequest.address.cep }}), {{ localRequest.address.city }} - {{ localRequest.address.state }}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <!-- <h4 style="text-align: center; margin-right: 1.6rem;">{{ localRequest.serviceTypeTitle }}</h4> 

  <h4 style="text-align: center; margin-right: 1.6rem;">Detalhes do serviço solicitado</h4>  -->

  <ion-card class="card-answer" *ngFor="let localCharacteristic of localCharacteristics">
    <ion-card-header style="white-space: normal">
      <h2 style="font: 1.9rem; font-weight: 600">{{ localCharacteristic.title }}</h2>
    </ion-card-header>
    <ion-list>
      <ng-container *ngIf="localCharacteristic.rcDataSelection == 'checkbox'; else elseTemplate">
        <ion-item *ngFor="let data of localCharacteristic.data">
          <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
          <ion-label style="white-space: normal;">{{ data }}</ion-label>
        </ion-item>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-item>
          <ion-icon name="checkmark-circle" color="secondary" base item-start></ion-icon>
          <ion-label style="white-space: normal;">{{ localCharacteristic.data }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card>

</ion-content>