page-request-service-detail {

    .mini-avatar{
        margin: -40px 0px 0px 0px;
    }

    .mini-avatar img{
        width: 40px;
        height: 40px;
    }

    .order-address {
        border-radius: 45px 15px 15px 45px !important;
        ion-item{
            padding-left: 6px !important;   
        }
    }


    .order-address ion-label {
        margin: 0 !important
    }

    .card{
        border-radius: 15px;
    }

}
