page-create-order-for-provider {
  ion-list-header {
    background-color: transparent !important;
    text-align: center !important;
    font-size: 1.8rem !important;
    color: black !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  .btn-days {
    text-align: center;
    button {
      padding: unset !important;
      height: 25px !important;
      width: 25px !important;
      border-radius: 50%;
    }
  }

  .grey-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0%;
  }

  .card-profile {
    ion-card {
      position: relative;
      text-align: center;
      margin: 0px;
      width: 100%;
      height: 15rem;
      z-index: 2;
      box-shadow: unset;
      -webkit-box-shadow: unset;
      ion-item {
        top: 0;
        position: absolute;
        color: white !important;
        background: transparent;
        padding-left: 0px;
        height: 100%;
        ion-label {
          margin: unset;
          align-self: baseline;
          position: absolute;
          height: 100%;
          display: grid;
        }
        ion-avatar {
          margin: 8px 8px 8px 8px !important;
          align-self: center;
          img {
            border-width: 5px;
            border-color: white;
            border-style: solid;
            height: 6em;
            width: 6em;
          }
        }
        h1 {
          color: white;
          font-weight: 500;
          font-size: 2rem;
          margin-top: 10px;
        }
        h2 {
          font-weight: 400;
          font-size: 1.3rem;
          color: white;
        }
        .num-opinions {
          display: inline-block;
          padding: 0 6px;
          font-size: 1.4rem;
          color: #bfbfbf;
          font-weight: 600;
        }
      }
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }

  .rating {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    display: -webkit-inline-box;
    padding-left: 0px;
    color: #ffb400;
  }

  ul.rating[_ngcontent-c0] li[_ngcontent-c0],
  ul.rating[_ngcontent-c1] li[_ngcontent-c1],
  ul.rating[_ngcontent-c2] li[_ngcontent-c2] {
    display: inline;
    border: 0px;
    background: none;
    padding: unset;
    ion-icon {
      font-size: 20px;
    }
  }

  .card-answer {
    box-shadow: unset;
    border-radius: 10px;
    ion-card-header {
      padding-bottom: 8px;
      h2 {
        font-size: 1.9rem;
      }
    }
    ion-label h2 {
      font-size: 1.7rem;
    }
    ion-item .item-inner {
      margin-left: 8px !important;
    }
  }

  .card-schedule {
    box-shadow: unset;
    border-radius: 10px;
    ion-label {
      color: black !important;
    }
  }

  ion-card[desc-progress] {
    box-shadow: unset;
    border-radius: 10px;
    padding-left: 1rem;
    margin-top: -15px !important;
    ion-item {
      ion-label {
        margin: 14px 8px 7px 0;
        h2 {
          margin-top: 1rem;
          font-size: 1.9rem;
          margin-right: unset;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: bold;
          overflow-wrap: normal;
        }
      }
    }
  }
  hr {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0.2rem 1rem;
  }
}
