<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Novo Pedido</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Dados" disabled>Dados</ion-segment-button>
      <ion-segment-button value="Serviço" disabled>Serviço</ion-segment-button>
      <ion-segment-button value="Agendamento" disabled>Agendamento</ion-segment-button>
      <ion-segment-button value="Endereco" disabled>Endereço</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <div [ngSwitch]="segment">

    <div class="card-profile">
      <ion-card>
        <img src="assets/imgs/dummy-image-landscape-800x600.jpg" />
        <div class="grey-bg"></div>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{provider.pic.thumbnailUrl}}" />
          </ion-avatar>
          <div style="top: 0px; align-self: baseline; display: grid;">
            <h1>{{ provider.job }}</h1>
            <h2>
              <rating [(ngModel)]="provider.providerReputation" readOnly="true"></rating>
              <div class="num-opinions">{{ localProviderNumberOfReviews }}
                opiniões</div>
            </h2>
          </div>
          <div style="bottom: 0px; align-self: end; margin-bottom: 8px">
            <h2><b>{{ provider.fullName }}</b>&nbsp;
              <div style="display: inline-block; color: #BFBFBF;">{{
                provider.workCity + " - " +
                provider.workState }}</div>

            </h2>
            <h2>{{ provider.providerPoints }} Pontos</h2>
          </div>
        </ion-item>
      </ion-card>
    </div>

    <div *ngSwitchCase="'Dados'" padding>

      <h6 style="text-align: center; margin-right: 1.6rem;">Criar pedido avulso
        para {{provider.firstName}}</h6>

      <h6 style="text-align: center; margin-right: 1.6rem;">Tipo de Serviço:
        {{selectedServiceType.title}}</h6>

      <br />

      <div padding></div>

      <div style="text-align: center">
        <button ion-button round icon-right (click)="goForward()">
          Confirmar
          <ion-icon name='arrow-forward'></ion-icon>
        </button>
      </div>

    </div>

    <div *ngSwitchCase="'Serviço'">
      <ion-card desc-progress>
        <ion-item>
          <h2 style="text-align: center; margin-right: 1.6rem;">Nos conte um
            pouco mais sobre o que você está
            precisando!</h2>
        </ion-item>
      </ion-card>
      <ion-card class="card-answer" *ngFor="let localCharacteristic of
        localCharacteristics"
        (click)="answerCharac(localCharacteristic.orderNumber)">
        <ion-card-header style="white-space: normal">
          <h2 style="font: 1.9rem; font-weight: 600">{{
            localCharacteristic.title }}</h2>
        </ion-card-header>
        <ng-container *ngIf="localCharacteristic.data.length != 0; else
          elseTemplate">
          <ion-list>
            <ng-container *ngIf="localCharacteristic.rcDataSelection ==
              'checkbox'; else elseTemplate1">
              <ion-item *ngFor="let data of localCharacteristic.data">
                <ion-icon name="checkmark-circle" color="secondary" base
                  item-start></ion-icon>
                <ion-label style="white-space: normal;">{{ data }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-template #elseTemplate1>
              <ion-item>
                <ion-icon name="checkmark-circle" color="secondary" base
                  item-start></ion-icon>
                <ion-label style="white-space: normal;">{{
                  localCharacteristic.data }}</ion-label>
              </ion-item>
            </ng-template>
          </ion-list>
          <h4 style="text-align: center; margin-right: 1.6rem; padding-bottom:
            2%;">(clique para alterar
            sua
            resposta)</h4>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-item>
            <ion-icon name="alert" color="warning" item-start></ion-icon>
            <ion-label style="white-space: normal;">
              <h2 style="font: 1.9rem">Clique aqui para responder</h2>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-card>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round icon-right
              [disabled]="!localCharacteristicsReady" (click)="goForward()">
              Avançar
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div *ngSwitchCase="'Agendamento'">
      <ion-card desc-progress>
        <ion-item>
          <h2 style="text-align: center; margin-right: 1.6rem;">Informe o
            horário mais adequado para você.</h2>
          <h4>Lembrando que o prestador irá analisar sua agenda!</h4>
        </ion-item>
      </ion-card>
      <ion-card class="card-schedule">
        <ion-list>
          <ion-list-header>
            <ion-label>Dia e Horário</ion-label>
          </ion-list-header>

          <div class="btn-days">
            <button ion-button [color]="localOfficeHours.dom.work ? 'secondary'
              : 'gray'">
              D
            </button>
            <button ion-button [color]="localOfficeHours.seg.work ? 'secondary'
              : 'gray'">
              S
            </button>
            <button ion-button [color]="localOfficeHours.ter.work ? 'secondary'
              : 'gray'">
              T
            </button>
            <button ion-button [color]="localOfficeHours.qua.work ? 'secondary'
              : 'gray'">
              Q
            </button>
            <button ion-button [color]="localOfficeHours.qui.work ? 'secondary'
              : 'gray'">
              Q
            </button>
            <button ion-button [color]="localOfficeHours.sex.work ? 'secondary'
              : 'gray'">
              S
            </button>
            <button ion-button [color]="localOfficeHours.sab.work ? 'secondary'
              : 'gray'">
              S
            </button>
          </div>
          <br />
          <hr>
          <ion-item>
            <ion-icon *ngIf="localDate == ''" name="alert" color="warning"
              item-start></ion-icon>
            <ion-icon *ngIf="localDate != ''" name="checkmark-circle"
              color="secondary" base item-start></ion-icon>
            <ion-label>Dia do serviço</ion-label>
            <ion-datetime name="serviceDate"
              [(ngModel)]="localDate" (ngModelChange)="checkDate()"
              [min]="minDate" [max]="maxDate"
              [displayFormat]="utilCtrl.ionDateTimePandH.displayFormat"
              [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
              [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
              [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
              [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
              [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
              [doneText]="utilCtrl.ionDateTimePandH.doneText">
            </ion-datetime>
          </ion-item>
          <div *ngIf="localDateValid">
            <hr>
            <ion-item>
              <ion-icon *ngIf="localTime == ''" name="alert" color="warning"
                item-start></ion-icon>
              <ion-icon *ngIf="localTime != ''" name="checkmark-circle"
                color="secondary" base item-start></ion-icon>
              <ion-label>Hora do serviço</ion-label>
              <ion-datetime name="servicehour" displayFormat="HH:mm"
                [(ngModel)]="localTime" (ngModelChange)="checkTime()"
                [hourValues]="localHourValues"
                [minuteValues]="utilCtrl.ionDateTimePandH.minuteValues"
                [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                [doneText]="utilCtrl.ionDateTimePandH.doneText">
              </ion-datetime>
            </ion-item>
          </div>
        </ion-list>
      </ion-card>

      <ion-card class="card-schedule">
        <ion-list no-lines>
          <ng-container *ngIf="selectedServiceType.acceptHomeDelivery; else
            elseTemplate4242">
            <ng-container *ngIf="selectedServiceType.requiredHomeDelivery; else
              elseTemplate2333">
              <ion-list-header>
                <ion-label>Atendimento em domicílio Obrigatório</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-icon name="ios-home" disabled item-start></ion-icon>
                <ion-label>Atendimento em domicílio</ion-label>
                <ion-toggle disabled [ngModel]="localSchedule.homeDelivery"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-icon *ngIf="localSchedule.geoCheckin == true"
                  name="ios-pin" item-start></ion-icon>
                <ion-icon *ngIf="localSchedule.geoCheckin == false"
                  name="ios-pin-outline" item-start></ion-icon>
                <ion-label>Check-in via GPS</ion-label>
                <ion-toggle (ngModelChange)="toggleCheckIn()"
                  [ngModel]="localSchedule.geoCheckin"></ion-toggle>
              </ion-item>
            </ng-container>
            <ng-template #elseTemplate2333>
              <ion-list-header>
                <ion-label>Atendimento em domicílio Opcional</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-icon *ngIf="localSchedule.homeDelivery == true"
                  name="ios-home" item-start></ion-icon>
                <ion-icon *ngIf="localSchedule.homeDelivery == false"
                  name="ios-home-outline" item-start></ion-icon>
                <ion-label>Atendimento em domicílio</ion-label>
                <ion-toggle (ngModelChange)="toggleHomeDelivery()"
                  [ngModel]="localSchedule.homeDelivery"></ion-toggle>
              </ion-item>
              <div *ngIf="localSchedule.homeDelivery">
                <ion-item>
                  <ion-icon *ngIf="localSchedule.geoCheckin == true"
                    name="ios-pin" item-start></ion-icon>
                  <ion-icon *ngIf="localSchedule.geoCheckin == false"
                    name="ios-pin-outline" item-start></ion-icon>
                  <ion-label>Check-in via GPS</ion-label>
                  <ion-toggle (ngModelChange)="toggleCheckIn()"
                    [ngModel]="localSchedule.geoCheckin"></ion-toggle>
                </ion-item>
              </div>
            </ng-template>
          </ng-container>
          <ng-template #elseTemplate4242>
            <ion-list-header>
              <ion-label>Atendimento em domicílio Indisponivel</ion-label>
            </ion-list-header>
            <h6 style="text-align: center; margin-right: 1.6rem;">Você terá de
              se deslocar até o endereço do
              profissinal
              para receber o serviço!</h6>
            <ion-item>
              <ion-icon name="ios-home-outline" disabled item-start></ion-icon>
              <ion-label>Atendimento em domicílio</ion-label>
              <ion-toggle disabled [ngModel]="false"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-pin-outline" item-start></ion-icon>
              <ion-label>Check-in via GPS</ion-label>
              <ion-toggle disabled [ngModel]="false"></ion-toggle>
            </ion-item>
          </ng-template>
        </ion-list>
      </ion-card>

      <ion-grid>
        <ion-row justify-content-center>
          <ion-col col-auto>
            <button ion-button round icon-left (click)="goBack()">
              <ion-icon name='arrow-back'></ion-icon>
              Voltar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round icon-right [disabled]="!scheduleReady"
              (click)="goForward()">
              Avançar
              <ion-icon name='arrow-forward'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'Endereco'">
      <ng-container *ngIf="localOrder.acceptHomeDelivery; else elseTemplate">
        <ion-card desc-progress>
          <ion-item>
            <h2 style="text-align: center; margin-right: 1.6rem;">Selecione o
              endereço onde será realizado este
              serviço.</h2>
          </ion-item>
        </ion-card>
        <form #form="ngForm" (ngSubmit)="saveOrder()" style="background-color:
          transparent">
          <ion-card class="card-schedule">
            <ion-list style="background-color: transparent" radio-group required
              name="selectedAddress" [(ngModel)]="localOrder.addressId">
              <ion-list-header style="background-color: transparent">
                Endereço
              </ion-list-header>
              <ion-item *ngFor="let address of addresses"
                style="background-color: transparent">
                <ion-icon *ngIf="address.id == localUser.homeAdressId"
                  name="home" item-start></ion-icon>
                <ion-icon *ngIf="address.id == localUser.workAdressId"
                  name="briefcase" item-start></ion-icon>
                <ion-icon *ngIf="address.id != localUser.workAdressId &&
                  address.id != localUser.homeAdressId"
                  name="pin" item-start></ion-icon>
                <ion-label style="white-space: normal">
                  <h2 *ngIf="address.id == localUser.homeAdressId">Casa</h2>
                  <h2 *ngIf="address.id == localUser.workAdressId">Trabalho</h2>
                  <h2>{{address.street}}, {{ address.numero }}</h2>
                  <p>{{ address.complemento }}, {{ address.bairro }}</p>
                  <p>({{ address.cep }}), {{ address.city }} - {{ address.state
                    }}</p>
                </ion-label>
                <ion-radio [value]="address.id"></ion-radio>
              </ion-item>
            </ion-list>

            <ion-grid>
              <ion-row justify-content-center>
                <ion-col col-auto>
                  <button ion-button round icon-left (click)="goBack()">
                    <ion-icon name='arrow-back'></ion-icon>
                    Voltar
                  </button>
                </ion-col>
                <ion-col col-auto>
                  <div *ngIf="!form.valid">
                    <button ion-button round icon-right disabled="disabled">
                      Concluir
                      <ion-icon name='arrow-forward'></ion-icon>
                    </button>
                  </div>
                  <div *ngIf="form.valid">
                    <button ion-button round icon-right type="submit">
                      Concluir
                      <ion-icon name='arrow-forward'></ion-icon>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </form>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-card desc-progress>
          <ion-item>
            <h2 style="text-align: center; margin-right: 1.6rem;">Você terá de
              se direcionar até o endereço abaixo para
              receber o serviço</h2>
          </ion-item>
        </ion-card>

        <ion-card class="card-schedule">
          <ion-list style="background-color: transparent" radio-group required
            name="selectedAddress" [(ngModel)]="localOrder.addressId">
            <ion-list-header style="background-color: transparent">
              Endereço
            </ion-list-header>
            <ion-item no-lines style="background-color: transparent">
              <ion-icon name="ios-pin" item-start></ion-icon>
              <ion-label style="white-space: normal">
                <p> {{ provider.workBairro }}</p>
                <p>({{ provider.workCity }} - {{ provider.workState }}</p>
              </ion-label>
            </ion-item>
            <hr>

          </ion-list>
        </ion-card>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-auto>
              <button ion-button round icon-left (click)="goBack()">
                <ion-icon name='arrow-back'></ion-icon>
                Voltar
              </button>
            </ion-col>
            <ion-col col-auto>
              <div>
                <button ion-button round icon-right (click)="saveOrder()">
                  Concluir
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </div>

  </div>

</ion-content>