<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>Solicitações Recebidas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <ion-refresher *ngIf="localServiceTypeSub.length> 0" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="md-arrow-dropdown" pullingText="Puxe
      para atualizar" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="localServiceTypeSub.length> 0">

    <div style="background-color: white">
      <h4 class="inscript-header">Serviços inscritos</h4>
      <ion-scroll category-scroll scrollX="true">
        <div class="inner">
          <div *ngFor="let serviceTypeSub of localServiceTypeSub" class="inner-item">
            <ion-card (click)="serviceTypeSubTapped(serviceTypeSub)">
              <img [src]="serviceTypeSub.serviceTypeSymbol">
            </ion-card>
            <p>{{serviceTypeSub.serviceTypeTitle}}</p>
          </div>
        </div>
      </ion-scroll>
    </div>

    <ng-container *ngIf="localRequests.length> 0; else elseTemplate">
      <ion-list no-lines>
        <ion-item class="request-card" *ngFor="let request of localRequests" (tap)="requestTapped(request)" (press)="requestPressed(request)">
          <ion-thumbnail large item-start>
            <ion-avatar class="service-type-avatar">
              <img [src]="request.serviceTypeSymbol">
            </ion-avatar>
            <ion-avatar class="client-avatar">
              <img src="{{request.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-thumbnail>

          <div class="request-item-bottom">
            <h2>{{request.serviceTypeTitle}}</h2>

            <div *ngIf="request.scheduleType ==
              'open'">
              <p>Horário flexível</p>
            </div>

            <div *ngIf="request.scheduleType ==
              'close'">
              <p>Horário determinado
              </p>
            </div>

            <h5>Cliente: {{request.clientName}}</h5>
            <h6>{{request.address.bairro}} : {{request.address.city}} -
              {{request.address.state}}</h6>
            <h4>Criado em: {{
              request.createdOn.toLocaleString('pt-BR').slice(0, -3) }}</h4>
          </div>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="!isExecutingQuery; else elseTemplate">
        <h4 style="text-align: center; margin: 6%;">Infelizmente ainda não
          existem solicitações para {{ selectedServiceTypeSub.serviceTypeTitle
          }} publicadas para a região de {{localAppConfig.city}}, {{localAppConfig.state}} no
          economizei</h4>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-spinner request-refresher name="dots"></ion-spinner>
      </ng-template>
    </ng-template>
  </div>

  <div *ngIf="localServiceTypeSub.length == 0">
    <h4 style="text-align: center; margin: 6%;">Você não possui nehuma inscrição
      em algum tipo de serviço</h4>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-auto>
          <button ion-button round class="hm_bottom_save" icon-left (click)="doSubscription()">
            Fazer inscrição
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
