page-login {
  .scroll-content {
    margin-top: unset !important;
    padding-bottom: unset !important;
  }
  ion-navbar {
    background: transparent;
    button {
      color: #424242 !important;
    }
  }
  ion-content {
    background: url("../assets/imgs/login/bg_login.png") !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: cover !important;
    text-align: center;
  }
  .item-md,
  .item-ios {
    padding-left: unset !important;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    padding-right: unset !important;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 !important;
  }

  ion-grid {
    height: 100% !important;
    padding: unset !important;
    ion-col{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .app-icon-container {
      img {
        max-width: 40%;
      }
      p {
        font-size: 1.8rem;
      }
    }
    ion-item {
      background: transparent !important;
      color: darkblue !important;
    }
    .fab ion-icon {
      font-size: 3.5rem !important;
    }
    .validator-error {
      animation-name: fadeInDown; //-webkit-animation-duration: 0.2s !important;
      animation-duration: 0.2s !important; //-webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      background-color: white;
      border-color: color($colors, danger, base) !important;
      border-style: solid;
      border-width: 1px;
      z-index: 99998;
      right: 0;
      border-radius: 0px 0px 10px 10px;
      bottom: -39px;
      ion-item {
        z-index: 99999;
        .item-inner {
          border-bottom: unset !important;
        }
        ion-label {
          color: color($colors, danger, base) !important;
          margin: 10px 8px 10px 8px !important;
        }
        ion-icon {
          color: color($colors, danger, base) !important;
          margin: 0px 8px 0px 0px !important;
        }
      }
    }
  }
}
