<ion-header>
	<ion-navbar color="transparent">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>
<ion-content no-scroll padding>
	<ion-grid>
		<ion-row align-items-center class="app-icon-container">
			<ion-col text-center>
				<img src="assets/imgs/Logo&text.png" />
				<p *ngIf="error" style="color: red; text-align: center;">{{ error }}</p>
			</ion-col>
		</ion-row>


		<form [formGroup]="credentialsForm">

			<ion-row justify-content-center>
				<ion-col col-10 align-self-center>
					<ion-item>
						<ion-label floating>Email</ion-label>
						<ion-input [formControl]="credentialsForm.controls['email']" type="email">
						</ion-input>
					</ion-item>
					<div *ngIf="utilCtrl.checkFormControlAlert(credentialsForm.controls['email'])" class="validator-error">
						<ion-item (click)="UiFeedBackCtrl.presentInfoAlert('Inserir email no formato email@dominio.com.')">
							<ion-label>Email inválido!</ion-label>
							<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
						</ion-item>
					</div>
				</ion-col>
			</ion-row>

			<ion-row justify-content-center>
				<ion-col col-10 align-self-center>
					<ion-item>
						<ion-label floating>Senha</ion-label>
						<ion-input [formControl]="credentialsForm.controls['password']" type="password"></ion-input>
					</ion-item>
					<div *ngIf="utilCtrl.checkFormControlAlert(credentialsForm.controls['password'])" class="validator-error">
						<ion-item (click)="UiFeedBackCtrl.presentInfoAlert('Senhas devem ter entre 8 e 30 caracteres.')">
							<ion-label>Senha invalida!</ion-label>
							<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
						</ion-item>
					</div>
				</ion-col>
			</ion-row>

			<ion-row justify-content-center>
				<ion-col col-10 align-self-center>
					<button ion-button block style="border-radius: 30px	" color="secondary" [disabled]="!credentialsForm.valid"
					 (click)="login('email')">
						Entrar
					</button>
				</ion-col>
			</ion-row>

			<ion-row justify-content-center>
				<ion-col col-12 align-self-center>
					<button style="text-decoration: underline;" ion-button clear color="primary" (click)="resetPasswordPopUp()">
						Esqueceu a senha?
					</button>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-12 align-self-center>
					<button style="text-decoration: underline;" ion-button clear color="primary" (click)="signUpPage()">
						Cadastrar-se
					</button>
				</ion-col>
			</ion-row>

		</form>


		<ion-row justify-content-center>
			<ion-col style="padding:15px !important" col-auto>
				<button ion-fab color="googlePlus" (click)="login('google')">
					<ion-icon name="logo-googleplus"></ion-icon>
				</button>
			</ion-col>
			<ion-col style="padding:15px !important" col-auto>
				<button ion-fab color="faceBook" (click)="login('facebook')">
					<ion-icon name="logo-facebook"></ion-icon>
				</button>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>
