<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<ion-title>Categorias</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div *ngIf="showSplash" class="splash">
		<lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
		</lottie-animation-view>
	</div>

	<ion-list>

		<ion-row>
			<ion-col *ngFor="let category of localCategories" col-6>
				<ion-card [style.background-image]="category.cssColor" (click)="categoryTapped(category)">
					<h2 [style.color]="category.textColor">{{category.title}}</h2>
				</ion-card>
			</ion-col>
		</ion-row>

	</ion-list>

</ion-content>