page-categories {
    ion-card {
        position: relative;
        height: 7rem;
        border-radius: 8px !important;
        box-shadow: unset;
        width: calc(100% - 10px) !important;
        margin: 2.5px 5px !important;
      }
    
      h2 {
        font-size: 2.0em;
        font-weight: 500 !important;
        margin: 10px !important;
      }
}