<ion-content>
  <div class="background fadeIn">
    <div [ngSwitch]="reviewStep">

      <div *ngSwitchCase="1">
        <div class="floating-card fadeInDown">
          <button custom-close-button icon-only (click)="close()">
            <ion-icon name="close" item-end></ion-icon>
          </button>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Avaliar Prestador</ion-label>
            </ion-list-header>
            <div>
              <ion-item>
                <ion-label text-align-center>
                  <h1>Pontualidade</h1>
                  <p>O Prestador estava disponivel para a realização do serviço no horario marcado ?</p>
                </ion-label>
              </ion-item>
              <ion-grid>
                <ion-row justify-content-center>
                  <ion-col col-4>
                    <button custom ion-button icon-only (click)="selectPunctuality(1)" [ngClass]="{'selected' : (localReview.punctuality == 1)}">
                      <ion-icon name="md-happy" color="primary"></ion-icon>
                      <ion-label>Sim</ion-label>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button custom ion-button icon-only (click)="selectPunctuality(-1)" [ngClass]="{'selected' : (localReview.punctuality == -1)}">
                      <ion-icon name="md-sad" color="danger"></ion-icon>
                      <ion-label>Não</ion-label>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div>
              <ion-item>
                <ion-label text-align-center>
                  <h1>Entrega do Serviço</h1>
                  <p>O Prestador cumpriu com o prazo combinado para a entrega do serviço ?</p>
                </ion-label>
              </ion-item>
              <ion-grid>
                <ion-row justify-content-center>
                  <ion-col col-4>
                    <button custom ion-button icon-only (click)="selectServiceDelivery(1)" [ngClass]="{'selected' : (localReview.serviceDelivery == 1)}">
                      <ion-icon name="md-happy" color="primary"></ion-icon>
                      <ion-label>Sim</ion-label>
                    </button>
                  </ion-col>
                  <ion-col col-4>
                    <button custom ion-button icon-only (click)="selectServiceDelivery(-1)" [ngClass]="{'selected' : (localReview.serviceDelivery == -1)}">
                      <ion-icon name="md-sad" color="danger"></ion-icon>
                      <ion-label>Não</ion-label>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-list>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-auto>
                <button ion-button round [disabled]="!(punctualityReady || serviceDeliveryReady)" (click)="goForward()">
                  Avançar
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div *ngSwitchCase="2">
        <div class="floating-card fadeInDown">
          <button custom-close-button icon-only (click)="close()">
            <ion-icon name="close" item-end></ion-icon>
          </button>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Avaliar Prestador</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label text-align-center>
                <h1>Orçamento</h1>
                <p>O Prestador Cumpriu com o orçamento que foi passado anteriormente ?</p>
              </ion-label>
            </ion-item>
            <ion-grid>
              <ion-row justify-content-center>
                <ion-col col-4>
                  <button custom ion-button icon-only (click)="selectBudgetAccuracy(1)" [ngClass]="{'selected' : (localReview.budgetAccuracy == 1)}">
                    <ion-icon name="md-happy" color="primary"></ion-icon>
                    <ion-label>Sim</ion-label>
                  </button>
                </ion-col>
                <ion-col col-4>
                  <button custom ion-button icon-only (click)="selectBudgetAccuracy(-1)" [ngClass]="{'selected' : (localReview.budgetAccuracy == -1)}">
                    <ion-icon name="md-sad" color="danger"></ion-icon>
                    <ion-label>Não</ion-label>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-auto>
                <button ion-button round (click)="goBack()">
                  Voltar
                </button>
              </ion-col>
              <ion-col col-auto>
                <button ion-button round [disabled]="!budgetAccuracyReady" (click)="goForward()">
                  Avançar
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

      <div *ngSwitchCase="3">
        <div class="floating-card fadeInDown">
          <button custom-close-button icon-only (click)="close()">
            <ion-icon name="close" item-end></ion-icon>
          </button>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Avaliar Prestador</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label text-align-center>
                <h1>Nota do Prestador</h1>
                <p>O prestador foi cordial, educado, qual a sua opnião?</p>
              </ion-label>
            </ion-item>
            <ion-label text-align-center>
              <h1>{{ clientOpinionText }}</h1>
            </ion-label>
            <rating required name="rating" [(ngModel)]="localReview.clientOpinion" readOnly="false" (ngModelChange)="changeRating()"></rating>
            <ion-grid>
              <ion-row *ngIf="localReview.text != ''" justify-content-center>
                <ion-label text-align-center>
                  <h1>{{ localReview.text }}</h1>
                </ion-label>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col col-auto>
                  <button *ngIf="localReview.text == ''" ion-button round (click)="selectStandardComment()">
                    Adicionar comentário
                  </button>
                  <button *ngIf="localReview.text != ''" ion-button round (click)="selectStandardComment()">
                    Alterar comentário
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-auto>
                <button ion-button round (click)="goBack()">
                  Voltar
                </button>
              </ion-col>
              <ion-col col-auto>
                <button ion-button round [disabled]="!clientOpinionReady" (click)="goForward()">
                  Salvar
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>

    </div>
  </div>
</ion-content>