<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Criar Proposta</ion-title>
  </ion-navbar>
  <ion-toolbar color="economizei_Main_Color" no-border-top padding-unset>
    <ion-segment [(ngModel)]="segment" color="economizei_segment">
      <ion-segment-button value="Agendamento" disabled>Agendamento</ion-segment-button>
      <ion-segment-button value="Orçamento" disabled>Orçamento</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Agendamento'">

      <form #form="ngForm" (ngSubmit)="goForward()">

        <div *ngIf="localRequest.scheduleType == 'close'">

          <ion-list class="schedule-card" no-lines>

            <ion-item>
              <ion-icon [name]="localRequest.scheduleType == 'close' ?
                'economizei-padlock' :
                'economizei-padunlock'" item-start></ion-icon>
              <ion-label style="white-space: normal">
                <h1>Agendamento {{ localRequest.scheduleType == 'close' ?
                  'Fechado'
                  : 'Aberto' }}</h1>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="localRequest.scheduleType == 'close'">
              <ion-icon style="align-self: baseline; margin-top: 0px
                !important;" name="economizei-calendar" item-start></ion-icon>
              <h2>
                Dia {{ localRequest.schedule.dueDate.toLocaleString('PT-BR')
                }}
              </h2>
              <h5>{{ localRequest.address.bairro + ", " +
                localRequest.address.city + " - " +
                localRequest.address.state }}</h5>
              <h6>{{ localRequest.requiredHomeDelivery ?
                'Atendimento em domicílio' : 'Requer ida ao local' }}</h6>
              <h6 *ngIf="localRequest.schedule.geoCheckin == true">Check-in por
                GPS</h6>
              <h4>Criado em: {{ localRequest.createdOn.toLocaleString('PT-BR')
                }}</h4>
            </ion-item>

          </ion-list>

          <ion-list radio-group required
            name="acceptedSchedule"
            [(ngModel)]="localProposal.acceptedSchedule"
            (ngModelChange)="scrollToBottom()">

            <ion-item>
              <ion-icon name="checkmark-circle" color="secondary" item-start></ion-icon>
              <ion-label color="secondary" style="white-space: normal;">
                <h2 style="font-weight: 600;">Aceitar Agendamento proposto</h2>
              </ion-label>
              <ion-radio [value]="true"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon name="close" color="danger" item-start></ion-icon>
              <ion-label color="danger" style="white-space: normal;">
                <h2 style="font-weight: 600;">Sugerir novo agendamento</h2>
              </ion-label>
              <ion-radio [value]="false"></ion-radio>
            </ion-item>

          </ion-list>

          <div *ngIf="localProposal.acceptedSchedule == true">
            <p class="schedule-info">O agendamento poderá ser
              alterado após a aceitação da proposta</p>
          </div>

          <div *ngIf="localProposal.acceptedSchedule == false">
            <p class="schedule-info">O agendamento poderá ser
              alterado após a aceitação da proposta</p>
            <div padding></div>

          </div>
        </div>


        <div *ngIf="localRequest.scheduleType == 'open'">

          <h4 style="text-align: center; margin: 6%;">Você deseja propor um
            agendamento na sua proposta?</h4>
          <p style="text-align: center; margin: 6%;">O agendamento poderá ser
            alterado após a aceitação da proposta</p>
          <p style="text-align: center; margin: 6%;">O cliente não precisa
            aceitar o seu agendamento para aceitar sua proposta</p>

          <ion-list radio-group required name="proposeSchedule"
            [(ngModel)]="proposeSchedule" (ngModelChange)="scrollToBottom()">
            <ion-item>
              <ion-icon name="checkmark-circle" item-start></ion-icon>
              <ion-label style="white-space: normal">
                <h2>Sim</h2>
              </ion-label>
              <ion-radio [value]="true"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon name="close" item-start></ion-icon>
              <ion-label style="white-space: normal">
                <h2>Não</h2>
              </ion-label>
              <ion-radio [value]="false"></ion-radio>
            </ion-item>

          </ion-list>
        </div>

        <div *ngIf="localProposal.acceptedSchedule == false ||
          proposeSchedule">
          <ion-list>

            <ion-item>
              <ion-icon *ngIf="localDate == ''" name="alert"
                color="warning"
                item-start></ion-icon>
              <ion-icon *ngIf="localDate != ''" name="checkmark-circle"
                color="secondary" base item-start></ion-icon>
              <ion-label>Dia do serviço</ion-label>
              <ion-datetime required name="serviceDate"
                [(ngModel)]="localDate"
                (ngModelChange)="checkDate()"
                [min]="minDate" [max]="maxDate"
                [displayFormat]="utilCtrl.ionDateTimePandH.displayFormat"
                [monthNames]="utilCtrl.ionDateTimePandH.monthNames"
                [monthShortNames]="utilCtrl.ionDateTimePandH.monthShortNames"
                [dayNames]="utilCtrl.ionDateTimePandH.dayNames"
                [dayShortNames]="utilCtrl.ionDateTimePandH.dayShortNames"
                [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                [doneText]="utilCtrl.ionDateTimePandH.doneText">>
              </ion-datetime>
            </ion-item>

            <div *ngIf="localDateValid">
              <ion-item>
                <ion-icon *ngIf="localTime == ''" name="alert"
                  color="warning"
                  item-start></ion-icon>
                <ion-icon *ngIf="localTime != ''" name="checkmark-circle"
                  color="secondary" base item-start></ion-icon>
                <ion-label>Hora do serviço</ion-label>
                <ion-datetime required name="servicehour"
                  displayFormat="HH:mm" [(ngModel)]="localTime"
                  (ngModelChange)="checkTime()"
                  [hourValues]="utilCtrl.ionDateTimePandH.hourValues"
                  [minuteValues]="utilCtrl.ionDateTimePandH.minuteValues"
                  [cancelText]="utilCtrl.ionDateTimePandH.cancelText"
                  [doneText]="utilCtrl.ionDateTimePandH.doneText">
                </ion-datetime>
              </ion-item>

            </div>
          </ion-list>

          <ion-list>
            <ng-container *ngIf="localRequest.acceptHomeDelivery; else
              elseTemplate4242">
              <ng-container *ngIf="localRequest.requiredHomeDelivery; else
                elseTemplate2333">

                <ion-item>
                  <ion-icon name="ios-home" disabled item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle required name="localSchedule.homeDelivery"
                    disabled [ngModel]="true"></ion-toggle>
                </ion-item>

                <ion-item>
                  <ion-icon *ngIf="localSchedule.geoCheckin == true"
                    name="ios-pin" item-start></ion-icon>
                  <ion-icon *ngIf="localSchedule.geoCheckin == false"
                    name="ios-pin-outline" item-start></ion-icon>
                  <ion-label>Check-in via GPS</ion-label>
                  <ion-toggle required name="localSchedule.geoCheckin"
                    (ngModelChange)="toggleCheckIn()"
                    [ngModel]="localSchedule.geoCheckin"></ion-toggle>
                </ion-item>

              </ng-container>
              <ng-template #elseTemplate2333>

                <ion-item>
                  <ion-icon *ngIf="localSchedule.homeDelivery == true"
                    name="ios-home" item-start></ion-icon>
                  <ion-icon *ngIf="localSchedule.homeDelivery == false"
                    name="ios-home-outline" item-start></ion-icon>
                  <ion-label>Atendimento em domicílio</ion-label>
                  <ion-toggle required name="localSchedule.homeDelivery"
                    (ngModelChange)="toggleHomeDelivery()"
                    [ngModel]="localSchedule.homeDelivery"></ion-toggle>
                </ion-item>

                <div *ngIf="localSchedule.homeDelivery">
                  <ion-item>
                    <ion-icon *ngIf="localSchedule.geoCheckin == true"
                      name="ios-pin" item-start></ion-icon>
                    <ion-icon *ngIf="localSchedule.geoCheckin == false"
                      name="ios-pin-outline" item-start></ion-icon>
                    <ion-label>Check-in via GPS</ion-label>
                    <ion-toggle required name="localSchedule.geoCheckin"
                      (ngModelChange)="toggleCheckIn()"
                      [ngModel]="localSchedule.geoCheckin"></ion-toggle>
                  </ion-item>
                </div>

              </ng-template>
            </ng-container>
            <ng-template #elseTemplate4242>
              <h6 style="text-align: center; margin-right: 1.6rem;">Você terá
                de se deslocar até o endereço do profissinal para receber o
                serviço!</h6>

              <ion-item>
                <ion-icon name="ios-pin-outline" item-start></ion-icon>
                <ion-label>Check-in via GPS</ion-label>
                <ion-toggle disabled [ngModel]="false"></ion-toggle>
              </ion-item>

            </ng-template>
          </ion-list>
        </div>

        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-auto>
              <button ion-button round round icon-right
                [disabled]="!form.valid" type="submit">
                Avançar
                <ion-icon name='arrow-forward'></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>

    </div>

    <div *ngSwitchCase="'Orçamento'">

      <form #form="ngForm" (ngSubmit)="finish()">

        <ion-card class="budget-card">
          <ion-card-header><h2>Informe o valor estimado para o serviço</h2></ion-card-header>
          <p style="margin-left: 1.6rem;">O orçamento poderá
            ser alterado após a aceitação da proposta.</p>
          <ion-item>
            <ion-label floating>Preço</ion-label>
            <ion-input required type="tel" [(ngModel)]="localPrice"
              name="price"
              (ionBlur)="CheckPrice()"></ion-input>
          </ion-item>
        </ion-card>

        <ion-card class="budget-card">
          <ion-card-header><h2>Métodos de pagamento</h2></ion-card-header>
          <ion-item>
            <ion-icon *ngIf="localBudget.payMethods.length == 0" name="alert"
              color="warning"
              item-start></ion-icon>
            <ion-icon *ngIf="localBudget.payMethods.length> 0"
              name="checkmark-circle"
              color="secondary" base item-start></ion-icon>
            <ion-label *ngIf="localBudget.payMethods.length == 0">Clique aqui
              para escolher</ion-label>
            <ion-select required name="payMethods"
              [(ngModel)]="localBudget.payMethods" multiple="true"
              cancelText="Cancelar">
              <ion-option value="Dinheiro">Dinheiro</ion-option>
              <ion-option value="Transferencia Bancaria">Transferencia
                Bancaria</ion-option>
              <ion-option value="Cartão (Debito)">Cartão (Debito)</ion-option>
              <ion-option value="Cartão (Credito)">Cartão (Credito)</ion-option>
              <ion-option value="PicPay">PicPay</ion-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card class="budget-card">
          <ion-card-header><h2>Você fornecerá garantia?</h2></ion-card-header>
          <ion-item>
            <ion-label>{{ localBudget.warranty ? 'Fornecer' : 'Não fornecer' }}</ion-label>
            <ion-toggle (ngModelChange)="toggleWarranty()"
              [ngModel]="localBudget.warranty" name="warranty" item-start></ion-toggle>
            <ion-icon *ngIf="!localBudget.warranty" name="md-arrow-dropleft"
              item-end></ion-icon>
            <ion-icon *ngIf="localBudget.warranty" name="md-arrow-dropdown"
              item-end></ion-icon>
          </ion-item>
          <div *ngIf="localBudget.warranty">
            <hr/>
              <ion-card-header><h2>Tempo de garantia</h2></ion-card-header>
              <ion-item>
                <ion-icon *ngIf="localBudget.payMethods.length == 0"
                  name="alert"
                  color="warning"
                  item-start></ion-icon>
                <ion-icon *ngIf="localBudget.payMethods.length> 0"
                  name="checkmark-circle"
                  color="secondary" base item-start></ion-icon>
                <ion-label>Clique aqui para escolher</ion-label>
                <ion-select required name="warrantyTime"
                  [(ngModel)]="localBudget.warrantyTime" multiple="false"
                  cancelText="Cancelar">
                  <ion-option value="15 dias">15 dias</ion-option>
                  <ion-option value="1 mês">1 mês</ion-option>
                  <ion-option value="3 mêses">3 mêses</ion-option>
                  <ion-option value="6 mêses">6 mêses</ion-option>
                  <ion-option value="1 ano">1 ano</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-card>

          <ion-card class="budget-card">
            <ion-item>
              <ion-label style="color: black !important" floating>
                Descrição (Opcional)
              </ion-label>
              <ion-textarea type="text" [(ngModel)]="localBudget.description"
                name="Description" maxlength="250"></ion-textarea>
            </ion-item>
          </ion-card>


          <ion-grid>
            <ion-row justify-content-center>
              <ion-col col-auto>
                <button round ion-button round icon-left (click)="goBack()">
                  <ion-icon name='arrow-back'></ion-icon>
                  Voltar
                </button>
              </ion-col>
              <ion-col col-auto>
                <button round ion-button round icon-right
                  [disabled]="!form.valid"
                  type="submit">
                  Concluir
                  <ion-icon name='arrow-forward'></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>

      </div>

    </div>

  </ion-content>
