page-create-proposal {

  ion-list {
    border-radius: 6px;
    margin: 10px !important;
    width: calc(100% - 20px) !important;
    background-color: white;
  }

  .schedule-card {

    ion-item {
      padding-left: unset;

      ion-icon {
        margin-left: 8px !important;
      }

      .item-inner {
        margin-left: 0px !important;

        .label-md {
          margin: unset;
        }
      }

      h1 {
        font-size: 1.8rem;
        font-weight: bold;
      }

      h2 {
        font-size: 1.4rem;
      }
      h4 {
        font-size: 1.2rem;
        color: #666;
        margin-top: 8px;
        margin-bottom: 4px;
      }
      h5 {
        font-size: 1rem;
      }
      h6 {
        font-size: 1rem;
        color: #004c90;
      }
    }
  }

  .schedule-info {
    text-align: center;
    margin: 3%;
    color: #004c90;
    font-weight: 600;
  }

  .budget-card {
    box-shadow: unset;
    border-radius: 10px;
    ion-card-header {
      padding-top: 8px;
      padding-bottom: 0px;
      white-space: normal;
      h2 {
        font-size: 1.7rem;
        font-weight: 600;
      }
      p {
        font-size: 1.5rem;
      }
    }
    ion-label h2 {
      font-size: 1.7rem;
    }
    ion-item .item-inner {
      margin-left: 8px !important;
    }
  }

  ion-select {
    max-width: unset;
  }
}
