page-proposal-detail {

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
    }

    ion-item {
        background-color: transparent !important;
    }

    ul {
        padding: 0px;
        margin: 5px 0 0 0;
    
        &.rating li {
          padding: 1px 1px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 15px;
          }
        }
      }

    .splash {
        background-color: color($colors, economizei_Background, base);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 899;
    }
    
    .splash-spinner {
        margin: 50% auto 0;
        text-align: center;
    }
        
    .splash-spinner > div {
        width: 18px;
        height: 18px;
        background-color: #e79824;
    
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
        
    .splash-spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .splash-spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }
    
    @keyframes sk-bouncedelay {
        0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
        } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        }
    }
}
