<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Detalhes da Proposta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <h1 style="text-align: center; margin-top: 4%;">
      Prestador
    </h1>
    <ion-item>
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img style="width: 100%; height: 100%;" src="{{localProposal.providerThumbnailUrl}}" />
          </ion-avatar>
          <rating [(ngModel)]="localProposal.providerReputation" readOnly="true" ></rating>
        </ion-col>
        <ion-col col-9>
          <h1>{{localProposal.providerName}}</h1>
          <p>{{localProposal.providerJob}}, {{localProposal.providerPoints}} pontos</p>
          <p>{{ localProposal.providerWorkAddress.bairro }}</p>
          <p>{{ localProposal.providerWorkAddress.city }} - {{ localProposal.providerWorkAddress.state }}</p>
        </ion-col>  
      </ion-row>
    </ion-item>
  </ion-card>

  <hr>

  <h4 style="text-align: center; margin: 6%;">Agendamento</h4>
  
    <div *ngIf="localRequest.scheduleType == 'close'">

      <div *ngIf="localProposal.acceptedSchedule">
        <ion-item no-lines>
          <ion-icon name="checkmark-circle" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>O seu agendamento foi aceito</h2>
          </ion-label>
        </ion-item>
        <ion-card>
          <ion-card-header>
            <h2 style="text-align: center">
              Agendamento proposto pelo cliente
            </h2>
          </ion-card-header>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Horário</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-icon name="calendar" item-start></ion-icon>
                  <ion-label>{{localRequest.schedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-icon name="time" item-start></ion-icon>
                  <ion-label>{{localRequest.schedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="localRequest.schedule.homeDelivery == true">
              <ion-col>
                <ion-item>
                  <ion-icon name="ios-home" item-start></ion-icon>
                  <ion-label>Atendimento em domicilio</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item *ngIf="localRequest.schedule.geoCheckin == true">
                    <ion-icon name="ios-pin" item-start></ion-icon>
                    <ion-label>Check-in via GPS</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <p style="text-align: center">Criado em: {{ localRequest.schedule.createdOn.toLocaleString() }}</p>
          <div padding></div>
        </ion-card>
      </div>

      <div  *ngIf="!localProposal.acceptedSchedule">
        <ion-item  no-lines>
          <ion-icon name="close" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>O prestador propos um novo agendamento</h2>
          </ion-label>
        </ion-item>
        <ion-card>
          <ion-card-header>
            <h2 style="text-align: center">
              Agendamento proposto pelo Prestador
            </h2>
          </ion-card-header>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Horário</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-icon name="calendar" item-start></ion-icon>
                  <ion-label>{{localProposal.schedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-icon name="time" item-start></ion-icon>
                  <ion-label>{{localProposal.schedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="localProposal.schedule.homeDelivery == true">
              <ion-col>
                <ion-item>
                  <ion-icon name="ios-home" item-start></ion-icon>
                  <ion-label>Atendimento em domicilio</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item *ngIf="localProposal.schedule.geoCheckin == true">
                    <ion-icon name="ios-pin" item-start></ion-icon>
                    <ion-label>Check-in via GPS</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <p style="text-align: center">Criado em: {{ localProposal.schedule.createdOn.toLocaleString() }}</p>
          <div padding></div>
        </ion-card>
      </div>
    </div>

    <div *ngIf="localRequest.scheduleType == 'open'">
      <div *ngIf="localProposal.schedule != null">
        <ion-item  no-lines>
          <ion-icon name="checkmark-circle" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>O prestador propos um agendamento</h2>
          </ion-label>
        </ion-item>
        <ion-card>
          <ion-card-header>
            <h2 style="text-align: center">
              Agendamento proposto pelo Prestador
            </h2>
          </ion-card-header>
          <ion-list no-lines>
            <ion-list-header>
              <ion-label>Horário</ion-label>
            </ion-list-header>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-icon name="calendar" item-start></ion-icon>
                  <ion-label>{{localProposal.schedule.dueDate.toLocaleDateString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-icon name="time" item-start></ion-icon>
                  <ion-label>{{localProposal.schedule.dueDate.toLocaleTimeString('pt-BR')}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="localProposal.schedule.homeDelivery == true">
              <ion-col>
                <ion-item>
                  <ion-icon name="ios-home" item-start></ion-icon>
                  <ion-label>Atendimento em domicilio</ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item *ngIf="localProposal.schedule.geoCheckin == true">
                    <ion-icon name="ios-pin" item-start></ion-icon>
                    <ion-label>Check-in via GPS</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <p style="text-align: center">Criado em: {{ localProposal.schedule.createdOn.toLocaleString() }}</p>
          <div padding></div>
        </ion-card>
      </div>

      <div  *ngIf="localProposal.schedule == null">
        <ion-item  no-lines>
          <ion-icon name="close" item-start></ion-icon>
          <ion-label style="white-space: normal">
            <h2>O prestador não propos um agendamento</h2>
          </ion-label>
        </ion-item>
        <p style="text-align: center; margin: 6%;">Um agendamento deverá ser definido após a aceitação da proposta</p>
      </div>
    </div>

    <hr>

    <h4 style="text-align: center; margin: 6%;">Orçamento</h4>

    <ion-card>
      <ion-list no-lines>
      <p style="text-align: center; margin: 6%">{{ localProposal.budget.description }}</p>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="pricetag" item-start></ion-icon>
            <ion-label>R$ {{localProposal.budget.value}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="localProposal.budget.warranty">
          <ion-item>
            <ion-icon name="medkit" item-start></ion-icon>
            <ion-label>{{localProposal.budget.warrantyTime}} de garantia</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="card" item-start></ion-icon>
            <ion-label>{{localProposal.budget.payMethods}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <p style="text-align: center">Orçamento criado em: {{ localProposal.budget.createdOn.toLocaleDateString('pt-BR') }}</p>
    <div padding></div>
  </ion-card>

  <div *ngIf="localRequest.status == 1 || localRequest.status == 2" style="text-align: center">
    <button ion-button round (click)="acceptProposal()">
      Aceitar
    </button>
  </div>
  <div padding></div>

</ion-content>