page-received-orders {

  ion-item {
    padding-left: 0px !important;
  }
  button {
    padding-left: 0px !important;
  }
  ion-label {
    margin: 0 !important;
    margin-right: 0px !important;
  }
  ion-icon {
    margin-top: 0px !important;
  }
  ion-thumbnail {
    margin: 0px 0px 0px 0px !important;
    height: 100% !important;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
  .grey-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0%;
  }
  ion-thumbnail img {
    width: 120px !important;
    height: 120px !important;
  }
  .card {
    border-radius: 8px;
  }
  .item-md {
    font-size: 0px !important;
  }
  .item-inner {
    padding-right: 0px !important;
    width: 100%;
    .input-wrapper {
      align-items: unset;
    }
  }
  .banner-item-top {
    padding: 0px 10px;
    align-content: center;
    height: 28%;
    background-color: #004c90;
    align-self: center;
    align-items: center;
    display: grid;
    h2 {
      font-size: 2rem;
      font-weight: 400 !important;
      margin: 0px !important;
      height: 100%;
      padding: unset;
      // white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      color: white;
    }
  }
  .banner-item-bottom {
    bottom: 0;
    height: 72%;
    padding: 0px 10px;
    h2 {
      font-size: 2rem !important;
      font-weight: 720;
      margin: 0px !important;
      padding: 3px 0px 6px 0px; // margin-bottom: 4.0rem !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    h4 {
      margin: 0px 0px !important;
      align-items: baseline;
    }
    h5 {
      margin: 0px 0px !important;
      font-size: 1.1rem !important;
      align-items: baseline;
    }
    h6 {
      margin: 6px 0px !important;
      font-size: 1rem !important;
      align-items: baseline;
    }
  }
  .mini-avatar {
    margin: 0px;
    text-align: -webkit-center;
    position: absolute;
    width: 100%;
    top: 18%;
    img {
      border-width: 3px;
      border-color: white;
      border-style: solid;
      width: 55px !important;
    height: 55px !important;
    }
  }
  .pending-color {
    background-image: linear-gradient(
      to right top,
      #845ec2,
      #e65faa,
      #ff8080,
      #ffbb61,
      #f9f871
    );
  }
  .rejected-color {
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .waiting-color {
    background: -webkit-linear-gradient(to right, #085078, #85d8ce);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #085078, #85d8ce);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .progress-color {
    background-image: linear-gradient(
      to right bottom,
      #845ec2,
      #0085e4,
      #00a2e5,
      #00b9cc,
      #00c9a7
    );
  }
  .done-color {
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  }
}
