<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Avaliação para cliente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
    </lottie-animation-view>
  </div>

  <div *ngIf="hasReview; else noContent">
    <ion-card>
      <ion-list no-lines>
        <ion-label text-align-center>
          <h1>{{translateRate(localReview.providerOpinion)}}</h1>
        </ion-label>
        <rating [(ngModel)]="localReview.providerOpinion" readOnly="true"></rating>
        <ion-label text-align-center>
          <h2>{{ localReview.text }}</h2>
        </ion-label>
        <ion-item>
          <ion-label text-align-center>
            <h1>Pontualidade</h1>
          </ion-label>
        </ion-item>
        <ion-grid no-padding style="margin-top: -10%;">
          <ion-row justify-content-center>
            <ion-col col-4 *ngIf="(localReview.punctuality == 1)">
              <button custom ion-button icon-only>
                <ion-icon name="md-happy" color="primary"></ion-icon>
                <ion-label>Pontual</ion-label>
              </button>
            </ion-col>
            <ion-col col-4 *ngIf="(localReview.punctuality == -1)">
              <button custom ion-button icon-only>
                <ion-icon name="md-sad" color="danger"></ion-icon>
                <ion-label>Atrazou</ion-label>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <p style="text-align: center">Criada em: {{ localReview.createdOn.toLocaleDateString('pt-BR') }}</p>
    </ion-card>
  </div>
  <ng-template #noContent>
    <div style="text-align: center;padding-left: 5%;padding-right: 5%;">
      <h2>Este pedido ainda não possui avaliação para cliente.</h2>
      <h4>Solicite ao prestador a realização da sua avaliação</h4>
    </div>

  </ng-template>
</ion-content>