<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
    <ion-title>{{ otherUser.fullName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view [options]="lottieSplash" [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-item *ngIf="!showSplash" class="order-details" no-lines (tap)="goToOrder()">
    <ion-thumbnail large item-left>
      <img class="bg-img" *ngIf="localOrder.banner != null"
                  [src]="localOrder.banner != null ? localOrder.banner.thumbnail : 'assets/imgs/dummy-image-landscape-800x600.jpg'" />
      <div class="grey-bg"></div>
      <div class="mini-avatar">
        <ion-avatar>
          <img src="{{localOrder.providerThumbnailUrl}}" />
        </ion-avatar>
      </div>
    </ion-thumbnail>
    <h4>Anúncio: {{localOrder.title}}</h4>
    <h4>Pedido de: {{localOrder.clientName}}</h4>
    <ion-icon name="ios-arrow-forward" color="economizei_Yellow" item-end></ion-icon>
  </ion-item>


  <!-- <ion-item chat-details *ngIf="!showSplash && localChat.orderId != ''"
    [ngClass]="{'margin-botton': !( chatMsgNum> localMessages.length ) }"
    no-lines (tap)="goToOrder()">
    <ion-row>
      <ion-col thumbnail-col col-2 *ngIf="localOrder.banner != null">
        <ion-thumbnail>
          <img src="{{localOrder.banner.thumbnail}}" />
        </ion-thumbnail>
      </ion-col>
      <ion-col col-2 *ngIf="localOrder.request != null">
        <ng-container *ngIf="localOrder.clientId == actualUser.id; else
          elseTemplate">
          <ion-avatar>
            <img src="{{localOrder.providerThumbnailUrl}}" />
          </ion-avatar>
        </ng-container>
        <ng-template #elseTemplate>
          <ion-avatar>
            <img src="{{localOrder.clientThumbnailUrl}}" />
          </ion-avatar>
        </ng-template>
      </ion-col>
      <ion-col col-10>
        <p>Pedido para: {{localOrder.title}}</p>
        <p>De: {{localOrder.clientName}}</p>
      </ion-col>
    </ion-row>
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item> -->

  <button no-lines *ngIf="chatMsgNum> localMessages.length" ion-item
    class="load-more" (click)="loadMore()">
    <ion-label>Carregar mais</ion-label>
    <ion-note item-end> {{ localMessages.length }} de {{ chatMsgNum }} Mensagens</ion-note>
  </button>

  <ng-container *ngIf="hasMsg; else elseTemplate">
    <div *ngIf="!showSplash" class="message-wrap">
      <div *ngFor="let message of localMessages; index as i;" class="message"
        [class.left]="message.senderId != actualUser.id"
        [class.right]="message.senderId == actualUser.id">

        <ng-container *ngIf="i> 0; else elseDateTemplate">
          <div *ngIf="localMessages[(i-1)].dateString !=
            localMessages[i].dateString" class="msg-date-detail">
            <div class="msg-date">
              <p>{{message.dateString}}</p>
            </div>
          </div>
        </ng-container>
        <ng-template #elseDateTemplate>
          <div class="msg-date-detail">
            <div class="msg-date">
              <p>{{message.dateString}}</p>
            </div>
          </div>
        </ng-template>

        <div class="msg-detail">
          <ion-spinner *ngIf="!message.onFirebase" name="dots"></ion-spinner>
          <div class="msg-content" (tap)="msgTapped(message)"
            (press)="msgPressed(message)">
            <div class="msg-message" *ngIf="message.type == 'text'">
              <p>{{ message.message }}</p>
            </div>
            <div *ngIf="message.type == 'image'">
              <p>
                <img [src]="message.message" *ngIf="message.message" />
              </p>
            </div>
            <div class="msg-info">
              <p>{{message.timeString}}</p>
              <div *ngIf="message.senderId == actualUser.id">
                <ion-icon animated *ngIf="!message.verified" name="time"></ion-icon>
                <ion-icon animated *ngIf="message.verified && message.delivered
                  == null" name="checkmark"></ion-icon>
                <ion-icon [ngClass]="{'animated': i == ( localMessages.length -
                  1 ) }" *ngIf="message.delivered != null && message.readedOn ==
                  null"
                  name="done-all"></ion-icon>
                <ion-icon [ngClass]="{'animated': i == ( localMessages.length -
                  1 ) }" readed *ngIf="message.readedOn != null"
                  name="done-all"></ion-icon>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

  <ng-template #elseTemplate>
    <h5 style="text-align: center;">Não existem mensagems nesta conversa</h5>
  </ng-template>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-1>
        <button ion-button [disabled]="showSplash" clear icon-only item-right
          (click)="switchEmojiPicker()">
          <ion-icon small name="md-happy"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-1>
        <button ion-button [disabled]="showSplash" clear icon-only item-right
          (click)="takePicture()">
          <ion-icon small name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-textarea #chat_input placeholder="Digite sua mensagem aqui"
          [(ngModel)]="msgToSend" (click)="switchOffEmojiPicker()"
          (keyup.enter)="sendMessage()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button [disabled]="showSplash" clear icon-only item-right
          (click)="sendMessage()">
          <ion-icon small name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="msgToSend"></emoji-picker>
</ion-footer>
