page-chat {
  .order-details {
    position: sticky;
    top: 0;
    padding-left: unset;
    z-index: 99999999999999;
    ion-label {
      margin: 6px 8px 6px 0;
      h4 {
        font-size: 1.6rem;
        color: #888;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: normal;
      }
    }

    ion-thumbnail {
      margin: 0 10px 0 0 !important;
      height: 100% !important;
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);

      .bg-img {
        width: 75px !important;
        height: 75px !important;
      }

      .grey-bg {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        position: absolute;
        top: 0%;
      }

      .mini-avatar {
        margin: 0px;
        text-align: -webkit-center;
        position: absolute;
        width: 100%;
        top: 20%;
        img {
          border-width: 3px;
          border-color: white;
          border-style: solid;
          width: 48px !important;
          height: 48px !important;
        }
      }
    }
  }

  .margin-botton {
    margin-bottom: 2%;
  }

  .load-more {
    top: 0;
    margin-bottom: 2%;
    position: sticky;
  }

  $userBackgroundColor: color($colors, my_msg, base);
  $toUserBackgroundColor: color($colors, other_user_msg, base);

  ion-content .scroll-content {
    background-color: color($colors, economizei_Background, base);
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;
    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .message-wrap {
    padding: 0 5px;
    .message {
      position: relative;

      .msg-date-detail {
        text-align: center;
        margin-bottom: 2%;
        .msg-date {
          margin-top: 2%;
          border-radius: 10px;
          background-color: color($colors, other_user_msg, base);
          display: -webkit-inline-box;
          p {
            margin: unset;
            padding: 10px;
          }
        }
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-content {
          position: relative;
          border-radius: 5px;
          padding: 8px;
          color: #fff;
          width: auto;

          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        float: left;
        border-radius: 0px 18px 18px 18px;
      }
      .msg-detail {
        padding-left: 10px;
        padding-right: 60px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: color($colors, other_user_msg_txt, base);
        .msg-info {
          p {
            color: color($colors, other_user_msg_info, base);
          }
        }
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 10px;
        padding-left: 60px;
        .msg-info {
          text-align: right;
        }
      }
      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }
      .msg-content {
        text-align: right;
        background-color: $userBackgroundColor;
        float: right;
        border-radius: 18px 18px 0px 18px;
        .msg-message {
          text-align: left;
        }
        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
      .msg-detail {
        .msg-info {
          display: inline-flex;
          p {
            font-size: 0.8em;
            color: color($colors, my_msg_info, base);
          }
          ion-icon {
            padding-left: 20%;
            font-size: 0.8em;
            color: color($colors, my_msg_status_icons, base);
          }
          ion-icon[readed] {
            color: color($colors, my_msg_status_readead_icon, base) !important;
          }
          ion-icon.animated,
          ion-icon[animated] {
            -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            -webkit-animation-name: flipInY;
            animation-name: flipInY;
            animation-duration: 0.5s !important;
          }
        }
      }
    }
  }

  @-webkit-keyframes flipInY {
    from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }

  @keyframes flipInY {
    from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }

    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
}
