<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <ion-title>Orçamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="showSplash" class="splash">
    <lottie-animation-view
      [options]="lottieSplash"
      [width]="200"
      [height]="200">
    </lottie-animation-view>
  </div>

  <ion-card class="order-address">
    <ion-item>
      <div *ngIf="localOrder.banner != null">
        <ion-row>
            <ion-col col-3>
              <ion-thumbnail>
                <img src="{{localOrder.banner.thumbnail}}" />
                <ion-avatar class="mini-avatar">
                  <img src="{{localOrder.clientThumbnailUrl}}" />
                </ion-avatar>
              </ion-thumbnail>
            </ion-col>
            <ion-col col-9>
              <div *ngIf="localOrder.address != null">
                <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
                <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
                <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
              </div>
              <div *ngIf="localOrder.address == null">
                <h2>{{ localOrder.banner.address.street}}, {{ localOrder.banner.address.numero }}</h2>
                <p>{{ localOrder.banner.address.complemento }}, {{ localOrder.banner.address.bairro }}</p>
                <p>({{ localOrder.banner.address.cep }}), {{ localOrder.banner.address.city }} - {{ localOrder.banner.address.state }}</p>
              </div>
            </ion-col>  
        </ion-row>
      </div>
      <div *ngIf="localOrder.request != null">
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <img style="width: 100%; height: 100%;" src="{{localOrder.clientThumbnailUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
              <div *ngIf="localOrder.address != null">
                <h2>{{ localOrder.address.street}}, {{ localOrder.address.numero }}</h2>
                <p>{{ localOrder.address.complemento }}, {{ localOrder.address.bairro }}</p>
                <p>({{ localOrder.address.cep }}), {{ localOrder.address.city }} - {{ localOrder.address.state }}</p>
              </div>
              <div *ngIf="localOrder.address == null">
                <h2>{{ localOrder.request.address.street}}, {{ localOrder.request.address.numero }}</h2>
                <p>{{ localOrder.request.address.complemento }}, {{ localOrder.request.address.bairro }}</p>
                <p>({{ localOrder.request.address.cep }}), {{ localOrder.request.address.city }} - {{ localOrder.request.address.state }}</p>
              </div>
          </ion-col>  
        </ion-row>
      </div>
    </ion-item>
  </ion-card>
  
  <div *ngIf="localBudgets.length > 0; else noContent">
    <div *ngFor="let budget of localBudgets">
      <ion-card [ngClass]="{'inactive' : ( budget.status == 'rejected_by_client'
                                        || budget.status == 'canceled_by_client'
                                        || budget.status == 'canceled_by_provider' )}">
        <ion-list no-lines>
        <ion-list-header>
          <ion-label>{{ utilCtrl.translateBudgetStatus(budget.status) }}</ion-label>
        </ion-list-header>
        <p style="text-align: center">{{ budget.description }}</p>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="pricetag" item-start></ion-icon>
              <ion-label>R$ {{budget.value}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="budget.warranty">
            <ion-item>
              <ion-icon name="medkit" item-start></ion-icon>
              <ion-label>{{budget.warrantyTime}} de garantia</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="card" item-start></ion-icon>
              <ion-label>{{budget.payMethods}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>

        <ion-row justify-content-center *ngIf="budget.status == 'pending'">
          <ion-col col-auto>
            <button ion-button round color="secondary" (click)="acceptBudget(budget)">
              Aceitar
            </button>
          </ion-col>
          <ion-col col-auto>
            <button ion-button round color="danger" (click)="rejectBudget(budget)">
              Rejeitar
            </button>
          </ion-col>
        </ion-row>

        <ion-row justify-content-center *ngIf="(budget.status == 'approved') && canCancelBudget()">
          <ion-col col-auto>
            <button ion-button round color="danger" (click)="cancelBudgetConfirmation(budget)">
              Cancelar Aprovação
            </button>
          </ion-col>
        </ion-row>
        <p style="text-align: center">Orçamento criado em: {{ budget.createdOn.toLocaleDateString('pt-BR') }}</p>
      </ion-card>
    </div>
  </div>
  <ng-template #noContent>
    <h2 style="text-align: center;">Este pedido ainda não possui orçamentos.</h2>
  </ng-template>
</ion-content>