page-my-order-budget-detail {

    .card{
        border-radius: 15px;
        ion-label{
            white-space: normal !important;
            h1, h2, h6, p{
            margin-top: unset !important;
            }
        }
        ion-label[text-align-center]{
            text-align: center !important;
        }
    }

    .inactive{
        background-color: color($colors, economizei_Background, base) !important;
    }

    ion-list-header{
        background-color: transparent !important;
        text-align: center !important;
        font-size: 1.8rem !important;
        color: black !important;

    }

    ion-list ion-item {
        background-color: transparent !important;
    }

    ion-list button {
        background-color: transparent !important;
    }

    .mini-avatar{
        margin: -40px 0px 0px 0px;
    }

    .mini-avatar img{
        width: 40px;
        height: 40px;
    }

    .order-address ion-item{
        padding-left: 6px !important;        
    }

    .order-address ion-label {
        margin: 0 !important
    }

}
