<ion-header>
	<ion-navbar color="economizei_Main_Color">
		<button ion-button menuToggle>
			<ion-icon name="economizei-hamburguer"></ion-icon>
		</button>
		<ion-title>Registre-se</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-grid padding>
		<div [ngSwitch]="formNumb">


			<!-- nome completo -->
			<div *ngSwitchCase=1>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-label>
								<h1>Primeiro, precisamos do seu <b>nome completo</b></h1>
							</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-input #name_input [formControl]="credentialsForm.controls['name']"
								type="name"
								name="name" [(ngModel)]="name" (keyup.enter)="tryToAdvance()"
								[class]="utilCtrl.checkFormControlAlert(credentialsForm.controls['name'])
								? 'invalid-ion-input' : ''">
							</ion-input>
						</ion-item>
						<div
							*ngIf="utilCtrl.checkFormControlAlert(credentialsForm.controls['name'])"
							class="validator-error">
							<ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('O nome não
								pode conter números ou caracteres especiais.')">
								<ion-label>Nome inválido!</ion-label>
								<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</div>

			<!-- cpf -->
			<div *ngSwitchCase=2>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-label>
								<h1>{{name.split(" ")[0]}}, agora digite o seu <b>CPF</b></h1>
								<div padding>
									<h2>{{name}}</h2>
								</div>
							</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>

						<ion-item>
							<ion-input #cpf_input [formControl]="credentialsForm.controls['cpf']"
								type="tel"
								name="cpf" [(ngModel)]="cpf"
								[brmasker]="{mask:'000.000.000-00', len:14}"
								(keyup.enter)="tryToAdvance()"
								[class]="utilCtrl.checkFormControlAlert(credentialsForm.controls['cpf'])
								? 'invalid-ion-input' : ''">
							</ion-input>
						</ion-item>
						<div
							*ngIf="utilCtrl.checkFormControlAlert(credentialsForm.controls['cpf'])"
							class="validator-error">
							<ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('O cpf deve
								estar no Formato 999.999.999-99')">
								<ion-label>CPF invalido!</ion-label>
								<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</div>


			<!-- e-mail -->
			<div *ngSwitchCase=3>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-label>
								<h1>E não esqueça também do seu <b>e-mail</b></h1>
								<div padding>
									<h2>{{name}}</h2>
									<h2>{{cpf}}</h2>
								</div>
							</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-input #email_input [formControl]="credentialsForm.controls['email']"
								type="email"
								name="email" [(ngModel)]="email" (keyup.enter)="tryToAdvance()"
								[class]="utilCtrl.checkFormControlAlert(credentialsForm.controls['email'])
								? 'invalid-ion-input' : ''">
							</ion-input>
						</ion-item>
						<div
							*ngIf="utilCtrl.checkFormControlAlert(credentialsForm.controls['email'])"
							class="validator-error">
							<ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('Inserir
								email no formato email@dominio.com.')">
								<ion-label>Email inválido!</ion-label>
								<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</div>


			<!-- criar senha -->
			<div *ngSwitchCase=4>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-label>
								<h1>Agora crie uma <b>senha</b></h1>
								<div padding>
									<h2>{{name}}</h2>
									<h2>{{cpf}}</h2>
									<h2>{{email}}</h2>
								</div>
							</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-input #password_input
								[formControl]="passwordForm.controls['password']"
								type="password" [(ngModel)]="password" (keyup.enter)="tryToAdvance()"
								[class]="utilCtrl.checkFormControlAlert(passwordForm.controls['password'])
								? 'invalid-ion-input' : ''"></ion-input>
						</ion-item>
						<div
							*ngIf="utilCtrl.checkFormControlAlert(passwordForm.controls['password'])"
							class="validator-error">
							<ion-item (click)="coreCtrl.UiFeedBackCtrl.presentInfoAlert('Senhas
								devem ter entre 8 e 30 caracteres.')">
								<ion-label>Senha invalida!</ion-label>
								<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</div>


			<!-- confirmar senha -->
			<div *ngSwitchCase=5>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-label>
								<h1>E para finalizar confirme a sua <b>senha</b></h1>
								<div padding>
									<h2>{{name}}</h2>
									<h2>{{cpf}}</h2>
									<h2>{{email}}</h2>
									<h2>{{mascaredPassword}}</h2>
								</div>
							</ion-label>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row justify-content-center>
					<ion-col col-12 align-self-center>
						<ion-item>
							<ion-input #password2_input
								[formControl]="passwordForm.controls['passwordConfirm']"
								type="password" [(ngModel)]="password2"
								(keyup.enter)="tryToAdvance()"
								[class]="!checkpasswordConfirm()
								? 'invalid-ion-input' : ''"></ion-input>
						</ion-item>
						<div *ngIf="!checkpasswordConfirm() && password2.length> 0"
							class="validator-error">
							<ion-item>
								<ion-label>Senhas não conferem!</ion-label>
								<ion-icon name="ios-information-circle-outline" item-end></ion-icon>
							</ion-item>
						</div>
					</ion-col>
				</ion-row>
			</div>

		</div>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-grid>

		<div *ngIf="formNumb <= 1">
			<ion-row justify-content-center>
				<ion-col col-auto>
					<button ion-button [disabled]="!formValid" clear (click)="next()">
						Confirmar
					</button>
				</ion-col>
			</ion-row>
		</div>

		<div *ngIf="formNumb> 1 && formNumb <5">
				<ion-row justify-content-center>
					<ion-col col-auto no-padding>
						<button ion-button clear (click)="prev()">
							Anterior
						</button>
					</ion-col>
					<ion-col col-auto no-padding>
						<button ion-button [disabled]="!formValid" clear (click)="next()">
							Continuar
						</button>
					</ion-col>
				</ion-row>
			</div>

			<div *ngIf="formNumb == 5">
				<ion-row justify-content-center>
					<ion-col col-auto no-padding>
						<button ion-button clear (click)="prev()">
							Anterior
						</button>
					</ion-col>
					<ion-col col-auto no-padding>
						<button ion-button [disabled]="!formValid" clear (click)="next()">
							Concluir
						</button>
					</ion-col>
				</ion-row>
			</div>

		</ion-grid>
	</ion-footer>