page-select-service-type-from-category {
  ion-content {
    background-color: color($colors, economizei_Background, base);
  }

  .filters {
    .filters-inner {
      background-color: #fff;
      border-radius: 0 0 30px 30px;
      padding: 0px 25px;

      position: absolute;
      width: 100%;
      z-index: 999;

      -webkit-animation: slideInDown 0.25s both;
      animation: slideInDown 0.25s both;

      -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
      box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

      .filters-header {
        display: flex;
        width: 100%;
        button {
          background: transparent;
          z-index: 9999;
          ion-icon {
            font-size: 2.2em;
          }
        }
        button[custom-close-button] {
          margin: 10px 0px 10px -25px;
        }
        button[custom-clean-button] {
          font-weight: bold;
          text-align: end;
          box-shadow: 0 0 0 0 !important;
          color: black;
          margin: 0px -15px 10px 0px;
        }
        ion-list-header {
          background-color: transparent !important;
          text-align: center !important;
          font-size: 1.8rem !important;
          color: black !important;
          border-top: unset !important;
          ion-label {
            margin: unset !important;
          }
        }
      }

      ion-list {
        ion-list-header {
          background-color: transparent !important;
          text-align: center !important;
          font-size: 1.8rem !important;
          color: black !important;
          border-top: unset !important;
        }
        ion-list {
          text-align: center;
        }
        ion-list ion-item {
          background-color: transparent !important;
        }
        ion-label {
          white-space: normal !important;
          h1,
          h2,
          h6,
          p {
            margin-top: unset !important;
          }
        }
        ion-label[text-align-center] {
          text-align: center !important;
        }
      }
    }
    .cortin {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 998;
      -webkit-animation: fadeDown 0.2s ease;
      animation: fadeIn 0.2s ease;
    }
    .cortin::after {
      content: "";
      background: grey;
      opacity: 0.4;
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }

  .banner-grid {
    padding: 5px;
    flex-flow: column wrap;
    column-count: 2;
    column-gap: 5px;
    .banner-item {
      break-inside: avoid;
      -webkit-column-break-inside: avoid;
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 5px;
      ion-card {
        border-radius: 10px;
      }
    }
    .banner-card:nth-child(2n + 0) {
      float: right;
    }
    .reputation-btn {
      padding: 0 0.8rem !important;
      right: 0.1rem;
      position: absolute;
      color: white !important;
      ion-icon {
        min-height: unset;
      }
      ion-label {
        margin: 1rem 0.5rem 1rem 0;
      }
    }
    .mini-avatar img {
      border-radius: 50%;
      position: absolute;
      top: -2.3rem;
      right: 0.5rem;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
    .card {
      margin: 4px;
      width: auto;
      height: auto;
    }
  }
}
