<ion-header>
    <ion-navbar color="economizei_Main_Color">
        <button ion-button menuToggle>
            <ion-icon name="economizei-hamburguer"></ion-icon>
        </button>
        <ion-title>{{selectedServiceType.title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [disabled]="showSplash" (click)="toggleFilters()">
                <ion-icon large name="ios-funnel"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="showSplash" class="splash">
        <lottie-animation-view [options]="lottieSplash" [width]="200" [height]="200">
        </lottie-animation-view>
    </div>

    <ng-container *ngIf="localBanners.length > 0; else elseTemplate">
        <div class="banner-grid">
            <div class="banner-item" *ngFor="let banner of arrangedBanners">
                <ion-card (tap)="bannerTapped(banner)" (press)="bannerPressed(banner)">
                    <div style="position: relative;">
                        <ion-row no-padding>
                            <ion-col col-3 text-left>
                                <img [src]="banner.serviceTypeSymbol">
                            </ion-col>
                            <ion-col text-left>
                                <h2 style="color:grey">{{banner.serviceTypeTitle}}</h2>
                            </ion-col>
                        </ion-row>
                        <button ion-button class="reputation-btn" color="dark" small round icon-left>
                            <ion-icon name="star" small color="economizei_Yellow"></ion-icon>
                            <ion-label color="economizei_Yellow">{{banner.bannerReputation.toFixed(1) }}
                            </ion-label>
                        </button>
                    </div>
                    <img src="{{banner.thumbnail}}" />
                    <ion-row>
                        <ion-col col-9>
                            <h3>R$ {{banner.price}} - {{ banner.priceType }}</h3>
                        </ion-col>
                        <ion-col col-3>
                            <ion-avatar class="mini-avatar">
                                <img src="{{banner.providerThumbnailUrl}}" />
                            </ion-avatar>
                        </ion-col>
                        <ion-col col-12>
                            <h3 style="color: gray">{{banner.title}} </h3>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </div>

        <ion-infinite-scroll (ionInfinite)="doBannersInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ng-container>
    <ng-template #elseTemplate>
        <h4 *ngIf="cityToSearch != 'ALL'" style="text-align: center; margin: 6%;">Infelizmente ainda não existem
            anúncios de
            "{{selectedServiceType.title}}" publicados
            {{cityToSearch}}, {{stateToSearch}} no
            economizei</h4>
        <h4 *ngIf="cityToSearch == 'ALL'" style="text-align: center; margin: 6%;">Infelizmente ainda não existem
            anúncios de
            "{{selectedServiceType.title}}" publicados no estado {{stateToSearch}}</h4>
    </ng-template>
</ion-content>

<div *ngIf="showFilters" class="filters">
    <div class="filters-inner">
        <div class="filters-header">
            <button custom-close-button icon-only (click)="toggleFilters()">
                <ion-icon color="black" name="close" item-end></ion-icon>
            </button>
            <ion-list-header>
                <ion-label>Filtros</ion-label>
            </ion-list-header>
            <button custom-clean-button icon-only (click)="cleanFilters()">
                LIMPAR
            </button>
        </div>
        <ion-list no-lines>
            <ion-list-header>
                <ion-label>Localização</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label floating>Estado</ion-label>
                <ion-select [(ngModel)]="selectedState" name="selectedState" interface="alert" cancelText="Cancelar"
                    (ionBlur)="selectState()">
                    <ion-option [value]="'Acre'">Acre</ion-option>
                    <ion-option [value]="'Alagoas'">Alagoas</ion-option>
                    <ion-option [value]="'Amapá'">Amapá</ion-option>
                    <ion-option [value]="'Amazonas'">Amazonas</ion-option>
                    <ion-option [value]="'Bahia'">Bahia</ion-option>
                    <ion-option [value]="'Ceará'">Ceará</ion-option>
                    <ion-option [value]="'Distrito Federal'">Distrito Federal</ion-option>
                    <ion-option [value]="'Espírito Santo'">Espírito Santo</ion-option>
                    <ion-option [value]="'Goiás'">Goiás</ion-option>
                    <ion-option [value]="'Maranhão'">Maranhão</ion-option>
                    <ion-option [value]="'Mato Grosso'">Mato Grosso</ion-option>
                    <ion-option [value]="'Mato Grosso do Sul'">Mato Grosso do Sul</ion-option>
                    <ion-option [value]="'Minas Gerais'">Minas Gerais</ion-option>
                    <ion-option [value]="'Pará'">Pará</ion-option>
                    <ion-option [value]="'Paraíba'">Paraíba</ion-option>
                    <ion-option [value]="'Paraná'">Paraná</ion-option>
                    <ion-option [value]="'Pernambuco'">Pernambuco</ion-option>
                    <ion-option [value]="'Piauí'">Piauí</ion-option>
                    <ion-option [value]="'Rio de Janeiro'">Rio de Janeiro</ion-option>
                    <ion-option [value]="'Rio Grande do Norte'">Rio Grande do Norte</ion-option>
                    <ion-option [value]="'Rio Grande do Sul'">Rio Grande do Sul</ion-option>
                    <ion-option [value]="'Rondônia'">Rondônia</ion-option>
                    <ion-option [value]="'Roraima'">Roraima</ion-option>
                    <ion-option [value]="'Santa Catarina'">Santa Catarina</ion-option>
                    <ion-option [value]="'São Paulo'">São Paulo</ion-option>
                    <ion-option [value]="'Sergipe'">Sergipe</ion-option>
                    <ion-option [value]="'Tocantins'">Tocantins</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Cidade</ion-label>
                <ion-select [(ngModel)]="selectedCity" required [disabled]="!canSelectCity" name="selectedCity"
                    interface="alert" cancelText="Cancelar">
                    <ion-option [value]="'ALL'">Todas</ion-option>
                    <ion-option *ngFor="let city of citiesToSelection" [value]="city">{{ city }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-list-header>
                <ion-label>Outros</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label floating>Ordenação dos anúncios</ion-label>
                <ion-select [(ngModel)]="bannersSelectedOrderBy" name="bannersSelectedOrderBy" interface="alert"
                    [compareWith]="utilCtrl.compareFn" cancelText="Cancelar">
                    <ion-option *ngFor="let bannerOrderbyOption of bannerOrderbyFiltersOptions"
                        [value]="bannerOrderbyOption">{{
                        bannerOrderbyOption.name }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div style="text-align: center;margin-bottom: 20px;">
            <button [disabled]="!canFilter()" ion-button round (click)="filter()">
                Filtrar
            </button>
        </div>
    </div>
    <div class="cortin" (click)="toggleFilters()">
    </div>
</div>