<ion-header>
  <ion-navbar color="economizei_Main_Color">
    <button ion-button menuToggle>
      <ion-icon name="economizei-hamburguer"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>

  <h2>Você esta sem internet</h2>

  <lottie-animation-view [options]="lottie" [width]="400" [height]="400">
  </lottie-animation-view>

  <button ion-button round (click)="retry()">Tentar Novamente</button>

</ion-content>
